.clear:after, .container:after {
    clear: both
}
.header_bottom, .header_top, header, section {
    position: relative
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}
img {
    max-width: 100%
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    overflow-x: hidden;
    width: 100%;
    margin: auto;
    background: #fff
}
.bold, b {
    font-weight: 700
}
ol, ul {
    list-style: none
}
blockquote, q {
    quotes: none
}
blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}
.clear {
    clear: both;
}
.clear:after, .clear:before, .container:after, .container:before {
    content: "";
    display: table
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    position: relative;
}
#wrap {
    max-width: 1920px;
    margin: auto;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
}
.main_bg {
    background: url("../img/main_bg.jpg")/*tpa=http://klearin-gel.com/files/klearin_1/img/main_bg.jpg*/ no-repeat top center;
    min-height: 778px;
    background-size: cover;
    position: relative;
}
.top_header_wrap {
    background-color: rgb(0, 0, 0, 0.471);
    padding: 15px 0;
}
.top_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.logo img {
    display: block;
}
.th_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.th_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 30px;
    font-size: 18px;
    line-height: 18px;
}
.th_item img {
    margin-right: 15px;
}
.timer_sm .timer-wrapper .digit>.item {
    font-size: 24px;
    height: 34px;
    width: 26px;
    line-height: 36px;
    margin: 0 1px;
}
.timer_sm .timer-wrapper .digit:not(:last-child):after, .timer_sm .timer-wrapper .digit:not(:last-child):before {
    width: 3px;
    height: 3px;
    background-color: #FFF;
}
.timer_sm .timer-wrapper .digit:not(:last-child) {
    margin: 0 10px 0 0;
}
.timer_sm .timer-wrapper .digit:not(:last-child):after, .timer_sm .timer-wrapper .digit:not(:last-child):before {
    right: -6px;
}
.timer_sm .timer-wrapper .digit .digit-items {
    font-size: 10px;
    color: #fff;
    bottom: -1.9em;
}
.timer_sm .timer-wrapper .digit>.item {
    border-radius: 5px;
}
.timer_title {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}
.top_header .timer {
    margin-top: -15px;
}
.top_btn {
    font-size: 20px;
    text-decoration: none;
    outline: none;
    color: #FFF;
    text-align: center;
    display: block;
    background: #FF7426;
    padding: 15px 20px;
    max-width: 200px;
}
.top_btn:hover {
    background: #E87331;
}
/* top header */

/* bottom header */

.bottom_header {
    padding: 20px 0 0 0;
    position: relative;
}
.top_arrow {
    position: absolute;
    z-index: 2;
    background: url("../img/top_arrow.jpg")/*tpa=http://klearin-gel.com/files/klearin_1/img/top_arrow.jpg*/ no-repeat center center;
    width: 55px;
    height: 25px;
    bottom: -21px;
    opacity: 0.5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    right: 0;
    margin: auto;
}
h1.title, h2.title {
    font-size: 50px;
    line-height: 58px;
    font-weight: bold;
    color: #FFF;
    text-align: center;
    margin-bottom: 20px;
}
.main_slogan {
    font-size: 24px;
    line-height: 28px;
    color: #FFF;
    text-align: center;
    margin-bottom: 40px;
}
.sale_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.bullet_list {
    width: 360px;
    margin-left: 10px;
}
.bl_item {
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
    background: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #2D241A;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}
.bl_item:last-child {
    margin-bottom: 0;
}
.bl_image {
    margin-right: 15px;
    text-align: center;
    width: 34px;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}
.pack {
    position: absolute;
    left: 385px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.sale_form {
    width: 456px;
    position: relative;
}
.hurry {
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    top: -25px;
    font-size: 14px;
    color: #FFF;
}
.sb_top {
    padding: 10px 20px;
    position: relative;
    text-align: center;
    border-radius: 10px 10px 0 0;
    background: #F3F2F2;
}
.sale {
    position: absolute;
    left: -115px;
    top: 0px;
    z-index: 2;
    display: none !important;
}
.attention {
    color: #FF7426;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
}
.price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.old_price {
    color: #555;
    margin-right: 40px;
}
.old_price .title {
    font-size: 12px;
}
.old_price .numb {
    font-size: 26px;
    line-height: 26px;
    text-decoration: line-through;
}
.new_price {
    color: #ff7426;
}
.new_price .title {
    font-size: 18px;
}
.new_price .numb {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}
.sb_middle {
    background: #F0F0F0;
    padding: 5px 20px 10px;
    margin: -1px 0 0;
}
.sf_input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
}
.sf_input:last-child {
    margin-bottom: 0;
}
.sf_input label {
    font-size: 14px;
}
.sf_input input, .sf_input select {
    width: 250px;
    height: 36px;
    border-radius: 5px;
    background: #fff;
    outline: none;
    border: 2px solid #F5C7AD;
    color: #7E7E7E;
    font-size: 14px;
    padding: 0 10px;
}
.sb_bottom {
    background: #fff;
    padding: 10px 20px 5px;
    position: relative;
    border-radius: 0 0 10px 10px;
}
.sb_bottom:after {
    content: "";
    position: absolute;
    right: -5px;
    top: -25px;
    width: 40px;
    height: 71px;
    background: url("../img/form_arrow.png")/*tpa=http://klearin-gel.com/files/klearin_1/img/form_arrow.png*/ no-repeat;
}
.amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 10px;
}
.amount_text {
    font-size: 14px;
    color: #FF7426;
    line-height: 16px;
    margin-right: 30px;
    position: relative;
}
.amount_text:after {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -15px;
    width: 1px;
    height: 90%;
    background: #000;
}
.amount_numb {
    font-size: 14px;
    line-height: 14px;
}
.amount_numb b {
    font-size: 28px;
    color: #FF7426;
}
.btn {
    font-size: 34px;
    font-weight: bold;
    text-align: center;
    display: block;
    background: #FF7426;
    height: 74px;
    text-transform: uppercase;
    max-width: 425px;
    outline: none;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    color: #FFF;
    width: 100%;
}
.btn:hover {
    background: #E87331;
}
.already {
    font-size: 12px;
}
.already span {
    color: #FF7426;
    font-weight: bold;
}
.confidence {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    color: #FFF;
    position: absolute;
    bottom: -30px;
    right: 0;
}
.confidence img {
    margin-right: 5px;
}
.conf_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 15px;
}
/* bottom header */

section, .sform {
    padding: 30px 0;
}
h2 {
    font-size: 44px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
}
/* how */

.how {
    padding-bottom: 0;
}
.how_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.how_item {
    width: 25%;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
}
.how_item img {
    display: block;
    margin: 0 auto 20px;
}
.how_bottom {
    background: url("../img/how_bg.jpg")/*tpa=http://klearin-gel.com/files/klearin_1/img/how_bg.jpg*/ no-repeat top center;
    min-height: 438px;
    background-size: cover;
    padding: 20px 0 0;
}
.how_bottom.censor {
    background: url("../img/how_bg_v2.jpg")/*tpa=http://klearin-gel.com/files/klearin_1/img/how_bg_v2.jpg*/ no-repeat top center;
}
.hb_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 24px;
    line-height: 28px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}
.hb_image {
    position: relative;
    -ms-flex: 0 0 66px;
    -webkit-box-flex: 0;
    flex: 0 0 66px;
    margin-right: 30px;
    text-align: center;
}
.hb_image:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../img/hb_arrow.png")/*tpa=http://klearin-gel.com/files/klearin_1/img/hb_arrow.png*/ no-repeat top center;
    width: 18px;
    height: 24px;
    bottom: -35px;
}
.hb_item:last-child .hb_image:after {
    display: none;
}
.hb_text {
    background: url("../img/hb_text.png")/*tpa=http://klearin-gel.com/files/klearin_1/img/hb_text.png*/ no-repeat top center;
    height: 96px;
    padding: 10px 20px 10px 50px;
    max-width: 1044px;
    width: 100%;
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/* how */

/* pain */

.slog {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 30px;
}
.list1 {
    position: absolute;
    left: -300px;
    top: -150px;
}
.list2 {
    position: absolute;
    right: -300px;
    top: -150px;
}
.pain_top {
    text-align: center;
    margin-bottom: 30px;
}
.pain_top span {
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    color: #FFF;
    background: #FF3101;
    padding: 12px 15px;
}
.pain_middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.pain_item {
    width: 33.3%;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 30px;
    position: relative;
}
.pain_item:after {
    content: "";
    position: absolute;
    background: url("../img/pain_arrow.png")/*tpa=http://klearin-gel.com/files/klearin_1/img/pain_arrow.png*/ no-repeat top center;
    width: 27px;
    height: 46px;
    top: 80px;
    right: -15px;
}
.pain_item:last-child:after {
    display: none;
}
.pain_item img {
    display: block;
    margin: 0 auto 20px;
}
.pain_bottom .hb_text {
    color: #FFF;
    background: url("../img/hb_text2.png")/*tpa=http://klearin-gel.com/files/klearin_1/img/hb_text2.png*/ no-repeat top center;
    height: 73px;
}
.pain_bottom .hb_item {
    margin-bottom: 0;
}
/* sform */

.sform {
    background: url("../img/sform.jpg")/*tpa=http://klearin-gel.com/files/klearin_1/img/sform.jpg*/ no-repeat top center;
    min-height: 543px;
    padding-top: 70px;
    background-size: cover;
}
.sform .amount, .ssform .amount {
    display: none;
}
.ssform .sale_top {
    border-radius: 10px 10px 0 0;
    background: #E3DFDF;
    padding-bottom: 20px;
}
.ssform .sb_top {
    border-radius: 0 10px 0 0;
    background: #E3DFDF;
    padding-top: 20px;
}
.ssform .sb_top .attention {
    margin-bottom: 40px;
}
.ssform .sb_middle {
    background: #E3DFDF;
}
.ssform .sale_bottom {
    border-radius: 0 0 10px 10px;
    background: #FEFEFE;
}
.ssform .sale_form {
    margin-left: auto;
}
.ssform .sale_block {
    display: block;
}
.ssform .sb_bottom {
    background: none;
}
.ssform .pack {
top: 60px;
    -webkit-transform: none;
    transform: none;
    margin: 0;
    left: 410px;
    width: 295px;
}
.sale_top, .sale_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #F0F0F0;
    border-radius: 10px 0 0 0;
}
.sale_bottom {
    background-color: #FFF;
}
.sale_left_wrap {
    width: 370px;
    margin: 10px 0 0 20px;
}
.sale_right_wrap {
    width: 456px;
    position: relative;
}
.sale_right_wrap .price {
    display: none;
}
.timer_lg .timer_title {
    font-size: 20px;
    color: #4D4D4D;
    text-align: center;
    margin-bottom: 5px;
}
.timer_lg .timer-wrapper .digit>.item {
    font-size: 42px;
    height: 62px;
    width: 46px;
    line-height: 64px;
    margin: 0 1px;
    font-weight: bold;
}
.timer_lg .timer-wrapper .digit:not(:last-child):after, .timer_lg .timer-wrapper .digit:not(:last-child):before {
    width: 6px;
    height: 6px;
    background-color: #000;
}
.timer_lg .timer-wrapper .digit:not(:last-child) {
    margin: 0 25px 0 0;
}
.timer_lg .timer-wrapper .digit:not(:last-child):after, .timer_lg .timer-wrapper .digit:not(:last-child):before {
    right: -15px;
}
.timer_lg .timer-wrapper .digit .digit-items {
    font-size: 14px;
    color: #4d4d4d;
    text-align: center;
    bottom: -1.6em;
    padding-left: 0;
}
.ssform .timer {
    margin-bottom: 35px;
    width: 340px;
    text-align: center;
}
.price-big {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.price-big .new_price .title, .price-big .old_price .title {
    font-size: 20px;
    margin-bottom: 10px;
}
.price-big .old_price .numb {
    font-size: 32px;
}
.price-big .new_price .numb {
    font-size: 40px;
}
.sform_amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
}
.sfa_text {
    font-size: 18px;
    line-height: 20px;
    color: #FF7426;
    width: 230px;
    position: relative;
}
.sfa_text:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -70px;
    background: url("../img/sform_amount.png")/*tpa=http://klearin-gel.com/files/klearin_1/img/sform_amount.png*/;
    width: 64px;
    height: 79px;
}
.sfa_text b {
    display: block;
    margin-bottom: 10px;
}
.sfa_numb {
    color: #4D4D4D;
    font-size: 22px;
    text-align: center;
}
.sfa_numb b {
    display: block;
    font-size: 48px;
    font-weight: bold;
    line-height: 50px;
}
.ssform .confidence {
    right: 0;
    font-size: 14px;
    bottom: -40px;
    font-weight: bold;
    color: #FFF;
}
/* sform */

/* doctor */

.doctor {
    padding-bottom: 0;
}
.doctor_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.doctor_image {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    position: relative;
}
.doctor_image img {
    display: block;
}
.doctor_name {
    font-size: 16px;
    line-height: 18px;
    color: #000;
    position: absolute;
    bottom: 30px;
}
.doctor_text {
    width: 750px;
    background: #EEF3F4;
    border: 3px solid #FF3101;
    position: relative;
    font-size: 24px;
    line-height: 32px;
    padding: 25px 40px;
}
.doctor_text:before {
    content: "";
    background: url("../img/d_before.png")/*tpa=http://klearin-gel.com/files/klearin_1/img/d_before.png*/ no-repeat;
    width: 81px;
    height: 81px;
    position: absolute;
    left: -40px;
    top: 40px;
}
/* doctor */

/* components */

.components {
    background: url("../img/components_bg.jpg")/*tpa=http://klearin-gel.com/files/klearin_1/img/components_bg.jpg*/ no-repeat top center;
    background-size: cover;
    min-height: 935px;
    padding-bottom: 0;
}
.components h2, .components .slog {
    color: #FFF;
}
.components_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.comp_item {
    width: 390px;
    margin-bottom: 50px;
    position: relative;
}

.comp_item:before {
    content: "";
    background: url("../img/comp_arrow.png")/*tpa=http://klearin-gel.com/files/klearin_1/img/comp_arrow.png*/ no-repeat top center;
    width: 80px;
    height: 48px;
    position: absolute;
    right: -100px;
    top: 75px;
}
.comp_item2:before {
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1);
    top: 180px;
}
.comp_item3:before {
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
    right: auto;
    left: -100px;
}
.comp_item4:before {
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    top: 180px;
    right: auto;
    left: -100px;
}
.comp_item img {
    display: block;
    margin: auto;
}
.comp_text {
    background: #FFF;
    border-radius: 15px;
    font-size: 18px;
    line-height: 24px;
    padding: 20px;
    margin-top: -15px;
    height: 156px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/* components */

/* use */

.use_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.use_block .pain_item {
    font-size: 18px;
    line-height: 24px;
    width: 25%;
    padding: 0 10px;
}
.use_item img {
    max-width: none;
    position: relative;
    z-index: 2;
}
/* use */

/* reviews */

.reviews {
    background: url("../img/reviews_bg.jpg")/*tpa=http://klearin-gel.com/files/klearin_1/img/reviews_bg.jpg*/ no-repeat top center;
    background-size: cover;
    min-height: 841px;
}
.reviews_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(255, 255, 255, 0.8);
}
.reviews_item .image {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}
.reviews_item .text {
    padding: 30px 25px 10px 35px;
    line-height: 28px;
}
i {
    font-style: italic;
}
.reviews_item .text p {
    margin-bottom: 30px;
}
.reviews_item .name {
    font-size: 16px;
}
.owl-dots {
    text-align: center;
    margin-top: 10px;
}
.owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 16px;
    height: 16px;
    background: #FFF;
    border-radius: 8px;
}
.owl-dot.active {
    background: #FF7426;
}
.reviews_form {
    width: 585px;
    margin-top: 50px;
}
.rf_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.rf_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 16px;
    line-height: 18px;
}
.rf_item label {
    margin-right: 10px;
}
.rf_item input, .rf_item select {
    background: none;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 1px solid #F94F02;
}
.rf_item input:focus, .rf_item select:focus {
    border-color: #229403;
}
.reviews_form textarea {
    width: 100%;
    border: none;
    padding: 10px;
    resize: none;
    outline: none;
    margin-bottom: 10px;
}
.reviews_btn {
    color: #FFF;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    max-width: 220px;
    width: 100%;
    outline: none;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #FF7426;
    margin-left: auto;
    -webkit-transition: all .25s;
    transition: all .25s;
}
.reviews_btn img {
    margin-right: 10px;
}
.reviews_btn:hover {
    background: #d26223;
}
/* reviews */

/* order */

.order {
    padding-bottom: 0;
}
.order_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.order_item {
    text-align: center;
    line-height: 30px;
    margin-bottom: 30px;
    padding: 0 10px;
    width: 25%;
}
.order_item img {
    display: block;
    margin: 0 auto 20px;
}
.order_item .image {
    position: relative;
}
.order_item:last-child .image:after {
    display: none;
}
.order_item .image:after {
    content: "";
    position: absolute;
    background: url("../img/order_arrow.png")/*tpa=http://klearin-gel.com/files/klearin_1/img/order_arrow.png*/ no-repeat top center;
    width: 27px;
    height: 46px;
    top: 80px;
    right: -25px;
}
.ob_bottom {
    border: 3px solid #FF3101;
    text-align: center;
    font-size: 30px;
    color: #FF3101;
    padding: 20px;
    line-height: 34px;
    margin-bottom: 30px;
}
.obb_block .hb_text {
    font-size: 30px;
    background: url("../../../../klearin.ru/img/hb_text3.png")/*tpa=http://klearin.ru/img/hb_text3.png*/ no-repeat top center;
    color: #FFF;
}
.obb_block .hb_text p b {
    color: #FFF;
}
.order_bottom {
    background-color: rgb(238, 243, 244);
    padding: 40px 0;
}
.order_bottom .hb_item {
    margin-bottom: 0;
}
.order_bottom .hb_image {
    -ms-flex: 0 0 160px;
    -webkit-box-flex: 0;
    flex: 0 0 160px;
}
.order_bottom .hb_text {
    background: url("../img/hb_text4.png")/*tpa=http://klearin-gel.com/files/klearin_1/img/hb_text4.png*/ no-repeat top center;
    font-size: 20px;
    min-height: 170px;
    background-size: 100% 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.order_bottom .hb_text p:not(:last-child) {
    margin-bottom: 10px;
}
.order_bottom .hb_text b.b_main {
    color: #ff3101;
}
/* order */

/* last_block */

.last_block {
    background: url("../img/last_block.jpg")/*tpa=http://klearin-gel.com/files/klearin_1/img/last_block.jpg*/ no-repeat top center;
    background-size: cover;
    padding: 30px 0 70px;
}
.last_block .bottom_header {
    padding: 0;
}
/* last_block */

.timer_hidden {
    display: none;
}
.mfp-close-btn-in .mfp-close {
    color: #FF7426;
    border: 3px solid #FF7426;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 26px;
    position: absolute;
    top: -45px;
    right: 15px;
    opacity: 1;
}
#pu-form .confidence {
    color: #FFF;
}
#pu-form {
    /* margin-top: 80px; */
    margin-bottom: 80px;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-left: -420px;
    z-index: 1000;
}
footer {
    text-align: center;
    color: #FFF;
    padding: 20px 0;
    background: #000;
}
footer a {
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
}
sup {
    font-size: 38px;
    position: relative;
    top: -5px;
}
.ssform sup {
    top: -10px;
}
@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
    .ssform .timer {
        width: 305px;
    }
    .main_bg {
        padding-bottom: 70px;
        background-size: cover;
    }
    .list1, .list2 {
        display: none;
    }
    .bullet_list {
        width: 300px;
    }
    .btn {
        font-size: 30px;
    }
    .bl_text br {
        display: none;
    }
    .hb_item {
        margin-bottom: 25px;
    }
    .sale_form {
        width: 385px;
    }
    .attention br {
        display: none;
    }
    .sf_input input, .sf_input select {
        width: 180px;
    }
    .pack {
        width: 240px;
        left: 320px;
        margin: 0;
    }
    .hb_text {
        height: auto;
        background-size: 100% 100%!important;
    }
    .sale_right_wrap {
        width: 385px;
    }
    .sale_left_wrap {
        width: 320px;
    }
    .timer_lg .timer-wrapper .digit>.item {
        width: 40px;
    }
    .price-big .new_price .title, .price-big .old_price .title {
        font-size: 16px;
    }
    .price-big .new_price .numb, .new_price .numb {
        font-size: 36px;
    }
    .price-big .old_price .numb, .old_price .numb {
        font-size: 26px;
    }
    .price-big .new_price .title, .price-big .old_price .title {
        margin-bottom: 0;
    }
    .sform_amount {
        margin-top: 15px;
    }
    .sfa_text {
        font-size: 16px;
        line-height: 18px;
    }
    .sfa_numb b {
        font-size: 40px;
        line-height: 40px;
    }
    .sfa_text:after {
        right: -35px;
    }
    .sfa_numb {
        font-size: 18px;
        text-align: center;
    }
    .ssform .pack {
        left: 340px;
        width: 240px;
    }
    .doctor_text {
        font-size: 20px;
        line-height: 26px;
    }
    h2 br {
        display: none;
    }
    .comp_item {
        width: 305px;
        margin-bottom: 40px;
    }
    .components {
        padding-bottom: 40px;
    }
    .comp_text {
        font-size: 16px;
        line-height: 20px;
    }
    .use_block, .order_block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .use_block .pain_item:nth-child(2):after, .order_item:nth-child(2) .image:after {
        display: none;
    }
    .use_block .pain_item {
        width: 50%;
        padding: 0 90px;
    }
    .reviews_item .text {
        padding: 10px 10px 10px 15px;
        font-size: 18px;
        line-height: 24px;
    }
    .order_item {
        width: 50%;
        padding: 0 90px;
    }
    .order_item .image:after {
        right: -105px;
    }
    .top_arrow {
            bottom: -20px;
    }
}
@media (max-width: 992px) {
    .container {
        max-width: 480px;
    }
    .top_arrow {
            bottom: -17px;
    }
    .top_header .timer, .th_block {
        display: none;
    }
    .comp_item:before {
        display: none;
    }
    .ssform .sb_top .attention {
        margin-bottom: 10px;
    }
    .already {
        text-align: center;
    }
    .sf_button {
        text-align: center;
    }
    .top_btn {
        font-size: 18px;
    }
    #pu-form .bullet_list {
        display: none;
    }
    .mfp-close-btn-in .mfp-close {
        right: 50px;
    }
    #pu-form .pack {
        display: none;
    }
    .sform .amount, .ssform .amount {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .sale {
        left: auto;
        right: -35px;
        top: -325px;
        z-index: 2;
    }
    .ssform .sale {
        position: static;
        display: block;
        margin: auto;
    }
    h1.title, h2.title {
        font-size: 36px;
        line-height: 38px;
    }
    .main_slogan {
        font-size: 20px;
        line-height: 24px;
    }
    .sale_block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        background: transparent;
    }
    .timer_hidden,.ssform .timer {
        display: block;
        width: 190px;
        margin: 0 auto 20px!important;
    }
    .sform {
        padding: 60px 0 110px;
    }
    .ssform .confidence {
        right: 0;
             -webkit-justify-content: center;
                justify-content: center;
            left: 0;
    }
    .timer_sm .timer-wrapper .digit:not(:last-child):after, .timer_sm .timer-wrapper .digit:not(:last-child):before {
        background-color: #000;
    }
    .timer_sm .timer-wrapper .digit .digit-items {
        color: #000;
    }
    .bullet_list {
        width: 385px;
        margin: 0 auto 30px;
    }
    .pack {
        position: static;
        -webkit-transform: none;
        transform: none;
        width: auto;
        position: static;
        margin-left: 75px;
        margin-bottom: 40px;
    }
    .sale_form {
        margin: auto;
    }
    .sb_top {
        border-radius: 10px 10px 0 0;
        padding-left: 20px;
        padding-right: 20px;
    }
    .sb_bottom {
        border-radius: 0 0 10px 10px;
    }
    body {
        line-height: 24px;
    }
    h2 {
        font-size: 34px;
        line-height: 36px;
    }
    .how_block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .how_item, .pain_item {
        width: 50%;
        font-size: 20px;
        line-height: 22px;
    }
    .how_bottom {
        background: #FFF;
    }
    .hb_item {
        font-size: 20px;
        line-height: 24px;
        background: #b5b5b5;
        padding: 0 20px;
        color: #FFF;
        border-radius: 10px;
    }
    .hb_text {
        background: none !important;
        padding: 10px 0;
        font-size: 18px;
    }
    .hb_image:after {
        display: none;
    }
    .hb_image {
        margin-right: 20px;
    }
    .slog {
        font-size: 20px;
        line-height: 24px;
    }
    .pain_middle {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .pain_item:after {
        display: none;
    }
    .pain_item {
        width: 100%;
    }
    .pain_bottom .hb_text {
        color: #FF3101;
        height: auto;
    }
    .sale_left_wrap {
        display: none;
    }
    .comp_pack {
        display: none;
    }
    .comp_item {
        width: 390px;
    }
    .comp_text {
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
    .use_block .pain_item {
        padding: 0;
    }
    .ssform .sb_top {
        border-radius: 10px 10px 0 0;
        padding-top: 10px;
    }
    .sale_right_wrap .price {
        display: flex;
    }
    .ssform .sale_top {
        padding-bottom: 0;
    }
    .ssform .pack {
        display: none;
    }
    .sale_top {
        border-radius: 10px 10px 0 0;
    }
    .sale_bottom {
        border-radius: 0 0 10px 10px;
    }
    .ssform .sale_block {
        width: 385px;
        margin: auto;
    }
    .doctor_block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .doctor_text {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
        font-size: 18px;
        line-height: 24px;
        padding: 15px 20px;
        margin-bottom: 30px;
    }
    .doctor_text:before {
        display: none;
    }
    .doctor_name {
        right: 0;
    }
    .components {
        padding-bottom: 90px;
    }
    .components_item {
        font-size: 20px;
        line-height: 24px;
    }
    .components_block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .use_block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .use_item {
        width: 264px;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 24px;
    }
    .reviews {
        padding-bottom: 90px;
    }
    .reviews_item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding-top: 15px;
        border-radius: 10px;
    }
    .reviews_item .text {
        padding: 15px;
        text-align: center;
    }
    .reviews_form {
        width: 100%;
    }
    .rf_row {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 0;
    }
    .rf_item {
        width: 100%;
        margin-bottom: 15px;
    }
    .rf_item label {
        width: 155px;
        font-size: 14px;
    }
    .rf_item input, .rf_item select {
        width: 100%;
    }
    .order_block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .order_item {
        width: 50%;
        font-size: 20px;
        line-height: 24px;
        padding: 0;
    }
    .order_item .image:after {
        display: none;
    }
    .order_item br {
        display: none;
    }
    .obb_block .hb_text {
        font-size: 20px;
        color: #229403;
    }
    .obb_block .hb_text p b {
        color: #229403;
    }
}
@media (max-width: 480px) {
    .container {
        width: 320px;
    }
    .top_btn {
        display: none;
    }
    .hb_text {
        text-align: center;
    }
    .hurry {display:none;}
    .top_arrow {
    bottom: -16px;
}
    .main_bg {
        padding-bottom: 90px;
    }
    .top_header {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    h1.title, h2.title {
        font-size: 32px;
        line-height: 34px;
    }
    .sale {
        position: static;
        display: block;
        margin: auto;
    }
    .sb_top, .sb_middle, .sb_bottom {
        padding-left: 15px;
        padding-right: 15px;
    }
    .attention {
        font-size: 16px;
    }
    .old_price {
        margin-right: 0;
    }
    .price {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .new_price .title {
        font-size: 14px;
    }
    .price-big .new_price .numb, .new_price .numb {
        font-size: 30px;
    }
    .price-big .old_price .numb, .old_price .numb {
        font-size: 24px;
    }
    .sf_input {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .sf_input input, .sf_input select {
        width: 100%;
    }
    .amount_text {
        font-size: 12px;
        line-height: 14px;
    }
    .btn {
        font-size: 22px;
        height: 60px;
    }
    .pack {
        margin-left: 12px;
    }
    h2 {
        font-size: 30px;
        line-height: 36px;
    }
    .how_item, .pain_item {
        width: 100%;
    }
    .hb_item {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 15px;
    }
    
    .hb_image {
        margin-right: 0;
    }
    .pain_top span {
        font-size: 22px;
    }
    .comp_item {
        width: 100%;
    }
    .comp_text {
        height: auto;
        margin-top: 0;
    }
    .comp_item img {
        margin: 0 auto 20px;
    }
    .use_block .pain_item {
        width: 100%;
    }
    .ob_bottom {
        font-size: 24px;
        line-height: 30px;
    }
    .ob_bottom b {
        display: block;
    }
    .ssform .sale_block {
        width: 100%;
    }
    .ssform {
        padding: 60px 0 120px;
    }
    .confidence {
        bottom: -40px;
    }
    .doctor_text {
        padding: 15px;
    }
    .doctor_image {
        width: 100%;
    }
    .reviews_item .image {
        width: 260px;
    }
    .order_item {
        width: 100%;
    }
    .obb_block .hb_text {
        text-align: center;
    }
    .sb_bottom:after {
        background-size: 100% 100%;
        right: -10px;
        top: -10px;
        width: 30px;
        height: 50px;
    }
}

.product-big_sale1 {
    background: url(../img/bg-sale.png)/*tpa=http://klearin-gel.com/files/klearin_1/img/bg-sale.png*/ no-repeat 0px 46px;
    width: 150px;
    height: 262px;
    position: absolute;
    left: 370px;
    background-size: contain;
    top: 179px;
    z-index: 40;
    padding: 140px 45px 0 15px;
    display: inline-block;
    box-sizing: border-box;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 25px;
    font-weight: normal;
}
.salee{
    left: 400px;
    top: 135px;
} 

@media (max-width: 1200px) { 
    .product-big_sale1 {
        width: 165px;
        background-size: contain;
        height: 272px;
        left: 300px;
        top: 155px;
        padding: 180px 35px 0 8px;
        font-size: 16px;
        line-height: 24px;
    }

    .salee {
        left: 340px;
    }

} 

@media (max-width: 992px){ 
.product-big_sale1 {
    top: 400px;
    left: 60px;
}
    .salee {
        display: none !important;
    }
} 

@media (max-width: 480px){ 
    .product-big_sale1 {
        left: 5px;
        top: 505px;
    } 
} 

.copyright { font-size: 14px;text-align: center; padding:20px 0;color: #6C6E6F;}
.copyright p { width: 100%; text-align: center; padding: 0; margin: 0; }
.copyright br { display: none; }
.copyright img { margin: 10px auto!important; max-width:100%; }
.copyright a {color: #6C6E6F; text-decoration: none;}
.copyright a:hover { color:#FF0069; text-decoration: none; }

.errField { display:none; font-size: 14px; background: #f00; color: #fff; text-align: center; padding: 10px; margin-bottom:10px; }

.errorMessage {font-size: 11px;background: rgba(255, 0, 0, 0.64);color: #fff;text-align: center;padding: 5px 10px;position: absolute;margin: 5px 0 0; z-index: 9999; }
.freezing-closet {
    z-index: 1001;
}