@font-face {
    font-family: 'OpenSansSemiboldItalic';
    src: url('../fonts/OpenSansSemiboldItalic.eot');
    src: url('../fonts/OpenSansSemiboldItalic.eot') format('embedded-opentype'),
         url('../fonts/OpenSansSemiboldItalic.woff2') format('woff2'),
         url('../fonts/OpenSansSemiboldItalic.woff') format('woff'),
         url('../fonts/OpenSansSemiboldItalic.ttf') format('truetype'),
         url('../fonts/OpenSansSemiboldItalic.svg') format('svg');
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/OpenSansSemibold.eot');
    src: url('../fonts/OpenSansSemibold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansSemibold.woff2') format('woff2'),
         url('../fonts/OpenSansSemibold.woff') format('woff'),
         url('../fonts/OpenSansSemibold.ttf') format('truetype'),
         url('../fonts/OpenSansSemibold.svg') format('svg');
}
@font-face {
    font-family: 'OpenSansExtraBold';
    src: url('../fonts/OpenSansExtraBold.eot');
    src: url('../fonts/OpenSansExtraBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansExtraBold.woff2') format('woff2'),
         url('../fonts/OpenSansExtraBold.woff') format('woff'),
         url('../fonts/OpenSansExtraBold.ttf') format('truetype'),
         url('../fonts/OpenSansExtraBold.svg') format('svg');
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansBold.woff2') format('woff2'),
         url('../fonts/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSansBold.ttf') format('truetype'),
         url('../fonts/OpenSansBold.svg') format('svg');
}
@font-face {
    font-family: 'OpenSansCondensedBold';
    src: url('../fonts/OpenSansCondensedBold.eot');
    src: url('../fonts/OpenSansCondensedBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansCondensedBold.woff') format('woff'),
         url('../fonts/OpenSansCondensedBold.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg') format('svg');
}
@font-face {
    font-family: 'Amaticscbold';
    src: url('../fonts/Amaticscbold.woff2') format('woff2'),
         url('../fonts/Amaticscbold.woff') format('woff'),
         url('../fonts/Amaticscbold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSansItalic';
    src: url('../fonts/OpenSansItalic.eot');
    src: url('../fonts/OpenSansItalic.eot') format('embedded-opentype'),
         url('../fonts/OpenSansItalic.woff2') format('woff2'),
         url('../fonts/OpenSansItalic.woff') format('woff'),
         url('../fonts/OpenSansItalic.ttf') format('truetype'),
         url('../fonts/OpenSansItalic.svg') format('svg');
}


.sect1 {
    background-image: url(../images/bg_1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 846px;
    padding-top: 30px;
}

.btn_top {
    font: 16px OpenSansRegular, sans-serif;
    color: #ffffff;
    border: 1px solid #DEFF00;
    padding: 10px 10px;
    border-radius: 150px;
    float: right;
}

.cont2_sect1 {
    margin-top: 50px;
}

.text1 {
    font: 90px Amaticscbold, sans-serif;
    color: #ffffff;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
}

.text1 span {
    color: #deff00;
}

.text2 {
    font: 36px OpenSansBold, sans-serif;
    color: #deff00;
}

.pos_rel {
    position: relative;
}

img {
    max-width: 100%;
}

.product {
    margin-left: 70px;
}

.of_post {
	position: absolute;
	display: inline-block;
	text-align: center;
	right: 20px;
	top: 70px;
}

.t1_post {
    font: 16px OpenSansSemibold, sans-serif;
    color: #deff00;
    line-height: 1.3;
    margin: 10px 0 15px;
}

.block_price {
    width: 146px;
    height: 146px;
    background-color: #deff00;
    border-radius: 150px;
    position: absolute;
    right: 20px;
    bottom: 70px;
     	box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.11);
}

.t1_price {
    font: 18px OpenSansBold, sans-serif;
    color: #fe0000;
    margin: 0;
    margin-top: 35px;
    text-transform: uppercase;
    line-height: 1;
}

.new_price {
    font: 40px OpenSansBold, sans-serif;
    color: #fe0000;
    margin: 0;
    line-height: 1;
}
 .new_price  span {
    font-size: 24px;
 }
 
 .old_price {
    font: 16px OpenSansBold, sans-serif;
    color: rgba(28,70,46,0.5);
    text-decoration: line-through;
 }
 
 .block_form_top {
    background: rgba(59,178,238,0.9);
    width: 100%;
    max-width: 405px;
    border-radius: 10px;
    padding: 40px 60px 20px 60px;
 }
 
 .t1_form {
    font: 28px OpenSansExtraBold, sans-serif;
    color: #ffffff;
    line-height: 1.3;
    text-transform: uppercase;
 }
 
 .t1_form span {
    color: #deff00;
 }
 
 #timer33aaf5a222b3908ec1816379cc50538f, #timer33aaf5a222b3908ec1816379cc50538f0{
    font-weight: bold;
 }
 
 .under_form {
    font: 18px OpenSansRegular, sans-serif;
    color: #ffffff;
    margin-top: 15px;
 }
 
 .under_form span {
    color: #ff0000;
 }
 
 .form1 input {
    width: 100%;
    height: 55px;
    font: 16px OpenSansRegular, sans-serif;
    color: #ffffff;
    padding: 0 20px;
    border-radius: 8px;
    border: 1px solid #DEFF00;
    margin-bottom: 10px;
    background-color: transparent;
 }
 
 
  .form1 button {
    font: 18px OpenSansBold, sans-serif;
    color: #24362b;
    text-transform: uppercase;
    border: 0;
    width: 100%;
    border-radius: 10px;
    border-bottom: 3px solid #A6BB1A;
    background: linear-gradient(to top, #B6D100, #DDFE00);
    height: 55px;
     	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.11);
    -moz-box-shadow:  0px 0px 6px rgba(0, 0, 0, 0.11);
}

.form1 button:hover {
    background: linear-gradient(to top, #DDFE00, #B6D100);
}
.sect2 {
    background-image: url(../images/bg_2.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 898px;
    padding-top: 50px;
}

.text1_sect2 {
    font: 65px Amaticscbold, sans-serif;
    color: #444952;
    text-transform: uppercase;
}

.text2_sect2 {
    font: 24px OpenSansRegular, sans-serif;
    color: #505a58;
    margin-top: 30px;
}

.cont2_sect2 {
    margin-top: 40px;
}

.list_sect2 {
    padding: 0;
    margin-left: -30px;
    margin-top: 15px;
}

.list_sect2 li {
	list-style-type: none;
	font: 18px OpenSansRegular, sans-serif;
	color: #505a58;
	margin-bottom: 17px;
}

.list_sect2 li img {
	margin-right: 10px;
}

.sect3 {
	background-image: url(../images/bg_3.png);
	background-repeat: no-repeat;
	background-position: top center;
	height: 1153px;
	margin-top: -67px;
    padding-top: 130px;
}

.text1_sect3 {
    font: 65px Amaticscbold, sans-serif;
    color: #444952;
    margin-bottom: 6px;
    text-transform: uppercase;
}

.text2_sect3 {
    font: 28px OpenSansRegular, sans-serif;
    color: #292a2d;
}

.cont2_sect3 {
    margin-top: 40px;
}

.sect4 {
    background-image: url(../images/bg_4.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: auto;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 80px;
}

.cont2_sect4 {
    margin-top: 30px;
}

.list_sect4 {
    padding: 0;
    margin-top: 50px;
    
}

.list_sect4 li{
    list-style-type: none;
    font: 22px OpenSansRegular, sans-serif;
    color: #292a2d;
    height: 85px;
}

.list_sect4 li img {
    margin-right: 10px;
}

.under_list {
    font: 30px OpenSansRegular, sans-serif;
    color: #292a2d;
    margin-top: 50px;
}

.btn_sect4 {
    font: 18px OpenSansBold, sans-serif;
    color: #24362b;
    text-transform: uppercase;
    border: 0;
    border-radius: 10px;
    border-bottom: 3px solid #A6BB1A;
    background: linear-gradient(to top, #B6D100, #DDFE00);
    padding: 13px 15px;
     	box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.24);
    -moz-box-shadow:  0px 4px 5px rgba(0, 0, 0, 0.24);
    margin-top: 40px;
}

.btn_sect4:hover {
    background: linear-gradient(to top, #DDFE00, #B6D100);
}

.sect5 {
    background-image: url(../images/bg_5.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 1490px;
    padding-top: 120px;
}

.text1_sect5 {
    font: 65px Amaticscbold, sans-serif;
    color: #fff;
    text-transform: uppercase;
}
.text2_sect5 {
    font: 28px OpenSansRegular, sans-serif;
    color: #ffffff;
}

.cont2_sect5 {
    margin-top: 50px;
}

.t1_tr {
    font: 22px OpenSansSemiboldItalic, sans-serif;
    color: #ffffff;
    margin-top: 7px;
}

.t2_tr {
    font: 18px OpenSansRegular, sans-serif;
    color: #ffffff;
    margin-top: 20px;
}

.sect6 {
    background-image: url(../images/bg_6.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 820px;
    padding-top: 60px;
}

.box_comm {
    background-color: #f8f8f8;
    width: 100%;
    height: 536px;
    border-radius: 7px;
    padding: 30px 17px 0 17px;
}

.reviews {
    margin-top: 50px;
}

.name_otz {
    font: 20px OpenSansRegular, sans-serif;
    color: #292a2d;
    margin-top: 30px;
}

.city_otz {
    font: 18px OpenSansRegular, sans-serif;
    color: #292a2d;
}

.otz {
    margin-right: 17px;
}

.t_otz {
    font: 16px OpenSansRegular, sans-serif;
    color: #292a2d;
    margin-top: 30px;
}

.sect7 {
    background-image: url(../images/bg_7.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 1490px;
    padding-top: 120px;
    position: relative;
    z-index: 10;
}

.cont2_sect7 {
    margin-top: 50px;
}

.t1_t {
    font: 20px OpenSansBold, sans-serif;
    color: #444952;
    margin-top: 8px;
}

.t2_t {
    font: 18px OpenSansItalic, sans-serif;
    color: #444952;
    margin-top: 12px;
}


.sect1_foot {
    background-image: url(../images/bg_8.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    height: 846px;
    padding-top: 60px;
    margin-top: -80px;
}


footer {
    background-color: #fff;
    padding: 20px 0;
}

footer p, footer a {
    font: 18px OpenSansRegular, sans-serif;
    color: #363636;
    margin: 0;
}

footer a {
    color: rgba(54,54,54,0.5);
    text-decoration: underline;
}


.text3_footer {
    text-align: right;
    margin-top: -10px;
}

