@font-face {
	font-family: 'GothamPro-Bold';
	src: url('../fonts/GothamPro-Bold-.eot#iefix') format('embedded-opentype'),  url('../fonts/GothamPro-Bold.otf')  format('opentype'),
		url('../fonts/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro-Bold.ttf')  format('truetype'), url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-.eot#iefix') format('embedded-opentype'),  url('../fonts/GothamPro.otf')  format('opentype'),
		url('../fonts/GothamPro.woff') format('woff'), url('../fonts/GothamPro.ttf')  format('truetype'), url('../fonts/GothamPro.svg#GothamPro') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeueBold';
	src: url('../fonts/BebasNeueBold.woff') format('woff'),
		url('../fonts/BebasNeueBold.ttf') format('truetype'),
		url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BebasNeueBold';
	src: url('../fonts/ofont.ru_Bebas%20Neue%20Bold.eot');
	src: url('../fonts/ofont.ru_Bebas%20Neue%20Bold.woff2') format('woff2'),
		url('../fonts/ofont.ru_Bebas%20Neue%20Bold-.eot#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}
