/* ********** */
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 100%;
}
body.no-scroll {
	overflow: hidden;
}
main.no-scroll {
	/* position:fixed; */
	z-index: 0;
	top: 0;
}
.page-bottom-bg {
	background: url(../images/footer-bg.jpg) no-repeat;
	background-size: contain;
	background-position: center bottom;
}
sup {
	font-size: 15px;
  font-family: 'GilroyMedium';
  display: inline-block;
  vertical-align: top;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.mobile-header {
	display: none;
	z-index: 9000;
}
.mobile-header .logo {
	margin: 10px 10px 0 10px;
}
.mobile-menu {
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	display: block;
	position: absolute;
	padding: 9px 10px;
	margin: 0;
	right: 10px;
	top: 10px;
	z-index: 9999;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	outline: none;
}
.mobile-menu .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background: #333;
	margin: 4px 0;
}
.mobile-menu.close {
	-webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}
.mobile-nav {
	background: #fff;
	display: none;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: fixed;
	-ms-flex-preferred-size: 100%;
	    flex-basis: 100%;
	-webkit-flex-basis: 100%;
	width: 100%;
	z-index: 9998;
}
.mobile-nav .menu-item {
	font-size: 28px;
	margin: 20px auto;
}
.content-wrapper {
	width: 100%;
	max-width: 1170px;
	margin: auto;
	padding: 0 20px;
}
.btn-wrap {
	margin: 20px auto;
	text-align: center;
	width: 100%;
}
.btn {
  background: linear-gradient(-10deg, rgba(230,230,230,1) 0%,rgba(169,169,169,1) 50%,rgba(245,245,245,1) 88%,rgba(226,225,225,1) 100%);
  display: inline-block;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin: 0 auto;
  outline: none;
  padding: 3px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.btn:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(169,169,169,1) 100%;
  -webkit-transition: opacity .5s ease-out;
  transition: opacity .5s ease-out;
  opacity: 0;
  z-index: 1;
}
.btn:hover:after {
  opacity: 1;
}
.btn-text {
	background: #59c3b9;
	border-radius: 25px;
	display: block;
	width: 100%;
	font-family: 'GilroyRegular';
	font-size: 25px;
	color: #fff;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	position: relative;
	z-index: 2;
}
.big-btn .btn-text {
	padding: 8px 25px;
	font-size: 32px;
}
.search-phram.mobile {
	display: none;
}

.ffz-52 {
	font-size: 52px;
}
.ffz-47 {
	font-size: 47px;
}
.ffz-40	{
	font-size: 40px;
}
/* ********** */

.header {
	width: 100%;
	z-index: 10;
}
.header.main-page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	/* z-index: 2; */
}

.top-header {
	position: relative;
	width: 100%;
	padding-top: 20px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.nav > * {
	margin: 0 30px 0 0;
}
.menu-item {
	background: none;
	border: none;
	outline: none;
	color: #1f9294;
	font-size: 20px;
	text-decoration: none;
	font-family: 'GilroyRegular';
	border-radius: 50px;
}
.menu-item:hover {
	cursor: pointer;
	text-decoration: underline;
}
.top-header__img {
	position: absolute;
	right: -120px;
	width: 80px;
	height: 64px;
	background: url(../images/AG-logo.png) no-repeat;
}

.center-header__image {
	position: relative;
	width: 60%;
}

.center-header {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	position: relative;
	left: 100px;
}

.main-btn{
	position: absolute;
	bottom: 110px;
	left: 0;
	right: 100px;
	margin: auto;
	width: 300px;
}

.center-header__package {
	padding-top: 100px;
}

.bottom-header {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0px 8px 10px -10px #000;
	        box-shadow: 0px 8px 10px -10px #000;
}

.bottom-header__left {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: 'GilroyMedium';
	color: #1f9294;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)),color-stop(99%, rgba(255,255,255,0.99)),to(rgba(255,255,255,1)));
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.bottom-header__left:before {
	content: '';
	display: block;
	width: 80px;
	height: 25px;
	margin-right: 10px;
	background: url(../images/circle.png);
}

.bottom-header__right {
	background: -webkit-gradient(linear, left top, right top, from(rgba(88,197,187,1)), color-stop(72%, rgba(88,197,187,1)),to(rgba(255,255,255,0)));
	background: linear-gradient(to right, rgba(88,197,187,1) 0%, rgba(88,197,187,1) 72%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	font-family: 'GilroyMedium';
	text-transform: uppercase;
	color: #fff;
	width: 100%;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.bottom-header__right:before {
  background: linear-gradient(100deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 46%,rgba(88,197,187,1) 50%,rgba(88,197,187,1) 100%);
	content: '';
	position: absolute;
	right: 100%;
	width: 15px;
	height: 100%;
	top: 0;
}

.bottom-header__right:after {
	content: '';
	display: block;
	width: 80px;
	height: 25px;
	margin-left: 10px;
	background: url(../images/circle.png);
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.bottom-header__left,
.bottom-header__right {
	padding: 21px 30px;
}
.bottom-header__right-img {
	display: none;
}
/* blocks title */
.title {
	width: 100%;
	text-align: center;
}
.block-title {
	margin: 0 auto 20px;
	position: relative;
	font-size: 40px;
	color: #1f9294;
	font-family: 'GilroyRegular';
	display: inline-block;
	text-align: center;
}
.block-title:before {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	width: 73px;
	right: 110%;
	height: 2px;
	background: #1f9294;
}

.block-title:after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 110%;
	width: 73px;
	height: 2px;
	background: #1f9294;
}

.block-one-top{
	display: block;
	width: 100%;
}

/* bg wrap */
.bg-wrap {
	background: url('../images/bg-wrap.jpg') no-repeat center top / 100% 52.5%;
}
/*  */
.block-first {
	/* background: url('../images/main-img.jpg') no-repeat center center / cover; */
	/* height: 100vh; */
	position: relative;
}
.block-first-bg {
	width: 100%;
}
.block-first-mobile-bg {
	display: none;
}
.block-first-mobile-pack {
	display: none;
	max-width: 204px;
	width: 100%;
	position: absolute;
	bottom: 36px;
	right: 20px;
	z-index: 2;
}
.block-first-mobile-pack img {
	width: 100%;
}
.block-first-mobile-text-wrap {
	display: none;
	font-size: 15px;
	text-transform: uppercase;
	position: absolute;
	top: 30%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	right: 10%;
}
.main-img {
	width: 100%;
}
.block-bottom {
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-shadow: 0px 8px 10px -10px #000;
	        box-shadow: 0px 8px 10px -10px #000;
}
.block-bottom__left {
	width: 45%;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	padding: 21px 25px;
	font-family: 'GilroyMedium';
	color: #1f9294;
	background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)),color-stop(99%, rgba(255,255,255,0.99)),to(rgba(255,255,255,1)));
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.99) 99%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.block-bottom__left:before {
	content: '';
	display: block;
	width: 80px;
	height: 25px;
	margin-right: 10px;
	background: url(../images/circle.png);
}
.block-bottom__right {
	background: -webkit-gradient(linear, left top, right top, from(rgba(88,197,187,1)), color-stop(72%, rgba(88,197,187,1)),to(rgba(255,255,255,0)));
	background: linear-gradient(to right, rgba(88,197,187,1) 0%, rgba(88,197,187,1) 72%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
	display: -webkit-box;;
	display: -ms-flexbox;;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: relative;
	font-family: 'GilroyMedium';
	text-transform: uppercase;
	color: #fff;
	width: 55%;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	padding: 0 0 0 25px;
}
.block-bottom__right:before {
  background: linear-gradient(100deg, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 46%,rgba(88,197,187,1) 50%,rgba(88,197,187,1) 100%);
	content: '';
	position: absolute;
	right: 100%;
	width: 15px;
	height: 100%;
	top: 0;
}

.block-bottom__right:after {
	content: '';
	display: block;
	width: 80px;
	height: 25px;
	margin-left: 10px;
	background: url(../images/circle.png);
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}
.block-one {
	width: 100%;
	background: url(../images/two-bg.png) no-repeat center center / cover;
}

.block-one-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 auto 50px;
}

.block-one-left {
	width: 80%;
	padding: 20px;
	position: relative;
	margin-top: 180px;
	/* right: 20px; */
	right: 0;
	left: 50px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 40px;
	-webkit-box-shadow: 1px 1px 29px 10px rgba(0,0,0,.05);
	        box-shadow: 1px 1px 29px 10px rgba(0,0,0,.05);
}

.block-one-left p {
	width: 80%;
	font-size: 20px;
	color: #747c82;
	font-family: 'GilroyRegular';
	line-height: 32px;
}

.block-one-left p:before {
	content: '';
	display: block;
	width: 36px;
	height: 2px;
	margin-bottom: 10px;
	background: #59c3b9;
}

.block-one-right {
	margin-top: 90px;
}

/*.block-one-right__image {
	width: 571px;
	height: 571px;
	position: relative;
	left: 100px;
	background: url(../images/img-bubble.png);
}*/

.block-one-right__image {
	position: relative;
}

.block-one-right__image img {
	max-width: 100%;
	height: auto;
	padding-top: 10%;
}

/* .block-one-right__image img:nth-child(1) {
	bottom: 230px;
	left: -100px;
} */

/* .block-one-right__image img:nth-child(2) {
	top: 0;
	left: -95px;
	position: absolute;
}

.block-one-right__image img:nth-child(3) {
	top: 140px;
	left: -110px;
	position: absolute;
}

.block-one-right__image img:nth-child(4) {
	top: 260px;
	left: -90px;
	position: absolute;
} */

.block-one-bottom {
/* 	padding-top: 93px;
	padding-left: 50px; */
	padding: 90px 0px 90px 70px;
	font-family: 'GilroyRegularItalic';
	font-size: 32px;
	color: #747c82;
}
.block-one-bottom-mobile {
	padding: 55px 0 0;
	font-family: 'GilroyRegularItalic';
	font-size: 32px;
	color: #747c82;
	display: none;
	text-align: center;
	width: 100%;
}

.block-one-bottom div {
	display: block;
	padding-top: 10px;
	padding-left: 40px;
}

.block-one-bottom span,
.block-one-bottom-mobile span {
	color: #1f9294;
	font-size: 40px;
	text-transform: uppercase;
}

.block-two .bottom-header {
	height: 100px;
}

.block-two .bottom-header__right {
	padding-left: 55px;
	text-transform: inherit;
}

.block-two-content {
	width: 100%;
	/* height: 900px; */
	/* background: url(../images/bg-two.png) no-repeat; */
	background-size: cover;
	background-position: 65% 90px;
	padding-bottom: 40px;
}

.block-two-content__img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-top: 10%;
}

.block-two-content__img img:nth-child(1) {
	z-index: 2;
	max-width: 100%;
}

/* .block-two-content__img img:nth-child(2) { */
.block-two-content__img .block-two-content__img-pills {
	z-index: 1;
	position: relative;
	bottom: 20px;
	right: 60px;
	/* max-width: 250px; */
	width: 250px;
}
.block-two-content__img-pills svg {
	-webkit-animation-name: circle-rotate ;
	        animation-name: circle-rotate ;
	-webkit-animation-duration: 20000ms;
	        animation-duration: 20000ms;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	-webkit-transform-origin: 52% 55%;
	        transform-origin: 52% 55%;
	width: 100%;
}
.block-two-content__img-pills img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.block-two-content-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.block-two-content__text {
	/* padding-top: 185px; */
	padding-top: 120px;
	width: 700px;
	padding-left: 30px;
}

.block-two-content__text .block-two-content__inner {
	padding-left: 13px;
	color: #1f9294;
	font-size: 27px;
	font-family: "MyriadProRegular";
	line-height: 25px;

}

.block-two-content__text .block-two-content__inner small {
	font-size: 16px;
	vertical-align: top;
}

.block-two-content__text span {
	font-size: 20px;
	color: #747c82;
}

.block-two-content__about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* align-items: center; */
	-webkit-box-align: baseline;
	    -ms-flex-align: baseline;
	        align-items: baseline;
	padding-bottom: 20px;
}

.block-two-content__little {
	/* padding-top: 53px; */
	padding-top: 35px;
	font-family: "MyriadProRegular";
	font-size: 10px;
	color: #747c82;
}

.block-two-content__button {
	margin: 40px auto 0;
	text-align: center;
}

.block-three {
	width: 100%;
	/* height: 1431px; */
	/* background: url(../images/bg-three.png) no-repeat; */
	background-size: cover;
	position: relative;
}

.block-three-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.block-three-content-text__title {
	color: #1f9294;
	font-family: 'GilroyRegular';
	font-size: 40px;
}

.block-three-content-text__title:after {
	content: '';
	display: block;
	width: 36px;
	height: 2px;
	margin-top: 20px;
	background: #59c3b9;
}

.block-three-content-text__title span {
	font-family: 'GilroyMedium';
}

.block-three-content-text__desc {
	padding-top: 54px;
}

.block-three-content-text__item {
	font-size: 20px;
	color: #747c82;
	font-family: "MyriadProRegular";
}

.block-three-content-text__about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding-bottom: 25px;
}

.block-three-content-text__img {
	margin-right: 10px;
}

.block-three-content-text__img img {
	max-width: 100%;
	height:;
}

.block-three-content-text__btn {
  margin: 58px auto 0;
}

.block-four {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.block-four-bg {
	width: 100%;
	/* margin-top: -57%; */
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.block-four-bg .block-four-bg__one {
	position: relative;
	z-index: 1;
}

.block-four-bg .block-four-bg__two {
	position: absolute;
	top: 300px;
	left: -20px;
}

.block-four-bg .block-four-bg__three {
	position: absolute;
	top: 185px;
	left: 20px;
}

.block-four-bg .block-four-bg__four {
	position: absolute;
	top: 40px;
	left: 20px;
}

.block-four-bg__link {
	width: 350px;
	height: 358px;
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	left: 520px;
	z-index: 5;
	outline: none;
	text-decoration: none;
}

.block-four-bg__link .link-play {
	background: url(../images/play-icon.png) no-repeat top 98px left 84px / 197px 197px;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.block-four-bg__link .link-play svg {
	width: 100%;
	height: auto;
	z-index: -1;
	position: absolute;
	-webkit-animation-name: circle-rotate ;
	        animation-name: circle-rotate ;
	-webkit-animation-duration: 20000ms;
	        animation-duration: 20000ms;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	-webkit-transform-origin: 52% 55%;
	        transform-origin: 52% 55%;
}
/* .block-four-bg__link:hover .link-play svg {
	animation-name: circle-rotate ;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	transform-origin: 52% 55%;
} */
.block-four-bg__link .test {
	position: relative;
	top: 10px;
  left: 10px;
}

.block-four-bg__right img {
	position: absolute;
	/* right: 100px; */
	top: 300px;
}

.block-four-bg__right {
	position: relative;
	z-index: 6;
}

.block-five {
	width: 100%;
	/* height: 840px; */
}

.main-review-owl {
	padding-top: 74px;
}

.item-title {
	margin: auto;
	width: 300px;
	text-align: center;
	position: relative;
	font-size: 40px;
	color: #1f9294;
	font-family: 'GilroyRegular';
}

.item-title:before {
	content: '';
	display: block;
	position: absolute;
	top: 20px;
	width: 73px;
	left: -15px;
	height: 2px;
	background: #1f9294;
}

.item-title:after {
	content: '';
	display: block;
	position: absolute;
	top: 20px;
	right: -15px;
	width: 73px;
	height: 2px;
	background: #1f9294;
}

.item-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.item-wrap__top {
	margin: 40px auto 0;
	text-align: center;
}
.owl-carousel .owl-item img {
	margin: 0 auto;
}
.item-wrap__name {
	padding-top: 20px;
	text-align: center;
	font-family: "MyriadProRegular";
	font-size: 23px;
	color: #59c3b9;
	font-style: italic;
}

.item-wrap__text p {
	width: 60%;
	margin: 48px auto 0;
	color: #747c82;
	font-size: 20px;
	font-style: italic;
	line-height: 32px;
	font-family: "MyriadProRegular";
	text-align: center;
}

.item-wrap__text p span{
	display: block;
	font-weight: 700;
}

.item-wrap__text a {
	text-decoration: underline;
	color: #747c82;
}

.owl-next {
	width: 21px;
	height: 38px;
    right: 0;
    background: url(../images/arrow-right.png);
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}
.owl-prev, .owl-next {
    margin-top: 105px;
    position: absolute;
    top: 0;
    font-size: 50px;
    color: #111;
}

.owl-prev {
	width: 21px;
	height: 38px;
    left: 0;
    background: url(../images/arrow-left.png);
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
}
.owl-prev, .owl-next {
    margin-top: 250px;
    position: absolute;
    top: 0;
    font-size: 50px;
    color: #111;
}

.owl-dots {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin-top: 75px;
}

.owl-dot {
	width: 12px;
	height: 12px;
	margin-right: 11px;
	border-radius: 50px;
	background: transparent;
	border: 2px solid #e1e1e1;
}

.owl-dot.active {
	width: 12px;
	height: 12px;
	margin-right: 11px;
	border-radius: 50px;
	background: #e1e1e1;
}

.slider-buttons {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.slider-buttons a {
	margin: 40px 20px;
	max-width: 250px;
	width: 100%;
}

.slider-buttons__one .btn-text {
	background: #fafafa;
	color: #747c82;
	-webkit-transition: all .5s;
	transition: all .5s;
	overflow:  hidden;
}
.slider-buttons__one:hover .btn-text {
	background: #59c3b9;
	color: #fff;
}

/* reviews */
.review-section {
	padding: 160px 0 0;
}
.reviews-wrap {
	margin: 0 auto 120px;
}
.review {
	border-bottom: 1px solid #dfdfdf;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 20px 0;
	margin: 20px auto;
}
.review-ava {
	width: 100%;
	max-width: 150px;
}
.review-content {
	width: 80%;
}
.review-name {
	color: #59c3b9;
	font-size: 23px;
	font-family: "MyriadProItalic";
	margin: 0 auto 20px;
	width: 100%;
}
.review-text {
	font-size: 20px;
	color: #747c82;
	font-family: "MyriadProItalic";
	width: 100%;
	line-height: 1.5em;
}
.review-link {
	display: block;
	font-size: 20px;
	color: #747c82;
	font-family: "MyriadProItalic";
	width: 100%;
	text-decoration: underline;
	margin: 10px auto 0;
}
.review-link:hover {
	text-decoration: none;
}
.review-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	max-width: 666px;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 0 auto;
}
.review-form-input {
	border: 1px solid #e5e5e5;
	border-radius: 3px;
/* 	max-width: 304px; */
	font-size: 18px;
	font-family: "MyriadProItalic";
	margin: 0 0 20px;
	padding: 12px;
	/* width: 100%; */
	display: block;
	-ms-flex-preferred-size: 45%;
	    flex-basis: 45%;
}
.review-form-textarea {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	font-family: "MyriadProItalic";
	padding: 12px;
	font-size: 18px;
	width: 100%;
	resize: none;
}
.review-thank {
	display: none;
	color: #747c82;
	font-size: 30px;
	text-align: center;
	margin: 40px auto;
}
/* reviews navigation */
.owl-dots-review {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	counter-reset: list 0;
	margin: 10px auto 0;
}

.owl-dots-review .owl-dot-review {
	position: relative;
	cursor: pointer;
	color: #59c3b9;
	margin: 0 5px;
}
.owl-dots-review .owl-dot-review:before {
	counter-increment: list;
	content: counter(list);
	font-family: "MyriadProItalic";
	font-size: 23px;
	text-align: center;
	color: #59c3b9;
}
.owl-dots-review .owl-dot-review:hover,
.owl-dots-review .owl-dot-review.active,
.customNextBtn:hover {
	text-decoration: underline
}
.customNextBtn, .customNextBtn:focus {
	border: none;
	background: transparent;
	color: #59c3b9;
	text-align: center;
	font-family: "MyriadProItalic";
	font-size: 23px;
	cursor: pointer;
	margin: -28px 0 0;
	float: right;
	position: relative;
	z-index: 1;
	outline: none;
}
.review-form-attention {
	background: rgba(89,195,185, .2);
	border-radius: 3px;
	margin: 10px auto 20px;
	font-family: "MyriadProItalic";
	font-size: 14px;
	line-height: 21px;
	color: #1f9294;
	padding: 12px 12px 12px 30px;
	position: relative;
}
.review-form-attention:before {
	background: transparent;
	border-radius: 50%;
	border: 2px solid #1f9294;
	content: 'i';
	display: block;
	position: absolute;
	left: 5px;
	top: 12px;
	width: 14px;
	height: 14px;
	color: #1f9294;
	text-align: center;
	line-height: normal;
}
.acquainted-input-hide {
	opacity: 0;
}
.acquainted-check {
	display: block;
	background: none;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	height: 20px;
	width: 20px;
	text-align: center;
}
.acquainted-input-wrap {
	position: relative;
}
.review-acquainted-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
}
.acquainted-input-hide {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.acquainted-check-tick {
	width: 80%;
}
.acquainted-check-tick.hide {
	display: none;
}
.acquainted-text {
	color: #1f9294;
	font-size: 18px;
	font-family: "MyriadProItalic";
	margin: 0 0 0 10px;
}
/* pharmacy page */
.pharmacy-block {
	margin: 120px auto 120px;
	height: 532px;
	overflow: hidden;
}
#pharmacy-map {
	height: 100%;
	width: 100%;
}
#pharmacy-map .row-fluid.frame-footer,
#pharmacy-map #about_project {
	display: none !important;
}
/* footer */
.footer {
	width: 100%;
}

.footer-socials {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.footer-socials a {
	margin-right: 10px;
}

.footer-bottom {
	text-align: center;
}
.footer-bottom-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.ap-logo {
	display: block;
	width: 100px;
	margin: 0 20px 0 0;
	text-decoration: none;
}
.ap-logo svg {
	width: 100%;
	height: auto;
}
.ap-logo .st0 {
	-webkit-transition: fill .5s;
	transition: fill .5s;
}
.ap-logo:hover {
	-webkit-animation: .5s bounce cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
	        animation: .5s bounce cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.ap-logo:hover .st0-red {
	fill: #ff0000;
}
.ap-logo:hover .st0-black {
	fill: #000;
}
.footer-bottom .footer-bottom-attention {
	display: block;
	padding-top: 16px;
	font-size: 30px;
	color: #262e4e;
	opacity: .3;
	text-transform: uppercase;
	font-family: 'GilroyRegular';
	letter-spacing: -3px;
	word-spacing: 7px;
}

.footer-bottom p {
	padding-top: 20px;
	font-size: 14px;
	font-family: 'GilroyRegular';
	color: #262e4e;
	opacity: .3;
}

.footer-copy {
	padding: 24px 0;
	color: #262e4e;
	opacity: .5;
	font-size: 14px;
	font-family: 'GilroyRegular';
}

/* modal */
.fancybox-bg {
	background: #fff;
}
.modal {
	display: none;
	-webkit-box-shadow: 1px 1px 29px 10px rgba(0,0,0,.05);
	        box-shadow: 1px 1px 29px 10px rgba(0,0,0,.05);
}
.pre-emptive-agreement {
	max-width: 580px;
}
.get-email {
	max-width: 450px;
}
.modal-block-title {
	font-family: "MyriadProRegular";
	font-size: 24px;
	color: #1f9294;
	text-align: center;
	margin: 0 auto 10px;
}
.modal-block-text {
	font-family: "MyriadProItalic";
	color: #1f9294;
	font-size: 16px;
	text-align: center;
	margin: 0 auto 20px;
}
.get-email-text {
	padding: 0 60px;
	line-height: 28px;
}
.modal-block-form-wrap {
	margin: 0 auto 20px;
}
.modal-block-input {
	border: 1px solid #cbcbcb;
	border-radius: 3px;
	background: #fff;
	color: #747c82;
	font-family: "MyriadProItalic";
	padding: 10px;
	width: 100%;
	margin: 0 auto 20px;
}
.modal-block-thanks {
	display: none;
	color: #1f9294;
	font-family: "MyriadProItalic";
	font-size: 16px;
	text-align: center;
}
/* loader */
.loader {
  width: 150px;
  height: 80px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  margin: 60px auto;
}

.send-loader {
  width: 80px;
  height: 80px;
  position: relative;
  margin: 0 auto;
}

.send-loader .dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;

  -webkit-animation: 1.7s dotrotate cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;

          animation: 1.7s dotrotate cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
}

.send-loader .dot:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.send-loader .dot:nth-child(2) {
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}

.send-loader .dot:nth-child(3) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.send-loader .dot:nth-child(4) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}

.send-loader .dot:after, .send-loader .dot .first {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #1f9294;
  border-radius: 50%;
  left: 50%;
  margin-left: -4px;
}

.send-loader .dot .first {
  background: #fff;
  margin-top: -4px;
  -webkit-animation: 1.7s dotscale cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
          animation: 1.7s dotscale cubic-bezier(0.775, 0.005, 0.310, 1.000) infinite;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#reviewText{
	display: none;
	text-align: center;
}

#addBtn{
	margin: 20px auto;
}

.reviews-text, .reviews-author{
	width: 500px;
	max-width: 100%;
	resize: none;
	margin: 40px auto 0;
	outline: none;
	padding: 5px 10px;
	display: block;
	font-family: 'GilroyRegular', sans-serif;
	font-style: italic;
	font-size: 20px;
	color: #999;
	border: 1px solid #59c3b9;
}

.review-info{
	font-size: 24px;
	font-family: 'GilroyRegular', sans-serif;
	margin: 50px auto;
	color: #59c3b9;
	text-align: center;
	line-height: 1.3;
	display: block;
	width: 100%;
}

#reviewBtn{
	display: block;
}

.review-text.show{
	display: block;
}

/* keyframes */
@-webkit-keyframes circle-rotate { 
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  /* 50% { transform: rotate(180deg); } */
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes circle-rotate { 
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  /* 50% { transform: rotate(180deg); } */
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-webkit-keyframes dotrotate { 
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes dotrotate { 
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes dotscale { 
  0%, 10% { width: 16px; height: 16px; margin-left: -8px;  margin-top: -4px; } 
  50% { width: 8px; height: 8px; margin-left: -4px; margin-top: 0; }
  90%, 100% { width: 16px; height: 16px;  margin-left: -8px;  margin-top: -4px; }
}

@keyframes dotscale { 
  0%, 10% { width: 16px; height: 16px; margin-left: -8px;  margin-top: -4px; } 
  50% { width: 8px; height: 8px; margin-left: -4px; margin-top: 0; }
  90%, 100% { width: 16px; height: 16px;  margin-left: -8px;  margin-top: -4px; }
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}


/* media */
@media all and (max-width: 1366px) {
	.ffz-52 {
		font-size: 42px;
	}
	.ffz-47 {
		font-size: 37px;
	}
}
@media all and (max-width: 1200px) {
	.ffz-52,
	.ffz-47,
	.ffz-40 {
		font-size: 32px;
	}
	.main-btn{
		bottom: 90px;
	}
}
@media all and (max-width: 1024px) {
	.search-phram {
		width: 300px;
		max-width: 100%;
	}
	.block-three-content-text__btn{
		text-align: center;
		max-width: 100%;
	}
	.search-phram .btn-text {
		font-size: 26px;
	}
	.ffz-52 {
		font-size: 32px;
	}
	.main-btn{
		right: 0;
		bottom: 60px;
	}
	.bottom-header__left:before,
	.bottom-header__right:after {
		display: none;
	}
	.block-bottom__left:before,
	.block-bottom__right:after {
		display: none;
	}
	/*  */
	.block-first-bg {
		display: none;
	}
	.block-first {
		background: url('../images/mobile-first-bg.jpg') center no-repeat;
		background-size: cover;
		height: auto;
		min-height: 880px;
	}
	.block-one-wrap {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.block-one-left {
		-webkit-box-shadow: none;
		        box-shadow: none;
		right: 0;
		left: 0;
		margin: 50px auto 0;
		padding: 0;
		width: 100%;
	}
	.block-one-left p {
		width: 100%;
		text-align: center;
	}
	.block-one-left p:before {
		margin: 10px auto;
	}
	.block-one-right {
		margin: 90px auto 0;
	}
	.block-one-bottom {
		display: none;
	}
	.block-one-bottom-mobile {
		display: block;
	}
	.block-two-content {
		height: auto;
	}
	.block-two-content-wrap {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		padding: 80px 0 0 0;
	}
	.block-two-content__img {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		width: 100%;
		padding-top: 0;
	}
	.block-two-content__little {
		text-align: center;
	}
	.block-two-content__text {
		padding: 0;
		max-width: 100%;
		margin: 0 auto;
	}
	.block-two-content__button {
		margin: 30px auto;
	}
	.block-three-content {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.block-three-content-text {
		-webkit-box-ordinal-group: 3;
		    -ms-flex-order: 2;
		        order: 2;
		margin: 0 auto;
		max-width: 100%;
	}
	.block-three-content-img {
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		margin: 0 auto;
	}
	.block-four {
		padding: 40px 0 0;
	}
	.block-four-bg__link {
		display: none;
	}
	.block-four-bg .block-four-bg__one {
		width: 100%;
	}
	.block-four-bg {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.block-four-bg__right {
		display: none;
	}
	.block-five {
		background-size: contain;
	}
	.item-wrap__text p {
		width: 90%;
	}
	.block-first-mobile-pack {
		display: block;
		/* bottom: 75px; */
		bottom: 100px;
		right: 10px;
		min-width: 355px;
	}
	.block-first-mobile-bg {
		display: block;
		width: 100%;
	}
	.block-first-mobile-text-wrap {
		display: block;
	}
	.block-first-mobile-text {
		font-size: 25px;
		color: #239496;
		margin: 30px auto;
		position: relative;
		font-family: "MyriadProRegular";
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.block-first-mobile-text:before {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		-webkit-box-shadow: inset 0 0 10px 1px #239496;
		        box-shadow: inset 0 0 10px 1px #239496;
		content: '';
		display: block;
		margin: 0 5px 0;
	}
}
@media all and (max-width: 968px) {
	.ffz-52, 
	.ffz-47, 
	.ffz-40 {
		font-size: 24px;
	}
	.mobile-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.mobile-nav.show {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 100vh;
	}
	.top-header {
		display: none;
	}
	.block-two-content-wrap {
		padding: 90px 0 0 0;
	}
}
@media all and (max-width: 768px) {
	.ffz-47 {
		font-size: 22px;
	}
	.block-bottom {
		-webkit-box-shadow: none;
		        box-shadow: none;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.block-bottom__left,
	.bottom-header__left {
		background: #fff;
	}
	.block-bottom__right,
	.bottom-header__right {
		background: #59c3b9;
	}
/* 	.block-four .bottom-header__left,
	.block-four .bottom-header__right {
		margin: 10px 0;
	} */
	.bottom-header__right {
		text-transform: uppercase;
	}
	.block-four .bottom-header__left, 
	.block-four .bottom-header__right {
		padding: 10px 30px;
	}
	/* main-page */
	.item-wrap__text p {
		width: 95%;
		margin: 25px auto 0;
		font-size: 18px;
		line-height: normal;
	}
	.owl-dots {
		margin: 20px auto 0;
	}
	/* review */
	.review {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}
	.review-name {
		text-align: center;
	}
	.owl-carousel .owl-item img {
		margin: 0 auto 10px;
		text-align: center;
	}
	.review-acquainted {
		margin: 0 auto;
	}
	.review-text {
		font-size: 18px;
	}
	/*  */
	.desktop-img-bubble {
		display: none;
	}
	.mobile-img-bubble {
		display: block;
	}
	.block-one-bottom-mobile {
		font-size: 23px;
	}
	.block-one-bottom-mobile span {
		font-size: 27px;
	}
	.block-one-right__image {
		text-align: center;
	}
	.block-one-right__image img:nth-child(1) {
		width: 80%;
	}
	/* .block-two-content__img img:nth-child(1) {
		width: 60%;
	} */
	/* .block-two-content__img img:nth-child(2) { */
	.block-two-content__img .block-two-content__img-pills {
		width: 40%;
		right: 40px;
	}
	.block-three-content-img img {
		width: 100%;
	}
	.block-three-content-text__title {
		font-size: 26px;
	}
	.block-four .bottom-header {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		/* padding: 20px 0; */
		background: #59c3b9;
		height: auto;
	}
	.block-four .bottom-header__left {
		background: #59c3b9;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		color: #fff;
		font-size: 29px;
	}
	.block-four-bg__right img {
		top: inherit;
    right: 0;
    width: 100%;
    bottom: 20px;
	}
	.block-four-bg__right {
		position: absolute;
		right: 0;
		bottom: -50px;
		z-index: 10;
		max-width: 280px;
		width: 100%;
		display: block;
	}

}
@media all and (max-width: 668px) {
	.bg-wrap {
		background: none;
	}
	.block-one {
		background: none;
	}
	.block-title {
		font-size: 30px;
	}
	.search-phram.mobile {
		display: block;
		margin: 10px auto;
	}
	/*  */
	.bottom-header {
		-webkit-box-shadow: none;
		        box-shadow: none;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		height: auto;
	}
	.bottom-header__left.mobile,
	.bottom-header__right.mobile {
		background: #59c3b9;
		color: #fff;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		padding: 10px 0;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		text-transform: none;
	}
	.bottom-header__left.mobile {
		font-size: 24px;
	}
	.bottom-header__left:before,
	.bottom-header__right:after {
		display: none;
	}
	.bottom-header__right-img {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		margin: 10px auto 0;
	}
	.bottom-header__right-img img {
		margin: 0 10px;
	}
	.bottom-header__right-img img:nth-child(2) {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	.block-bottom, .search-phram.mobile {
		display: none;
	}
	.block-bottom__left {
		background: #fff;
		width: 100%;
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		font-size: 32px;
		padding: 15px;
	}
	.block-bottom__right {
		background: #59c3b9;
		width: 100%;
		/* justify-content: flex-end; */
		-webkit-box-pack: baseline;
		    -ms-flex-pack: baseline;
		        justify-content: baseline;
		padding: 15px;
	}
	.block-first-mobile-pack {
		display: block;
		/* bottom: 75px; */
		bottom: 135px;
		right: 10px;
	}
	.block-first-mobile-bg {
		display: block;
		width: 100%;
	}
	.block-first-mobile-text-wrap {
		display: block;
	}
	.block-first-mobile-text {
		font-size: 25px;
		color: #239496;
		margin: 30px auto;
		position: relative;
		font-family: "MyriadProRegular";
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.block-first-mobile-text:before {
		height: 20px;
		width: 20px;
		border-radius: 50%;
		-webkit-box-shadow: inset 0 0 10px 1px #239496;
		        box-shadow: inset 0 0 10px 1px #239496;
		content: '';
		display: block;
		margin: 0 5px 0;
	}
	/* review */
	.review-form-input {
		-ms-flex-preferred-size: 100%;
		    flex-basis: 100%;
	}
	.review-content {
		width: 100%;
	}
	.block-two-content__text .block-two-content__inner,
	.block-two-content__text span {
		font-size: 18px;
		line-height: normal;
	}
	.block-two-content__little {
		text-align: center;
		padding: 40px 0 0;
	}
	/*  */
	.slider-buttons {
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		margin: 20px auto 40px;
	}
	.slider-buttons a {
		margin: 0 auto 10px;
	}
	/*  */
	.block-four-bg__right {
		max-width: 200px;
	}
}
@media all and (max-width: 568px) {
	.block-first-mobile-text {
		font-size: 20px;
	}
	.block-first-mobile-text-wrap {
		right: 5%;
	}
	.block-two-content__img .block-two-content__img-pills {
		display: none;
	}
	.block-first{
		background: #fff url(../images/two-bg.png) center no-repeat;
		background-size: cover;
		padding-top: 100px;
		min-height: 0;
	}
	.block-first-mobile-text-wrap, .block-first-mobile-pack{
		position: static;
	}
	.block-first-mobile-pack{
		margin: 0 auto 10px;
		max-width: 100%;
		width: 300px;
		padding-bottom: 70px;
	}
	.main-btn{
		bottom: 20px;
	}
	.block-first-mobile-text-wrap{
		-webkit-transform: none;
		        transform: none;
		margin: 0 auto;
		width: 220px;
	}
}
@media all and (max-width: 468px) {
	.block-title {
		font-size: 22px;
	}
	.block-four-bg__right img{
		bottom: 30px;
	}
	.block-title:before,
	.block-title:after {
		width: 30px;
	}
	.customNextBtn, 
	.customNextBtn:focus {
		float: none;
		margin: 20px auto 0;
		display: block;
	}
	.block-first-mobile-pack{
		min-width: 300px;
	}
	.get-email-text {
		padding: 0 20px;
	}
	.block-four-bg__right img {
		width: 80%;
	}
	.block-first-mobile-pack {
		max-width: 180px;
		bottom: 184px;
	}
}
@media all and (max-width: 400px) {
	.block-four-bg__right img {
		width: 70%;
	}
	.block-first-mobile-text {
		font-size: 18px;
	}
	.block-first-mobile-text-wrap {
		right: 10px;
	}
}

.footer-logo{
	display: block;
	margin: 0 auto 5px;
}

.wrap-popup{
	background: #e4fffc;
	padding: 15px;
	width: 650px;	
	text-align: center;	
}

.popup-form	{
	-webkit-box-shadow: 1px 1px 29px 10px rgba(0,0,0,.05);
	        box-shadow: 1px 1px 29px 10px rgba(0,0,0,.05);
	background-color: #fff;
	padding: 20px;
	width: 300px;
	display: inline-block;
	vertical-align: middle;
}

.popup-prod{
	width: 300px;
	display: inline-block;
	vertical-align: middle;
}

.popup-title{
	text-align: center;
	font-family: 'GilroyRegular', sans-serif;
	margin-bottom: 15px;
	font-size: 30px;
	color: #59c3b9;
}

.popup-form__input{
	display: block;
	width: 100%;
	border: 1px solid rgba(88,197,187,.3);
	-webkit-box-shadow: 1px 1px 9px 3px rgba(0,0,0,.05);
	        box-shadow: 1px 1px 9px 3px rgba(0,0,0,.05);
	margin-bottom: 10px;
	height: 40px;
	padding: 10px;
	outline: none;
}

.popup-form__btn{
	border-radius: 0;
}
.price{
	text-align: center;
	font-family: 'GilroyRegular', sans-serif;
}
.price__old, .price__new{
	display: inline-block;
	vertical-align: top;
	width: 49%;
	background: #e5fffc;
	padding: 10px;
	position: relative;
	margin-bottom: 10px;
}

.price__old{
	background: #ffe6e6;
	color: #c35959;
}

.price__old-text, .price__new-text{
	display: block;
	width: 100%;
	margin-bottom: 5px;
}
.price__new-text{
	color: #59c3b9;
}
.price__old-number{
	font-size: 24px;
	text-decoration: line-through;
	opacity: .7;
}

.price__new-number{
	font-size: 24px;
	color: #59c3b9;
}

.footer-privacy{
	display: block;	
	text-decoration: none;	
	margin-bottom: 10px;	
	color: #1f9193;
}

@media all and (max-width: 767px) {
	.wrap-popup{
		width: 320px;
		padding-left: 5px;	
		padding-right: 5px;	
	}
}