hr,
img,
legend {
    border: 0
}
legend,
td,
th {
    padding: 0
}
body,
figure {
    margin: 0
}
.text-left {
    text-align: left
}
.text-center {
    text-align: center
}
text-right {
    text-align: right
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
    clear: both
}
.btn:active, .btn:focus{
		text-decoration: none;
	} 
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
audio,
canvas,
progress,
video {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    vertical-align: baseline
}
audio:not([controls]) {
    display: none;
    height: 0
}
[hidden],
template {
    display: none
}
a {
    background-color: transparent;
    color: #337ab7;
    text-decoration: none
}
a:active,
a:hover {
    outline: 0
}
abbr[title] {
    border-bottom: 1px dotted
}
b,
optgroup,
strong {
    font-weight: 700
}
dfn {
    font-style: italic
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
mark {
    background: #ff0;
    color: #000
}
.img-thumbnail,
body {
    background-color: #fff
}
small {
    font-size: 80%
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.25em
}
img {
    vertical-align: middle
}
svg:not(:root) {
    overflow: hidden
}
hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0
}
pre,
textarea {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}
button {
    overflow: visible
}
button,
select {
    text-transform: none
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}
button[disabled],
html input[disabled] {
    cursor: default
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}
input[type=checkbox],
input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
*,
:after,
:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

a:hover {
    color: #23527c;
    text-decoration: underline
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}
.img-rounded {
    -webkit-border-radius: 6px;
    border-radius: 6px
}
.img-thumbnail {
    padding: 4px;
    line-height: 1.42857;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto
}
.resultf.guarantee:before{
		content: none;
	}
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
    content: " ";
    display: table
}
.img-circle {
    -webkit-border-radius: 50%;
    border-radius: 50%
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #eee
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}/*
.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}*/
.container,
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
[role=button] {
    cursor: pointer
}
@media (min-width: 480px) {
    .container {
        width: 470px
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px
    }
}
.row {
    margin-left: -15px;
    margin-right: -15px
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    float: left
}
.col-xs-1 {
    width: 8.33333%
}
.col-xs-2 {
    width: 16.66667%
}
.col-xs-3 {
    width: 25%
}
.col-xs-4 {
    width: 33.33333%
}
.col-xs-5 {
    width: 41.66667%
}
.col-xs-6 {
    width: 50%
}
.col-xs-7 {
    width: 58.33333%
}
.col-xs-8 {
    width: 66.66667%
}
.col-xs-9 {
    width: 75%
}
.col-xs-10 {
    width: 83.33333%
}
.col-xs-11 {
    width: 91.66667%
}
.col-xs-12 {
    width: 100%
}
.col-xs-pull-0 {
    right: auto
}
.col-xs-pull-1 {
    right: 8.33333%
}
.col-xs-pull-2 {
    right: 16.66667%
}
.col-xs-pull-3 {
    right: 25%
}
.col-xs-pull-4 {
    right: 33.33333%
}
.col-xs-pull-5 {
    right: 41.66667%
}
.col-xs-pull-6 {
    right: 50%
}
.col-xs-pull-7 {
    right: 58.33333%
}
.col-xs-pull-8 {
    right: 66.66667%
}
.col-xs-pull-9 {
    right: 75%
}
.col-xs-pull-10 {
    right: 83.33333%
}
.col-xs-pull-11 {
    right: 91.66667%
}
.col-xs-pull-12 {
    right: 100%
}
.col-xs-push-0 {
    left: auto
}
.col-xs-push-1 {
    left: 8.33333%
}
.col-xs-push-2 {
    left: 16.66667%
}
.col-xs-push-3 {
    left: 25%
}
.col-xs-push-4 {
    left: 33.33333%
}
.col-xs-push-5 {
    left: 41.66667%
}
.col-xs-push-6 {
    left: 50%
}
.col-xs-push-7 {
    left: 58.33333%
}
.col-xs-push-8 {
    left: 66.66667%
}
.col-xs-push-9 {
    left: 75%
}
.col-xs-push-10 {
    left: 83.33333%
}
.col-xs-push-11 {
    left: 91.66667%
}
.col-xs-push-12 {
    left: 100%
}
.col-xs-offset-0 {
    margin-left: 0
}
.col-xs-offset-1 {
    margin-left: 8.33333%
}
.col-xs-offset-2 {
    margin-left: 16.66667%
}
.col-xs-offset-3 {
    margin-left: 25%
}
.col-xs-offset-4 {
    margin-left: 33.33333%
}
.col-xs-offset-5 {
    margin-left: 41.66667%
}
.col-xs-offset-6 {
    margin-left: 50%
}
.col-xs-offset-7 {
    margin-left: 58.33333%
}
.col-xs-offset-8 {
    margin-left: 66.66667%
}
.col-xs-offset-9 {
    margin-left: 75%
}
.col-xs-offset-10 {
    margin-left: 83.33333%
}
.col-xs-offset-11 {
    margin-left: 91.66667%
}
.col-xs-offset-12 {
    margin-left: 100%
}
@media (min-width: 480px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-1 {
        width: 8.33333%
    }
    .col-sm-2 {
        width: 16.66667%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-4 {
        width: 33.33333%
    }
    .col-sm-5 {
        width: 41.66667%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-7 {
        width: 58.33333%
    }
    .col-sm-8 {
        width: 66.66667%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-10 {
        width: 83.33333%
    }
    .col-sm-11 {
        width: 91.66667%
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-pull-0 {
        right: auto
    }
    .col-sm-pull-1 {
        right: 8.33333%
    }
    .col-sm-pull-2 {
        right: 16.66667%
    }
    .col-sm-pull-3 {
        right: 25%
    }
    .col-sm-pull-4 {
        right: 33.33333%
    }
    .col-sm-pull-5 {
        right: 41.66667%
    }
    .col-sm-pull-6 {
        right: 50%
    }
    .col-sm-pull-7 {
        right: 58.33333%
    }
    .col-sm-pull-8 {
        right: 66.66667%
    }
    .col-sm-pull-9 {
        right: 75%
    }
    .col-sm-pull-10 {
        right: 83.33333%
    }
    .col-sm-pull-11 {
        right: 91.66667%
    }
    .col-sm-pull-12 {
        right: 100%
    }
    .col-sm-push-0 {
        left: auto
    }
    .col-sm-push-1 {
        left: 8.33333%
    }
    .col-sm-push-2 {
        left: 16.66667%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-4 {
        left: 33.33333%
    }
    .col-sm-push-5 {
        left: 41.66667%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-7 {
        left: 58.33333%
    }
    .col-sm-push-8 {
        left: 66.66667%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-10 {
        left: 83.33333%
    }
    .col-sm-push-11 {
        left: 91.66667%
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
    .col-sm-offset-1 {
        margin-left: 8.33333%
    }
    .col-sm-offset-2 {
        margin-left: 16.66667%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333%
    }
    .col-sm-offset-5 {
        margin-left: 41.66667%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333%
    }
    .col-sm-offset-8 {
        margin-left: 66.66667%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333%
    }
    .col-sm-offset-11 {
        margin-left: 91.66667%
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
}
@media (min-width: 992px) {
    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }
    .col-md-1 {
        width: 8.33333%
    }
    .col-md-2 {
        width: 16.66667%
    }
    .col-md-3 {
        width: 25%
    }
    .col-md-4 {
        width: 33.33333%
    }
    .col-md-5 {
        width: 41.66667%
    }
    .col-md-6 {
        width: 50%
    }
    .col-md-7 {
        width: 58.33333%
    }
    .col-md-8 {
        width: 66.66667%
    }
    .col-md-9 {
        width: 75%
    }
    .col-md-10 {
        width: 83.33333%
    }
    .col-md-11 {
        width: 91.66667%
    }
    .col-md-12 {
        width: 100%
    }
    .col-md-pull-0 {
        right: auto
    }
    .col-md-pull-1 {
        right: 8.33333%
    }
    .col-md-pull-2 {
        right: 16.66667%
    }
    .col-md-pull-3 {
        right: 25%
    }
    .col-md-pull-4 {
        right: 33.33333%
    }
    .col-md-pull-5 {
        right: 41.66667%
    }
    .col-md-pull-6 {
        right: 50%
    }
    .col-md-pull-7 {
        right: 58.33333%
    }
    .col-md-pull-8 {
        right: 66.66667%
    }
    .col-md-pull-9 {
        right: 75%
    }
    .col-md-pull-10 {
        right: 83.33333%
    }
    .col-md-pull-11 {
        right: 91.66667%
    }
    .col-md-pull-12 {
        right: 100%
    }
    .col-md-push-0 {
        left: auto
    }
    .col-md-push-1 {
        left: 8.33333%
    }
    .col-md-push-2 {
        left: 16.66667%
    }
    .col-md-push-3 {
        left: 25%
    }
    .col-md-push-4 {
        left: 33.33333%
    }
    .col-md-push-5 {
        left: 41.66667%
    }
    .col-md-push-6 {
        left: 50%
    }
    .col-md-push-7 {
        left: 58.33333%
    }
    .col-md-push-8 {
        left: 66.66667%
    }
    .col-md-push-9 {
        left: 75%
    }
    .col-md-push-10 {
        left: 83.33333%
    }
    .col-md-push-11 {
        left: 91.66667%
    }
    .col-md-push-12 {
        left: 100%
    }
    .col-md-offset-0 {
        margin-left: 0
    }
    .col-md-offset-1 {
        margin-left: 8.33333%
    }
    .col-md-offset-2 {
        margin-left: 16.66667%
    }
    .col-md-offset-3 {
        margin-left: 25%
    }
    .col-md-offset-4 {
        margin-left: 33.33333%
    }
    .col-md-offset-5 {
        margin-left: 41.66667%
    }
    .col-md-offset-6 {
        margin-left: 50%
    }
    .col-md-offset-7 {
        margin-left: 58.33333%
    }
    .col-md-offset-8 {
        margin-left: 66.66667%
    }
    .col-md-offset-9 {
        margin-left: 75%
    }
    .col-md-offset-10 {
        margin-left: 83.33333%
    }
    .col-md-offset-11 {
        margin-left: 91.66667%
    }
    .col-md-offset-12 {
        margin-left: 100%
    }
}
@media (min-width: 1200px) {
    .col-lg-1,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9 {
        float: left
    }
    .col-lg-1 {
        width: 8.33333%
    }
    .col-lg-2 {
        width: 16.66667%
    }
    .col-lg-3 {
        width: 25%
    }
    .col-lg-4 {
        width: 33.33333%
    }
    .col-lg-5 {
        width: 41.66667%
    }
    .col-lg-6 {
        width: 50%
    }
    .col-lg-7 {
        width: 58.33333%
    }
    .col-lg-8 {
        width: 66.66667%
    }
    .col-lg-9 {
        width: 75%
    }
    .col-lg-10 {
        width: 83.33333%
    }
    .col-lg-11 {
        width: 91.66667%
    }
    .col-lg-12 {
        width: 100%
    }
    .col-lg-pull-0 {
        right: auto
    }
    .col-lg-pull-1 {
        right: 8.33333%
    }
    .col-lg-pull-2 {
        right: 16.66667%
    }
    .col-lg-pull-3 {
        right: 25%
    }
    .col-lg-pull-4 {
        right: 33.33333%
    }
    .col-lg-pull-5 {
        right: 41.66667%
    }
    .col-lg-pull-6 {
        right: 50%
    }
    .col-lg-pull-7 {
        right: 58.33333%
    }
    .col-lg-pull-8 {
        right: 66.66667%
    }
    .col-lg-pull-9 {
        right: 75%
    }
    .col-lg-pull-10 {
        right: 83.33333%
    }
    .col-lg-pull-11 {
        right: 91.66667%
    }
    .col-lg-pull-12 {
        right: 100%
    }
    .col-lg-push-0 {
        left: auto
    }
    .col-lg-push-1 {
        left: 8.33333%
    }
    .col-lg-push-2 {
        left: 16.66667%
    }
    .col-lg-push-3 {
        left: 25%
    }
    .col-lg-push-4 {
        left: 33.33333%
    }
    .col-lg-push-5 {
        left: 41.66667%
    }
    .col-lg-push-6 {
        left: 50%
    }
    .col-lg-push-7 {
        left: 58.33333%
    }
    .col-lg-push-8 {
        left: 66.66667%
    }
    .col-lg-push-9 {
        left: 75%
    }
    .col-lg-push-10 {
        left: 83.33333%
    }
    .col-lg-push-11 {
        left: 91.66667%
    }
    .col-lg-push-12 {
        left: 100%
    }
    .col-lg-offset-0 {
        margin-left: 0
    }
    .col-lg-offset-1 {
        margin-left: 8.33333%
    }
    .col-lg-offset-2 {
        margin-left: 16.66667%
    }
    .col-lg-offset-3 {
        margin-left: 25%
    }
    .col-lg-offset-4 {
        margin-left: 33.33333%
    }
    .col-lg-offset-5 {
        margin-left: 41.66667%
    }
    .col-lg-offset-6 {
        margin-left: 50%
    }
    .col-lg-offset-7 {
        margin-left: 58.33333%
    }
    .col-lg-offset-8 {
        margin-left: 66.66667%
    }
    .col-lg-offset-9 {
        margin-left: 75%
    }
    .col-lg-offset-10 {
        margin-left: 83.33333%
    }
    .col-lg-offset-11 {
        margin-left: 91.66667%
    }
    .col-lg-offset-12 {
        margin-left: 100%
    }
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.pull-right {
    float: right!important
}
.pull-left {
    float: left!important
}
.hide {
    display: none!important
}
.show {
    display: block!important
}
.hidden,
.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
    display: none!important
}
.invisible {
    visibility: hidden
}
.text-hide {
    font: 0px/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0
}
.affix {
    position: fixed
}
@-ms-viewport {
    width: device-width
}
@media (max-width: 479px) {
    .visible-xs {
        display: block!important
    }
    table.visible-xs {
        display: table!important
    }
    tr.visible-xs {
        display: table-row!important
    }
    td.visible-xs,
    th.visible-xs {
        display: table-cell!important
    }
    .visible-xs-block {
        display: block!important
    }
    .visible-xs-inline {
        display: inline!important
    }
    .visible-xs-inline-block {
        display: inline-block!important
    }
}
@media (min-width: 480px) and (max-width: 991px) {
    .visible-sm {
        display: block!important
    }
    table.visible-sm {
        display: table!important
    }
    tr.visible-sm {
        display: table-row!important
    }
    td.visible-sm,
    th.visible-sm {
        display: table-cell!important
    }
    .visible-sm-block {
        display: block!important
    }
    .visible-sm-inline {
        display: inline!important
    }
    .visible-sm-inline-block {
        display: inline-block!important
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .visible-md {
        display: block!important
    }
    table.visible-md {
        display: table!important
    }
    tr.visible-md {
        display: table-row!important
    }
    td.visible-md,
    th.visible-md {
        display: table-cell!important
    }
    .visible-md-block {
        display: block!important
    }
    .visible-md-inline {
        display: inline!important
    }
    .visible-md-inline-block {
        display: inline-block!important
    }
}
@media (min-width: 1200px) {
    .visible-lg {
        display: block!important
    }
    table.visible-lg {
        display: table!important
    }
    tr.visible-lg {
        display: table-row!important
    }
    td.visible-lg,
    th.visible-lg {
        display: table-cell!important
    }
    .visible-lg-block {
        display: block!important
    }
    .visible-lg-inline {
        display: inline!important
    }
    .visible-lg-inline-block {
        display: inline-block!important
    }
    .hidden-lg {
        display: none!important
    }
}
@media (max-width: 479px) {
    .hidden-xs {
        display: none!important
    }
}
@media (min-width: 480px) and (max-width: 991px) {
    .hidden-sm {
        display: none!important
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none!important
    }
}
.visible-print {
    display: none!important
}
@media print {
    .visible-print {
        display: block!important
    }
    table.visible-print {
        display: table!important
    }
    tr.visible-print {
        display: table-row!important
    }
    td.visible-print,
    th.visible-print {
        display: table-cell!important
    }
}
.visible-print-block {
    display: none!important
}
@media print {
    .visible-print-block {
        display: block!important
    }
}
.visible-print-inline {
    display: none!important
}
@media print {
    .visible-print-inline {
        display: inline!important
    }
}
.visible-print-inline-block {
    display: none!important
}
@media print {
    .visible-print-inline-block {
        display: inline-block!important
    }
    .hidden-print {
        display: none!important
    }
}
header,
section {
    background-position: center top;
    background-repeat: no-repeat
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0
}
body {
    overflow-x: hidden
}
.container {
    overflow: hidden
}
.bg-icon,
header,
section {
    background-repeat: no-repeat
}
.btn,
.header-body,
section {
    text-align: center
}
.s-subheader {
    text-transform: uppercase
}
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}
input {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto
}
.hidden {
    display: none
}
body {
    font-family: OpenSansRegular, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #FFF;
    min-width: 320px
}
.bay-block-digit .people,
.bold,
.count-block-digit .count,
.db-item__header,
.list-title,
.sp-new .digit > span:first-of-type ,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: RobotoBold, sans-serif
}
section {
    padding: 50px 0;
    overflow: hidden
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}
h1 {
    font-size: 52px;
    line-height: 60px;
    margin-top: 10px;
    margin-bottom: 20px
}
h2 {
    font-size: 40px;
    line-height: 45px
}
.block-header,
.s17 {
    letter-spacing: -.025em
}
header {
    background-color: #000;
    background-image: url(../img/bg-header.jpeg)
}
ul {
    list-style-type: none
}
.s14 {
    font-size: .875em
}
.s17 {
    font-size: 1.063em
}
.block-header,
.db-item__text {
    font-size: 12px;
    letter-spacing: -0.6px
}
.red {
    color: #db0000
}
.orange {
    color: #ff9400
}
.btn {
    display: block;
    background-color: #ff7426;
    border: 1px solid #ff7426;
    color: #FFF;
    -webkit-transition: all ease .5s;
    transition: all ease .5s;
    line-height: 21.76px;
    padding: 10px 0
}
.digit-bloc,
.top-line-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox
}
.btn:hover {
    background-color: #FFF;
    color: #ff7426;
    text-decoration: none
}
.bg-icon {
    background-image: url(../img/icon-list.png)
}
.bg-icon.anon {
    background-position: -251px 0
}
.bg-icon.sale {
    background-position: -501px 0
}
.bg-icon.larrow1 {
    background-position: -13px -210px
}
.bg-icon.larrow2 {
    background-position: -162px -213px
}
.bg-icon.larrow3 {
    background-position: -315px -217px
}
.bg-icon.larrow4 {
    background-position: -467px -214px
}
.bg-icon.age {
    background-position: 21px -185px
}
.bg-icon.lenght {
    background-position: -127px -189px
}
.bg-icon.exchange {
    background-position: -273px -196px
}
.bg-icon.routine {
    background-position: -426px -193px
}
.bg-icon.appetite {
    background-position: -573px -193px
}
.bg-icon.gestation {
    background-position: -722px -187px
}
.bg-icon.m150 {
    background-position: 0 -680px
}
.bg-icon.m75 {
    background-position: -277px -680px
}
.bg-icon.clock24 {
    background-position: 22px -343px
}
.bg-icon.day14 {
    background-position: -138px -339px
}
.bg-icon.libra {
    background-position: -293px -341px
}
.bg-icon.clock {
    background-position: -676px -361px
}
.bg-icon.drop {
    background-position: -861px -363px
}
.bg-icon.metr {
    background-position: -479px -356px
}
.bg-icon.check {
    background-position: -1px -522px
}
.top-line {
    height: 100px;
    background-color: rgba(0, 0, 0, .51);
    box-shadow: 0px 0px 1px #090f1e, 0px 1px 1px #090f1e;
}
.top-line .btn-block,
.top-line .timer-block {
    position: relative;
    top: -13px
}
.top-line-block {
    padding-top: 13px;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.digit-bloc,
.stok-price {
    -webkit-box-pack: justify
}
.top-line-block .timer-block .block-header {
    padding-left: 2px
}
.digit-bloc {
    width: 480px;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    line-height: 18px;
}
.top-line .btn-block {
    width: 170px;
    padding-top: 33.5px
}
.list-body li,
.stok-price {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox
}
.db-item {
    padding: 0 0 0 48px
}
.db-item__text .first-line {
    line-height: 24px
}
.block-header {
    line-height: 32px
}
.header-body {
    padding: 10px 0 50px
}
.header-body .subheader,
.header-body h1 {
    text-shadow: 5px 0 17px rgba(0, 0, 0, .25)
}
.subheader {
    font-family: RobotoRegular;
    font-size: 28px;
    line-height: 44px
}
.list-body li,
.list-title,
.sp-new,
.sp-old {
    letter-spacing: -.025em
}
.list-block {
    width: 450px;
    text-align: left
}
.list-body li {
    font-family: RobotoRegular;
    font-size: 18px;
    margin: 10px 0;
    background-color: #f6f9fd;
    color: #000;
    padding: 13px 16px 16px;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.list-body li b {
    font-family: RobotoBold
}
.list-body li:last-child {
    margin-bottom: 0
}
.list-arrow {
    width: 56px;
    height: 62px;
    display: inline-block
}
.stok-price {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex
}
.list-text {
    width: 380px
}
.list-form-block {
    position: relative
}
.pack-img {
    position: absolute;
top: -35px;
    left: 450px;

}
.form-block {
    width: 460px;
    margin-top: 7px;
    background-color: #FFF;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: left;
    float: right;
    position: relative
}
.sale-img {
    position: absolute;
    top: 5px;
    left: -100px
}
.f-stok-line {
    background-color: #ececec;
    line-height: 16px;
    font-size: 14px;
    padding: 10px 14px 0px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px
}
.f-input-line {
    background-color: #ececec;
    padding: 0 14px 4px
}
.f-btn-line {
    padding: 0 14px;
    position: relative
}
.arrow-to-btn {
    position: absolute;
    top: -7px;
    right: 17px
}
.stok-block {
    padding-left: 100px
}
.stok-attention {
    color: #EE0013;
    text-indent: -11px
}
.stok-price {
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline
}
.sp-old {
    color: #606060;
    line-height: 34.49px
}
.sp-old .digit > span:first-of-type {
    font-size: 1.796em
}
.sp-old .digit {
    position: relative;
	min-width: 90px;
}
.sp-new {
    color: #EE0013
}
.sp-new  .digit > span:first-of-type {
    line-height: 40px;
    font-size: 2.963em
}
.f-input-line-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    line-height: 24px;
    font-size: .938em;
    letter-spacing: -.050em;
    color: #515151;
    padding: 5px 0
}
.f-input-line-item label {
    display: block;
    font-size: 14px
}
.f-input-line-item input {
    border: 1px solid #ff0000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #FFF;
    width: 270px;
    height: 35.93px;
    text-indent: 11px;
    display: block
}
.bay-block,
.count-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}
.count-block {
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 14px 0 17px
}
.count-block-title {
    color: #EE0013;
    letter-spacing: -.010em;
    font-size: 14px
}
.count-block-digit {
    line-height: 24px;
    font-size: 1em;
    letter-spacing: -.03px;
    color: #252525;
    margin-left: 42px;
    position: relative
}
.count-block-digit:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #608901;
    left: -28px
}
.count-block-digit .count {
    font-size: 2em
}
.f-btn-line .btn {
    font-size: 1.75em;
    line-height: 46.08px;
    padding: 20px 0;
	width: 100%;
}
.bay-block,
.s-subheader {
    line-height: 24px;
    letter-spacing: -.010em
}
.bay-block {
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding: 9px 0
}
.medal-items {
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox
}
.danger {
    color: #2e2e2e
}
.bay-block-title {
    color: #000307;
    font-size: 14px
}
.bay-block-digit {
    color: #EE0013;
    margin-left: 14px
}
.bay-block-digit .people {
    font-size: 1.375em
}
.medal-block {
    margin-top: 35px
}
.medal-items {
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}
@media only screen and (min-width: 1200px) {
    .responsiveyoutube {
        height: 200px
    }
    .test .danger-2-text:after {
        top: -12px
    }
    .test .danger-header-red {
        max-width: 1028px;
    }
    .test .danger-2-text {
        font-size: 34px;
        line-height: 54px;
        padding-top: 20px
    }
    .danger h2.danger-2-text {
        font-size: 42px
    }
    .promo-header,
    .hell-header {
        padding: 25px 75px;
        font-size: 24px;
        line-height: 36px;
    }
    .test {
        background: url(../img/grass.png) no-repeat center center #1e1e1e;
    }
    .checkbox-item label {
        font-size: 22px
    }
    .responsiveyoutube {
        height: 200px
    }
    .team-text {
        font-size: 20px;
        line-height: 25px;
        padding: 0 40px;
    }
    .change-list {
        font-size: 22px;
        line-height: 30px;
    }
    .review_name,
    .review_text {
        font-size: 18px;
        font-family: RobotoRegular
    }
    section.components .container {
        height: 940px;
        position: relative;
        background: url("../img/components.png") no-repeat 200px 80px
    }
    .easy-item1 {
        margin-right: 60px
    }
    .easy-item2 {
        margin-left: 40px;
        margin-right: 30px;
    }
    .easy-item3 {
        margin-left: 90px
    }
    .easy-item1:after {
        left: 350px;
    }
    .easy-item2:after {
        left: 390px;
    }
    .pin {
        padding-top: 20px;
    }
    .addiction img {
        margin-top: 35px
    }
    .addiction .wa1 {
        padding: 0px 60px 0 0px
    }
    .addiction .wa2 {
        padding: 0 30px
    }
    .addiction .wa3 {
        padding: 0 0px 0 60px
    }
    .inform {
        font-size: 24px;
        line-height: 25px;
        padding: 15px 0
    }
    .expert-wrap p.expert {
        font-size: 20px;
        line-height: 25px
    }
    .kak {
        height: 646px
    }
    .list-form-block {
        margin-top: 50px
    }
    .danger-1-text {
        font-size: 28px;
    }
    .usp {
        padding-left: 90px;
    }
    .list-block,
    .digit-bloc {
        margin-top: 20px
    }
    .guarantee {
        padding-left: 50px;
    }
    .guarantee:before {
        left: 27px;
    }
    .test {
        height: 1015px
    }
}
@media only screen and (max-width: 1199px) {
    .digit-bloc,
    .f-input-line-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal
    }
    body {
        font-size: 15px;
        line-height: 18px
    }
    .db-item__text .first-line,
    .digit-bloc {
        line-height: 13px
    }
    h1 {
        font-size: 2.267em
    }
    .top-line {
        height: 155px
    }
    .top-line-block {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center
    }
    .logo-block img {
        width: 200px
    }
    .digit-bloc {
        width: 240px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .db-item:first-child {
        margin-bottom: 10px
    }
    .db-item__header {
        margin: 0 0 3px
    }
    .subheader {
        margin: 0 -15px
    }
    .pack-img {
        z-index: 5;
        width: 140px;
        top: -26px;
        left: 480px
    }
    .sale-img {
        z-index: 10;
        top: 50px;
        left: 110px;
        width: 140px
    }
    .f-btn-line .btn {
        font-size: 1.55em;
        padding: 15px 0
    }
    .f-input-line-item {
        padding: 0 0 0 151px;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        -ms-grid-row-align: flex-start;
        align-items: flex-start;
        line-height: 28px
    }
    .list-body li,
    .list-title {
        padding: 16px 20px 17px
    }
    .f-input-line-item input {
        width: 100%
    }
    .list-body li {
        margin: 8px 0
    }
    .count-block {
        padding: 14px 0 16px
    }
}
@media only screen and (max-width: 991px) {
    .usp {
        font-family: RobotoBold
    }
    .guarantee {
        padding-left: 45px;
    }
    .guarantee:before {
        left: 24px;
    }
    .form-block,
    .list-form-block {
        margin-top: 25px
    }
    body {
        font-size: 14px;
        line-height: 17px
    }
    h1 {
        font-size: 30px;
        line-height: 38px
    }
    h2 {
        font-size: 2em;
        line-height: 40px
    }
    .top-line {
        height: 90px
    }
    .subheader {
        font-size: 20px;
        line-height: 32px;
        margin-top: 20px
    }
    .list-block {
        width: 100%;
        margin-bottom: 25px
    }
    .list-text {
        width: 326px
    }
    .form-block {
        float: none;
        width: 100%
    }
    .sale-img {
        width: 170px;
        left: 17px;
        top: -15px
    }
    .f-stok-line {
        padding-top: 0
    }
    .stok-block {
        padding-left: 0
    }
    .stok-block-clock {
        padding-left: 180px
    }
    .stok-block-clock .block-header {
        text-align: center;
        margin: 0;
        color: #000307;
        font-size: 1em
    }
    .stok-block-clock .flip-clock-dot {
        background-color: #000307
    }
    .stok-block-clock .flip-clock-divider .flip-clock-label {
        color: #000307
    }
    .stok-attention {
        padding: 30px 0 0 10px;
        text-indent: -11px
    }
    .stok-price {
        margin-top: 10px;
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around
    }
    .f-input-line-item {
        padding: 5px 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row
    }
    .f-input-line-item input {
        width: 255px
    }
    .medal-item img {
        height: 100px
    }
    .s-subheader {
        font-size: 1.6em
    }
    .text {
        font-size: 1.2em;
        line-height: 32px
    }
}
@media only screen and (max-width: 479px) {
    body {
        font-size: 12px;
        line-height: 15px
    }
    .container {
        width: 320px
    }
    .count-block-title {
        font-size: 12px
    }
    .top-line-block {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .list-body li,
    .list-title {
        padding: 10px
    }
    .list-text {
        width: 200px;
        font-size: 16px;
        line-height: 20px
    }
    .arrow-to-btn {
        right: 6px
    }
    .sale-img {
        left: 60px;
        top: -33px
    }
    .stok-block {
        padding-top: 70px
    }
    .stok-block-clock {
        padding-left: 25px
    }
    .stok-attention {
        text-indent: 0;
        text-align: center;
        padding-left: 0
    }
    .f-input-line-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .count-block-digit {
        margin: 0 0 0 25px
    }
    .count-block-digit:before {
        left: -15px
    }
    .medal-items {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .medal-item {
        margin: 5px
    }
    .medal-item:nth-child(1) {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
    .medal-item:nth-child(2) {
        margin: 0;
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }
}