/* Large Devices, Wide Screens */

@media only screen and (max-width: 1170px) {
    .flex {
        justify-content: space-around!important;
    }
    body h1 {
        font-size: 28px;
    }
    body h2 {
        font-size: 32px;
    }
    body h3 {
        font-size: 25px;
    }

}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {

    .plashka {
        padding: 40px;
        padding-top: 70px;
        margin: 100px auto 30px;
    }
    .plashka:before {
        content: url('../img/att.png');
        position: absolute;
        left: 50%;
        margin-left: -73px;
        top: -85px;
    }
    .tg td {
        font-family: 'SFUIDisplay-Light', sans-serif;
        padding: 10px;
        overflow: hidden;
        word-break: normal;
    }
}


/* Medium Devices, Tabs */

@media only screen and (max-width: 768px) {}


/* Small Devices, Phones */

@media only screen and (max-width: 767px) {
    .wrap {
        width: 95%;
    }
    body h1 {
        font-size: 26px!important;
    }
    body h2 {
        font-size: 24px!important;
        line-height: 30px;
    }
    body h3 {
        font-size: 22px!important;
    }
    body h4 {
        font-size: 20px!important;
    }
    .block1 .items {
        flex-direction: column;
    }
    .block1 p br {
        display: none;
    }
    .block1 {
        padding: 15px 0;
    }
    .block1 .item.logo {
        order: 1;
    }
    .block1 .item.logo-1 {
        order: 2;
    }
    .block1 .item.logo-2 {
        order: 3;
    }
    .block1 .item {
        order: 4;
        margin: 10px 0;
    }
    .plashka .button {
        margin: 20px 0 0;
    }
    .remained-container {
        text-align: center;
    }
    .remained-container .left-box {
        display: block;
        margin: 10px auto;
    }
    .block4 .circle-container div p {
        text-align: center;
    }
    .block8 {
        background: none;
    }
    .block8 .content {
        background: #fff;
        width: 100%;
        overflow: hidden;
    }
    .block8 .content .left {
        width: 100%;
        max-width: inherit;
        order: 2;
    }
    .block8 .content .right {
        max-width: inherit;
        order: 1;
    }
    .block10 .zavod-container h2 {
        text-align: center;
    }
    .block10 .zavod-container .img {
        display: none;
    }
    .block11 .left-block p {
        text-align: center;
    }
    .block12 .logo {
        order: 1;
        margin-bottom: 30px;
    }
    .block12 .text {
        order: 2;
    }
    .block12 {
        text-align: center;
    }
}

@media only screen and (max-width: 670px) {
    .block5 {
        display: none;
    }
}
