.plushki__who_can_buy,
.best_month,
#region_test {
    -webkit-box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22) !important;
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22) !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#f4fff1), to(#8bc37c)) !important;
    background: linear-gradient(#f4fff1, #8bc37c) !important;
    padding: 10px !important;
    margin-bottom: 1em !important;
    font-size: 1.1em !important;
    border: 1px solid #548845 !important;
}

.who_can_buy__header {
    background: transparent;
    font-size: 25px !important;
    padding: 5px 0 !important;
}

.who_can_buy__list {
    list-style-type: disc !important;
    list-style-position: outside !important;
    padding-bottom: 0.5em !important;
}

.who_can_buy__list li {
    margin-left: 2em !important;
    margin-bottom: 0.5em !important;
}

.what_to_do {
    padding-left: 50px !important;
    margin-bottom: 30px !important;
    list-style-type: decimal !important;
}

#counter_product {
    border: none !important;
    color: red !important;
    font-size: 1.5em !important;
    font-weight: 600 !important;
}

.left_count {
    background: -webkit-gradient(linear, left top, left bottom, from(red), to(#bd3838)) !important;
    background: linear-gradient(red, #bd3838) !important;
    -webkit-box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22) !important;
    box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22) !important;
    padding: 23px !important;
    margin: 12px 0px !important;
    width: 178px !important;
    color: #fff !important;
    text-shadow: 0 -1px 0 #000000, 0 -1px 0 #000000, 0 1px 0 #000000, 0 1px 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px 0 0 #000000, 1px 0 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    font-size: 32px !important;
    border-radius: 5px !important;
    text-decoration: none !important;
    display: block !important;
}

.prod_left_val {
    display: inline !important;
}

.you_may_buy {
    color: block !important;
    font-weight: 900 !important;
    font-size: 20px !important;
}
