.phone-div {
    position: fixed;
    right: 5px;
    bottom: 5px;
}
.phone-but {
    background: url('phone.png') no-repeat center center;
    background-size: 100%;
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px 20px 3px rgba(0,0,0,0.9);
    border-radius: 70px;
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@media (max-width: 480px) {
    .phone-but {
        width: 40px;
        height: 40px;
    }
}
.phone-form-container {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: rgba(0,0,0,0.5);
    display: table-cell;
    vertical-align: middle;
}
.phone-form {
    margin: auto;
    width: 100%;
    height: 500px;
    background: #dfdfdf;
}
@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 90%, 100% {-webkit-transform: translateY(0);}
	85% {-webkit-transform: translateY(-10px);}
	95% {-webkit-transform: translateY(-5px);}
}

@-moz-keyframes bounce {
	0%, 20%, 50%, 80%, 90%, 100% {-moz-transform: translateY(0);}
	85% {-moz-transform: translateY(-10px);}
	95% {-moz-transform: translateY(-5px);}
}

@-o-keyframes bounce {
	0%, 20%, 50%, 80%, 90%, 100% {-o-transform: translateY(0);}
	85% {-o-transform: translateY(-10px);}
	95% {-o-transform: translateY(-5px);}
}
@keyframes bounce {
	0%, 20%, 50%, 80%, 90%, 100% {transform: translateY(0);}
	85% {transform: translateY(-10px);}
	95% {transform: translateY(-5px);}
}

/*.shake {
	-webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-o-animation-name: bounce;
	animation-name: bounce;
        animation-duration: 3s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
}*/
.phones {
    display: inline-block;
    text-align: right;
    float: right;
    
}
.phones img {
    max-height: 30px;
}
footer .phones {
    display: block;
    margin: auto;
    text-align: center;
    float: none;
    margin: auto;
}