@import url(http://fonts.googleapis.com/css?family=Roboto:100,300&subset=latin,cyrillic-ext);
#cbh_mobile_widget_wrapper{display:none;}
.cbh-body *,
.cbh-body .cbh-wrapper .cbh-item .cbh-input {
    -webkit-box-sizing: content-box!important;
    font-weight: 300!important;
}
.cbh-mobile-widget,
.cbh-widget {
    transition: all .5s cubic-bezier(.19, 1, .22, 1)!important;
    -ms-transform: scale(.8)!important;
    -webkit-transform: scale(.8)!important;
}
.cbh,
.cbh .cbh-background,
.cbh-widget {
    overflow: hidden!important;
}
@font-face {
    font-family: cbh-icons;
    src: url('http://abbelt.ru/skins/3109/css/cbh-icons.eot');
    src: url('http://abbelt.ru/skins/3109/css/cbh-icons.eot')format('embedded-opentype'), url('http://abbelt.ru/skins/3109/css/cbh-icons.woff')format('woff'), url('http://abbelt.ru/skins/3109/css/cbh-icons.ttf')format('truetype'), url('http://abbelt.ru/skins/3109/css/cbh-icons.svg')format('svg');
    font-weight: 400;
    font-style: normal;
}
#cbh_widget_wrapper {
    font-family: cbh-icons!important;
    position: absolute;
    top: 0;
    right: 0
}
#cbh_mobile_phone_wrapper,
#cbh_phone {
    z-index: 1000009!important
}
#cbh_widget_wrapper *,
#cbh_widget_wrapper::after,
#cbh_widget_wrapper::before {
    font-family: cbh-icons!important;
    transform-origin: 50% 50% 0;
    color: #fff
}
.cbh a,
.cbh-body * {
    color: #333!important
}
#cbh_widget_wrapper .cbh,
#cbh_widget_wrapper .cbh *,
.cbh,
.cbh-body .cbh-wrapper .cbh-item,
.cbh-body .cbh-wrapper .cbh-item .cbh-input,
.cbh-body .cbh-wrapper .cbh-item .cbh-text,
.cbh-body .cbh-wrapper .cbh-item .cbh-timer .cbh-d,
.cbh-body .cbh-wrapper .cbh-item .cbh-timer .cbh-numbs span {
    font-family: Roboto, sans-serif!important
}
#cbh_widget_wrapper input[type=checkbox] {
    vertical-align: baseline!important
}
#cbh_widget_wrapper .cbh-widget-rating-value {
    font-family: 'PF Din Text'!important
}
.cbh-body * {
    letter-spacing: normal!important;
    line-height: 1.4!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important
}
.cbh-widget .cbh-bg-icon,
.cbh-widget .cbh-widget-content {
    z-index: 20000;
    speak: none!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    line-height: 1!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.cbh-widget .cbh-widget-phone-icon:before {
    font-family: cbh-icons;
    content: "\e600"
}
.cbh-widget .cbh-widget-logo-icon:before {
    font-family: cbh-icons;
    content: "\e602"
}
.cbh-widget .cbh-widget-call-icon:before {
    font-family: cbh-icons;
    content: "\e603"
}
.cbh-widget.en .cbh-widget-call-icon:before {
    font-family: cbh-icons;
    content: "\e608"
}
.cbh-widget .cbh-widget-rating-icon:before {
    content: "\e604"
}
.cbh-widget.en .cbh-widget-rating-icon:before {
	font-family: cbh-icons;
    content: "\e607"
}
.cbh-widget .cbh-bg-icon {
    height: 113px;
    width: 113px;
    display: block;
    border-radius: 56px;
    -webkit-border-radius: 56px;
    -moz-border-radius: 56px
}
.cbh-widget.cbh-icon-sideways-right .cbh-bg-icon:after {
    border-style: solid;
    border-width: 17px 31px;
    left: 105px;
    margin-top: -15px
}
.cbh-widget.cbh-icon-sideways-left .cbh-widget-global-icon {
    margin-left: 30px
}
.cbh-widget.cbh-icon-sideways-left .cbh-bg-icon:after {
    border-style: solid;
    border-width: 17px 31px;
    left: -58px;
    margin-top: -15px
}

.cbh-widget:after,
.cbh-widget:before {
    content: " ";
    display: table
}
.cbh-widget:after {
    clear: both
}
.cbh-widget .cbh-bg-icon {
    background: #00aff2
}
.cbh-widget.cbh-icon-sideways-left .cbh-bg-icon:after,
.cbh-widget.cbh-icon-sideways-right .cbh-bg-icon:after {
    border-color: transparent transparent transparent #00aff2
}
.cbh-widget.cbh-show .cbh-widget-global-icon {
    visibility: visible!important;
    left: 0!important;
    opacity: 1!important
}
.cbh-widget.cbh-slow .cbh-widget-global-icon .cbh-widget-phone {
    -webkit-animation: cbh-widget-live-slow 4s infinite;
    -moz-animation: cbh-widget-live-slow 4s infinite;
    -ms-animation: cbh-widget-live-slow 4s infinite;
    -o-animation: cbh-widget-live-slow 4s infinite;
    animation: cbh-widget-live-slow 4s infinite;
    opacity: 1!important
}
.cbh-widget.cbh-fast .cbh-widget-global-icon .cbh-widget-phone {
    -webkit-animation: cbh-widget-live .7s infinite;
    -moz-animation: cbh-widget-live .7s infinite;
    -ms-animation: cbh-widget-live .7s infinite;
    -o-animation: cbh-widget-live .7s infinite;
    animation: cbh-widget-live .7s infinite;
    opacity: 1!important
}
.cbh-widget.cbh-pulse {
    -webkit-animation: cbh-widget-pulse .7s infinite;
    -moz-animation: cbh-widget-pulse .7s infinite;
    -ms-animation: cbh-widget-pulse .7s infinite;
    -o-animation: cbh-widget-pulse .7s infinite;
    animation: cbh-widget-pulse .7s infinite
}
.cbh-widget .cbh-widget-global-icon {
    position: absolute!important;
    width: 125px!important;
    height: 105px!important;
    left: 60px!important;
    top: 0!important;
    -webkit-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    -o-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    transition: all .6s cubic-bezier(.19, 1, .22, 1);
    visibility: hidden!important;
    opacity: 0!important
}
.cbh-widget .cbh-widget-global-icon:hover {
    opacity: 1!important
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content {
    color: #fff!important;
    position: absolute!important;
    width: 150px!important;
    height: 124px!important;
    left: 0!important;
    top: 0!important
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content:after,
.cbh-widget .cbh-widget-global-icon .cbh-widget-content:before {
    content: " ";
    display: table
}
.cbh-off,
.cbh-widget .cbh-widget-global-icon:hover .cbh-widget-content div,
.cbh-widget.cbh-pulse .cbh-widget-global-icon .cbh-widget-content div {
    display: none!important
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content:after {
    clear: both
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content .cbh-rotate-icon,
.cbh-widget .cbh-widget-global-icon:hover .cbh-widget-content .cbh-widget-call {
    display: block!important;
    opacity: 1!important;
    transform: perspective(400px) rotateY(0) scale(1)!important;
    -moz-transform: perspective(400px) rotateY(0) scale(1)!important;
    -ms-transform: perspective(400px) rotateY(0) scale(1)!important;
    -webkit-transform: perspective(400px) rotateY(0) scale(1)!important;
    -o-transform: perspective(400px) rotateY(0) scale(1)!important;
    -khtml-transform: perspective(400px) rotateY(0) scale(1)!important
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content div {
    display: block;
    opacity: 0;
    position: absolute!important;
    transform: perspective(400px) rotateY(-180deg) scale(.4);
    -moz-transform: perspective(400px) rotateY(-180deg) scale(.4);
    -ms-transform: perspective(400px) rotateY(-180deg) scale(.4);
    -webkit-transform: perspective(400px) rotateY(-180deg) scale(.4);
    -o-transform: perspective(400px) rotateY(-180deg) scale(.4);
    -khtml-transform: perspective(400px) rotateY(-180deg) scale(.4);
    -webkit-transition: all .8s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all .8s cubic-bezier(.19, 1, .22, 1);
    -o-transition: all .8s cubic-bezier(.19, 1, .22, 1);
    transition: all .8s cubic-bezier(.19, 1, .22, 1)
}
.cbh,
.cbh-widget .cbh-widget-global-icon .cbh-widget-bg {
    -moz-transition: all .4s cubic-bezier(.19, 1, .22, 1);
    -o-transition: all .4s cubic-bezier(.19, 1, .22, 1);
    -webkit-transition: all .4s cubic-bezier(.19, 1, .22, 1);
    transition: all .4s cubic-bezier(.19, 1, .22, 1)
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content div span {
    position: absolute!important
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content div:after,
.cbh-widget .cbh-widget-global-icon .cbh-widget-content div:before {
    content: " ";
    display: table
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content div:after {
    clear: both
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content .cbh-widget-phone {
    top: 31px!important;
    left: 29px!important;
    height: 60px!important;
    width: 60px!important
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content .cbh-widget-phone .cbh-widget-phone-icon {
    top: 1px!important;
    left: 1px!important;
    font-size: 53px!important;
    line-height: 53px!important
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content .cbh-widget-call {
    top: 22px!important;
    left: 29px!important;
    height: 66px!important;
    width: 66px!important
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-content .cbh-widget-call .cbh-widget-call-icon {
    top: -6px!important;
    left: -12px!important;
    font-size: 85px!important;
    line-height: 85px!important
}

.cbh-widget .cbh-widget-global-icon .cbh-widget-bg {
    z-index: 10000;
    opacity: .5;
    position: absolute!important;
    width: 150px!important;
    height: 124px!important;
    left: 0!important;
    top: 0!important;
    animation: cbh-widget-opacity-pulse 2s ease-in-out infinite;
    -moz-animation: cbh-widget-opacity-pulse 2s ease-in-out infinite;
    -ms-animation: cbh-widget-opacity-pulse 2s ease-in-out infinite;
    -webkit-animation: cbh-widget-opacity-pulse 2s ease-in-out infinite;
    -o-animation: cbh-widget-opacity-pulse 2s ease-in-out infinite;
    -khtml-animation: cbh-widget-opacity-pulse 2s ease-in-out infinite
}
.cbh .cbh-background,
.cbh .cbh-background .cbh-blured,
.cbh .cbh-background .cbh-faded,
.cbh-body {
    position: absolute!important;
    height: 100%!important
}
.cbh-widget .cbh-widget-global-icon .cbh-widget-bg .cbh-bg-icon {
    position: absolute!important
}
.cbh {
    position: fixed!important;
    top: 0!important;
    width: 0!important;
    visibility: hidden!important;
    right: 0!important;
    z-index: 10000000002!important
}
.cbh .cbh-background,
.cbh.cbh-show {
    width: 350px!important
}
.cbh a {
    padding: 0!important;
    background-image: none!important
}
.cbh a:hover {
    text-decoration: none!important
}
.cbh.cbh-on {
    visibility: visible!important
}
.cbh-off {
    visibility: hidden!important
}
.cbh.cbh-show .cbh-arrow-wrapper .cbh-arrow-part {
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg)
}
.cbh.cbh-show .cbh-arrow-wrapper .cbh-arrow-part.cbh-bottom {
    -moz-transform: rotate(190deg);
    -ms-transform: rotate(190deg);
    -webkit-transform: rotate(190deg);
    -o-transform: rotate(190deg);
    transform: rotate(190deg)
}
.cbh.cbh-show .cbh-icon {
    margin: 0 10px 0 0!important;
    opacity: 1!important;
    visibility: visible!important;
    -webkit-transition: .5s ease-out;
    -webkit-transition-delay: .5s;
    -o-transition: .5s ease-out;
    -o-transition-delay: .5s;
    -moz-transition: .5s ease-out;
    -moz-transition-delay: .5s;
    transition: .5s ease-out;
    transition-delay: .5s
}
.cbh .cbh-background {
    background: rgba(0, 0, 0, .3)!important;
    right: 0!important;
    top: 0!important;
    z-index: 100001!important
}
.cbh .cbh-background.no-blur {
    background: 0 0
}
.cbh .cbh-background .cbh-faded {
    width: 100%!important;
    right: 0!important;
    top: 0!important;
    z-index: 100002!important
}
.cbh .cbh-background .cbh-blured {
    right: 0!important;
    top: 0!important;
    width: 100%!important;
    z-index: 100000!important
}
.cbh-body,
.cbh-body .cbh-wrapper .cbh-item .cbh-deferred {
    z-index: 100002!important
}
.cbh .cbh-background .cbh-blured canvas {
    position: absolute!important;
    right: 0!important;
    top: 0!important
}
.cbh-body {
    width: 330px!important;
    left: 20px!important;
    top: 0!important
}
.cbh-body input[type=radio],
.cbh-body input[type=checkbox] {
    line-height: inherit;
    margin: inherit;
    box-sizing: inherit;
    padding: inherit;
    border: inherit;
    display: inline-block;
    width: inherit;
    height: inherit;
    float: none;
    font-size: 11px
}
.cbh-body .cbh-wrapper {
    height: 100%!important;
    position: absolute;
    padding-top: 0
}
.cbh-body .cbh-wrapper .cbh-item {
    position: absolute!important;
    top: 0;
    bottom: 0;
    left: 0!important;
    right: 0!important;
    width: 240px!important;
    padding: 0 40px!important;
    height: 600px;
    margin: auto 0!important;
    text-align: left;
    -webkit-box-sizing: content-box!important;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
    -webkit-transition: all .85s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all .85s cubic-bezier(.19, 1, .22, 1);
    -o-transition: all .85s cubic-bezier(.19, 1, .22, 1);
    transition: all .85s cubic-bezier(.19, 1, .22, 1);
    opacity: 0;
    visibility: hidden
}
.cbh-body .cbh-wrapper .cbh-item .cbh-button,
.cbh-body .cbh-wrapper .cbh-item .cbh-chat .cbh-messages .cbh-message,
.cbh-body .cbh-wrapper .cbh-item .cbh-timer .cbh-d,
.cbh-body .cbh-wrapper .cbh-item .cbh-timer .cbh-numbs span {
    -webkit-transition: all .2s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all .2s cubic-bezier(.19, 1, .22, 1);
    -o-transition: all .2s cubic-bezier(.19, 1, .22, 1)
}
.cbh-body .cbh-wrapper .cbh-item.cbh-show {
    filter: none!important;
    opacity: 1!important;
    top: 0;
    visibility: visible!important;
    -webkit-animation: cbh-inanim 1.7s 1;
    -moz-animation: cbh-inanim 1.7s 1;
    -ms-animation: cbh-inanim 1.7s 1;
    -o-animation: cbh-inanim 1.7s 1;
    animation: cbh-inanim 1.7s 1
}
.cbh-body .cbh-wrapper .cbh-item .cbh-button {
    width: 232px!important;
    font-size: 18px!important;
    font-weight: 300!important;
    color: #fff!important;
    background-color: rgba(0, 0, 0, .5)!important;
    border-radius: 7px!important;
    padding: 17px 0!important;
    text-align: center!important;
    margin-top: 3px!important;
    margin-bottom: 7px;
    cursor: pointer!important;
    float: left!important;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all .2s cubic-bezier(.19, 1, .22, 1)
}
.cbh-body .cbh-wrapper .cbh-item .cbh-button:hover {
    background-color: rgba(0, 0, 0, .6)!important
}
.cbh-body .cbh-wrapper .cbh-item .cbh-input-span {
    line-height: 36px!important
}
.cbh-body .cbh-wrapper .cbh-item .cbh-input {
    outline: 0!important;
    top: auto!important;
    left: auto!important;
    padding: 6px 10px!important;
    margin: 0 0 7px 0!important;
    border: 1px solid transparent;
    border-radius: 5px!important;
    width: 210px!important;
    height: inherit!important;
    font-size: 18px!important;
    background-color: rgba(0, 0, 0, .1)!important;
    float: left;
    -moz-box-sizing: content-box!important;
    box-sizing: content-box!important;
    box-shadow: none!important
}
.cbh-deferred__day,
.cbh-deferred__hour,
.cbh-dialog-select {
    border: 1px solid transparent;
    font-weight: 300!important;
    outline: medium none!important
}
.cbh-body .cbh-wrapper .cbh-item .cbh-input.cbh-input-m {
    width: 100px!important;
    margin-right: 7px!important
}
.cbh-body .cbh-wrapper .cbh-item .cbh-input.cbh-input-s {
    width: 54px!important;
    margin-right: 7px!important
}
.cbh-body .cbh-wrapper .cbh-item .cbh-label {
    display: inline;
    margin-left: 5px!important;
    margin-bottom: 10px!important;
    font-size: 16px!important
}
.cbh-body .cbh-wrapper .cbh-item .cbh-label .cbh-input {
    margin-top: 5px!important
}
.cbh-body .cbh-wrapper .cbh-item .cbh-text .cbh-centered {
    text-align: center!important
}
.cbh-body .cbh-wrapper .cbh-item .cbh-text .cbh-big-text,
.cbh-body .cbh-wrapper .cbh-item .cbh-text .cbh-normal-text {
    font-family: Roboto, sans-serif!important;
    font-weight: 300!important;
    font-size: 16px!important;
    color: #333!important
}
.cbh-body .cbh-wrapper .cbh-item .cbh-text .cbh-normal-text {
    margin-bottom: 20px!important
}
.cbh-body .cbh-wrapper .cbh-item .cbh-text .cbh-big-text {
    font-size: 24px!important;
    margin-bottom: 10px!important;
    line-height: 1.2!important;
    width: 243px
}
.cbh-body .cbh-wrapper .cbh-item .cbh-timer {
    margin: 0 auto;
    width: 150px;
    clear: both
}
.cbh-body .cbh-wrapper .cbh-item .cbh-timer .cbh-d,
.cbh-body .cbh-wrapper .cbh-item .cbh-timer .cbh-numbs span {
    float: left!important;
    display: block!important;
    font-weight: 100!important;
    font-size: 40px!important;
    -moz-user-select: none!important;
    -khtml-user-select: none!important;
    -webkit-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    transition: all .2s cubic-bezier(.19, 1, .22, 1)
}
.cbh-arrow,
.cbh-body .cbh-icons {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none
}
.cbh-body .cbh-wrapper .cbh-item .cbh-letter .cbh-input {
    font-size: 14px!important
}
.cbh-body .cbh-just-block {
    display: block;
    float: left;
    width: 100%;
    margin-top: 15px
}
.cbh-body .cbh-just-block:after,
.cbh-body .cbh-just-block:before {
    content: " ";
    display: table
}
.cbh-body .cbh-just-block:after {
    clear: both
}
.cbh-body .cbh-just-block .cbh-normal-text {
    margin-bottom: 7px!important
}
.cbh-body .cbh-just-block .cbh-social-block {
    display: block;
    float: left;
    width: 250px;
    height: 85px;
    margin-top: 15px
}
.cbh-body .cbh-just-block #cbh_social_text {
    clear: both;
    position: relative;
    top: 15px;
    margin-bottom: -5px!important
}
.cbh-body .cbh-just-block .cbh-social-block .cbh-social-icons {
    width: 75px;
    height: 45px;
    display: block;
    float: left;
    margin-right: 12px;
    opacity: .6;
    cursor: pointer;
    -webkit-transition: all .5s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all .5s cubic-bezier(.19, 1, .22, 1);
    -o-transition: all .5s cubic-bezier(.19, 1, .22, 1);
    transition: all .5s cubic-bezier(.19, 1, .22, 1)
}
.cbh-arrow,
.cbh-arrow .cbh-arrow-wrapper .cbh-arrow-part,
.cbh-body .cbh-icons .cbh-icon .cbh-img,
.cbh-body .cbh-powered-by,
.cbh-body .cbh-x {
    -o-transition: all .2s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all .2s cubic-bezier(.19, 1, .22, 1);
    -webkit-transition: all .2s cubic-bezier(.19, 1, .22, 1)
}
.cbh-body .cbh-icons {
    width: 180px;
    position: absolute;
    height: 80px;
    top: 40px;
    left: 70px;
    user-select: none
}
.cbh-body .cbh-icons .cbh-icon {
    width: 50px;
    margin: -10px 10px 0 0;
    height: 100%;
    float: left;
    cursor: pointer;
    opacity: 0;
    visibility: hidden
}
.cbh-arrow,
.cbh-body .cbh-icons .cbh-icon .cbh-img,
.cbh-body .cbh-powered-by,
.cbh-body .cbh-x {
    transition: all .2s cubic-bezier(.19, 1, .22, 1)
}
.cbh-body .cbh-icons .cbh-icon.cbh-active .cbh-img {
    background-color: #fff
}
.cbh-body .cbh-icons .cbh-icon.cbh-active:hover .cbh-img {
    background-color: rgba(255, 255, 255, .8)
}
.cbh-body .cbh-icons .cbh-icon:hover .cbh-img {
    background-color: rgba(0, 0, 0, .14)
}
.cbh-body .cbh-icons .cbh-icon .cbh-img {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAo0lEQVR42pSSUQ0DIRBEH3WwWvBUC7WAhdNwErBwlXAWqITpDyRkQ1OWZD4IvGWY3SQJgJSSAUj6EFgGVEDAIYldAbw6OJQjcHNwjcByaoDtwtcEXhHbD+CcwjslvaNpj5fvXcuSGN7LVKBEYXN/fy7CsSXcD7NrWxnAdFbnQH11X+DuQ3S5dh6ArXqXF5dXsl/NNxeiVlP4b4LM2W59b5L4DgD3m4iQnjvFgwAAAABJRU5ErkJggg==)center center no-repeat rgba(0, 0, 0, .1);
    margin: 0 3px 5px 3px
}
.cbh-dialogs-select-list,
.cbh-timer-sel {
    top: 50px!important;
    -webkit-border-radius: 5px!important
}
.cbh-body .cbh-icons .cbh-icon .cbh-text {
    text-align: center;
    font-size: 12px
}
.cbh-body .cbh-x {
    width: 14px;
    height: 14px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAACXBIWXMAAAsTAAALEwEAmpwYAAABNmlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjarY6xSsNQFEDPi6LiUCsEcXB4kygotupgxqQtRRCs1SHJ1qShSmkSXl7VfoSjWwcXd7/AyVFwUPwC/0Bx6uAQIYODCJ7p3MPlcsGo2HWnYZRhEGvVbjrS9Xw5+8QMUwDQCbPUbrUOAOIkjvjB5ysC4HnTrjsN/sZ8mCoNTIDtbpSFICpA/0KnGsQYMIN+qkHcAaY6addAPAClXu4vQCnI/Q0oKdfzQXwAZs/1fDDmADPIfQUwdXSpAWpJOlJnvVMtq5ZlSbubBJE8HmU6GmRyPw4TlSaqo6MukP8HwGK+2G46cq1qWXvr/DOu58vc3o8QgFh6LFpBOFTn3yqMnd/n4sZ4GQ5vYXpStN0ruNmAheuirVahvAX34y/Axk/96FpPYgAAACBjSFJNAAB6JQAAgIMAAPn/AACA6AAAUggAARVYAAA6lwAAF2/XWh+QAAAAtUlEQVR42ozRoW7DMBAG4C+GHd2IDYqHi/sQGy4e7qMEDwfvJYaLyysd2nBpSqypypykh2xLn333u8s5b/ETEVcPVCllh3PCG46llM0DaI8PvCZ81vNFXNEBQ0ScUm2xX8IT9A0JlnALQTeO4/3NGxzrtseuhf7BCX7Ccwv9tXpfte1TRb91bRXWmd4x4DwXWFpKLyIGXFo4raWHr1baaQXNflWXc55FM2lDn7BdQ5OXr3i5DQA2p2e+vJgyVwAAAABJRU5ErkJggg==)center center no-repeat transparent;
    position: absolute;
    opacity: .5;
    right: 20px;
    top: 20px;
    z-index: 100002;
    cursor: pointer
}
.cbh-body .cbh-x:hover {
    opacity: 1
}


.cbh-hide {
    height: 0;
    display: none!important
}
#cbh_container.cbh-hide,
#cbh_phone.cbh-hide {
    width: 0;
    display: block!important
}
.cbh-clear:after,
.cbh-clear:before {
    content: " ";
    display: table
}
.cbh-clear:after {
    clear: both
}
.cbh-body .cbh-wrapper .cbh-item .cbh-info {
    color: #fff!important;
    font-size: 10.5px;
    opacity: .7!important;
    padding: 7px 10px 10px 0!important;
    clear: both;
    width: 223px!important
}

.cbh-body .cbh-form {
    position: relative!important;
    -webkit-box-sizing: content-box!important;
    opacity: 0;
    visibility: hidden
}
.cbh-body .cbh-form.cbh-show {
    filter: none!important;
    opacity: 1!important;
    visibility: visible!important;
    -webkit-animation: cbh-inanim-form 1.7s 1;
    -moz-animation: cbh-inanim-form 1.7s 1;
    -ms-animation: cbh-inanim-form 1.7s 1;
    -o-animation: cbh-inanim-form 1.7s 1;
    animation: cbh-inanim-form 1.7s 1
}

.cbh-body::-webkit-input-placeholder {
    opacity: .8;
    color: #333
}
.cbh-body::-moz-placeholder {
    opacity: .8;
    color: #333
}
.cbh-body:-moz-placeholder {
    opacity: .8;
    color: #333
}
.cbh-body:-ms-input-placeholder {
    opacity: .8;
    color: #333
}
@media (max-height: 800px) {
    .cbh-body .cbh-icons {
        top: 20px!important
    }
}
@media (max-height: 630px) {
    .cbh-body * {
        line-height: normal!important
    }
    .cbh-body .cbh-wrapper {
        padding-top: 60px
    }
    .cbh-body .cbh-icons {
        top: 5px!important
    }
    .cbh-body .cbh-icons .cbh-icon .cbh-img {
        margin-bottom: 3px!important
    }
    .cbh-body .cbh-wrapper .cbh-item {
        width: 260px!important;
        padding: 0 30px!important
    }
    .cbh-body .cbh-wrapper .cbh-item .cbh-text .cbh-big-text {
        font-size: 1.45em!important;
        margin-bottom: 3px!important
    }
    .cbh-body .cbh-wrapper .cbh-item .cbh-text .cbh-normal-text {
        margin-bottom: 5px!important
    }
    .cbh-body .cbh-powered-by,
    .cbh-body .cbh-powered-by.cbh-powered-by-branding {
        width: 280px!important;
        height: 20px!important;
        left: 16px!important;
        bottom: 0!important
    }
    .cbh-brand-image {
        display: none
    }
}
.cbh-mobile-tbl {
    display: table
}
.cbh-mobile-tbl>* {
    display: table-cell;
    vertical-align: top
}
.cbh-mobile-body {
    position: fixed;
    width: 100%;
	left:0;
    height: 0;
    bottom: 0;
    background-color: #333;
    font: 12px Roboto, Arial, sans-serif;
    box-sizing: border-box;
    z-index: 1000099;
    -webkit-transition: height .5s cubic-bezier(.19, 1, .22, 1)!important;
    -moz-transition: height .5s cubic-bezier(.19, 1, .22, 1)!important;
    -o-transition: height .5s cubic-bezier(.19, 1, .22, 1)!important;
    transition: height .5s cubic-bezier(.19, 1, .22, 1)!important
}
.cbh-mobile-body.cbh-show {
    height: 268px!important
}
.cbh-mobile-body.cbh-hide {
    height: 0!important;
    display: block!important
}
.cbh-mobile-body.cbh-mobile-white {
    background-color: #e6e6e6
}
.cbh-mobile-body.cbh-mobile-white * {
    color: #333!important
}
.cbh-mobile-body .cbh-item {
    display: none
}
.cbh-mobile-steps {
    padding-top: 5px;
    width: 310px;
    margin: 0 auto
}
.cbh-mobile-step-1>span {
    display: block
}
.cbh-mobile-steps .cbh-button,
.cbh-mobile-steps input[type=button],
.cbh-mobile-steps input[type=submit] {
    width: 310px;
    display: block;
    height: 69px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font: 24px Roboto, Arial, sans-serif;
    margin-bottom: 9px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: 69px
}
.cbh-mobile-steps input[type=email],
.cbh-mobile-steps input[type=tel],
.cbh-mobile-steps input[type=text] {
    font: 18px Roboto, Arial, sans-serif;
    color: #333;
    width: 310px;
    display: block;
    height: 48px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #515151;
    padding: 0 10px;
    border: none;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.cbh-mobile-white .cbh-mobile-steps .cbh-button,
.cbh-mobile-white .cbh-mobile-steps input[type=button],
.cbh-mobile-white .cbh-mobile-steps input[type=submit] {
    background-color: #505050;
    color: #fff!important;
	cursor:pointer;
}
.cbh-mobile-white .cbh-mobile-steps input[type=submit]:hover{
	background-color: #555;
}
.cbh-mobile-white .cbh-mobile-steps input[type=email],
.cbh-mobile-white .cbh-mobile-steps input[type=tel],
.cbh-mobile-white .cbh-mobile-steps input[type=text] {
    background-color: #c4c4c4
}
.cbh-mobile-steps .cbh-dialog-select,
.cbh-mobile-steps .cbh-dialogs-select-list {
    width: 311px!important
}
.cbh-mobile-white::-webkit-input-placeholder {
    color: #333
}
.cbh-mobile-white::-moz-placeholder {
    color: #333
}
.cbh-mobile-white:-moz-placeholder {
    color: #333
}
.cbh-mobile-white:-ms-input-placeholder {
    color: #333
}
.cbh-mobile-steps .cbh-big-text {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 11px;
    line-height: 29px
}
.cbh-mobile-steps .cbh-normal-text {
    font-size: 19px;
    line-height: 23px;
    margin-bottom: 11px
}
.cbh-mobile-body .cbh-link {
    text-align: center;
    margin-top: 15px;
    width: 310px
}
.cbh-mobile-body .cbh-link a {
    color: #ddd;
    font-size: 18px;
    border-bottom: 1px dashed #ddd;
    text-decoration: none
}
.cbh-mobile-body .cbh-link a:hover {
    border-bottom: none
}
.cbh-mobile-body.cbh-mobile-white .cbh-link a {
    border-bottom-color: #333
}
.cbh-mobile-arrow:after,
.cbh-mobile-arrow:before {
    background-color: #777;
    opacity: 1;
    border-radius: 15px;
    height: 11px;
    width: 38px;
    float: left;
    content: ""
}
.cbh-mobile-arrow:before {
    -webkit-transform: rotate(-170deg)!important;
    -moz-transform: rotate(-170deg)!important;
    -ms-transform: rotate(-170deg)!important;
    -o-transform: rotate(-170deg)!important;
    transform: rotate(-170deg)!important
}
.cbh-mobile-arrow:after {
    -webkit-transform: translateX(-10px) rotate(-10deg)!important;
    -moz-transform: translateX(-10px) rotate(-10deg)!important;
    -ms-transform: translateX(-10px) rotate(-10deg)!important;
    -o-transform: translateX(-10px) rotate(-10deg)!important;
    transform: translateX(-10px) rotate(-10deg)!important
}
.cbh-mobile-arrow {
    margin: 12px auto 17px;
    padding-left: 20px;
    height: 12px;
    width: 100px;
    cursor:pointer;
}
.cbh-mobile-socials {
    width: 100%;
    text-align: center;
    margin-top: 24px
}
.cbh-mobile-socials a {
    font-size: 60px;
    color: #fff
}
.cbh-mobile-time {
    margin-top: 30px;
    height: 65px
}
.cbh-mobile-time span {
    float: left;
    margin-right: 10px;
    width: 65px;
    height: 65px;
    display: inline-block;
    font: 18px Roboto, Arial, sans-serif;
    color: #fff;
    border-radius: 80px;
    background-color: #4c4c4c;
    text-align: center;
    padding-top: 19px;
    box-sizing: border-box
}
.cbh-mobile-time span.cbh-mobile-active {
    background-color: #fff!important
}
.cbh-mobile-time span div div {
    font-size: 13px
}
.cbh-mobile-white .cbh-mobile-time span {
    background-color: #d2d2d2
}
.cbh-mobile-timer {
    font-size: 48px;
    font-weight: 100;
    width: 230px;
    margin: 0 auto
}
.cbh-mobile-body .cbh-mobile-about {
    padding-left: 25px;
    width: 310px;
    font-size: 15px;
    color: #fff;
    line-height: 18px;
    margin: 0 auto
}
.cbh-mobile-about p {
    margin-bottom: 12px
}
.cbh-mobile-about p a,
.cbh-mobile-body.cbh-mobile-white .cbh-mobile-about p a {
    color: #359bd0!important;
    text-decoration: underline
}
.cbh-mobile-about p.cbh-mobile-skip {
    margin-top: 32px;
    width: 100%
}
.cbh-mobile-about p.cbh-mobile-skip a {
    color: #ddd!important;
    text-decoration: none
}
.cbh-mobile-body.cbh-mobile-white .cbh-mobile-about p.cbh-mobile-skip a {
    color: #333!important;
    text-decoration: none
}
.cbh-mobile-phone-wrapper {
    position: fixed;
    bottom: 30px;
    text-align: center;
    width: 100%
}
.cbh-banner-bg.cbh-show,
.cbh-mobile-body .cbh-show {
    display: block!important
}
.cbh-mobile-timer div {
    display: inline-block
}
.cbh-mobile-body .cbh-just-block {
    display: block;
    float: left;
    width: 100%;
    margin-top: 15px
}
.cbh-mobile-body .cbh-just-block:after,
.cbh-mobile-body .cbh-just-block:before {
    content: " ";
    display: table
}
.cbh-mobile-body .cbh-just-block:after {
    clear: both
}
.cbh-mobile-body .cbh-just-block .cbh-normal-text {
    margin-bottom: 15px!important
}

.cbh-mobile-widget .cbh-bg-icon,
.cbh-mobile-widget .cbh-widget-content {
    font-family: cbh-icons!important;
    speak: none!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    line-height: 1!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.cbh-mobile-widget .cbh-widget-phone-icon:before {
	font-family: cbh-icons;
    content: "\e600"
}
.cbh-mobile-widget .cbh-widget-call-icon:before {
	font-family: cbh-icons;
    content: "\e603"
}
.cbh-mobile-widget {
    display: inline-block;
    width: 113px!important;
    height: 113px!important;
    overflow: hidden!important;
    font-size: 113px!important;
    cursor: pointer!important;
    -moz-user-select: none!important;
    -khtml-user-select: none!important;
    -webkit-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    -moz-transform: scale(.8)!important;
    -o-transform: scale(.8)!important;
    transform: scale(.8)!important;
    -webkit-transition: all .5s cubic-bezier(.19, 1, .22, 1)!important;
    -moz-transition: all .5s cubic-bezier(.19, 1, .22, 1)!important;
    -o-transition: all .5s cubic-bezier(.19, 1, .22, 1)!important
}
.cbh-mobile-widget:after,
.cbh-mobile-widget:before {
    content: " ";
    display: table
}
.cbh-mobile-widget:after {
    clear: both
}
.cbh-mobile-widget.cbh-slow .cbh-widget-global-icon .cbh-widget-phone {
    -webkit-animation: cbh-widget-live-slow 4s infinite;
    -moz-animation: cbh-widget-live-slow 4s infinite;
    -ms-animation: cbh-widget-live-slow 4s infinite;
    -o-animation: cbh-widget-live-slow 4s infinite;
    animation: cbh-widget-live-slow 4s infinite;
    opacity: 1!important
}
.cbh-mobile-widget.cbh-fast .cbh-widget-global-icon .cbh-widget-phone {
    -webkit-animation: cbh-widget-live .7s infinite;
    -moz-animation: cbh-widget-live .7s infinite;
    -ms-animation: cbh-widget-live .7s infinite;
    -o-animation: cbh-widget-live .7s infinite;
    animation: cbh-widget-live .7s infinite;
    opacity: 1!important
}
.cbh-mobile-widget.cbh-show .cbh-widget-global-icon {
    visibility: visible!important;
    left: 0!important;
    opacity: 1!important;
    text-align: left
}
.cbh-mobile-widget.cbh-pulse {
    -webkit-animation: cbh-widget-pulse .7s infinite;
    -moz-animation: cbh-widget-pulse .7s infinite;
    -ms-animation: cbh-widget-pulse .7s infinite;
    -o-animation: cbh-widget-pulse .7s infinite;
    animation: cbh-widget-pulse .7s infinite
}
.cbh-mobile-widget .cbh-widget-global-icon {
    position: absolute!important;
    width: 125px!important;
    height: 105px!important;
    left: 60px!important;
    top: 0!important;
    -webkit-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    -o-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    transition: all .6s cubic-bezier(.19, 1, .22, 1);
    visibility: hidden!important;
    opacity: 0!important
}
.cbh-mobile-widget .cbh-widget-global-icon:hover {
    opacity: 1!important
}
.cbh-mobile-widget .cbh-widget-global-icon:hover .cbh-widget-content div,
.cbh-widget.cbh-pulse .cbh-widget-global-icon .cbh-widget-content div {
    display: none!important
}
.cbh-widget.cbh-pulse .cbh-widget-global-icon .cbh-widget-content .cbh-widget-phone {
    display: block!important
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content .cbh-rotate-icon,
.cbh-mobile-widget .cbh-widget-global-icon:hover .cbh-widget-content .cbh-widget-call {
    display: block!important;
    opacity: 1!important;
    transform: perspective(400px) rotateY(0) scale(1)!important;
    -moz-transform: perspective(400px) rotateY(0) scale(1)!important;
    -ms-transform: perspective(400px) rotateY(0) scale(1)!important;
    -webkit-transform: perspective(400px) rotateY(0) scale(1)!important;
    -o-transform: perspective(400px) rotateY(0) scale(1)!important;
    -khtml-transform: perspective(400px) rotateY(0) scale(1)!important
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content div {
    display: block;
    opacity: 0;
    position: absolute!important;
    transform: perspective(400px) rotateY(-180deg) scale(.4);
    -moz-transform: perspective(400px) rotateY(-180deg) scale(.4);
    -ms-transform: perspective(400px) rotateY(-180deg) scale(.4);
    -webkit-transform: perspective(400px) rotateY(-180deg) scale(.4);
    -o-transform: perspective(400px) rotateY(-180deg) scale(.4);
    -khtml-transform: perspective(400px) rotateY(-180deg) scale(.4);
    -webkit-transition: all .8s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all .8s cubic-bezier(.19, 1, .22, 1);
    -o-transition: all .8s cubic-bezier(.19, 1, .22, 1);
    transition: all .8s cubic-bezier(.19, 1, .22, 1)
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content div span {
    position: absolute!important;
    color: #fff
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content div:after,
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content div:before {
    content: " ";
    display: table
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content div:after {
    clear: both
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content .cbh-widget-phone {
    top: 31px!important;
    left: 29px!important;
    height: 60px!important;
    width: 60px!important
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content .cbh-widget-phone .cbh-widget-phone-icon {
    top: 1px!important;
    left: 1px!important;
    font-size: 53px!important;
    line-height: 53px!important
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content .cbh-widget-call {
    top: 22px!important;
    left: 29px!important;
    height: 66px!important;
    width: 66px!important
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content .cbh-widget-call .cbh-widget-call-icon {
    top: -6px!important;
    left: -12px!important;
    font-size: 85px!important;
    line-height: 85px!important
}

.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content .cbh-widget-logo {
    top: 21px!important;
    left: 26px!important;
    height: 60px!important;
    width: 60px!important
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-content .cbh-widget-logo .cbh-widget-logo-icon {
    top: 1px!important;
    left: 1px!important;
    font-size: 70px!important;
    line-height: 70px!important
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-bg {
    position: absolute!important;
    width: 113px!important;
    height: 113px!important;
    left: 0!important;
    top: 0!important;
    -webkit-animation: cbh-widget-opacity-pulse 1s infinite;
    -moz-animation: cbh-widget-opacity-pulse 1s infinite;
    -ms-animation: cbh-widget-opacity-pulse 1s infinite;
    -o-animation: cbh-widget-opacity-pulse 1s infinite;
    animation: cbh-widget-opacity-pulse 1s infinite;
    -webkit-transition: all .4s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all .4s cubic-bezier(.19, 1, .22, 1);
    -o-transition: all .4s cubic-bezier(.19, 1, .22, 1);
    transition: all .4s cubic-bezier(.19, 1, .22, 1)
}
.cbh-mobile-widget .cbh-widget-global-icon .cbh-widget-bg .cbh-bg-icon {
    position: absolute!important
}
.cbh-mobile-widget .cbh-bg-icon {
    width: 113px!important;
    height: 113px!important;
    border-radius: 56.5px!important;
    -webkit-transition: all .65s cubic-bezier(.19, 1, .22, 1);
    -moz-transition: all .65s cubic-bezier(.19, 1, .22, 1);
    -o-transition: all .65s cubic-bezier(.19, 1, .22, 1);
    transition: all .65s cubic-bezier(.19, 1, .22, 1);
    background-color: #00aff2
}
.cbh-mobile-widget {
    color: #00aff2
}
.cbh-mobile-widget#cbh_phone {
    animation: cbh-icon-resize ease-in-out 1.5s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: cbh-icon-resize ease-in-out 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: cbh-icon-resize ease-in-out 1.5s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: cbh-icon-resize ease-in-out 1.5s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: cbh-icon-resize ease-in-out 1.5s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%
}

@-webkit-keyframes blink {
    from, to {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}
@-moz-keyframes blink {
    from, to {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}
@-o-keyframes blink {
    from, to {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}
@keyframes blink {
    from, to {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}
@-webkit-keyframes cbh-dotted {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}
@-moz-keyframes cbh-dotted {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}
@keyframes cbh-dotted {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}
@-webkit-keyframes cbh-fadein {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    }
    100% {
        -webkit-transform: perspective(400px);
        -moz-transform: perspective(400px);
        -ms-transform: perspective(400px);
        -o-transform: perspective(400px);
        transform: perspective(400px)
    }
}
@-moz-keyframes cbh-fadein {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    }
    100% {
        -webkit-transform: perspective(400px);
        -moz-transform: perspective(400px);
        -ms-transform: perspective(400px);
        -o-transform: perspective(400px);
        transform: perspective(400px)
    }
}
@keyframes cbh-fadein {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transition-timing-function: ease-in;
        opacity: 0
    }
    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transition-timing-function: ease-in
    }
    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1
    }
    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -moz-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        -o-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
    }
    100% {
        -webkit-transform: perspective(400px);
        -moz-transform: perspective(400px);
        -ms-transform: perspective(400px);
        -o-transform: perspective(400px);
        transform: perspective(400px)
    }
}
@keyframes cbh-icon-resize {
    0%, 100% {
        opacity: 1;
        transform: scaleX(1) scaleY(1)
    }
    50% {
        opacity: .5;
        transform: scaleX(.75) scaleY(.75)
    }
}
@-moz-keyframes cbh-icon-resize {
    0%, 100% {
        opacity: 1;
        -moz-transform: scaleX(1) scaleY(1)
    }
    50% {
        opacity: .5;
        -moz-transform: scaleX(.75) scaleY(.75)
    }
}
@-webkit-keyframes cbh-icon-resize {
    0%, 100% {
        opacity: 1;
        -webkit-transform: scaleX(1) scaleY(1)
    }
    50% {
        opacity: .5;
        -webkit-transform: scaleX(.75) scaleY(.75)
    }
}
@-o-keyframes cbh-icon-resize {
    0%, 100% {
        opacity: 1;
        -o-transform: scaleX(1) scaleY(1)
    }
    50% {
        opacity: .5;
        -o-transform: scaleX(.75) scaleY(.75)
    }
}
@-ms-keyframes cbh-icon-resize {
    0%, 100% {
        opacity: 1;
        -ms-transform: scaleX(1) scaleY(1)
    }
    50% {
        opacity: .5;
        -ms-transform: scaleX(.75) scaleY(.75)
    }
}
@-webkit-keyframes cbh-inanim-balloon {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 0
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 1
    }
}
@-moz-keyframes cbh-inanim-balloon {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 0
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 1
    }
}
@keyframes cbh-inanim-balloon {
    0% {
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 0
    }
    100% {
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 1
    }
}
@-webkit-keyframes cbh-inanim-form {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 0;
        bottom: -30px
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 1;
        bottom: 0
    }
}
@-moz-keyframes cbh-inanim-form {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 0;
        bottom: -30px
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 1;
        bottom: 0
    }
}
@keyframes cbh-inanim-form {
    0% {
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 0;
        bottom: -30px
    }
    100% {
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 1;
        bottom: 0
    }
}
@-webkit-keyframes cbh-inanim {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 0;
        top: -100px
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 1;
        top: 0
    }
}
@-moz-keyframes cbh-inanim {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 0;
        top: -100px
    }
    100% {
        -webkit-animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 1;
        top: 0
    }
}
@keyframes cbh-inanim {
    0% {
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 0;
        top: -30px
    }
    100% {
        animation-timing-function: cubic-bezier(.19, 1, .22, 1);
        opacity: 1;
        top: 0
    }
}
@keyframes cbh-select-office {
    0% {
        transform: translate(0, -50px)
    }
    100% {
        transform: translate(0, 0)
    }
}
@-moz-keyframes cbh-select-office {
    0% {
        -moz-transform: translate(0, -50px)
    }
    100% {
        -moz-transform: translate(0, 0)
    }
}
@-webkit-keyframes cbh-select-office {
    0% {
        -webkit-transform: translate(0, -50px)
    }
    100% {
        -webkit-transform: translate(0, 0)
    }
}
@-o-keyframes cbh-select-office {
    0% {
        -o-transform: translate(0, -50px)
    }
    100% {
        -o-transform: translate(0, 0)
    }
}
@-ms-keyframes cbh-select-office {
    0% {
        -ms-transform: translate(0, -50px)
    }
    100% {
        -ms-transform: translate(0, 0)
    }
}
@-webkit-keyframes cbh-slidetounlock {
    0% {
        background-position: -120px 0
    }
    100% {
        background-position: 120px 0
    }
}
@-webkit-keyframes cbh-widget-color-pulse {
    0%, 100% {
        color: #00aff2
    }
    50% {
        color: #00a0de
    }
}
@-moz-keyframes cbh-widget-color-pulse {
    0%, 100% {
        color: #00aff2
    }
    50% {
        color: #008ec4
    }
}
@keyframes cbh-widget-color-pulse {
    0%, 100% {
        color: #00aff2
    }
    50% {
        color: #008ec4
    }
}
@-webkit-keyframes cbh-widget-live-slow {
    0%, 10%, 100% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
    5% {
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
}
@-moz-keyframes cbh-widget-live-slow {
    0%, 10%, 100% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
    5% {
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
}
@keyframes cbh-widget-live-slow {
    0%, 10%, 100% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
    5% {
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
}
@-webkit-keyframes cbh-widget-live {
    0%, 100%, 50% {
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
    25%,
    75% {
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
}
@-moz-keyframes cbh-widget-live {
    0%, 100%, 50% {
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
    25%,
    75% {
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
}
@keyframes cbh-widget-live {
    0%, 100%, 50% {
        -moz-transform: rotate(-20deg);
        -ms-transform: rotate(-20deg);
        -webkit-transform: rotate(-20deg);
        -o-transform: rotate(-20deg);
        transform: rotate(-20deg);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
    25%,
    75% {
        -moz-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        -webkit-transform: rotate(20deg);
        -o-transform: rotate(20deg);
        transform: rotate(20deg);
        -webkit-animation-timing-function: ease;
        animation-timing-function: ease
    }
}
@-webkit-keyframes cbh-widget-opacity-pulse {
    0%, 100% {
        opacity: .7
    }
    50% {
        opacity: .5
    }
}
@-moz-keyframes cbh-widget-opacity-pulse {
    0%, 100% {
        opacity: .7
    }
    50% {
        opacity: .5
    }
}
@keyframes cbh-widget-opacity-pulse {
    0%, 100% {
        opacity: .7
    }
    50% {
        opacity: .5
    }
}
@-moz-keyframes cbh-widget-pulse {
    0% {
        -webkit-transform: translate(0, -20px) scale(.8);
        -moz-transform: translate(0, -20px) scale(.8);
        -ms-transform: translate(0, -20px) scale(.8);
        -o-transform: translate(0, -20px) scale(.8);
        transform: translate(0, -20px) scale(.8)
    }
    50% {
        -webkit-transform: translate(0, -10px) scale(.8);
        -moz-transform: translate(0, -10px) scale(.8);
        -ms-transform: translate(0, -10px) scale(.8);
        -o-transform: translate(0, -10px) scale(.8);
        transform: translate(0, -10px) scale(.8)
    }
    100% {
        -webkit-transform: translate(0, 0) scale(.8);
        -moz-transform: translate(0, 0) scale(.8);
        -ms-transform: translate(0, 0) scale(.8);
        -o-transform: translate(0, 0) scale(.8);
        transform: translate(0, 0) scale(.8)
    }
}
@-webkit-keyframes cbh-widget-pulse {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0) scale(.8)
    }
    40% {
        -webkit-transform: translateY(-30px) scale(.8)
    }
    60% {
        -webkit-transform: translateY(-15px) scale(.8)
    }
}
@keyframes cbh-widget-pulse {
    0%, 100%, 20%, 50%, 80% {
        transform: translateY(0) scale(.8)
    }
    40% {
        transform: translateY(-30px) scale(.8)
    }
    60% {
        transform: translateY(-15px) scale(.8)
    }
}

@media only screen and (max-width:980px){
	#cbh_mobile_widget_wrapper{display:block;}
}