@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");

    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.eot");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.svg");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.woff");
    font-style: normal;
    font-weight: normal;
}