a,
abbr,
acronym,
address,
applet,
big,
blockquote,
body,
caption,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
iframe,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
tr,
tt,
ul,
var {
    border: 0;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}
:focus {
    outline: 0
}
body {
    font-family: roboto, Arial, sans-serif;
    font-size: 16px;
    background-color: #fff;
    color: #25343C
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: separate;
    border-spacing: 0
}
caption,
td,
th {
    font-weight: 400;
    text-align: left
}
blockquote:after,
blockquote:before,
q:after,
q:before {
    content: ""
}
blockquote,
q {
    quotes: "" ""
}
a img {
    border: 0
}
a {
    text-decoration: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}
.clearfix {
    *zoom: 1
}
.clearfix:after,
.clearfix:before {
    display: table;
    line-height: 0;
    content: ""
}
.clear,
.clearfix:after {
    clear: both
}
.fulljustify {
    text-align: justify
}
.fulljustify:after {
    content: "";
    display: inline-block;
    width: 100%
}
.for_btn {
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out
}
.for_btn_hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}
.alignleft {
    float: left
}
.alignright {
    float: right
}
strong {
    font-weight: 700
}
em {
    font-style: italic
}
img {
    max-width: 100%
}
section {
    position: relative;
    box-sizing: border-box
}
.wrapper {
    width: 1000px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    z-index: 5;
    height: 100%
}
.border-box {
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.before {
    position: absolute;
    display: block;
    content: "";
    background-size: 100% 100%
}
.table {
    display: table;
    width: 100%
}
.cell {
    vertical-align: top;
    display: table-cell
}
.inline {
    display: inline-block;
    vertical-align: top
}
.img {
    display: block;
    margin: 0 auto
}
.overflow {
    overflow: hidden
}
.cond {
    font-family: 'Open Sans Condensed', sans-serif
}
.up {
    text-transform: uppercase;
    font-weight: 700
}
.center {
    text-align: center
}
.top_head {
    background: #101C23;
    padding: 10px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99
}
.top_head > div > * {
    display: inline-block;
    vertical-align: top
}
.top_head > div > h2 {
    color: #fbe0cf;
    font-size: 35px;
    margin-right: 50px;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 3px
}
.top_head > div > p {
    color: #fbe0cf;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: -10px
}
.top_head > div > aside {
    float: right;
    width: 300px;
    border: 1px solid #f4361c;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 0
}
.top_head > div > aside a {
    font-weight: 300;
    font-size: 18px;
    color: #f4361c
}
.overflow > header {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background: url(./header-aa1.arb.png) center top no-repeat;
    padding-top: 20px;
    margin-top: 65px
}
.btn {
    background: url(./btn-3be.arb.png) center top no-repeat;
    width: 434px;
    height: 115px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 50px;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    border: 0;
    cursor: pointer
}
.btn:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1)
}
.btn a {
    color: #fff;
    display: block;
    padding: 24px 0
}
.timer > div {
    display: table;
    margin: 0 auto;
    position: relative;
    left: -20px
}
.timer > div > span {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin: 0 10px;
    padding: 7px 0;
    width: 52px;
    border: 1px solid #25343c;
    font-size: 26px;
    color: #25343c;
    font-weight: 600
}
.overflow header .btn {
    position: relative;
    z-index: 9
}
.overflow header .btn:after {
    position: absolute;
    display: block;
    content: "";
    background: url(./arrow_3-929.arb.png) center top no-repeat;
    width: 193px;
    height: 91px;
    right: -237px;
    top: 34px;
}
header > div > img {
    position: absolute;
    bottom: 45px;
    right: 200px
}
header > div > h3 {
    font-size: 45px;
    text-transform: uppercase;
    color: #fbe0cf;
    font-weight: 300;
    line-height: 110%;
    margin-bottom: 25px
}
header > div > h3 span {
    color: #ffba02;
    font-weight: 700;
    font-size: 55px
}
header > div > p {
    color: #fbe0cf;
    font-size: 27px
}
header > div > p span {
    display: inline-block;
    vertical-align: top;
    background: #17232A;
    padding: 8px 20px;
    color: #ffba02;
    font-size: 37px;
    position: relative;
    top: -16px;
    left: 15px
}
header > div > ul li {
    position: relative;
    padding-left: 75px;
    font-size: 22px;
    margin-bottom: 25px;
    color: #fbe0cf
}
header > div > ul li span {
    color: #ffba02
}
header > div > ul li:before {
    position: absolute;
    display: block;
    content: "";
    width: 61px;
    height: 58px;
    background: url(./yes-bac.arb.png) center top no-repeat;
    left: 0;
    top: -15px
}
header > div > .price * {
    /*display: inline-block;*/
}
header > div > .price h4 {
    color: #f4361c;
    font-size: 22px;
    margin-right: 20px;
}
header > div > .price h4 span {
    font-weight: 700;
    line-height: 100%
}
header > div > .price p {
    color: #fbe0cf;
    font-size: 18px;
    margin-right: 20px;
    font-weight: 600
}
header > div > .price p span {
    font-size: 24px;
    line-height: 100%;
    position: relative
}
header > div > .price p span:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #fbe0cf;
    left: -4px;
    top: 48%;
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg)
}
header > div > .timer {
    margin: 3px 0 20px;
    width: 434px;
    text-align: center
}
.only_today {
    width: 434px;
    margin-top: 35px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    background-color: #f4361c;
    color: #fff;
}
.right_today {
    display: flex;
    justify-content: flex-end;
}
header > div > .timer > p {
    margin-bottom: 10px
}
header > div > .timer > p > span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 22px;
    color: #25343c;
    text-transform: uppercase;
    font-weight: 700
}
header > div > .timer > p > span:before {
    content: "";
    width: 28px;
    height: 28px;
    background: url(./clock-e89.arb.png) center top no-repeat;
    left: -35px;
    top: -2px
}
#sec_scr {
    padding: 80px 0 30px
}
#sec_scr > div > h3 {
    text-align: center;
    font-weight: 600;
    font-size: 55px
}
#sec_scr > div > h3 span {
    color: #ffba02
}
#sec_scr > div > article {
    width: 640px;
    text-indent: 35px
}
#sec_scr > div > article span:not(.or) {
    color: #688e2e;
    text-transform: uppercase;
    font-weight: 700
}
#sec_scr > div > article .or {
    color: #ffba02;
    font-weight: 700
}
#sec_scr > div > ul {
    background: url(./bg_sec-5b2.arb.jpg) center top no-repeat;
    width: 100%;
    height: 500px;
    position: relative;
    margin: 40px 0 20px
}
#sec_scr > div > ul li {
    background: #FFA104;
    width: 375px;
    position: absolute;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 20px 10px 75px
}
#sec_scr > div > ul li:before {
    position: absolute;
    display: block;
    content: "";
    width: 56px;
    height: 45px;
    background: url(./yes_2-edc.arb.png) center top no-repeat;
    left: 10px;
    bottom: 10px
}
#sec_scr > div > ul li:after {
    position: absolute;
    display: block;
    content: "";
    width: 25px;
    height: 22px;
    background: url(../images/tri.html) center top no-repeat
}
#sec_scr > div > ul li:nth-child(1):after {
    right: 0;
    bottom: -21px
}
#sec_scr > div > ul li:nth-child(2):after {
    right: 0
}
#sec_scr > div > ul li:nth-child(2):after,
#sec_scr > div > ul li:nth-child(3):after {
    top: -21px;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg)
}
#sec_scr > div > ul li:nth-child(3):after {
    left: 0
}
#sec_scr > div > ul li:nth-child(1) {
    top: 50px;
    left: -30px
}
#sec_scr > div > ul li:nth-child(2) {
    bottom: 50px;
    left: 30px
}
#sec_scr > div > ul li:nth-child(3) {
    bottom: 80px;
    right: 30px;
    padding-top: 10px
}
#sec_scr > div > ul li:nth-child(1) span,
#sec_scr > div > ul li:nth-child(2) span {
    top: -70px;
    left: -39px
}
#sec_scr > div > ul li:nth-child(3) span {
    top: -40px;
    right: -60px
}
#sec_scr > div > ul li > span {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 44px;
    color: #fff;
    padding-top: 20px;
    width: 100px;
    height: 100px;
    background: #D36106;
    position: absolute
}
#sec_scr > div > ul li p span {
    text-transform: uppercase;
    font-weight: 700
}
#sec_scr > div > p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px
}
#sec_scr > div > img {
    position: absolute;
    right: -150px;
    top: 88px;
    z-index: -1;
    max-width: 500px
}
#sec_scr > div > p span {
    color: #ffba02
}
#third_scr {
    height: 733px;
    background: url(./bg_third-82e.arb.jpg) center top no-repeat;
    padding: 60px 0 0
}
#third_scr > div > h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 120px
}
#third_scr > div > .left_ul {
    width: 400px;
    float: left
}
#third_scr > div > .right_ul {
    width: 330px;
    float: right;
    text-align: right
}
#third_scr > div > ul li {
    position: relative;
    margin-bottom: 40px;
    font-size: 22px
}
#third_scr > div > .right_ul li {
    padding-right: 35px
}
#third_scr > div > .left_ul li {
    padding-left: 35px
}
#third_scr > div > ul li span {
    color: #ffba02;
    text-transform: uppercase;
    font-weight: 700
}
#third_scr > div > .right_ul li:last-child span {
    font-size: 20px
}
#third_scr > div > .right_ul li:before {
    right: 0
}
#third_scr > div > .left_ul li:before {
    left: 0
}
#third_scr > div > ul li:before {
    position: absolute;
    display: block;
    content: "";
    width: 25px;
    height: 20px;
    background: url(./yes_again-a0b.arb.png) center top no-repeat;
    top: 7px
}
#third_scr > div > ul li:after {
    position: absolute;
    display: block;
    content: "";
    background-size: 100% 100%;
    width: 90%;
    border-bottom: 1px solid #C8CBCD;
    bottom: -15px
}
#third_scr > div > .left_ul li:nth-child(2):after {
    width: 338px
}
#third_scr > div > .left_ul li:nth-child(3):after {
    width: 320px
}
#third_scr > div > .left_ul li:nth-child(4):after {
    width: 292px
}
#third_scr > div > .right_ul li:after {
    right: 0
}
#third_scr > div > .left_ul li:after {
    left: 0
}
#third_scr > div > .right_ul li:nth-child(1):after,
#third_scr > div > .right_ul li:nth-child(2):after {
    width: 312px
}
#third_scr > div > .right_ul li:nth-child(3):after {
    width: 332px
}
#third_scr > div > .right_ul li:nth-child(4):after {
    width: 292px
}
.forth_scr {
    background: #25343C;
    padding: 30px 0;
    min-height: 310px
}
.forth_scr:after,
.forth_scr:before {
    position: absolute;
    display: block;
    content: "";
    background-size: 100% 100%;
    width: 100%;
    border-bottom: 1px solid #ffba02;
    left: 0
}
.forth_scr:before {
    top: 10px
}
.forth_scr:after {
    bottom: 10px
}
.forth_scr .timer {
    float: right;
    width: 434px;
    color: #ffba02;
    text-align: center
}
.forth_scr .timer > p > span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700
}
.forth_scr .timer > p > span:before {
    content: "";
    width: 28px;
    height: 28px;
    background: url(./clock_work_orange-779.arb.png) center top no-repeat;
    left: -35px;
    top: -2px
}
.forth_scr .timer {
    padding: 20px 0 0
}
.forth_scr .timer > div {
    margin: 20px auto
}
.forth_scr .timer > div > span {
    border: 1px solid #ffba02;
    color: #ffba02
}
.forth_scr aside img {
    position: absolute;
    top: -60px;
    left: -75px
}
.forth_scr aside {
    position: absolute;
    top: 85px;
    left: -80px;
    color: #fff;
    font-size: 22px
}
.forth_scr aside span {
    color: #ffba02;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px
}
.forth_scr aside article {
    background: #0F1B22;
    padding: 15px 25px 15px 135px
}
#fifth_scr {
    background: url(./bg_fifth-3f9.arb.jpg) center top no-repeat;
    min-height: 637px;
    padding: 50px 0 0
}
#fifth_scr h3 {
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 70px
}
#fifth_scr h3 span {
    font-size: 65px;
    color: #B52512
}
#fifth_scr ul li {
    position: relative;
    margin-bottom: 35px;
    padding-left: 116px;
    font-size: 21.5px;
    min-height: 60px
}
#fifth_scr ul li span {
    color: #B52512
}
#fifth_scr ul li:before {
    position: absolute;
    display: block;
    content: "";
    width: 90px;
    height: 70px;
    background: url(./sign-d16.arb.png) center top no-repeat;
    left: 0;
    top: -10px
}
#fifth_scr > article {
    background: #B52512;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 44px;
    color: #fff
}
#fifth_scr > article span {
    color: #ffba02
}
#sixth_scr {
    background: url(./bg_six-ed4.arb.png) center top no-repeat;
    min-height: 643px;
    padding: 105px 0 155px
}
#sixth_scr > div > ul {
    width: 450px;
    margin: 0 20px 0 90px;
    display: inline-block;
    vertical-align: top
}
#sixth_scr > div > ul li {
    font-size: 21px;
    font-weight: 600;
    padding: 30px 0 12px 90px;
    border-bottom: 1px solid #000
}
#sixth_scr > div > ul li span {
    color: #B52512
}
#sixth_scr > div > article {
    width: 395px;
    background: #B52512;
    padding: 25px 18px;
    display: inline-block;
    vertical-align: top
}
#sixth_scr > div > article > h4 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px
}
#sixth_scr > div > article ul {
    background: #fff;
    padding: 30px 20px 50px;
    position: relative
}
#sixth_scr > div > article ul li {
    position: relative;
    text-indent: 37px;
    margin-bottom: 20px;
    font-weight: 600
}
#sixth_scr > div > article ul li:before {
    position: absolute;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #000;
    left: 5px;
    top: 6px
}
#sixth_scr > div > article ul:after {
    position: absolute;
    display: block;
    content: "";
    background: url(./warn_big-885.arb.png) center top no-repeat;
    width: 161px;
    height: 136px;
    right: -20px;
    bottom: -59px
}
#sixth_scr > div > img {
    position: absolute;
    left: -118px;
    top: 0
}
#seventh_scr {
    background: #FFBA02;
    padding: 30px 0;
    z-index: 9
}
#seventh_scr > div > header {
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: #25343C;
    color: #fff;
    padding: 7px 50px 6px 0;
    height: 104px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 40px
}
#seventh_scr > div > header h3 {
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 600;
    line-height: 100%
}
#seventh_scr > div > header:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: -1000px;
    background: #25343C;
    width: 1000px;
    height: 100%
}
#seventh_scr > div > header:after {
    position: absolute;
    display: block;
    content: "";
    width: 42px;
    height: 104px;
    background: url(./thi_2-b26.arb.png) center top no-repeat;
    right: -42px;
    top: 0
}
#seventh_scr > div > header p {
    font-size: 20px
}
#seventh_scr > div > ul li {
    position: relative;
    padding-left: 65px;
    color: #25343c;
    font-size: 20px;
    margin-bottom: 20px
}
#seventh_scr > div > ul li span {
    font-weight: 700
}
#seventh_scr > div > ul li:before {
    position: absolute;
    display: block;
    content: "";
    width: 52px;
    height: 43px;
    background: url(./yes_2-edc.arb.png) center top no-repeat;
    background-size: 100% 100%;
    left: 0;
    top: -5px
}
#seventh_scr > div > img {
    position: absolute;
    right: -0px;
    top: -60px
}
#seventh_scr .btn {
    position: absolute;
    right: 30px;
    bottom: -90px
}
#seventh_scr .btn:before {
    position: absolute;
    display: block;
    content: "";
    width: 114px;
    height: 141px;
    background: url(./arrow-702.arb.png) center top no-repeat;
    top: -182px;
    left: 40px
}
#eight_scr {
    padding: 110px 0 50px
}
#eight_scr > div > h3 {
    text-align: center;
    text-transform: uppercase;
    color: #ffba02;
    font-weight: 400;
    font-size: 48px;
    line-height: 90%
}
#eight_scr > div > h3 span {
    color: #25343c;
    line-height: 100%;
    font-size: 27px
}
#eight_scr > div > article {
    text-align: center;
    color: #25343c;
    font-size: 22px;
    margin: 50px 0 70px
}
#eight_scr > div > article p span {
    text-transform: uppercase;
    font-weight: 700
}
#eight_scr > div > article aside {
    background: #25343c;
    color: #ffba02;
    padding: 3px 10px;
    display: inline-block;
    vertical-align: top
}
#eight_scr > div > ul {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
#eight_scr > div > ul li {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0
}
#eight_scr > div > ul li header {
    text-align: center;
    position: relative;
    margin: 30px 0;
}
#eight_scr > div > ul li header span {
    font-weight: 700;
    font-size: 17px;
    position: absolute
}
#eight_scr > div > ul li > div {
    border: 1px solid #25343c;
    padding: 25px 20px 0;
    height: 250px;
    width: 90%;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
#eight_scr > div > ul li > div > h4 {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    color: #ffba02;
    font-size: 25px;
    background: #fff;
    position: relative;
    margin: -40px 0 20px
}
#eight_scr > div > ul li > div > p {
    font-size: 18px;
    text-align: center
}
#eight_scr > div > ul li > div > p span {
    font-weight: 700
}
#eight_scr > div > ul li:nth-child(1) header span:nth-child(1) {
    top: -10px;
    left: -10px
}
#eight_scr > div > ul li:nth-child(1) header span:nth-child(2) {
    top: -40px;
    right: 10px
}
#eight_scr > div > ul li:nth-child(1) header span:nth-child(3) {
    bottom: 10px;
    left: 10px
}
#eight_scr > div > ul li:nth-child(2) header span:nth-child(1) {
    top: 10px;
    left: 10px
}
#eight_scr > div > ul li:nth-child(2) header span:nth-child(2) {
    top: -30px;
    right: 10px
}
#eight_scr > div > ul li:nth-child(2) header span:nth-child(3) {
    bottom: 10px;
    left: 10px
}
#eight_scr > div > ul li:nth-child(3) header span:nth-child(1) {
    top: -10px;
    left: 10px
}
#eight_scr > div > ul li:nth-child(3) header span:nth-child(2) {
    top: -40px;
    right: 0
}
#eight_scr > div > ul li:nth-child(3) header span:nth-child(3) {
    bottom: 55px;
    left: 25px
}
#ten_scr {
    padding: 50px 0;
    background: #FAF6F4
}
#ten_scr ul li {
    width: 33%;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    text-align: center
}
#ten_scr h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 44px;
    color: #B52512;
    font-weight: 600
}
#ten_scr > div > p {
    text-align: center;
    font-size: 27px;
    margin-bottom: 50px
}
#ten_scr ul li p {
    font-size: 22px;
    width: 90%;
    margin: 20px auto 0
}
#ten_scr ul li p span {
    font-weight: 600;
    color: #B52512
}
#eleven_scr {
    padding: 30px 0
}
#eleven_scr > div > h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 45px;
    font-weight: 600
}
#eleven_scr > div > ul li {
    margin-bottom: 50px;
    position: relative
}
#eleven_scr > div > ul li p {
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px
}
#eleven_scr > div > ul li article {
    background: #FCF0E8;
    position: relative;
    padding: 20px 30px 30px;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
#eleven_scr > div > ul li article:after {
    position: absolute;
    display: block;
    content: "";
    width: 59px;
    height: 47px;
    background: url(../images/quote.html) center top no-repeat;
    right: 20px;
    bottom: -20px
}
#eleven_scr > div > ul li img {
    position: absolute;
    top: -25px
}
#eleven_scr > div > ul li:nth-child(2n+1) {
    padding-left: 240px
}
#eleven_scr > div > ul li:nth-child(2n+2) {
    padding-right: 240px
}
#eleven_scr > div > ul li:nth-child(2n+1) img {
    left: 0
}
#eleven_scr > div > ul li:nth-child(2n+2) img {
    right: 0
}
#footer {
    background: url(./footer-074.arb.jpg) center top no-repeat;
    min-height: 649px;
    padding: 40px 0 30px
}
#footer h3 {
    color: #fbe0cf;
    font-weight: 300;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 30px
}
#footer h3 span {
    color: #ffba02;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 700
}
#footer > div > p {
    color: #fbe0cf;
    margin-bottom: 35px
}
#footer > div > p span {
    background: #17232A;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffba02;
    font-size: 24px;
    padding: 3px 8px;
    margin-left: 8px;
    position: relative;
    top: 3px;
    margin-bottom: 20px
}
#footer > div > form {
    width: 380px;
    background: rgba(13, 24, 30, .78);
    padding: 30px 20px 0;
    margin-bottom: 60px;
    position: relative;
    z-index: 9
}
#footer > div > form:after {
    position: absolute;
    display: block;
    content: "";
    width: 234px;
    height: 113px;
    background: url(./arrow_2-82a.arb.png) center top no-repeat;
    bottom: 21px;
    right: -300px
}
#footer form > .price > * {
    display: inline-block;
    vertical-align: top;
    vertical-align: bottom
}
#footer form > .price h4 {
    color: #F4361C;
    font-size: 22px;
    margin-right: 20px
}
#footer form > .price h4 span {
    font-weight: 700;
    font-size: 54px;
    line-height: 100%
}
#footer form > .price p {
    color: #FBE0CF;
    font-size: 18px;
    margin-right: 20px;
    font-weight: 600
}
#footer form > .price p span {
    font-size: 24px;
    line-height: 100%;
    position: relative
}
#footer form > .price p span:before {
    content: "";
    width: 100%;
    height: 2px;
    background: #FBE0CF;
    left: -4px;
    top: 48%;
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg)
}
#footer form > .inp,
#footer form > select {
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 0;
    margin-bottom: 15px;
    padding-left: 15px
}
#footer form .btn {
    position: relative;
    margin-bottom: -50px;
    left: -25px;
    margin-top: 20px
}
::-webkit-input-placeholder {
    color: #000
}
::-moz-placeholder {
    color: #000
}
:-moz-placeholder {
    color: #000
}
:-ms-input-placeholder {
    color: #000
}
#footer aside {
    text-align: center
}
#footer img {
    position: absolute
}
#footer img#prod {
    top: 208px;
    right: 241px
}
#footer img#eagle {
    top: 400px;
    right: -75px
}
.price_main_value {
    font-size: 38px;
}
.price_main_currency {
    font-size: 25px;
}
.only_today_form {
    box-sizing: border-box;
    width: 420px;
}
.gray_color {
    color: #ccc;
}