@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{

}

/* Icons */

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 40%;
    display: block;
    width: 28px;
    height: 48px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.feed__slider .slick-prev,
.feed__slider .slick-next{
    top: 457px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{

    outline: none;

}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -70px;
    background: url("../img/prev.png") no-repeat center;
}




.slick-next
{
    right: -70px;
    background: url("../img/next.png") no-repeat center;
}


.feed__slider .slick-prev
{
    left: -47px;
    background: url("../img/prev.png") no-repeat center;
}



.feed__slider .slick-next
{
    right: -47px;
    background: url("../img/next.png") no-repeat center;
}



/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -78px;
    left: 0;
    right: 0;
    display: block;

    width: 80%;
    padding: 0;
    margin: 0 auto;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 11.5px;
    padding: 0;
    background: #cdd6dd;
    border-radius: 20px;
    cursor: pointer;
}


.slick-dots li:hover,
.slick-dots li:focus{
    background: #fa917a;
}

.slick-dots li.slick-active{
    background: #fa917a;
}






.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


@media (max-width: 801px){
    .slick-dots
    {
        position: absolute;
        bottom: -59px;
    }

    .slick-prev,
    .slick-next
    {
        font-size: 0;
        line-height: 0;

        position: absolute;
        top: 100%;
        margin-top: 49px;
        display: block;
        width: 26px;
        height: 42px;
        padding: 0;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);

        cursor: pointer;

        color: transparent;
        border: none;
        outline: none;
        background: transparent;
    }
    .slick-prev
    {
        left: 18px;
        background: url("../img/mobile/prev.png") no-repeat center;
    }



    .slick-next
    {
        right: 18px;
        background: url("../img/mobile/next.png") no-repeat center;
    }


    .slick-dots li
    {
        position: relative;
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 5px;
        padding: 0;
        border: 3px solid #41625c;
        background: #fff;
        border-radius: 20px;
        cursor: pointer;
    }


    .slick-dots li:hover,
    .slick-dots li:focus{
        background: #41625c;
    }

    .slick-dots li.slick-active{
        background: #41625c;
    }

}