@font-face {
    font-family: opensans;
    src: url("urn:scrapbook:download:error:http://novosty-blog.ru/m.instaflex.ru/your-doctor-instaflex3-m/fonts/OpenSans.eot");
    src: url("urn:scrapbook:download:error:http://novosty-blog.ru/m.instaflex.ru/your-doctor-instaflex3-m/fonts/OpenSans.svg#OpenSans") format('svg'),url("urn:scrapbook:download:error:http://novosty-blog.ru/m.instaflex.ru/your-doctor-instaflex3-m/fonts/OpenSans.eot?#iefix") format('embedded-opentype');
    font-weight: 400;
    font-style: normal
}

h1 {
    display: block;
    width: auto;
    line-height: 1.2;
    color: #0a0a0a;
    font-size: 26px
}

h2 {
    display: block;
    line-height: 1.2;
    color: #0a0a0a;
    font-size: 19px;
    margin-top: 25px
}
a {
    cursor: pointer;
}
img {
    max-width: 100%;
}
.timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -13px
}

.timer-hrs,.timer-min,.timer-sec {
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px;
    font-family: fira sans;
    font-size: 5rem;
    position: relative;
    padding: 0 16px
}

.timer-hrs:after,.timer-min:after,.timer-sec:after {
    content: ':';
    position: absolute;
    top: -4px;
    right: -5px;
    font-size: 5rem;
    font-family: fira sans;
    color: #000
}

/*.timer-hrs:before,.timer-min:before,.timer-sec:before {*/
/*    content: 'Ñ‡Ð°ÑÐ¾Ð²';*/
/*    font-family: open sans,sans-serif;*/
/*    font-size: 1.3rem;*/
/*    color: #000;*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    text-align: center;*/
/*    left: 0;*/
/*    bottom: 0*/
/*}*/

.timer-sec:after {
    content: none
}

/*.timer-sec:before {*/
/*    content: 'ÑÐµÐºÑƒÐ½Ð´'*/
/*}*/

/*.timer-min:before {*/
/*    content: 'Ð¼Ð¸Ð½ÑƒÑ‚'*/
/*}*/

h2:after {
    content: '';
    margin-top: 12px;
    border-bottom: 4px solid #168de2;
    display: block
}

a {
    color: #23527c;
    text-decoration: underline
}

a:hover {
    color: #b0493b
}

.botBut:hover {
    background-color: #e60628!important;
    transition: all .2s
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee
}

.content-img {
    display: block;
    width: 100%
}

body {
    display: block;
    width: 100%;
    font-family: opensans,sans-serif;
    background: #fafafa;
    height: auto;
    color: #444;
    line-height: 1.5625
}

.youtube {
    width: 645px;
    height: 362px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
}

.header {
    display: block;
    width: 100%;
    background: 0 0;
    margin: 0 auto
}

.header-top {
    display: block;
    width: 100%;
    background: 0 0
}

.header-top-container {
    width: 96%;
    max-width: 960px;
    display: block;
    margin: 0 auto;
    padding: 20px 2% 15px
}

.header-top-left {
    display: block;
    float: left;
    width: 30%
}

.header-top-left-logo {
    display: block;
    width: 30%;
    float: left;
    min-width: 30%
}

.header-top-left-logo img {
    display: block;
    width: 100%
}

.header-top-left-text {
    display: block;
    width: 65%;
    float: right;
    margin: 6% 0 0 5%
}

.header-top-left-text h1 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1;
    color: #0a0a0a
}

.header-top-left:after {
    content: '';
    display: block;
    clear: both
}

.header-top-right {
    display: block;
    float: right;
    width: auto;
    margin-top: 2%
}

.header-top-right-text {
    display: block;
    width: auto;
    margin-bottom: 3%
}

.header-top-right-text ul {
    display: block;
    font-size: 0;
    float: right
}

.header-top-right-text ul li {
    display: inline-block;
    width: auto;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #0a0a0a
}

.header-top-right-text ul li.separate {
    margin: 0 5px;
    font-weight: 400;
    color: #0a0a0a
}

.header-top-right-text ul li a {
    text-decoration: underline;
    font-weight: 400;
    color: #0a0a0a;
    opacity: 1
}

.header-top-right-text ul li a:hover {
    opacity: .8
}

.header-top-right-text:after {
    content: '';
    display: block;
    clear: both
}

.header-top-right-search {
    display: block;
    width: auto
}

.input-search {
    display: block;
    border: 1px solid #a9a9a9;
    padding: 5px;
    width: 170px
}

.header-top-container:after {
    content: '';
    display: block;
    clear: both
}

.header-bottom {
    display: block;
    width: 100%;
    background: #333541 none repeat scroll 0% 0%
}

.header-bottom-container {
    max-width: 960px;
    margin: 0 auto;
    width: 96%;
    display: block;
    padding: 13px 2%
}

.header-bottom ul {
    display: block;
    font-size: 0
}

.header-bottom ul li {
    display: inline-block;
    width: auto;
    padding: 0 3%
}

.header-bottom ul li a {
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    opacity: 1
}

.header-bottom ul li a:hover {
    opacity: .8
}

.content {
    display: block;
    /* width: 97%; */
    max-width: 700px;
    margin: 0 auto;
    background: #fff;
    padding: 25px 1.5%;
    position: relative;
}

.content-left {
    display: block;
    /* float: left; */
    /* width: 71%; */
    /* padding-right: 2%; */
}

.content-left-head {
    display: block;
    width: auto
}

.content-left-social {
    display: block;
    width: 96%;
    background: #eee;
    padding: 1% 2%;
    margin: 15px 0
}

.content-left-social-pictures {
    display: block;
    width: 50%;
    float: left
}

.content-left-social-pictures img {
    display: block;
    width: auto
}

.content-left-social-comments {
    display: block;
    float: right;
    width: 50%;
    text-align: right;
    font-size: 13px
}

.content-left-social-comments a {
    margin-left: 1%
}

.content-left-social:after {
    content: '';
    display: block;
    clear: both
}

.content-left-doctor {
    display: block;
    width: 96%;
    background-color: #e2e2e2;
    padding: 2%;
    margin-top: 25px
}

.content-left-doctor-foto {
    display: block;
    width: 48%;
    float: left;
    margin-right: 2%
}

.content-left-doctor-foto img {
    width: 100%;
    display: block
}

.content-left-doctor-text {
    display: block;
    width: 50%;
    float: right;
    font-size: 15px;
    line-height: 1.4
}

.content-left-doctor:after {
    content: '';
    display: block;
    clear: both
}

.simpotms {
    display: block;
    width: 96%;
    padding: 2%;
    font-size: 19px;
    color: #000;
    background: #eee;
    margin: 0 auto
}

.simpotms ul {
    display: block;
    width: auto;
    font-size: 0;
    padding-left: 30px;
    list-style: disc outside
}

.simpotms ul li {
    font-size: 17px;
    list-style: disc outside
}

.content-important {
    display: block;
    width: auto;
    text-align: left;
    font-weight: 700;
    font-style: italic
}

.buy-button-block {
    display: block;
    width: 100%
}

.buy-button-block-left {
    float: left;
    display: block;
    width: 60%
}

.buy-button-block-left a {
    font-weight: 700;
    display: block;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 84%;
    background: #db2020;
    padding: 6% 8%;
    border: none;
    border-radius: 6px;
    border-bottom: 6px solid #b80404;
    text-decoration: none
}

.buy-button-block-left a:hover {
    background: #e82c2c;
    border-bottom: 6px solid #b80404
}

.buy-button-block-right {
    display: block;
    float: right;
    width: 35%;
    margin-top: 2.5%;
    margin-left: 5%
}

.buy-button-block-right p {
    font-size: 14px
}

.buy-button-block:after {
    content: '';
    display: block;
    clear: both
}

.opros-product-block {
    display: block;
    width: auto;
    margin-top: 2%
}

.opros-product {
    display: block;
    width: 96%;
    padding: 0 2% 2%;
    border: 1px solid #cae1e8;
    margin-top: 2%
}

.opros-product .opros-product-text {
    color: #2c95b7;
    font-weight: 700;
    border-bottom: 1px solid;
    margin-bottom: 3%
}

.opros-product-line {
    display: block;
    width: 100%;
    margin-bottom: 3%
}

.opros-product-line-left {
    display: block;
    float: left;
    width: 35%;
    font-size: 16px;
    line-height: 22px
}

.opros-product-line-right {
    display: block;
    float: right;
    width: 65%;
    height: 22px
}

.opros-product-line-right-procent {
    width: 80%;
    height: 22px;
    display: block;
    position: relative;
    background: #f1f1f1;
    float: left
}

.procent-count {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    background: #2c95b7;
    width: 30%
}

.opros-product-line-right-procent-text {
    display: block;
    width: 18%;
    font-weight: 700;
    color: #555;
    font-size: 16px;
    float: right;
    margin-left: 1%
}

.opros-product-line-right:after {
    content: '';
    display: block;
    clear: both
}

.opros-product-line:after {
    content: '';
    display: block;
    clear: both
}

.anonim-voute-text {
    display: block;
    width: auto;
    margin-top: 1%
}

.anonim-voute-text p {
    font-size: 12px;
    display: block
}

.anonim-voute-text a {
    margin-top: 1%;
    font-size: 14px;
    color: #2c95b7
}

.like-block {
    display: block;
    width: 95.7%;
    border: 2px solid #e6e6e6;
    padding: 0 2% 2%;
    margin: 3% 0;
    border-radius: 3px
}

.like-block img {
    display: block;
    width: auto
}

.vk-container {
    font-family: tahoma,arial,verdana,sans-serif;
    font-size: 15px;
    color: #000;
    text-decoration: none
}

.vk-header {
    background: #dae2e8 none repeat scroll 0% 0%;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px
}

.vk-logo {
    background: transparent none no-repeat scroll 0% 0%;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: #45688e;
    font-weight: 700
}

.vk-comment,.vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    border-bottom: 1px solid #dae1e8;
    padding-bottom: 15px
}

.vk-avatar img {
    float: left;
    margin-right: 10px
}

.vk-comment-name {
    color: #2b587a;
    font-weight: 700;
    font-size: 12px
}

.vk-comment-text {
    margin-left: 60px
}

.vk-comment-foto {
    display: block;
    width: auto
}

.vk-comment-date {
    margin-left: 60px;
    color: #999
}

.content-right {
    display: block;
    width: 27%;
    float: right;
    position: relative
}

.content-right-recommend-container {
    display: block;
    max-width: 270px;
    width: 100%
}

.content-right-recommend {
    display: block;
    width: auto
}

.content-right-recommend a {
    text-decoration: none;
    color: #444
}

.content-right-recommend a:hover {
    text-decoration: none;
    color: #444
}

.content-right-recommend a:hover .content-right-recommend-middle-button {
    opacity: .8
}

.content-right-recommend-top {
    height: 48px;
    background: #4aa224;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 48px;
    position: relative;
    text-align: center
}

.content-right-recommend-top:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 13px 0;
    border-color: transparent #4aa224 transparent transparent;
    left: 0;
    bottom: -13px
}

.content-right-recommend-top:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 17px 0 0;
    border-color: #4aa224 transparent transparent transparent;
    right: 0;
    bottom: -13px
}

.content-right-recommend-middle {
    width: 86%;
    display: block;
    margin: auto;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 1% 1% 7%;
    text-align: center;
    background: #fff;
    text-decoration: none
}

.content-right-recommend-middle img {
    display: block;
    width: 75%;
    margin: 7% auto
}

.content-right-recommend-middle p {
    font-size: 14px
}

.content-right-recommend-middle .up {
    text-transform: uppercase
}

.content-right-recommend-middle-button {
    height: 36px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background: #c01f37;
    border: none;
    border-radius: 8px;
    width: 76%;
    padding: 1% 2%;
    font-size: 13px;
    margin: 3% 0;
    opacity: 1
}

.content-right-statistic {
    display: block;
    width: 96%;
    padding: 0 2% 2%;
    background: #f3f3f3;
    color: #515151;
    margin-top: 5%
}

.content-right-statistic-head {
    display: block;
    width: auto;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 1%
}

.content-right-statistic-info {
    display: block;
    width: 100%;
    margin-bottom: 1%
}

.content-right-statistic-info-left {
    display: block;
    float: left;
    width: 60%;
    text-align: right;
    font-size: 14px
}

.content-right-statistic-info-right {
    display: block;
    float: left;
    width: 37%;
    text-align: right;
    font-size: 14px;
    margin-left: 3%;
    font-weight: 700;
    text-align: left
}

.content-right-statistic-info:after {
    content: '';
    display: block;
    clear: both
}

.content-product-img {
    display: block;
    max-width: 300px;
    margin-bottom: 25px;
    margin-top: 25px
}

.content:after {
    content: '';
    display: block;
    clear: both
}

.bottom-menu {
    display: none;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    background-color: #4aa224;
    padding: 2.5% 0
}

.bottom-menu-left {
    display: block;
    float: left;
    width: 54%;
    margin-left: 5%
}

.bottom-menu-left-foto {
    display: block;
    width: 12%;
    float: left
}

.bottom-menu-left-foto img {
    display: block;
    width: 100%
}

.bottom-menu-left-text {
    color: #fff;
    font-size: 14px;
    width: 85%;
    float: right;
    margin-left: 3%;
    margin-top: 3%;
    line-height: 1.4
}

.bottom-menu-left:after {
    content: '';
    display: block;
    clear: both
}

.bottom-menu-right {
    display: block;
    width: 30%;
    float: right;
    margin-right: 5%;
    margin-top: 1%
}

.bottom-menu-right a {
    display: inline-block;
    float: right;
    font-size: 11px;
    color: #000;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    background: linear-gradient(to bottom,rgba(255,213,0,1) 0%,rgba(255,183,0,1) 49%,rgba(255,161,0,1) 100%)
}

.bottom-menu:after {
    content: '';
    display: block;
    clear: both
}

.footer {
    display: block;
    width: 97%;
    max-width: 1000px;
    padding: 4% 1.5%;
    margin: 0 auto;
    background: #ebebeb
}

.footer-text {
    color: #383838
}

@media screen and (max-width: 1199px) {
    .content-right {
        display:none
    }

    .content-left {
        width: 100%;
        padding-right: 0
    }

    .buy-button-block-left {
        width: 45%
    }

    .buy-button-block-right {
        width: 45%
    }
}

@media screen and (max-width: 989px) {
    .content {
        max-width:750px;
        padding: 3% 6%;
        width: 88%
    }

    .header-bottom ul li a {
        font-size: 1.46vw
    }

    .buy-button-block-left {
        float: none;
        width: 100%
    }

    .buy-button-block-right {
        float: none;
        width: 100%;
        margin-left: 0
    }

    .buy-button-block {
        margin-bottom: 80px
    }

    .opros-product {
        margin-top: 4%
    }

    .like-block {
        margin: 5% 0
    }

    .footer {
        position: relative;
        z-index: 1;
        max-width: 750px;
        padding: 5% 6% 8%;
        width: 88%
    }
}

@media screen and (max-width: 720px) {
    .header-top-right {
        display:none
    }

    .content-product-img {
        display: block;
        width: 100%
    }

    .content-left-social-comments {
        font-size: 2.8vw
    }

    .content-left-social-pictures img {
        width: 100%
    }

    .content-left-social-pictures {
        margin-top: 1%
    }

    .header-bottom ul li {
        display: inline-block;
        width: 27%;
        padding: 2% 3%;
        text-align: center
    }

    .header-bottom ul li a {
        font-size: 14px
    }

    .vk-comment-foto {
        width: 100%
    }
}

@media screen and (max-width: 599px) {
    .opros-product-line-left {
        float:none;
        width: 100%;
        margin-bottom: 1%
    }

    .opros-product-line-right {
        float: none;
        width: 100%
    }

    .bottom-menu {
        display: block
    }

    .header-top-left-logo {
        width: 60%
    }

    .header-top-left-text {
        width: 20%;
        margin: 13% 0 0 4%
    }

    .content-left-doctor-foto {
        float: none;
        width: 100%
    }

    .content-left-doctor-text {
        float: none;
        width: 100%;
        margin-top: 3%
    }
}

@media screen and (max-width: 429px) {
    .like-block img {
        width:100%
    }

    .header-top-container {
        padding: 3% 2%
    }
}

@media screen and (max-width: 408px) {
    .bottom-menu-left-foto {
        margin-top:5%
    }
}

@media screen and (max-width: 385px) {
    .bottom-menu-right {
        width:36%;
        margin-top: 2%
    }

    .header-bottom ul li {
        width: 44%;
        padding: 3%
    }
}

.foto-sert {
    max-width: 30%
}

img[tabindex="0"] {
    cursor: zoom-in
}

img[tabindex="0"]:focus {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: auto;
    max-width: 90%!important;
    max-height: 99%;
    margin: auto;
    box-shadow: 0 0 20px #000,0 0 0 1000px rgba(210,210,210,.4)
}

img[tabindex="0"]:focus,img[tabindex="0"]:focus~* {
    pointer-events: none;
    cursor: zoom-out
}

.content-foto {
    display: none;
    text-align: left
}

.spoil {
    background: #eee;
    width: 97%;
    font-size: 16px;
    color: #000;
    padding: 1.5%;
    font-weight: 600;
    cursor: pointer
}

.content-foto img {
    width: 100%
}

#popup-coment {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: auto;
    background: #fff;
    border: 1px solid #dae2e8;
    padding: 10px;
    z-index: 100;
    max-width: 375px
}

#popup-coment .vk-comment-load {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
    position: relative
}

#popup-coment .vk-comment-text {
    margin-bottom: 20px;
    margin-top: 5px
}

#popup-coment .vk-comment-date {
    padding-bottom: 5px
}

.vk-comment-read {
    display: block;
    width: auto;
    background: #45688e;
    color: #fff;
    font-size: 15px;
    right: 0;
    bottom: 0;
    position: absolute;
    text-align: center;
    padding: 5px 15px;
    cursor: pointer;
    opacity: 1;
    transition: .6s ease;
    text-decoration: none;
    font-style: normal
}

.vk-comment-read:hover {
    opacity: .7;
    color: #fff;
    background: #45688e
}

.vk-comment-close {
    display: block;
    position: absolute;
    top: -8px;
    right: -8px;
    width: 7%;
    cursor: pointer
}

.vk-comment-close img {
    display: block;
    width: 100%
}

@media screen and (min-width: 320px) and (max-width:768px) {
    #popup-coment {
        bottom:10px;
        left: 10px;
        width: auto;
        background: #fff;
        border: 1px solid #dae2e8;
        padding: 10px;
        z-index: 100;
        max-width: 315px;
        width: 86%
    }

    #popup-coment .vk-comment-text {
        position: relative;
        margin-bottom: 5px
    }

    #popup-coment .vk-comment-date {
        padding-bottom: 40px
    }

    .vk-comment-read {
        right: 20px
    }
}

@media screen and (min-width: 320px) and (max-width:468px) {
    #popup-coment .vk-comment-text {
        position:relative;
        overflow: hidden;
        height: 95px;
        margin-bottom: 5px
    }

    #popup-coment .vk-comment-text:after {
        content: '...';
        display: block;
        position: absolute;
        right: 5px;
        bottom: 6px;
        font-size: 15px
    }

    #popup-coment .vk-comment-date {
        padding-bottom: 40px
    }

    .vk-comment-read {
        right: 20px
    }
}

.oui {
    width: 781px;
    height: 460px;
    background: #3c72b5;
    background: -moz-linear-gradient(-45deg,rgba(60,114,181,1) 0%,rgba(123,159,204,1) 100%);
    background: -webkit-gradient(left top,right bottom,color-stop(0%,rgba(60,114,181,1)),color-stop(100%,rgba(123,159,204,1)));
    background: -webkit-linear-gradient(-45deg,rgba(60,114,181,1) 0%,rgba(123,159,204,1) 100%);
    background: -o-linear-gradient(-45deg,rgba(60,114,181,1) 0%,rgba(123,159,204,1) 100%);
    background: -ms-linear-gradient(-45deg,rgba(60,114,181,1) 0%,rgba(123,159,204,1) 100%);
    background: linear-gradient(135deg,rgba(60,114,181,1) 0%,rgba(123,159,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c72b5',endColorstr='#7b9fcc',GradientType=1);
    font-family: Roboto!important;
    position: relative;
    border: 5px solid #ddd
}

.actsss {
    display: none!important
}

.eeee {
    background-color: rgba(0,0,0,.7);
    display: none;
    width: 100%;
    height: 100%;
    z-index: 333;
    position: fixed;
    cursor: pointer
}

.kmacb-form2 .modal-block {
    left: 50%;
    margin-left: -396px;
    position: fixed;
    top: 6%;
    z-index: 8105;
    width: 792px;
    height: 470px;
    border-radius: 5px;
    border: 0;
    box-shadow: none;
    font-family: Arial,sans-serif;
    overflow: hidden;
    color: #222
}

p.ouimainp {
    font-size: 30px;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 700;
    padding-top: 23px;
    display: block;
    color: #fff;
    text-align: center
}

.ouimain-text-img {
    display: block;
    width: 90%;
    padding: 0 5%;
    margin-top: 27px
}

.ouimain-img {
    float: left;
    display: block;
    width: 30%;
    margin: 0 auto
}

.ouimain-img img {
    display: block;
    width: 100%;
    margin: 0 auto
}

.ouimain-text {
    display: block;
    width: 65%;
    float: right;
    margin-left: 5%;
    margin-top: 15px
}

.ouimain-text p {
    font-family: Arial,Helvetica,sans-serif;
    line-height: 1.5;
    text-align: left;
    color: #fff;
    font-size: 22px;
    padding-bottom: 5px
}

.ouimain-text-img:after {
    content: '';
    display: block;
    clear: both
}

.kmacb-form .form {
    text-align: center;
    width: 100%;
    height: auto;
    background: 0;
    position: static;
    padding: 0;
    border: 0
}

.kmacb-form2 .form * {
    box-sizing: border-box
}

.kmacb-form .form input {
    float: none
}

input,select {
    height: 27px;
    width: 90%;
    padding: 0 14px
}

.kmacb-form form input[type=text] {
    height: 56px;
    line-height: 56px;
    color: #222;
    border: 2px solid #bdbdbd;
    padding: 0 15px;
    width: 100%;
    display: inline-block;
    text-indent: 0;
    border-radius: 3px;
    background: #fff;
    font-size: 20px;
    font-style: normal;
    box-shadow: none;
    position: static;
    margin: 0 0 10px
}

.kmacb-form .form .sub {
    text-decoration: none;
    position: absolute;
    cursor: pointer;
    border: 1px solid #499bea;
    background: #de455c;
    background: -moz-linear-gradient(-45deg,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: -webkit-gradient(left top,right bottom,color-stop(0%,rgba(222,69,92,1)),color-stop(13%,rgba(222,69,92,1)),color-stop(76%,rgba(192,31,55,1)),color-stop(100%,rgba(192,31,55,1)));
    background: -webkit-linear-gradient(-45deg,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: -o-linear-gradient(-45deg,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: -ms-linear-gradient(-45deg,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: linear-gradient(135deg,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de455c',endColorstr='#c01f37',GradientType=1);
    color: #fff;
    padding: 0 10px;
    text-transform: uppercase;
    line-height: 60px;
    vertical-align: top;
    display: block;
    text-indent: 0;
    font-style: normal;
    font-family: Arial,Helvetica,sans-serif;
    width: 402px;
    height: 64px;
    opacity: 1;
    bottom: 29px;
    margin-left: 195px;
    text-align: center;
    font-size: 26px;
    font-weight: 900;
    border-radius: 10px;
    transition: .6s ease
}

.kmacb-form .form .sub:hover {
    background: #de455c;
    background: -moz-linear-gradient(top,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(222,69,92,1)),color-stop(13%,rgba(222,69,92,1)),color-stop(76%,rgba(192,31,55,1)),color-stop(100%,rgba(192,31,55,1)));
    background: -webkit-linear-gradient(top,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: -o-linear-gradient(top,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: -ms-linear-gradient(top,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    background: linear-gradient(to bottom,rgba(222,69,92,1) 0%,rgba(222,69,92,1) 13%,rgba(192,31,55,1) 76%,rgba(192,31,55,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de455c',endColorstr='#c01f37',GradientType=0)
}

@media screen and (min-width: 481px) {
    .mobi {
        display:none
    }
}

@media screen and (max-width: 480px) {
    .desc {
        display:none
    }
}
.botBut {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    background: #c01f37;
    border: none;
    border-radius: 8px;
    max-width: 350px;
    width: 80%;
    padding: 1% 2%;
    font-size: 18px;
    text-align:center;
    padding: 20px 20px;
    display:block;
    margin:auto;
    text-decoration:none;
    opacity: 1;
}
summary {
   cursor: pointer;
   background: #dedddd;
   padding: 10px;
   color: red;
   outline: none;
 }
 
details img {
   width: 100%;
}
.visible-box .content {
    background-color: #000000;
}

@media screen and (max-width: 369px) {
    .timer-hrs, 
    .timer-min, 
    .timer-sec, 
    .timer-hrs:after, 
    .timer-min:after, 
    .timer-sec:after {
        font-size: 4.5rem;
    }
}