       
/*========================== POPUPS ==============================*/
.conf-button{
	cursor:pointer;
	text-align:center;
	padding: 5px 0;
    text-transform: uppercase;
}
.conf-popup {
	position: fixed;
	min-height: 0px!important;
	overflow-y:auto;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: 10000000;
	display:none;
	}
	
.popup-close-area, .video-close-area{
	width: 100%;
	height: 100%;
	position: fixed;
	top:0;
	left:0;}
	
.popup-box{
	width: 80%;
	background-color:#fff;
	padding: 40px 2%;
	position:relative;
	margin: 5% auto 2% auto;
	text-align:center;
	font-family: 'ek',arial,sans-serif;}
	
.popup-header h5{
	padding: 10px 20px;}
	
.popup-header p {
	font-size:16px;}
.popup-box .min{
	font-size: 0.8em;}
.popup-fon{
	-webkit-transition: all 0.5s ease-in-out 0.0s;
	-moz-transition: all 0.5s ease-in-out 0.0s;
	-o-transition: all  0.5s ease-in-out 0.0s;
	transition: all 0.5s ease-in-out 0.0s;
	
	}
.popup-fon-active{
	z-index: 110;
	opacity:1;
		width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.85);
	position: fixed;
	top:0;
	left:0;
	}
.popup-active{display:block;
background: rgba(0,0,0,0.5);
}
.popup-active .popup-box, .art-popup, .popup video{
	-webkit-animation: viewtop 0.5s ease-in-out 0s ;
    animation: viewtop 0.5s ease-in-out;}
@-webkit-keyframes viewtop {
    0% {transform:  scale(0, 0); -webkit-transform:  scale(0, 0) ; opacity:0;}
    100% {transform:  scale(1, 1); -webkit-transform:  scale(1, 1); opacity:1;}
}

@keyframes viewtop {
    0% {transform:  scale(0, 0); -webkit-transform:  scale(0, 0) ; opacity:0;}
    100% {transform:  scale(1, 1); -webkit-transform:  scale(1, 1); opacity:1;}}
.popup-deactive{overflow:hidden;}
.popup-deactive .popup-box, .art-popup.popup-deactive, .popup.popup-deactive video	{
		-webkit-animation: hidetop 0.5s ease-in-out 0s ;
    animation: hidetop 0.5s ease-in-out;
	}
@-webkit-keyframes hidetop {
	 0% {transform:  scale(1, 1); -webkit-transform:  scale(1, 1); opacity:1; display:block;}
    100% {transform:  scale(0, 0); -webkit-transform:  scale(0, 0) ; opacity:0; display:none;}
   
}

@keyframes hidetop {
 	 0% {transform:  scale(1, 1); -webkit-transform:  scale(1, 1); opacity:1; display:block;}
    100% {transform:  scale(0, 0); -webkit-transform:  scale(0, 0) ; opacity:0;  display:none;}
	}
	
	

.popup-deactive {
	opacity: 0;}

	
.popup-close img {
	width: 100%;
	height:100%;
	
}

.popup-close img:hover{
	animation: eggs3 0.6s ease-in-out; 
	-webkit-animation: eggs3 0.6s ease-in-out; 
		-webkit-animation-fill-mode: backwards; 
animation-fill-mode:backwards;}
	
	

.popup-zvonok-close, .popup-zayavka-close, .popup-audio-close{
	position: absolute;
	width: 20px;
	height: 20px;
	right: 25px;
	top: 10px;
	cursor: pointer;
	}
.popup-header{
	font-size: 24px;
}
