.screenLock{position:fixed;width:100%;background:rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;top:0px;left:0px;z-index:9999999999;display:none;}
.screenLock2{z-index:9999999998;}
.msg{position:absolute;width:600px; padding-bottom:40px; top:100px;left:50%;margin-left:-300px;background:#ffffff;}
.msg > h1{ font-family: "Roboto Condensed"; font-weight:normal !important; color:#333333; line-height:1.2;text-align:center;font-size:24px;margin-bottom:20px;margin-top:45px;padding:0 10px 0; }
.close{font-family: Arial, Helvetica, sans-serif; position:absolute;top:1px;right:5px;line-height:1.2;font-size:40px;cursor:pointer;color:#ff9523;}
.submit{margin-top:10px;height:65px;width:400px;background-color:firebrick;color:rgb(255, 255, 255);font-size:28px;border-radius:3px;cursor:pointer;}
.submit:hover{background-color:firebrick!important;}

@media screen and (max-width: 590px) {
.msg{ width: 100%; top: 0px; left: 0px;  margin-left: 0px;}
 }
 
.blockInputForm {
	margin:0 auto 15px;
	width:310px;
}
 
.blockInputForm input {
border: 1px solid #dadada;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
-webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
-moz-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.1);
width:272px;
color: #212121;
font-size: 14px;
line-height: 30px;
height: 43px;
padding: 6px 18px 7px;
-webkit-appearance: none;
-moz-appearance: none;
-o-appearance: none;
appearance: none;

}

.footer__btn {
	width:280px;
	background: #ff9523;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 0 3px 0 0 #e68900;
    font-family: "Roboto Condensed";
    font-weight: 800;
    color: #fff;
    border: none;
	cursor:pointer;
    display: inline-block;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
    height: 60px;
    letter-spacing: .065em;
    text-transform: uppercase;
    text-decoration: none;
}