.mouse_moved
{
    position: fixed;
}
.line_top
{
    width: 100%;
    height: 10px;
    top: 0;
}

.line_bottom
{
    width: 100%;
    height: 10px;
    bottom: 0;
}
.line_left
{
    width: 10px;
    height: 100%;
    left: 0;
    top: 0;
}
.line_right
{
    width: 10px;
    height: 100%;
    right: 0;
    top: 0;
}

.hide {
    display: none !important;
}