*{padding:0;margin:0;}
header, nav, section, article, aside, footer{display:block;}
html, body{height:auto;max-height:100%;}
body{font-family:'SFUIDisplay-Regular', Arial, sans-serif;font-size:18px;color:#ffffff;-webkit-font-smoothing:antialiased;}
p{padding:10px 0;line-height:118%;}
fieldset{border:none;margin:0;padding:0;}
.black{color:#252525;}
.white{color:#ffffff;}
.dblue{color:#171b26;}
.pink{color:#ef1650;}
.dgray{color:#171b26;}
a, a[href^=tel]{color:inherit;text-decoration:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
a:hover{}
.sfr{font-family:'SFUIDisplay-Regular', sans-serif;}
.sfb{font-family:'SFUIDisplay-Bold', sans-serif;}
.sfh{font-family:'SFUIDisplay-Heavy', sans-serif;}
.sfl{font-family:'SFUIDisplay-Light', sans-serif;}
.sft{font-family:'SFUIDisplay-Thin', sans-serif;}
.os300{font-family:'Open Sans', sans-serif;font-weight:300;}
.os400{font-family:'Open Sans', sans-serif;font-weight:400;}
.os600{font-family:'Open Sans', sans-serif;font-weight:600;}
.os700{font-family:'Open Sans', sans-serif;font-weight:700;}
.os800{font-family:'Open Sans', sans-serif;font-weight:800;}
.ari{font-family:'Arial', sans-serif;}
.fnorm{font-weight:normal;}
.bold{font-weight:bold;}
.italic{font-style:italic;}
.center{text-align:center;}
.alleft{text-align:left;}
.alright{text-align:right;}
.upp{text-transform:uppercase;}
.under{text-decoration:underline;}
.line-th{text-decoration:line-through;}
.no-padding{padding:0;}
.flleft{float:left;}
.flright{float:right;}
.lh100{line-height:100%;}
.lh110{line-height:110%;}
.lh120{line-height:120%;}
.lh130{line-height:130%;}
.lh140{line-height:140%;}
.lh150{line-height:150%;}
.lh160{line-height:160%;}
.button{display:block;width:306px;height:51px;line-height:51px;border-radius:10px;background-color:#71b100;border-bottom:3px solid #629800;font-family:'Open Sans', sans-serif!important;font-weight:700!important;text-transform:uppercase!important;text-align:center;color:#ffffff;cursor:pointer;}
.inline-b{display:inline-block;zoom:1;*display:inline;}
.rel{position:relative;}
.abs{position:absolute;}
.fix{position:fixed;}
.clearfix:after{content:"";display:table;clear:both;*zoom:1;}
.clear{clear:both;}
input, select, textarea{display:initial;width:100%;height:45px;line-height:45px;margin:4px auto!important;border:1px solid #000000;border-radius:6px;outline:none;text-indent:40px;color:#252525;box-sizing:content-box;-ms-box-sizing:content-box;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
input.name-black{background:#ffffff url('../img/name_b.png') no-repeat 14px 50%;}
input.phone-black{background:#ffffff url('../img/phone_b.png') no-repeat 12px 50%;}
::-webkit-input-placeholder{}
:-moz-placeholder{}
::-moz-placeholder{}
:-ms-input-placeholder{}
:focus::-webkit-input-placeholder{color:transparent}
:focus::-moz-placeholder{color:transparent}
:focus:-moz-placeholder{color:transparent}
:focus:-ms-input-placeholder{color:transparent}
button{background:none;outline:none;border:none;}
button{width:100%;height:54px;margin-top:10px!important;border-radius:6px;background-color:#71b100;border-bottom:3px solid #548300;font-family:'Open Sans', sans-serif!important;font-weight:700!important;text-transform:uppercase!important;text-align:center;color:#ffffff;cursor:pointer;}
button, .button{opacity:0.88;position:relative;transition:0.3s ease all 0s;-webkit-transition:0.3s ease all 0s;-moz-transition:0.3s ease all 0s;-o-transition:0.3s ease all 0s;-ms-transition:0.3s ease all 0s;}
button:hover, .button:hover{opacity:1;-webkit-filter:contrast(140%);filter:contrast(140%);-webkit-filter:brightness(120%);filter:brightness(110%);}
button:active, .button:active{top:1px;}
.button:focus{}