@media only screen and (min-width: 2000px)and (max-width: 4000px) {
.action {
    font-family: OpenSansRegular, serif;
    background: url("../img/action_bg.jpeg") top center repeat-x;
    padding-top: 45px;
    padding-bottom: 65px;
    background-size: cover;
}
}
@media only screen and (max-width: 999px) {
    header {
    width: 100%;
     background: url('../img/bg_head.jpeg') no-repeat center;
    /*border-bottom: 5px solid #78c1ff;*/
    -webkit-background-size: cover;
    background-size: cover;
    border-top: 4px solid #78c1ff;    
    height: 1500px;
}  
}
@media only screen and (max-width: 480px) {
    header {
    width: 100%;
     background: url('../img/bg_head.jpeg') no-repeat center;
    /*border-bottom: 5px solid #78c1ff;*/
    -webkit-background-size: cover;
    background-size: cover;
    border-top: 4px solid #78c1ff;    
    height: 1200px;
}  
}
@media only screen and (max-width: 999px) {
    .content {
        width: 760px;
    }
    span.next_line.next_line767 {
    display: block;
        
    }
.mod img.form_left_one_paced.img_paced_none {
    display: none;
}
    
    .mod img.form_left_one_paced.img_paced_block.none_240 {
    display: block;
            right: -26px;
}
img#krestik {
    position: absolute;
    right: 0;
    float: right;
    cursor: pointer;
    z-index: 9999;
    top: 254px;
    margin-right: -9px;
}
    .head_form_2.new_999.new_480.popUpBlock {
        position: relative;
        z-index: 105;
    }
    .top-line {
        display: none;
    }
    .strike_line {
        text-decoration: line-through;
    }
    .reclama {
        display: none;
    }
    header {
        background-size: cover;
    }
    img.paced_form {
        display: none;
    }
    .head_form_1 {
        float: none;
        margin: 0 auto;
    }
    img.form_left_one_paced.img_paced_block.none_240 {
        display: none;
    }
    img.form_left_one_paced.img_paced_block.none_dec {
        display: none;
    }
    .head_form_2.new_999.new_480 {
        float: none;
        margin: 0 auto;
    }
    p.left_t_f {
        float: none;
    }
    p.right_t_f {
        float: none;
    }
    img.control {
        display: none;
    }
    .form_content_head {
        width: 390px;
        height: auto;
    }
    .head_form_2 {
        width: 390px;
    }
    .form_title {
        width: 169px;
        height: auto;
        padding-bottom: 6px;
    }
    .form_left_one_paced {
        display: block;
    }
    .form_left_one_paced {
        display: block;
        position: absolute;
        top: 68px;
        right: -39px;
    }
    .head_form_2 {
        width: 390px;
        padding-top: 126px;
    }
.input__inner {
    width: 293px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #c1c0c0;
    outline: none;
    padding: 10px 0 6px 49px;
    background: #fff;
    font-size: 20px;
}
    .bluePhone.js-button2 {
        display: none;
    }
    .form_top {
        padding-left: 22px;
        padding-right: 22px;
        margin-top: 15px;
    }
    .form_container {
        display: block;
        position: relative;
        margin-bottom: 23px;
    }
    .price_1 {
        font-family: 'OpenSansRegular';
        font-size: 18px;
        color: #848383;
        display: inline-block;
        float: left;
        line-height: 1.2;
        padding-right: 20px;
    }
  .well-result__container {
    margin: 15px 48px 0 48px;
    font-size: 18px;
    line-height: 20px;
}
    .action {
        background-size: cover;
    }
    .why-it-better__item {
        width: 100%;
        margin-right: 0;
    }
    .why-it-better__info {
        margin-top: 14px;
    }
    .why-it-better__list {
        padding-top: 28px;
        padding-left: 120px;
    }
    .noneArrow {
        display: block!important;
    }
    .blockArrow {
        display: none!important;
    }
    li.price_1 .bold_s_28 {
        font-family: 'OpenSansBold';
        font-size: 32px;
    }
    .price_2 {
        font-family: 'OpenSansRegular';
        font-size: 22px;
        color: #78c1ff;
        display: inline-block;
    }
    .bold_s_28 {
        font-family: 'OpenSansBold';
        font-size: 38px;
    }
    .logo_f {
        width: 10%;
    }
    .popUpNone {
        display: none!important;
    }
    .popUpBlock {
        display: block!important;
    }
.icon {
    position: absolute;
    bottom: 10px;
    left: 11px;
}
.icon_phone {
    background: url("../img/phone480.png") 0 0 no-repeat;
    height: 30px;
    width: 23px;
    bottom: 8px;
}
    .icon_user {
    background: url("../img/name480.png") 0 0 no-repeat;
    height: 24px;
    width: 26px;
}
.form_btn {
    font-family: 'OpenSansBold';
    font-size: 30px;
    color: #fff;
    text-align: center;
    background: #ff7403;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 36px;
}
    .well-result__info {
    line-height: 23px;
    margin-bottom: 25px;
}
    img.arrow_form {
        position: absolute;
        right: -38px;
        top: 476px;
    }
    .effective__inner {
        background-size: cover;
    }
    .offer {
        display: block;
        font-size: 30px;
        font-family: 'OpenSansRegular', sans-serif;
        color: #fff;
    }
    .sec_data_base {
        font-family: 'OpenSansRegular';
        font-size: 18px;
        color: #c1c1c1;
        margin-top: 0px;
        padding-top: 5px;
        padding-bottom: 60px;
    }
    ul.sec_data_base li {
        background: url('../img/sec_480.png') no-repeat right center;
        padding-top: 22px;
        padding-bottom: 22px;
        padding-right: 40px;
        letter-spacing: -0.5px;
    }
    .sec_data_base {
        font-family: 'OpenSansRegular';
        font-size: 18px;
        color: #c1c1c1;
        margin-top: 0px;
        padding-top: 5px;
    }
    .dis_n_08_480 {
        display: block;
    }
    ul.bl2_content2.bl2_content2_240 {
        display: none;
    }
    .bl2_content1 {
        width: 453px;
        float: none;
        padding-left: 40px;
        margin: 0 auto;
        margin-top: 24px;
    }
    .content_bl2 {
        width: 760px;
    }
    .bl_3content {
        width: 724px;
    }
    .dis_b_08_480 {
        display: none;
    }
    ul.bl3Ul li {
        width: 49%;
    }
    ul.bl3Ul_2 li {
        width: 49%;
    }
    .bl_6content {
        padding-right: 40px;
        padding-left: 40px;
    }
    p.bl_6content.bl_6content_two {
        margin-top: 25px;
        padding-right: 40px;
        padding-left: 40px;
    }
    img.microscop {
        position: relative;
        bottom: 0;
        right: 0;
        margin: 0 auto;
        display: block;
    }
    .bl_6 {
        height: auto;
        width: 100%;
        background: #fff;
        padding-top: 50px;
        padding-bottom: 15px;
        position: relative;
    }
    .bl_6_txt.bl_6_txt_2 {
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 504px;
    }
    .doctor_name {
        text-align: right;
    }
    .bl_7 {
        width: 100%;
        height: 800px;
        background: #35515d;
        padding-top: 12px;
        padding-bottom: 37px;
    }
    .sec_data_base {
        font-family: 'OpenSansRegular';
        font-size: 18px;
        color: #c1c1c1;
        margin-top: 0px;
        padding-top: 5px;
        padding-bottom: 0;
    }
    img.form_left_one_paced.form_left_one_paced_2 {
        top: 0;
    }
    ul.con_ul_bl_8-first-block li {
        padding-right: 0;
    }
    li.first_li_for_ul8 {
        background: url()no-repeat right bottom;
    padding-top: 0;
    padding-bottom: 183px;
    margin-bottom: 170px;
    /* margin-top: 0; */
    }
    ul.con_ul_bl_8-first-block {
        width: 300px;
        float: left;
    }
.content-u_bl_8 {
    height: auto;
    width: 100%;
    background: url('../img/pac_bl_7.png')no-repeat center 110px;
    font-size: 18px;
    color: #fff;
    font-family: 'OpenSansRegular';
    line-height: 1.2;
    letter-spacing: -0.5px;
    margin-top: 44px;
    padding-bottom: 56px;
}
    
    .content-u_bl_81 {
    height: auto;
    width: 100%;
    background: url('../img/pac_bl_71.png')no-repeat center 110px;
    font-size: 18px;
    color: #fff;
    font-family: 'OpenSansRegular';
    line-height: 1.2;
    letter-spacing: -0.5px;
    margin-top: 44px;
    padding-bottom: 56px;
}
    
    li.second_li_for_ul8 {
        background: url()no-repeat right top;
        padding-top: 220px;
        padding-bottom: 27px;
    }
    ul.con_ul_bl_8-second-block {
        width: 300px;
        float: right;
    }
    ul.con_ul_bl_8-second-block li {
         padding-left: 115px;  
    }
    li.first_li_for_ul8_1 {
        background: url()no-repeat left bottom;
        padding-top: 0;
        padding-bottom: 189px;
        margin-bottom: 78px;
        margin-top: 0;
    }
    li.second_li_for_ul8_1 {
        background: url()no-repeat left 0;
        padding-bottom: 27px;
    }
    .bx-viewport {
        height: auto!important;
    }
    ul.sl_c {
        padding-left: 20px;
        padding-right: 20px;
    }
    .sl_com_name {
        font-family: 'OpenSansBold';
        font-size: 18px;
        line-height: 1.2;
        color: #78c1ff;
        text-align: center;
    }
    .slider_commit_txt {
        font-size: 18px;
        font-family: 'OpenSansRegular';
        line-height: 1.2;
        padding-left: 0;
        padding-top: 215px;
        padding-bottom: 38px;
    }
    li.bg_one {
        background: url('../img/otziv_1.png')no-repeat center 15px;
    }
    li.bg_two {
        background: url('../img/otziv_2.png')no-repeat center 15px;
    }
    li.bg_three {
        background: url('../img/otziv_3.png')no-repeat center 15px;
    }
    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 96px;
        margin-top: -16px;
        outline: 0;
        width: 30px;
        height: 57px;
        text-indent: -9999px;
        z-index: 9999;
    }
    ul.bl_11ul-new li {
        float: left;
        font-family: 'OpenSansRegular';
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        margin-right: 0;
        padding-top: 109px;
        width: 50%;
        margin-bottom: 57px;
    }
    .bl_13_content {
        padding-left: 45px;
        padding-right: 45px;
        margin-top: 24px;
        position: relative;
        text-align: center;
    }
    li.bl11li_1 {
        margin-left: 0;
        background: url('../img/i1.png')no-repeat center 0px;
    }
    .bl_13_txt {
        font-size: 18px;
        font-family: 'OpenSansRegular';
        line-height: 1.2;
        padding-right: 0;
    }
    input.code__input.check_popup_code_input {
        display: block;
        margin: 0 auto;
        margin-bottom: 18px;
    }
    button.code__btn.button-popup-first {
        display: block;
        margin: 0 auto;
    }
    .code {
        margin-top: 38px;
        padding-right: 0;
        padding-bottom: 293px;
    }
    img.lupa {
        position: absolute;
        bottom: -50px;
        right: 0;
        left: 168px;
    }
    .js-message {
        font-size: 15px;
        font-family: 'OpenSansbold';
        margin-top: 7px;
        text-align: center;
    }
    .bl_15 {
        display: none;
    }
    ul.ul_bl_14 li {
        padding-top: 186px;
        width: 100%;
        display: block;
        margin-bottom: 25px;
    }
    .bl_7_content.dis_dec {
        background: none;
        width: auto;
    }
    .footer_left {
        color: #909090;
        text-align: left;
        font-size: 14px;
        font-family: 'OpenSansRegular';
        float: left;
        width: 50%;
        line-height: 1.2;
        /* padding-top: 10px; */
        margin-top: 40px;
    }
    .rec {
        width: 93%;
        margin: 0 auto;
    }
    .bl_7.bl_16 {
        background: #35515d;
        padding-bottom: 15px;
        padding-top: 32px;
    }
    a.call.call_me.scroll_to.dis_mob {
        display: block;
    }
    .mod .content {
        margin: 0 auto;
        display: block;
        margin: 0;
        margin: 0 auto;
    }
    .mod {
        width: 100%;
    }
    .action__title {
        padding: 0;
        line-height: 38px;
    }
        .mod .content {
    width: 390px;
}
    .mod {
    width: 390px;
}
    .wibTwo
{
 display: block;
}
    .wibOne
{
 display: none!important;
}
}

@media only screen and (max-width: 799px) {
    .content {
        width: 600px;
    }
    
    .rec {
        width: 80%;
        margin: 0 auto;
    }
    .content_bl2 {
        width: 600px;
    }
    .effective__info {
        font-family: 'OpenSansBold', sans-serif;
        font-size: 30px;
        line-height: 40px;
        padding: 0 0px;
        color: #ffffff;
        text-shadow: 1px 1px 8px #36393a;
        text-align: center;
    }
    .why-it-better__info {
        margin-top: 0;
    }
    .effective__inner {
        background: url("../img/effective_text-bg_2.jpeg") center no-repeat;
    }
    .bl_3content {
        width: 563px;
    }
    .bl3Ul {
        width: 600px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .why-it-better__list {
        width: 340px;
        margin: 0 auto;
        padding-left: 0;
    }
    span.dis_blok_foter_preav {
        display: block;
    }
    .action__item {
        display: block;
        width: 100%;
        vertical-align: top;
        margin-bottom: 50px;
    }
    img.microscop {
        position: relative;
        bottom: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        margin-top: 10px;
    }
    ul.con_ul_bl_8-first-block {
        width: 250px;
        float: left;
    }
    ul.con_ul_bl_8-second-block {
        width: 158px
        float: right;
    }
    .logo_f {
        width: 14%;
        margin-top: 40px;
    }
    .footer_right {
        width: auto;
        display: none;
    }
    .dbap14none {
        display: block!important;
    }
    .footer_left {
        color: #909090;
        text-align: left;
        font-size: 14px;
        font-family: 'OpenSansRegular';
        float: left;
        line-height: 1.2;
        /* padding-top: 10px; */
        margin-top: 40px;
        display: none;
    }
    .well-result__inner {
        padding-top: 45px;
        padding-bottom: 50px;
        max-width: 1000px;
        margin: 30px auto 0;
        background: url("../img/well_result_2.jpeg") center top no-repeat;
    }
    .action {
   
    background: url("../img/action_bg_767.jpeg") top center repeat-x;
}
}


@media only screen and (max-width: 639px) {
    .content {
        width: 470px;
    }
    header .head_form {
    padding-bottom: 0;
}
    .bl_6content {
    letter-spacing: 0;
}
    .slider_commit_txt {
    line-height: 1.3;
}
    img.action__picture {
    width: 265px;
}
    .action__info {
    line-height: 27px;
    
}
    .well-result__title {
        font-size: 35px;
        text-align: center;
        line-height: 40px;
    }
    .well-result__container {
        padding: 25px;
        margin: 40px 5px 0 5px;
    }
    .action {
        padding-bottom: 10px;
    }
    .show-message__item {
        width: 210px;
        bottom: 0;
        right: 0;
    }
    .show-message__icon {
        width: 25px !important;
    }
    .show-message__info {
        width: 165px;
        margin-left: 5px;
        font-size: 15px;
    }
    img.logotype {
        width: 143px;
    }
    .call_me {
        font-family: 'OpenSansRegular';
        font-size: 18px;
        color: #fff;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 17px;
        padding-right: 13px;
    }
    .bl1_title {
        font-size: 36px;
        font-family: 'OpenSansBold';
        text-align: center;
        color: #fff;
        line-height: 1.2;
    }
    sup.head {
        font-size: 20px;
        vertical-align: text-top;
    }
    .bl1_title {
        font-size: 36px;
        font-family: 'OpenSansBold';
        text-align: center;
        color: #fff;
        line-height: 1.2;
        letter-spacing: -0.5px;
    }
    .br_none_480 {
        display: none;
    }
    .bl1_title_after {
        font-family: 'OpenSansRegular';
        font-size: 26px;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        padding-left: 56px;
        padding-right: 56px;
        margin-top: 23px;
        margin-bottom: 31px;
    }
    .ul_bl_head_title {
        font-size: 18px;
        color: #fff;
        font-family: 'OpenSansRegular';
        padding-left: 0;
        margin-bottom: 7px;
    }
    .offer {
        font-family: 'OpenSansRegular';
        font-size: 30px;
        color: #fff;
        display: block;
    }
    .aprial_none {
        display: block!important;
    }
    .form_left_one_paced {
        display: block;
        position: absolute;
        top: 51px;
        right: -39px;
    }
    .head_form_2 {
        width: 390px;
        padding-top: 89px;
    }
    .head_form_1 {
        padding-left: 67px;
        padding-right: 60px;
    }
    .head_form {
        padding-left: 0;
        padding-right: 0;
        margin-top: 25px;
    }
    img.arrow_form.top_arrow {
        top: 469px;
    }
  .sec_data_base {
    font-family: 'OpenSansRegular';
    font-size: 18px;
    color: #c1c1c1;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 30px;
}
    .block_2 {
        width: 100%;
        margin: 0 auto;
        background: #fff;
        height: auto;
        padding-top: 20px;
    }
    .content_bl2 {
        width: 470px;
    }
    span.next_line {
        display: block;
    }
    .block_3 {
        width: 100%;
        margin: 0 auto;
        background: #35515d;
        height: auto;
        padding-top: 30px;
        padding-bottom: 67px;
    }
    .bl_3content {
        width: 404px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .bl_3content {
        width: 404px;
        padding-left: 18px;
        padding-right: 18px;
        margin-top: 21px;
        line-height: 1.5;
    }
    .bl_6 {
        padding-top: 30px;
    }
    .bl3Ul {
        width: 470px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .bl_6content {
        padding-right: 25px;
        padding-left: 25px;
        margin-top: 27px;
    }
    p.bl_6content.bl_6content_two {
        margin-top: 25px;
        padding-right: 25px;
        padding-left: 25px;
    }
    img.form_left_one_paced.img_paced_block.none_240.sm_padd {
        top: 12px;
    }
    .head_form_2.new_999.new_480.dis_n_08_480.littel_padding {
        padding-top: 91px;
    }
.bl_8title {
    font-size: 36px;
    font-family: 'OpenSansRegular';
    line-height: 1.2;
    color: #fff;
    text-align: center;
    padding-top: 25px;
}
    .mod img.form_left_one_paced.img_paced_block.none_240 {
    display: block;
    right: -26px;
    top: 40px;
}
    img#krestik {
    position: absolute;
    right: 0;
    float: right;
    cursor: pointer;
    z-index: 9999;
    top: 221px;
    margin-right: -9px;
}
.content-u_bl_8 {
    background: url('../img/pac_bl_7_2.png')no-repeat center 135px;
}
.content-u_bl_81 {
    background: url('../img/pac_bl_7_21.png')no-repeat center 135px;
}
    .bl_11 {
        box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.5);
        border-top: 1px solid #d9d9d9;
        border-bottom: 1px solid #d9d9d9;
        width: 470px;
        margin: 0 auto;
    }
    .form_title {
        width: 169px;
        height: auto;
        padding-bottom: 9px;
    }
    img.microscop {
        position: relative;
        bottom: 0;
        right: 0;
        margin: 0 auto;
        display: block;
        margin-top: 0;
        margin-right: 10px;
    }
    sup.size-25 {
        font-size: 11px;
    }
    .bl_6.bl_6_2 {
        padding-top: 25px;
        padding-bottom: 0;
        
    }
    input.code__input.check_popup_code_input {
        text-align: center;
    }
    .bl_7.bl_16 {
        background: #35515d;
        padding-bottom: 15px;
        padding-top: 16px;
    }
    p.bl_6content.bl_6content_2 {
        font-size: 18px;
        font-family: 'OpenSansRegular';
        line-height: 1.3;
        text-align: left;
        padding-left: 0px;
        margin-top: 17px;
        padding-right: 0px;
    }
.bl_6_txt.bl_6_txt_2 {
    padding-left: 26px;
    padding-right: 26px;
    padding-bottom: 341px;
}
    .bl_6.bl_6_2 {
        width: 470px;
        margin: 0 auto;
    }
  img.expert {
    width: 283px;
    bottom: -1px;
}
    ul.sec_data_base.new_sale_data {
        padding-bottom: 0px;
    }
    img.form_left_one_paced.form_left_one_paced_2 {
        top: 42px;
    }
    ul.con_ul_bl_8-first-block {
        width: 220px;
        float: left;
    }
    ul.con_ul_bl_8-second-block {
        width: 220px;
        float: right;
    }
    li.first_li_for_ul8_1 {
       /* background: url('../img/b3.png')no-repeat left bottom; */
        padding-top: 0;
        padding-bottom: 189px;
        margin-bottom: 30px;
        margin-top: 0;
    }
    li.first_li_for_ul8 {
       /* background: url('../img/b2.png')no-repeat right bottom;  */
        padding-top: 0;
        padding-bottom: 189px;
        margin-bottom: 30px;
        margin-top: 0;
    }
    .bx-wrapper .bx-viewport {
        left: -2px;
    }
    .bx-wrapper {
        margin-bottom: 20px;
    }
    li.bl11li_6 {
        margin-bottom: 0!important;
    }
    li.bl11li_5 {
        margin-bottom: 0!important;
    }
    .bl_13_title {
        margin-top: 25px;
    }
    p.bl_13_txt {
        text-align: center;
    }
    .bl_13_content {
        text-align: center;
    }
    img.lupa {
        position: absolute;
        bottom: -50px;
        right: 0;
        left: 38px;
    }
    ul.ul_bl_14 {
        margin-top: 30px;
    }
    ul.ul_bl_14 li {
        padding-top: 194px;
        width: 100%;
        display: block;
        margin-bottom: 25px;
    }
    ul.ul_bl_14 li {
        padding-top: 194px;
        width: 100%;
        display: block;
        margin-bottom: 45px;
    }
    li.li_14_3 {
        margin-bottom: 0!important;
    }
    .bl_14 {
        background: #ededed;
        height: auto;
        padding-bottom: 60px;
    }
    .rec {
        width: 465px;
        margin: 0 auto;
    }
    .img_paced_block {
        display: block;
    }
    .bl2_content1 {
        width: 416px;
        float: none;
        padding-left: 40px;
        margin: 0 auto;
        margin-top: 24px;
    }
    header {
        width: 100%;
        background: url('../img/bg_head_1.png') no-repeat center;
        background-size: cover;
    }
    sup.size-26 {
        font-size: 11px;
    }
    .form_price {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .form_content_head {
        width: 390px;
        height: auto;
        padding-bottom: 27px;
    }
 img.arrow_form {
    position: absolute;
    /* right: -37px; */
    top: 485px;
}
 .icon {
    position: absolute;
    bottom: 12px;
    left: 11px;
}
    .icon_phone {
    bottom: 8px;
}
    .input__inner {
        font-size: 20px;
    }
    img.bl_2_li_img {
        width: 384px;
        margin-left: -53px;
    }
    .effective__inner {
        background: url("../img/effective_text-bg_2.jpeg") center top no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 479px) {
    .content {
        width: 230px;
    }
    p.bl_6content.bl_6content_2 {
    line-height: 1.5;
}
    .well-result__inner {
    background: url("../img/well_result_3.jpeg") center top no-repeat;
}
    p.bl_6content.bl_6content_two.bl_6content_two_2 {
    line-height: 1.5;
}
    header {
    padding-bottom: 10px;
}
    img.action__picture {
    width: 167px;
}
    .mod img.form_left_one_paced.img_paced_block.none_240 {
    display: none;
}
    a.call.call_me.button-click.dis_dec {
        display: none;
    }
    img.form_left_one_paced.img_paced_none {
        display: none;
    }
    img#krestik {
    position: absolute;
    right: 0;
    float: right;
    cursor: pointer;
    z-index: 9999;
    top: 144px;
    margin-right: -9px;
}
    .well-result__container {
        padding: 10px 15px 20px 15px;
        text-align: center;
        letter-spacing: -1px;
        margin-top: 20px;
    }
    .well-result__inner {
        padding-top: 35px;
    }
    .action__title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1px;
    }
    .bl_6.bl_6_2 {
        box-shadow: none;
    }
    .why-it-better {
        font-family: OpenSansRegular, serif;
        background: #ededed;
        padding: 30px 0 5px;
    }
    .why-it-better__title {
        font-size: 24px;
        text-align: center;
        line-height: 28px;
        letter-spacing: -1px;
    }
    .why-it-better__sub-title {
        font-size: 16px;
        line-height: 22px;
    }
    .action__info {
        color: #ffffff;
        font-size: 18px;
        padding: 0 7px;
        line-height: 22px;
        letter-spacing: 0px;
    }
    .well-result__title {
        font-size: 26px;
        text-align: center;
        line-height: 30px;
    }
    .well-result__info {
        line-height: 24px;
        margin-bottom: 25px;
        font-size: 16px!important;
        line-height: 18px;
    }
    img.form_left_one_paced.img_paced_block.none_dec {
        display: block;
    }
    a.call.call_me.scroll_to.dis_mob {
        display: none;
    }
    img.form_left_one_paced.img_paced_block.none_240 {
        display: none;
    }
    .input__inner {
        font-size: 14px;
    }
    .logo {
        float: none;
        display: block;
        padding: 0;
        margin: 0 auto;
        padding-top: 10px;
    }
    img.logotype {
        margin: 0 auto;
        display: block;
    }
    .bl1_title {
        font-size: 24px;
        font-family: 'OpenSansBold';
        text-align: center;
        color: #fff;
        line-height: 1.2;
        letter-spacing: -0.5px;
    }
    .br_none_240 {
        display: none;
    }
    .next_line_240 {
        display: block;
    }
    sup.head {
        font-size: 15px;
        vertical-align: text-top;
    }
    .bl1_title_after {
        font-family: 'OpenSansRegular';
        font-size: 16px;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 23px;
        margin-bottom: 31px;
    }
    .head_form_1 {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 28px;
    }
    .ul_bl_head_title {
        font-size: 14px;
        color: #fff;
        font-family: 'OpenSansRegular';
        padding-left: 0;
        margin-bottom: 7px;
    }
    ul.h_f_ul li {
        height: auto;
        padding-left: 31px;
        font-size: 14px;
        color: #fff;
        font-family: 'OpenSansRegular';
        line-height: 1.2;
        margin-bottom: 0;
        padding-top: 0;
        background: url('../img/ok.png')no-repeat 0px center;
        padding-top: 8px;
        padding-bottom: 8px;
        background-size: 22px;
    }
    .offer {
        font-size: 18px;
    }
    .left_t_f {
        width: 101px;
        margin-top: 5px;
    }
    .none_240 {
        display: none;
    }
    .none_dec {
        display: block;
    }
    .form_content_head {
        width: 226px;
        height: auto;
    }
    ul.price li {
        width: auto;
        float: none;
        display: block;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
    ul.price {
        padding-left: 0;
    }
    .input__inner {
        width: 170px;
        padding: 6px 4px 16px 34px;
    }
    .form_top {
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 15px;
    }
    .form_btn {
        font-size: 28px;
        padding-bottom: 8px;
        padding-top: 8px;
        line-height: 1.2;
    }
    .form_container {
        display: block;
        position: relative;
        margin-bottom: 16px;
    }
    img.arrow_form {
        display: none;
    }
    ul.sec_data_base li {
        background: url('../img/sec_240.png') no-repeat center bottom;
        padding-top: 5px;
        padding-bottom: 40px;
        padding-right: 0px;
        letter-spacing: -0.5px;
        text-align: center;
    }
    .sec_data_base {
        font-size: 14px;
        padding-bottom: 12px;
    }
    .head_form_2 {
        width: 226px;
        padding-top: 0;
    }
    .head_form_2.new_999.new_480.dis_n_08_480.littel_padding {
        padding-top: 0;
    }
 .icon {
    position: absolute;
    bottom: 14px;
    left: 7px;
}
    .form_left_one_paced {
        top: 0;
        right: 0;
    }
    li.price_2 {
        margin-top: 5px;
    }
    .form_content_head {
        width: 226px;
        height: auto;
        padding-top: 1px;
    }
    .bl_2_title {
        font-family: 'OpenSansRegular';
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
        /* margin-top: -128px; */
        margin-bottom: 13px;
    }
    .content_bl2 {
        width: 230px;
    }
    .bl2_content1 {
        width: 230px;
        float: none;
        padding-left: 0;
        margin: 0 auto;
        margin-top: 24px;
    }
    ul.bl2_content1 li {
        font-size: 14px;
        background-size: 33px;
        padding-left: 38px;
    }
    img.bl_2_li_img {
        margin-top: 19px;
        margin-left: -32px;
        width: 220px;
    }
    .bl_3title {
        font-family: 'OpenSansRegular';
        font-size: 24px;
        color: #fff;
        text-align: center;
    }
    .bl_3content {
        width: 217px;
        padding-left: 2px;
        padding-right: 2px;
        margin-top: 21px;
        line-height: 1.4;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
    }
    .bl3Ul {
        width: 230px;
        margin: 0 auto;
        margin-top: 50px;
    }
    ul.bl3Ul li.li_bl3_ul1 {
        background: url('../img/g_1.png')no-repeat center 0px;
        margin-bottom: 35px;
    }
    ul.bl3Ul_2 li {
        width: 100%;
    }
    ul.bl3Ul_2 {
        margin-top: 35px;
    }
    ul.bl3Ul_2 li.li_bl3_ul1 {
        background: url('../img/g_4.png')no-repeat center 0px;
        margin-bottom: 35px;
    }
    ul.bl3Ul_2 li.li_bl3_ul3 {
        background: url('../img/g_6.png')no-repeat center 0px;
        margin-bottom: 35px;
    }
    .block_3 {
        width: 100%;
        margin: 0 auto;
        background: #35515d;
        height: auto;
        padding-top: 30px;
        padding-bottom: 35px;
    }
    ul.bl3Ul li {
        width: 100%;
    }
    .none_ul {
        display: none;
    }
    .block_ul {
        display: block;
    }
    ul.bl3Ul li.li_bl3_ul2 {
        background: url('../img/g_4.png')no-repeat center 0px;
    }
    ul.bl3Ul_2 li.li_bl3_ul1 {
        background: url('../img/g_2.png')no-repeat center 0px;
        margin-bottom: 0px;
    }
    ul.bl3Ul_2 li.li_bl3_ul2 {
        background: url('../img/g_5.png')no-repeat center 0px;
        margin-bottom: 35px;
    }
    .bl_6title {
        font-size: 24px;
        font-family: 'OpenSansRegular';
        line-height: 1.2;
        text-align: center;
    }
    .bl_6 {
        padding-top: 24px;
    }
    .bl_6content {
        padding-right: 4px;
        padding-left: 4px;
        margin-top: 11px;
        text-align: center;
        line-height: 22px;
    }
    .next_line.next_line_none {
        display: none;
    }
    p.bl_6content.bl_6content_two {
        margin-top: 25px;
        padding-right: 4px;
        padding-left: 4px;
    }
    img.microscop {
        width: 221px;
        margin-top: 10px;
        margin-right: 2px;
    }
    .bl_7 {
   
    padding-bottom: 27px;
}
    .bl_7.bl_16 {
      padding-bottom: 27px;
    }
    .bl_7.bl_16 {
        padding-top: 32px;
    }
    .bl_6.bl_6_2 {
        width: 230px;
        margin: 0 auto;
        padding-top: 20px;
    }
.form_title {
    width: 169px;
    height: auto;
    padding-bottom: 10px;
    padding-left: 4px;
}
    .bl_6_txt.bl_6_txt_2 {
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 331px;
    }
    p.bl_6content.bl_6content_2 {
        font-size: 16px;
    }
    p.bl_6content.bl_6content_two.bl_6content_two_2 {
        font-size: 16px;
    }
    .doctor_name {
        font-size: 16px;
    }
    img.expert {
        width: 230px;
    }
    .bl_8title {
        font-size: 24px;
        font-family: 'OpenSansRegular';
        line-height: 1.3;
        color: #fff;
        text-align: center;
        padding-top: 25px;
        /* margin-top: -5px; */
    }
    .content-u_bl_8 {
        margin-top: 28px;
    }
    .content-u_bl_81 {
        margin-top: 28px;
    }
    li.first_li_for_ul8 {
        background: none;
        padding-bottom: 0;
    }
    ul.con_ul_bl_8-first-block li {
        padding-right: 0;
        padding-top: 0;
        background: none;
    }
    li.first_li_for_ul8_1 {
        padding-bottom: 0;
        background: none;
    }
    li.second_li_for_ul8_1 {
        background: none;
        padding-top: 0;
    }
    .content-u_bl_8 {
        margin-top: 28px;
        background: none;
        padding-bottom: 0;
    }
    .content-u_bl_81 {
        margin-top: 28px;
        background: none;
        padding-bottom: 0;
    }
    ul.con_ul_bl_8-first-block li {
        text-align: center;
        font-size: 16px;
        margin-bottom: 25px;
        padding-bottom: 0;
    }
    ul.con_ul_bl_8-second-block li {
        padding-left: 0;
        text-align: center;
        font-size: 16px;
    }
.b_all {
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 70px;
    background: url('../img/pac_bl_7_3.png')no-repeat center 37px;
}.b_all1 {
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 70px;
    background: url('../img/pac_bl_7_31.png')no-repeat center 37px;
}
    .content-u_bl_8_none {
        display: none;
    }
    .content-u_bl_8_block {
        display: block;
    }.content-u_bl_8_block1 {
        display: block;
    }
    ul.con_ul_bl_8-first-block {
        width: 220px;
        float: none;
        margin: 0 auto;
        display: block;
    }
    ul.con_ul_bl_8-second-block {
        width: 220px;
        float: none;
        margin: 0 auto;
        display: block;
        margin-top: -10px;
    }
    li.second_li_for_ul8_1 {
        padding-bottom: 50px;
    }
    li.second_li_for_ul8 {
        margin-bottom: -16px!important;
    }
    li.bg_one {
        background: url('../img/otziv_1.png')no-repeat center 15px;
        background-size: 110px;
    }
    ul.sl_c {
        padding-left: 5px;
        padding-right: 5px;
    }
    .slider_commit_txt {
        font-size: 14px;
        padding-top: 145px;
        text-align: center;
    }
    .bx-wrapper .bx-prev {
        left: 10px;
        background: url('../img/arrow_left_1.png')no-repeat;
    }
    .bx-wrapper .bx-next {
        right: 10px;
        background: url('../img/arrow_right_1.png')no-repeat;
    }
    .bx-wrapper .bx-controls-direction a {
        position: absolute;
        top: 96px;
        margin-top: -42px;
        outline: 0;
        width: 19px;
        height: 35px;
        text-indent: -9999px;
        z-index: 9999;
    }
    li.bg_two {
        background: url('../img/otziv_2.png')no-repeat center 15px;
        background-size: 110px;
    }
    li.bg_three {
        background: url('../img/otziv_3.png')no-repeat center 15px;
        background-size: 110px;
    }
    .bl10_title {
        font-family: 'OpenSansRegular';
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
        margin-top: 20px;
        padding-bottom: 10px;
    }
    sup.size-24 {
        font-size: 14px;
    }
    .bl_11title {
        font-family: 'OpenSansRegular';
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
    }
    .bl_11_block {
        padding-top: 16px;
        padding-bottom: 38px;
    }
    ul.bl_11ul-new {
        margin-top: 27px;
    }
    ul.bl_11ul-new li {
        float: none;
        width: 100%;
        margin-bottom: 35px;
    }
    li.bl11li_5 {
        margin-bottom: 35px!important;
    }
    .bl_11 {
        width: 222px;
        margin: 0 auto;
        padding-left: 4px;
        padding-right: 4px;
    }
    .bl_13_title {
        font-family: 'OpenSansRegular';
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
    }
    .bl_13_content {
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 24px;
        position: relative;
        padding-top: 17px;
    }
    input.code__input.check_popup_code_input {
        width: 180px;
    }
    img.lupa.dis_n_m {
        width: 155px;
        left: 25px;
        bottom: -34px;
    }
    .code {
        margin-top: 38px;
        padding-right: 0;
        padding-bottom: 132px;
    }
    .head_form_1 {
        width: 234px;
    }
    .bl14_title {
        font-family: 'OpenSansRegular';
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
        padding-top: 35px;
    }
    ul.ul_bl_14 {
        margin-top: 41px;
    }
    .li14_name {
        font-size: 22px;
        font-family: 'PTSans-Regular';
        line-height: 1.2;
        margin-top: 3px;
        text-align: center;
    }
    ul.ul_bl_14 li {
        margin-bottom: 37px;
    }
    .footer_right.d_n_48_0 {
        display: none;
    }
  .footer_left {
    color: #909090;
    text-align: center;
    font-size: 14px;
    font-family: 'OpenSansRegular';
    float: none;
    width: 100%;
    line-height: 1.2;
    /* padding-top: 10px; */
    margin-top: 3px;
    padding-bottom: 20px;
}
    .form_price {
        margin-top: 14px;
        margin-bottom: 32px;
    }
    .why-it-better__list {
    width: 230px;
    margin: 0 auto;
    padding-left: 0;
}
    .why-it-better__picture {
    display: block;
    vertical-align: middle;
    margin: 0 auto;
}
    li.why-it-better__item {
    text-align: center;
}
    .why-it-better__info {
    margin-top: 0;
    margin: 0;
    font-size: 16px;
    /* letter-spacing: -1px; */
    width: 100%;
    margin-top: 10px;
}
    .effective__info {
    font-size: 18px;
    line-height: 24px;
    padding: 0 0px;
}
    .effective__inner {
    padding: 25px 0px 25px;
}
    .rec {
    width: 240px;
    margin: 0 auto;
}
    .logo_f {
    width: 100%;
    margin: 0 auto;
    float: none;
}
    .rec.rec_none {
    display: none;
}
    .rec.rec_none1 {
    display: block;
}
    img.footerLogo1 {
    display: block;
    margin: 0 auto;
    width: 64px;
    margin-left: 0;
    margin: 0 auto;
}
    img.arrow_form.top_arrow.noneArrow {
    display: none!important;
}
            .mod .content {
    width: 230px;
}
    .mod {
    width: 230px;
}
    .icon_user {
    background: url("../img/name.png") 0 0 no-repeat;
    height: 22px;
    width: 22px;
}
    .icon_phone {
    background: url("../img/phone.png") 0 0 no-repeat;
    height: 22px;
    width: 22px;
}
}

@media only screen and (max-width: 319px) {
    header {
        width: 100%;
        background: url('../img/bg_head_2.png') no-repeat center;
        background-size: cover;
    }
}