header {
    border: 1px solid #2a596b;
    background: #3B6A7C;
    padding: 10px;
    margin-bottom: 0px;
    z-index: 1;
    position: relative;
    color: #fff;
}
.main {
    padding-top: 20px;
    background: url('../img/bg.jpg') no-repeat center top;
    background-size: cover;
    color: #fff;
}
.main .container {
    background: rgba(0,0,0,0.3);
}
.akciya {
    text-align: center;
    border: 2px solid #aa0000;
    border-radius: 30px;
    margin: 30px auto;
    padding: 0px;
}
.main .akciya {
    border: 2px solid #fff;
    background: rgba(0,0,0,0.3);
}
.akciya h3 {
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
}
.akciya > div {
    font-size: 70px;
    color: #ff1111;
    line-height: 1;
    padding-bottom: 10px;
}
img {
    max-width: 100%;
}
h1, h2, h3 {
    text-align: center;
}
h1 {
    font-size: 65px;
    font-weight: bold;
    text-transform: uppercase;
}
h2 {
    margin-bottom: 25px;
    color: #3B6A7C;
    font-weight: bold;
    
}
p.descr {
    text-align: center;
    font-size: 2.5rem;
}
.form {
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    padding: 20px;
}
.main .form {
    border: 1px solid #999;
}
footer p {
    text-align: center;
}
footer {
    margin-top: 20px;
    padding: 20px;
    background: #dfdfdf;
}
footer p a {
    color: #777 !important;
}
.no-lek {
    font-size: 12px;
    color: #777;
    text-align: center;
}
.center {
    text-align: center;
}
.price-block {
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    font-weight: bold;
}
.price-block .old-price {
    font-size: 35px;
    text-decoration: line-through;
    color: #999;
    vertical-align: middle;
}
.price-block .new-price {
    font-size: 45px;
    color: #aa0000;
    vertical-align: middle;
}
.the-best > div {
    text-align: center;
}
.the-best .icon {
    width: 25%;
    margin: auto;
}
/*.the-best img {
    width: 25%;
}*/
.delivery-block {
    background: #999;
    padding: 30px;
}
.delivery-block * {
    color: #fff;
}
.delivery-block h3, .delivery-block p {
    text-align: center;
}
.delivery-block h3 span {
    font-weight: bold;
}
.svgicon {
    width: 50%;
}
@media (max-width: 765px) {
    .svgicon {
        width: 30%;
    }
    header::after {
        display: none;
    }
    h2 {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    h1 {
        font-size: 50px;
    }
    .akciya h3 {
        font-size: 30px;
    }
    .the-best > div::after {
        display: block;
        clear: both;
    }
    .the-best .icon {
        padding-top: 30px;
        width: 20%;
        float: left;
    }
    .the-best .icon img {
        width: 90%;
        margin: auto;
    }
    .the-best .desc {
        width: 70%;
        float: left;
    }
    .the-best p {
        text-align: justify;
    }
}
ul.sostav li span {
    display: block;
}
ul.sostav li span.li-title {
    text-transform: uppercase;
    color: #3B6A7C;
    font-weight: bold;
}
#vids * {
    text-align: center;
}
#vids img {
    height: 250px;
}
@media (max-width: 765px) {
    #vids img {
        max-height: 50px;
    }
}
#vids .a {
    border: 2px solid #777;
}
.noo-pane {
    display: none;
}
#nooklan1 {
    display: block;
}
.noo-tab {
    cursor: pointer;
}
.noo-tab:hover, .noo-tab.active {
    background: rgba(0,0,0,0.1);
}
#nooklan2 .main {
    background: url('../img/bg-2.jpg') no-repeat center top;
    background-size: cover;
}
#nooklan3 .main {
    background: url('../img/bg-3.jpg') no-repeat center top;
    background-size: cover;
}
