* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none
}


@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/GilroyBold.eot');
    src: url('../fonts/GilroyBold.eot') format('embedded-opentype'),
         url('../fonts/GilroyBold.woff2') format('woff2'),
         url('../fonts/GilroyBold.woff') format('woff'),
         url('../fonts/GilroyBold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/GilroyBlack.eot');
    src: url('../fonts/GilroyBlack.eot') format('embedded-opentype'),
         url('../fonts/GilroyBlack.woff2') format('woff2'),
         url('../fonts/GilroyBlack.woff') format('woff'),
         url('../fonts/GilroyBlack.ttf') format('truetype');
	font-weight: 900;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/GilroyRegular.eot');
    src: url('../fonts/GilroyRegular.eot') format('embedded-opentype'),
         url('../fonts/GilroyRegular.woff2') format('woff2'),
         url('../fonts/GilroyRegular.woff') format('woff'),
         url('../fonts/GilroyRegular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Gilroy';
    src: url('../fonts/GilroyRegularItalic.eot');
    src: url('../fonts/GilroyRegularItalic.eot') format('embedded-opentype'),
         url('../fonts/GilroyRegularItalic.woff2') format('woff2'),
         url('../fonts/GilroyRegularItalic.woff') format('woff'),
         url('../fonts/GilroyRegularItalic.ttf') format('truetype');
	font-weight: 400;
	font-style: italic;
}


body {font-family: 'Gilroy', sans-serif; color: #000; font-size: 18px; background: #fff;}

.limit {max-width: 1200px; padding: 0 15px;	margin: 0 auto;	position: relative}
.copy {text-align: center; margin-top: calc(15px + 2%);}
.copy img {vertical-align: middle;}
/*min*/
.px16 {font-size: 16px;}
.px18 {font-size: 18px;}
.px20 {font-size: 20px;}
.px24 {font-size: 24px;}
.px30 {font-size: 30px;}
.px36 {font-size: 36px;}
.px38 {font-size: 38px;}
.px42 {font-size: 42px;}
.px54 {font-size: 54px;}
.px60 {font-size: 60px;}
.yellow {color: #ffea00;}
.white {color: #fff;}
.orange {color: #ff4100;}
.grey {color: #999999;}
.grey2 {color: #727272;}
.rel {position: relative;}
.upp {text-transform: uppercase;}.bold {font-weight: bold;}.italic {font-style: italic;}.left {float: left;}.right {float: right;}.center {text-align: center;}.aleft {text-align: left;}.aright {text-align: right;}.nopoint {pointer-events: none;-o-pointer-events: none;-webkit-pointer-events: none;}.lh100 {line-height: 100%;}.lh120 {line-height: 120%;}.lh140 {line-height: 140%;}.lh180 {line-height: 180%;}.flex {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-align-content: stretch;-ms-flex-line-pack: stretch;align-content: stretch;}.flex-between {justify-content:space-between;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;}.flex-around {justify-content:space-around;-webkit-align-content: space-around;-ms-flex-line-pack: distribute;}.flex-center {justify-content:center;-webkit-box-pack: center;-moz-box-pack: center;-webkit-justify-content: center;-ms-flex-pack: center;}.flex-left {justify-content: flex-start;-webkit-justify-content: flex-start;-ms-flex-pack: start;}.flex-right {justify-content: flex-end;-webkit-justify-content: flex-end;-ms-flex-pack: end;}.flex-top {align-items:flex-start;-webkit-align-items: flex-start;-ms-flex-align: start;}.flex-mid {align-items:center;-webkit-box-align: center;-webkit-align-items: center;-ms-flex-align: center;}.flex-bot {align-items:flex-end;-webkit-align-items: flex-end;-ms-flex-align: end;}.flex-wrap {flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap;}.flex-column {flex-direction: column;-webkit-box-orient: vertical;-webkit-box-direction: normal;-webkit-flex-direction: column;-ms-flex-direction: column;}.flex-column-rev {flex-flow: column-reverse;-webkit-flex-direction: column-reverse;-ms-flex-direction: column-reverse;}.flex-row {flex-direction: row;-webkit-box-orient: horizontal;-moz-box-orient: horizontal;-webkit-flex-direction: row;-ms-flex-direction: row;}.flex-row-rev {flex-flow: row-reverse;-webkit-flex-direction: row-reverse;-ms-flex-direction: row-reverse;}

.w900 {font-weight: 900;}

.btn {display: block;
	background: url(../img/btn.png) no-repeat 50% 50%;
	color: #fff;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 900;
	text-decoration: none;
	max-width: 350px;
	width: 100%;
	border: 0;
	cursor: pointer;
	padding: 20px 0;
	position: relative;
	text-align: center;
	transition: all 0.5s;
}
.btn:hover {background: url(../img/btn2.png) no-repeat 50% 50%;}
sup {font-size: 65%; vertical-align: top;}
header {padding: 10px 0;}
header .div-r {max-width: 600px; width: 100%;}
header .div-r .inst {display: block;}

.sec1 {padding: calc(30px + 3%) 0; background: url(../img/bg1.jpg) no-repeat 50% 50%; background-size: cover;}
.sec1 .block {padding: calc(30px + 3%) 0 0; }
.sec1 .img {width: 32%; margin-left: -5%;}
.sec1 .img .box {display: block; position: absolute; width: 100%; max-width: 390px; left: -15%; top: 5%;}
.sec1 .img .box img {width: 100%;}
/* .sec1 .img .box:after {content: ''; position: absolute; width: 140px; height: 72px; background: url(../img/tabs.png) no-repeat; bottom: -2%; right: -5%;} */
.sec1 .txt {width: 55%;}
.sec1 .txt li {margin: calc(5px + 2%) 0 ; background: url(../img/check.png) no-repeat 0 50%; padding: 5px 0 5px 40px;}
.sec1 .btn {margin: 40px 0 0 40px;}
.sec1 .sticker {position: absolute; bottom: -5%; right: 0; max-width: 145px; width: 30%;}
.sec1 .sticker img {width: 100%;}


.sec2 {padding: calc(30px + 3%) 0; background: #fff;}


.sec2 .sec2_block_l {width: 400px;}
.sec2 .sec2_block_r {width: calc(96% - 400px);}
.sec2 .sec2_block_r p {padding: 10px 0;}
.sec2 .sec2_block_r .sec2_p {background: #f1f0f0; margin-top: 20px; padding: 10px calc(20px + 2%);}
.sec2 .sec2_block_r .sec2_p:before {content:''; position: absolute; width: 16px; height: 38px; background: url(../img/arr.png) no-repeat; top: 50%; margin-top: -19px; left: -16px;}
.form_block {background-color: #EAEAEA;	padding: 20px; width: 400px; text-align: center;	position: relative}


.form_block h3 {color: #333; font-weight: 900; padding-bottom: 20px;}

.js-timer div {
	display: inline-block;
	vertical-align: top;
	padding: 16px 0 29px 0;
	width: 72px;
	font-size: 40px;
	line-height: .4;
	font-weight: 700;
	color: #fff;
	background: #75be3c;
	margin: 0 10px
}

.js-timer div:first-child {
	margin-left: 0
}

.js-timer div:last-child {
	margin-right: 0
}

.days {
	position: relative
}

.days:before {
	content: 'дней';
	position: absolute;
	color: #fff;
	bottom: 9px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 16px;
	font-weight: 300
}

.hours {
	position: relative
}

.hours:before {
	content: 'часов';
	position: absolute;
	color: #fff;
	bottom: 9px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 16px;
	font-weight: 300
}

.minutes {position: relative}

.minutes:before {
	content: 'минут';
	position: absolute;
	color: #fff;
	bottom: 9px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 16px;
	font-weight: 300
}

.seconds {position: relative}

.seconds:before {content: 'секунд';
	position: absolute;
	color: #fff;
	bottom: 9px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 16px;
	font-weight: 300
}

#countDown {margin-bottom: 16px}

input {
	width: 100%;
	height: 60px;
	max-width: 350px;
	line-height: 60px;
	border: none;
	font-size: 24px;
	margin: 0 auto 15px;
	text-indent: 30px;
	color: #a0a0a0
}

button {margin: 0 auto;}

::-webkit-input-placeholder {
	color: #a0a0a0;
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	font-weight: 400
}

::-moz-placeholder {
	color: #a0a0a0;
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	font-weight: 400
}

:-moz-placeholder {
	color: #a0a0a0;
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	font-weight: 400
}

:-ms-input-placeholder {
	color: #a0a0a0;
	font-family: 'Gilroy', sans-serif;
	font-size: 18px;
	font-weight: 400
}

form .txt_star {
	font-weight: 400;
	font-size: 16px;
	color: #7e7e7e;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 7px
}



.sec3 {background: #f1f1f1 url(../img/arr2.png) no-repeat 50% 0; padding: calc(30px + 3%) 0;}
.sec3 .flex .block {width: 48%; box-shadow: 0 10px 50px rgba(0,0,0,0.1); }
.sec3 .flex .p1 {background: #fff url(../img/li-1.jpg) no-repeat 50% 100%; background-size: 100%}
.sec3 .flex .p2 {background: #fff url(../img/li-2.jpg) no-repeat 50% 100%; background-size: 100%}
.sec3 .flex div p:last-child {padding-top: 30px;}
.sec3 .flex .num1 {background:  url(../img/num1.png) no-repeat 90% 60%; padding: 30px 30px 120px}
.sec3 .flex .num2 {background:  url(../img/num2.png) no-repeat 90% 60%; padding: 30px 30px 120px}

.sec4 {background: #fff; padding: calc(30px + 3%) 0;}
.sec4 li {width: 50%;}
.sec4 .man {background: url(../img/man.png) no-repeat 50% 50%; height: 700px; margin-top: calc(30px + 3%);}
.sec4 .line {height: 1px; background: #bcbcbc}


.sec4 .left-li div:nth-child(1) {max-width: 600px; width: 100%; margin-top: 50px;}
.sec4 .left-li div:nth-child(1) p {width: 82%;}
.sec4 .left-li div:nth-child(1) .line {width: 18%; margin: 0 0 0 20px;}

.sec4 .left-li div:nth-child(2) {max-width: 780px; width: 100%;  margin-top: 50px;}
.sec4 .left-li div:nth-child(2) p {width: 75%;}
.sec4 .left-li div:nth-child(2) .line {width: 25%; margin: 0 0 0 20px;}

.sec4 .left-li div:nth-child(3) {max-width: 780px; width: 100%;  margin-top: 80px;}
.sec4 .left-li div:nth-child(3) p {width: 75%;}
.sec4 .left-li div:nth-child(3) .line {width: 25%; margin: 0 0 0 20px;}

.sec4 .left-li div:nth-child(4) {max-width: 780px; width: 100%;  margin-top: 80px;}
.sec4 .left-li div:nth-child(4) p {width: 75%;}
.sec4 .left-li div:nth-child(4) .line {width: 15%; margin: 0 30px  0 20px;}

.sec4 .left-li div:nth-child(5) {max-width: 780px; width: 100%;  margin-top: 50px;}
.sec4 .left-li div:nth-child(5) p {width: 75%;}
.sec4 .left-li div:nth-child(5) .line {width: 15%; margin: 0 30px  0 20px;}

.sec4 .right-li div:nth-child(1) {max-width: 600px; width: 100%; margin-top: 140px;}
.sec4 .right-li div:nth-child(1) p {width: 82%;}
.sec4 .right-li div:nth-child(1) .line {width: 14%; margin: 0 20px 0 60px;}

.sec4 .right-li div:nth-child(2) {max-width: 600px; width: 100%; margin-top: 0px;}
.sec4 .right-li div:nth-child(2) p {width: 74%;}
.sec4 .right-li div:nth-child(2) .line {width: 26%; margin: 0 20px 0 0;}

.sec4 .right-li div:nth-child(3) {max-width: 600px; width: 100%; margin-top: 30px;}
.sec4 .right-li div:nth-child(3) p {width: 74%;}
.sec4 .right-li div:nth-child(3) .line {width: 26%; margin: 0 20px 0 0;}

.sec4 .right-li div:nth-child(4) {max-width: 600px; width: 100%; margin-top: 20px;}
.sec4 .right-li div:nth-child(4) p {width: 88%;}
.sec4 .right-li div:nth-child(4) .line {width: 12%; margin: 0 20px 0 40px;}

.sec4 .right-li .line {margin: 0 20px 0 0;} 

.sec5 {background: #f1f1f1 url(../img/bg2.jpg) no-repeat 50% 50%; background-size: cover; padding: calc(30px + 3%) 0;}
.sec5 .title {max-width: 880px; margin: 0 auto;}
.sec5 ul {padding: calc(30px + 3%) 0;}
.sec5 ul li {width: 48%; background: #fff; padding: 30px; box-shadow: 0 10px 50px rgba(0,0,0,0.1); }
.sec5 ul li img {padding: 30px 0;}
.sec5 ul li .no {background: url(../img/no.png) no-repeat 50% 50%; padding: 30px 0;}
.sec5 ul li .yes {background: url(../img/yes.png) no-repeat 50% 50%; padding: 30px 0;}
.sec5 a {margin: 30px auto 0;}

.sec6 {background: #f1f1f1 url(../img/bg3.jpg) no-repeat 50% 50%; background-size: cover; padding: calc(30px + 3%) 0;}
.sec6 .txt {width: 70%;}
.sec6 .txt .title {padding-bottom: 30px;}
.sec6 .img {width: 28%; max-width: 257px;}
.sec6 .img img {width: 100%; }

.sec7 {background: url(../img/arr3.png) no-repeat 50% 0; padding: calc(30px + 3%) 0;}
.sec7 .img {width: 28%; max-width: 315px;}
.sec7 .img img {width: 100%;}
.sec7 .txt {width: 70%;}
.sec7 .txt p {padding: 10px 0;}

.sec7 {background: url(../img/arr3.png) no-repeat 50% 0; padding: calc(30px + 3%) 0;}

.sec8 {background: #f1f1f1; padding: calc(30px + 3%) 0;}
.sec8 .desc {padding-top: calc(10px + 1%)}
.sec8 .p1 {margin-top: calc(30px + 3%);}
.sec8 .p1 li {width: 31%; box-shadow: 0 10px 30px rgba(0,0,0,0.1); padding: 20px 30px 120px 30px;}
.sec8 .p1 li:nth-child(1) {background: #fff url(../img/pic1.jpg) no-repeat 50% 100%; background-size: 100%;}
.sec8 .p1 li:nth-child(2) {background: #fff url(../img/pic2.jpg) no-repeat 50% 100%; background-size: 100%;}
.sec8 .p1 li:nth-child(3) {background: #fff url(../img/pic3.jpg) no-repeat 50% 100%; background-size: 100%;}
.sec8 .p2 {margin-top: calc(20px + 2%);}
.sec8 .p2 li {width: 23%; box-shadow: 0 10px 30px rgba(0,0,0,0.1); padding: 20px 20px 100px 20px;}
.sec8 .p2 li:nth-child(1) {background: #fff url(../img/pic4.jpg) no-repeat 50% 100%; background-size: 100%;}
.sec8 .p2 li:nth-child(2) {background: #fff url(../img/pic5.jpg) no-repeat 50% 100%; background-size: 100%;}
.sec8 .p2 li:nth-child(3) {background: #fff url(../img/pic6.jpg) no-repeat 50% 100%; background-size: 100%;}
.sec8 .p2 li:nth-child(4) {background: #fff url(../img/pic7.jpg) no-repeat 50% 100%; background-size: 100%;}
.sec8 .info {max-width: 720px; margin: calc(30px + 3%) auto 0;}
.sec8 a {margin: calc(15px + 2%) auto 0;}

.sec9 {background: #fff; padding: calc(30px + 3%) 0;}
.sec9 .title {padding-bottom: calc(20px + 3%);}
.sec9 .txt {width: 72%;}
.sec9 .img {width: 25%; max-width: 285px;}
.sec9 .img img {width: 100%;}
.sec9 .fio p {width: 40%;}
.sec9 .fio .podpis {width: 45%; }
.sec9 .fio .podpis img {width: 100%; max-width: 248px;}

.sec10 {background: #ffedc8 url(../img/bg4.jpg) no-repeat 50% 50%; background-size: cover; padding: calc(30px + 3%) 0;}
.sec10 .img {width: 35%; }
.sec10 .img img {width: 100%; max-width: 367px;}
.sec10 .txt {width: 62%;}
.sec10 .flex {padding-top: calc(15px + 2%);}
.sec10 ul li {background: url(../img/check2.png) no-repeat 0 50%; margin: 1% 0; line-height: 120%; padding: 8px 0 8px 40px;}
.sec10 .info {max-width: 720px; margin: calc(15px + 1%) auto 0;}
.sec10 a {margin: calc(15px + 2%) auto 0;}

.sec11 {background: #fff; padding: calc(30px + 3%) 0;}
.sec11 .img {width: 80px;}
.sec11 .txt {width: calc(98% - 80px);}
.sec11 li {margin: calc(15px + 0.5%) 0;}

.sec12 {background: #f1f1f1; padding: calc(30px + 3%) 0;}
.sec12 .title {padding-bottom: calc(20px + 2%);}
.sec12 .txt {width: 76%;}
.sec12 .txt p {padding: 0 0 20px;}
.sec12 .img {width: 22%;}
.sec12 .img img {width: 100%;}
.sec12 a {margin: calc(15px + 2%) auto 0;}
.sec12 .mix {position: absolute; left: 0; bottom: -28%; width: 30%; max-width: 391px;}
.sec12 .mix img {width:100%;}


.sec14 {background: #fff; padding: calc(30px + 3%) 0;}
.sec14 .fio {padding-top: 30px;}

.sec14 .slick_sl {
	margin-top: 55px
}

.sec14 .slick_sl img {
	display: inline-block;
	vertical-align: top;
	margin-right: 27px
}
.sec14 .slick_sl .img {width: 35%;}
.sec14 .slick_sl .img img {width: 100%;}
.sec14 .slick_sl .txt {position: relative; width: calc(63% - 35px); padding: 30px; background: #F4F4F4 url(../img/kavychki.png) no-repeat 95% 85%;}
.sec14 .slick_sl .txt:after {content:''; position: absolute; width: 32px; height: 64px; background: url(../img/arr4.png) no-repeat; top: 50%; margin-top: -32px; left: -32px;}
.slick-prev {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: calc(-50px - 3%);
	width: 49px;
	height: 51px;
	background: url(../img/prev.png) no-repeat;
	font-size: 0;
	z-index: 10;
	border: none;
	cursor: pointer
}

.slick-next {
	position: absolute;
	top: 50%;
	margin-top: -25px;
	right: calc(-50px - 3%);
	width: 49px;
	height: 51px;
	z-index: 10;
	background: url(../img/next.png) no-repeat;
	font-size: 0;
	border: none;
	cursor: pointer;
}

.slick-dots {
	text-align: center;
	margin-top: 20px
}

.slick-dots li {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 14px;
	margin-right: 6px;
	background-color: #EAEAEA;
	border-radius: 50%;
	cursor: pointer;
}

.slick-dots li.slick-active {
	background-color: #00B6D3
}

.slick-dots li button {
	border: none;
	font-size: 0
}

.slick-dots li:last-child {
	margin-right: 0
}

.sec15 {background: url(../img/bg5.jpg) 50% 50%; background-size: cover; padding: calc(30px + 3%) 0 10px;}
.sec15 ul {padding: 15px 0;}
.sec15 ul li {background: url(../img/check.png) no-repeat 0 50%; padding: 10px 0 10px 40px; margin-right: 30px;}
.sec15 .box {position: absolute; bottom: -40px; left: 430px; width: 40%; max-width: 390px;}
.sec15 .box img {width: 100%;}
.sec15 .box .tabs {position: absolute; right: 0; bottom: 0; z-index: 1;}
.sec15 .last_form {margin-top: calc(15px + 3%);position: relative;}
.sec15 .last_form .title {padding-bottom: 20px;}
.sec15 .sticker {position: absolute; top:0; left: 62%;  max-width: 145px; width: 30%;}
.sec15 .sticker img {width: 100%;}
.sec15 .form_block {
	display: inline-block;
	vertical-align: top;
	max-width: 408px;
	position: relative;
	z-index: 30;
}

.sec16 {padding: calc(20px + 2%) 0;}
.sec16 .sec16_block_l {
	display: inline-block;
	vertical-align: top;
	width: 49.4%;
	background-color: #E9E9E9;
	padding: 11px
}

.sec16 .sec16_block_r {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	padding: 22px 0 0 0;
}

.sec16 .sec16_block_l .sec16_block_l_inner {
	border: solid 6px #fff;
	background: #E9E9E9;
	padding: 20px;
}




.sec16 .btn {
	margin-top: 16px;
	font-size: 23px;
	padding: 17px 0 14px 29px;
	max-width: 350px
}

.sec16 .btn img {
	width: 20px;
	right: 24px
}

.sec16 .sec16_block_r h2 {
	font-size: 26px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase
}

.sec16 .sec16_block_r .icons {
	margin-top: 38px
}

.sec16 .sec16_block_r .icons .icons_item {
	width: 50%;
	margin-bottom: 30px
}

.sec16 .sec16_block_r .icons .icons_item:nth-child(even) {
	padding-left: 11px
}



.sec16 .sec16_block_r .icons .icons_item p {
	display: inline-block;
	vertical-align: top;
	width: 83%;
	font-weight: 400;
	color: #000;
	padding-left: 6px
}
.sec16_block_l_inner p {padding: 8px 0;}
.sec16 .sec16_block_r .icons .icons_item:nth-child(even) p {
	padding-left: 10px;
	width: 84%
}
.overley {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: none;
	z-index: 20;
}
.overley .popup {
	width: 660px;
	padding: 80px 50px 80px 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: linear-gradient(to top, #EB1322, #FF762D);
}
.close {
	position: absolute;
	right: 5px;
	top: 5px;
	border-radius: 50%;
	background: #fff;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.close span:first-child {
	position: absolute;
	width: 2px;
	top: 7px;
	left: 14px;
	height: 16px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	background-color: #898989;
}
.close span:last-child {
	position: absolute;
	width: 2px;
	top: 7px;
	left: 14px;
	height: 16px;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #898989;
}
.overley .popup h2 {
	font-size: 30px;
	text-align: center;
	color: #fff;
	margin-bottom: 25px;
}
.overley .popup .pop_form input {
	width: 80%;
	display: block;
	background: #fff;
	border: none;
	border-radius: 40px;
	height: 60px;
	margin: 0 auto 20px;
	line-height: 60px;
	padding-left: 30px;
}
.overley .popup .pop_form .btn_popup {
	display: block;
	border-radius: 50px;
	margin: 25px auto 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 700;
	background: linear-gradient(to top, #74C30B, #B6FC59);
	padding: 15px 0;
	border: none;
	cursor: pointer;
	width: 70%;
}
body._fixed {
	overflow: hidden;
}
body._fixed .overflow {
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}

@media only screen and (max-width:1900px) {
}

@media only screen and (max-width:1830px) {

}

@media only screen and (max-width:1470px) {
.sec1 {background: url(../img/bg1.jpg) no-repeat 80% 50%; background-size: cover;}
.slick-prev {left:0;}	
.slick-next {right:0;}	
}
@media only screen and (max-width:1380px) {
.slick-slider {padding: 0 60px;}
}


@media only screen and (max-width:1200px) {
	.sec1 .sticker {right: -20%;}
	
	
}

@media only screen and (max-width:979px) {
	

	.sec2 .sec2_block_r {width: 100%;}
	.sec2 .sec2_block_l {width: 100%; margin-top: 40px;}
	.sec2 .sec2_block_l .form_block {margin: 0 auto;}

	.sec2 .reverse {flex-flow: column-reverse;-webkit-flex-direction: column-reverse;-ms-flex-direction: column-reverse;}


.sec4 .left-li div:nth-child(1) {max-width: 600px; width: 100%; margin-top: 20px;}
.sec4 .left-li div:nth-child(1) p {width: 82%;}
.sec4 .left-li div:nth-child(1) .line {width: 18%; margin: 0 0 0 20px;}

.sec4 .left-li div:nth-child(2) {max-width: 780px; width: 100%;  margin-top: 40px;}
.sec4 .left-li div:nth-child(2) p {width: 75%;}
.sec4 .left-li div:nth-child(2) .line {width: 25%; margin: 0 0 0 20px;}

.sec4 .left-li div:nth-child(3) {max-width: 780px; width: 100%;  margin-top: 60px;}
.sec4 .left-li div:nth-child(3) p {width: 75%;}
.sec4 .left-li div:nth-child(3) .line {width: 25%; margin: 0 0 0 20px;}

.sec4 .left-li div:nth-child(4) {max-width: 780px; width: 100%;  margin-top: 60px;}
.sec4 .left-li div:nth-child(4) p {width: 75%;}
.sec4 .left-li div:nth-child(4) .line {width: 15%; margin: 0 30px  0 20px;}

.sec4 .left-li div:nth-child(5) {max-width: 780px; width: 100%;  margin-top: 50px;}
.sec4 .left-li div:nth-child(5) p {width: 75%;}
.sec4 .left-li div:nth-child(5) .line {width: 15%; margin: 0 30px  0 20px;}

.sec4 .right-li div:nth-child(1) {max-width: 600px; width: 100%; margin-top: 80px;}
.sec4 .right-li div:nth-child(1) p {width: 82%;}
.sec4 .right-li div:nth-child(1) .line {width: 14%; margin: 0 20px 0 60px;}

.sec4 .right-li div:nth-child(2) {max-width: 600px; width: 100%; margin-top: 0px; }
.sec4 .right-li div:nth-child(2) p {width: 74%;}
.sec4 .right-li div:nth-child(2) .line {width: 26%; margin: 0 20px 0 0;}

.sec4 .right-li div:nth-child(3) {max-width: 600px; width: 100%; margin-top: 0px;}
.sec4 .right-li div:nth-child(3) p {width: 74%;}
.sec4 .right-li div:nth-child(3) .line {width: 26%; margin: 0 20px 0 0;}

.sec4 .right-li div:nth-child(4) {max-width: 600px; width: 100%; margin-top: 0px;}
.sec4 .right-li div:nth-child(4) p {width: 88%;}
.sec4 .right-li div:nth-child(4) .line {width: 12%; margin: 0 20px 0 40px;}

	.sec15 {background: url(../img/bg1m.jpg) no-repeat 50% 50%; background-size: cover;}
	.sec16 .sec16_block_l {width: 100%;}
	.sec16 .sec16_block_r {width: 100%;}

}
@media only screen and (max-width:860px) {
	header .div-r {width: auto; }	
	header .btn {display: none;}
	.sec1 {background: url(../img/bg1m.jpg) no-repeat 50% 50%; background-size: cover;}
	.sec1 .sticker {display: none;}
	.sec1 .img {width :100%; position: relative; margin: 0 0 30px;}
	.sec1 .img .box {position: relative; margin: 0 auto; left: -5%; top: auto; width: 60%;}
	.sec1 .img .box:after {width: 120px; height: 70px; background-size: 100%; bottom: auto; top: 85%;}
	.sec1 .txt {width: 100%; max-width: 520px; margin: 0 auto;}

	.sec3 .flex .block {width: 100%; margin: 20px auto;}
	.sec4 .man {height: auto;}
	.sec4 li .line {display: none;}
	.sec4 ul {justify-content:space-between;-webkit-box-pack: justify;-webkit-justify-content: space-between;-ms-flex-pack: justify;}
	.sec4 li {width: 45%;}
	.sec4 .left-li div:nth-child(1) p {width: 100%;}
	.sec4 .left-li div:nth-child(2) p {width: 100%;}
	.sec4 .left-li div:nth-child(3) p {width: 100%;}
	.sec4 .left-li div:nth-child(4) p {width: 100%;}
	.sec4 .left-li div:nth-child(5) p {width: 100%;}

	.sec4 .right-li div:nth-child(1) p {width: 100%;}
	.sec4 .right-li div:nth-child(2) p {width: 100%;}
	.sec4 .right-li div:nth-child(3) p {width: 100%;}
	.sec4 .right-li div:nth-child(4) p {width: 100%;}
	.sec4 .right-li div:nth-child(5) p {width: 100%;}

	.sec5 {background: #f1f1f1;}
	.sec5 ul li {width: 100%; margin: 15px auto;}

	.sec6 .img {display: none;}
	.sec6 .txt {width: 100%; text-align: center;}

	.sec7 .img {width: 100%; margin: 0 auto; max-width: 500px;}
	.sec7 .txt {width: 100%; text-align: center;}

	.sec8 .p1 li {width: 100%; max-width: 480px; margin: 20px auto;}
	.sec8 .p2 li {width: 48%; height: 300px; margin: 20px auto;}
	.sec9 .img {display: none;}
	.sec9 .txt {width: 100%;}
	.sec14 .slick_sl .img {width: 100%;}
	.sec14 .slick_sl .txt {width: 100%; margin-top: 30px;}

	.sec12 .mix {display: none;}
	.sec15 .box {left: 50%; width: 50%;}
	.sec15 .px60 {text-align: center;}



	
}
@media only screen and (max-width:767px) {
	
	
	.limit {padding: 0 10px;}

	.sec12 .txt {width: 100%;}
	.sec12 .img {width: 80%; max-width: 360px; margin: 0 auto;}
	
	.overley .popup {
		width: 90%;
		padding: 35px 10px 40px 10px;
	}
	.overley .popup h2 {
		font-size: 22px;
	}
	.overley .popup .pop_form input {
		width: 100%;
		height: 45px;
		line-height: 45px;
	}
	.overley .popup .pop_form .btn_popup {
		width: 100%;
		font-size: 24px;
	}

	.slick-slider {padding: 0 3%;}

	.sec15 .last_form {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-align-content: stretch;-ms-flex-line-pack: stretch;align-content: stretch; flex-flow: column-reverse;-webkit-flex-direction: column-reverse;-ms-flex-direction: column-reverse; flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap;}
	.sec15 .box {position: relative; bottom: auto; left: auto;}
	.sec15 .sticker {display: none;}
	.sec15 .box {width: 70%; margin: 0 auto;}
	.sec15 .form_block {margin: 20px auto 0;}
	.sec15 ul {flex-wrap: wrap;-webkit-flex-wrap: wrap;-moz-flex-wrap: wrap;-ms-flex-wrap: wrap;-o-flex-wrap: wrap; max-width: 400px; margin: 0 auto;}
	.sec15 ul li {width: 100%;}
}

@media only screen and (max-width: 640px) {
	header .div-r .inst {width: 45px; overflow: hidden;}
	header img {margin: 10px auto;}
	.sec4 ul {background: rgba(255,255,255,0.5);}
	.sec4 li {width: 100%; text-align: center;}
	.sec4 .left-li div:nth-child(1) {margin: 10px auto;}
	.sec4 .left-li div:nth-child(2) {margin: 10px auto;}
	.sec4 .left-li div:nth-child(3) {margin: 10px auto;}
	.sec4 .left-li div:nth-child(4) {margin: 10px auto;}
	.sec4 .left-li div:nth-child(5) {margin: 10px auto;}
	.sec4 .right-li div:nth-child(1) {margin: 10px auto;}
	.sec4 .right-li div:nth-child(2) {margin: 10px auto;}
	.sec4 .right-li div:nth-child(3) {margin: 10px auto;}
	.sec4 .right-li div:nth-child(4) {margin: 10px auto;}
	.sec4 .right-li div:nth-child(5) {margin: 10px auto;}
	.sec11 .flex-mid {align-items:flex-start;-webkit-align-items: flex-start;-ms-flex-align: start;}
	.sec15 .px60 {font-size: 48px;}

}
@media only screen and (max-width: 580px) {
.sec10 .img {width: 60%; margin: 0 auto;}
.sec10 .img img {width: 100%; max-width: 367px;}
.sec10 .txt {width: 100%;}
.sec16 .px30 {font-size: 20px;}
.sec16 .px24 {font-size: 20px;}

.sec16 .px20 {font-size: 18px;}
}