
    html {
        font-family: sans-serif;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%
    }
    body {
        margin: 0
    }
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
        display: block
    }
    audio,
    canvas,
    progress,
    video {
        display: inline-block;
        vertical-align: baseline
    }
    audio:not([controls]) {
        display: none;
        height: 0
    }
    [hidden],
    template {
        display: none
    }
    a {
        background-color: transparent
    }
    a:active,
    a:hover {
        outline: 0
    }
    abbr[title] {
        border-bottom: 1px dotted
    }
    b,
    strong {
        font-weight: 700
    }
    dfn {
        font-style: italic
    }
    h1 {
        font-size: 2em;
        margin: .67em 0
    }
    mark {
        background: #ff0;
        color: #000
    }
    small {
        font-size: 80%
    }
    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline
    }
    sup {
        top: -.5em
    }
    sub {
        bottom: -.25em
    }
    img {
        border: 0
    }
    svg:not(:root) {
        overflow: hidden
    }
    figure {
        margin: 1em 40px
    }
    hr {
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        height: 0
    }
    pre {
        overflow: auto
    }
    code,
    kbd,
    pre,
    samp {
        font-family: monospace, monospace;
        font-size: 1em
    }
    button,
    input,
    optgroup,
    select,
    textarea {
        color: inherit;
        font: inherit;
        margin: 0
    }
    button {
        overflow: visible
    }
    button,
    select {
        text-transform: none
    }
    button,
    html input[type=button],
    input[type=reset],
    input[type=submit] {
        -webkit-appearance: button;
        cursor: pointer
    }
    button[disabled],
    html input[disabled] {
        cursor: default
    }
    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0
    }
    input {
        line-height: normal
    }
    input[type=checkbox],
    input[type=radio] {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        height: auto
    }
    input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        box-sizing: content-box
    }
    input[type=search]::-webkit-search-cancel-button,
    input[type=search]::-webkit-search-decoration {
        -webkit-appearance: none
    }
    fieldset {
        border: 1px solid silver;
        margin: 0 2px;
        padding: .35em .625em .75em
    }
    legend {
        border: 0;
        padding: 0
    }
    textarea {
        overflow: auto
    }
    optgroup {
        font-weight: 700
    }
    table {
        border-collapse: collapse;
        border-spacing: 0
    }
    td,
    th {
        padding: 0
    }
    *,
    :after,
    :before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box
    }
    html {
        font-size: 10px;
        -webkit-tap-highlight-color: transparent
    }
    body {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857;
        color: #333;
        background-color: #fff
    }
    button,
    input,
    select,
    textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit
    }
    a {
        color: #337ab7;
        text-decoration: none
    }
    a:focus,
    a:hover {
        color: #23527c;
        text-decoration: underline
    }
    a:focus {
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px
    }
    figure {
        margin: 0
    }
    img {
        vertical-align: middle
    }
    .img-responsive {
        display: block;
        max-width: 100%;
        height: auto
    }
    .img-rounded {
        -webkit-border-radius: 6px;
        border-radius: 6px
    }
    .img-thumbnail {
        padding: 4px;
        line-height: 1.42857;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        display: inline-block;
        max-width: 100%;
        height: auto
    }
    .img-circle {
        -webkit-border-radius: 50%;
        border-radius: 50%
    }
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 1px solid #eee
    }
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0
    }
    .sr-only-focusable:active,
    .sr-only-focusable:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto
    }
    [role=button] {
        cursor: pointer
    }
    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px
    }
    .container:after,
    .container:before {
        content: " ";
        display: table
    }
    .container:after {
        clear: both
    }
    @media (min-width: 480px) {
        .container {
            width: 470px
        }
    }
    @media (min-width: 992px) {
        .container {
            width: 970px
        }
    }
    @media (min-width: 1200px) {
        .container {
            width: 1170px
        }
    }
    .container-fluid {
        margin-right: auto;
        margin-left: auto;
        padding-left: 15px;
        padding-right: 15px
    }
    .container-fluid:after,
    .container-fluid:before {
        content: " ";
        display: table
    }
    .container-fluid:after {
        clear: both
    }
    .row {
        margin-left: -15px;
        margin-right: -15px
    }
    .row:after,
    .row:before {
        content: " ";
        display: table
    }
    .row:after {
        clear: both
    }
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px
    }
    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
        float: left
    }
    .col-xs-1 {
        width: 8.33333%
    }
    .col-xs-2 {
        width: 16.66667%
    }
    .col-xs-3 {
        width: 25%
    }
    .col-xs-4 {
        width: 33.33333%
    }
    .col-xs-5 {
        width: 41.66667%
    }
    .col-xs-6 {
        width: 50%
    }
    .col-xs-7 {
        width: 58.33333%
    }
    .col-xs-8 {
        width: 66.66667%
    }
    .col-xs-9 {
        width: 75%
    }
    .col-xs-10 {
        width: 83.33333%
    }
    .col-xs-11 {
        width: 91.66667%
    }
    .col-xs-12 {
        width: 100%
    }
    .col-xs-pull-0 {
        right: auto
    }
    .col-xs-pull-1 {
        right: 8.33333%
    }
    .col-xs-pull-2 {
        right: 16.66667%
    }
    .col-xs-pull-3 {
        right: 25%
    }
    .col-xs-pull-4 {
        right: 33.33333%
    }
    .col-xs-pull-5 {
        right: 41.66667%
    }
    .col-xs-pull-6 {
        right: 50%
    }
    .col-xs-pull-7 {
        right: 58.33333%
    }
    .col-xs-pull-8 {
        right: 66.66667%
    }
    .col-xs-pull-9 {
        right: 75%
    }
    .col-xs-pull-10 {
        right: 83.33333%
    }
    .col-xs-pull-11 {
        right: 91.66667%
    }
    .col-xs-pull-12 {
        right: 100%
    }
    .col-xs-push-0 {
        left: auto
    }
    .col-xs-push-1 {
        left: 8.33333%
    }
    .col-xs-push-2 {
        left: 16.66667%
    }
    .col-xs-push-3 {
        left: 25%
    }
    .col-xs-push-4 {
        left: 33.33333%
    }
    .col-xs-push-5 {
        left: 41.66667%
    }
    .col-xs-push-6 {
        left: 50%
    }
    .col-xs-push-7 {
        left: 58.33333%
    }
    .col-xs-push-8 {
        left: 66.66667%
    }
    .col-xs-push-9 {
        left: 75%
    }
    .col-xs-push-10 {
        left: 83.33333%
    }
    .col-xs-push-11 {
        left: 91.66667%
    }
    .col-xs-push-12 {
        left: 100%
    }
    .col-xs-offset-0 {
        margin-left: 0
    }
    .col-xs-offset-1 {
        margin-left: 8.33333%
    }
    .col-xs-offset-2 {
        margin-left: 16.66667%
    }
    .col-xs-offset-3 {
        margin-left: 25%
    }
    .col-xs-offset-4 {
        margin-left: 33.33333%
    }
    .col-xs-offset-5 {
        margin-left: 41.66667%
    }
    .col-xs-offset-6 {
        margin-left: 50%
    }
    .col-xs-offset-7 {
        margin-left: 58.33333%
    }
    .col-xs-offset-8 {
        margin-left: 66.66667%
    }
    .col-xs-offset-9 {
        margin-left: 75%
    }
    .col-xs-offset-10 {
        margin-left: 83.33333%
    }
    .col-xs-offset-11 {
        margin-left: 91.66667%
    }
    .col-xs-offset-12 {
        margin-left: 100%
    }
    @media (min-width: 480px) {
        .col-sm-1,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12 {
            float: left
        }
        .col-sm-1 {
            width: 8.33333%
        }
        .col-sm-2 {
            width: 16.66667%
        }
        .col-sm-3 {
            width: 25%
        }
        .col-sm-4 {
            width: 33.33333%
        }
        .col-sm-5 {
            width: 41.66667%
        }
        .col-sm-6 {
            width: 50%
        }
        .col-sm-7 {
            width: 58.33333%
        }
        .col-sm-8 {
            width: 66.66667%
        }
        .col-sm-9 {
            width: 75%
        }
        .col-sm-10 {
            width: 83.33333%
        }
        .col-sm-11 {
            width: 91.66667%
        }
        .col-sm-12 {
            width: 100%
        }
        .col-sm-pull-0 {
            right: auto
        }
        .col-sm-pull-1 {
            right: 8.33333%
        }
        .col-sm-pull-2 {
            right: 16.66667%
        }
        .col-sm-pull-3 {
            right: 25%
        }
        .col-sm-pull-4 {
            right: 33.33333%
        }
        .col-sm-pull-5 {
            right: 41.66667%
        }
        .col-sm-pull-6 {
            right: 50%
        }
        .col-sm-pull-7 {
            right: 58.33333%
        }
        .col-sm-pull-8 {
            right: 66.66667%
        }
        .col-sm-pull-9 {
            right: 75%
        }
        .col-sm-pull-10 {
            right: 83.33333%
        }
        .col-sm-pull-11 {
            right: 91.66667%
        }
        .col-sm-pull-12 {
            right: 100%
        }
        .col-sm-push-0 {
            left: auto
        }
        .col-sm-push-1 {
            left: 8.33333%
        }
        .col-sm-push-2 {
            left: 16.66667%
        }
        .col-sm-push-3 {
            left: 25%
        }
        .col-sm-push-4 {
            left: 33.33333%
        }
        .col-sm-push-5 {
            left: 41.66667%
        }
        .col-sm-push-6 {
            left: 50%
        }
        .col-sm-push-7 {
            left: 58.33333%
        }
        .col-sm-push-8 {
            left: 66.66667%
        }
        .col-sm-push-9 {
            left: 75%
        }
        .col-sm-push-10 {
            left: 83.33333%
        }
        .col-sm-push-11 {
            left: 91.66667%
        }
        .col-sm-push-12 {
            left: 100%
        }
        .col-sm-offset-0 {
            margin-left: 0
        }
        .col-sm-offset-1 {
            margin-left: 8.33333%
        }
        .col-sm-offset-2 {
            margin-left: 16.66667%
        }
        .col-sm-offset-3 {
            margin-left: 25%
        }
        .col-sm-offset-4 {
            margin-left: 33.33333%
        }
        .col-sm-offset-5 {
            margin-left: 41.66667%
        }
        .col-sm-offset-6 {
            margin-left: 50%
        }
        .col-sm-offset-7 {
            margin-left: 58.33333%
        }
        .col-sm-offset-8 {
            margin-left: 66.66667%
        }
        .col-sm-offset-9 {
            margin-left: 75%
        }
        .col-sm-offset-10 {
            margin-left: 83.33333%
        }
        .col-sm-offset-11 {
            margin-left: 91.66667%
        }
        .col-sm-offset-12 {
            margin-left: 100%
        }
    }
    @media (min-width: 992px) {
        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12 {
            float: left
        }
        .col-md-1 {
            width: 8.33333%
        }
        .col-md-2 {
            width: 16.66667%
        }
        .col-md-3 {
            width: 25%
        }
        .col-md-4 {
            width: 33.33333%
        }
        .col-md-5 {
            width: 41.66667%
        }
        .col-md-6 {
            width: 50%
        }
        .col-md-7 {
            width: 58.33333%
        }
        .col-md-8 {
            width: 66.66667%
        }
        .col-md-9 {
            width: 75%
        }
        .col-md-10 {
            width: 83.33333%
        }
        .col-md-11 {
            width: 91.66667%
        }
        .col-md-12 {
            width: 100%
        }
        .col-md-pull-0 {
            right: auto
        }
        .col-md-pull-1 {
            right: 8.33333%
        }
        .col-md-pull-2 {
            right: 16.66667%
        }
        .col-md-pull-3 {
            right: 25%
        }
        .col-md-pull-4 {
            right: 33.33333%
        }
        .col-md-pull-5 {
            right: 41.66667%
        }
        .col-md-pull-6 {
            right: 50%
        }
        .col-md-pull-7 {
            right: 58.33333%
        }
        .col-md-pull-8 {
            right: 66.66667%
        }
        .col-md-pull-9 {
            right: 75%
        }
        .col-md-pull-10 {
            right: 83.33333%
        }
        .col-md-pull-11 {
            right: 91.66667%
        }
        .col-md-pull-12 {
            right: 100%
        }
        .col-md-push-0 {
            left: auto
        }
        .col-md-push-1 {
            left: 8.33333%
        }
        .col-md-push-2 {
            left: 16.66667%
        }
        .col-md-push-3 {
            left: 25%
        }
        .col-md-push-4 {
            left: 33.33333%
        }
        .col-md-push-5 {
            left: 41.66667%
        }
        .col-md-push-6 {
            left: 50%
        }
        .col-md-push-7 {
            left: 58.33333%
        }
        .col-md-push-8 {
            left: 66.66667%
        }
        .col-md-push-9 {
            left: 75%
        }
        .col-md-push-10 {
            left: 83.33333%
        }
        .col-md-push-11 {
            left: 91.66667%
        }
        .col-md-push-12 {
            left: 100%
        }
        .col-md-offset-0 {
            margin-left: 0
        }
        .col-md-offset-1 {
            margin-left: 8.33333%
        }
        .col-md-offset-2 {
            margin-left: 16.66667%
        }
        .col-md-offset-3 {
            margin-left: 25%
        }
        .col-md-offset-4 {
            margin-left: 33.33333%
        }
        .col-md-offset-5 {
            margin-left: 41.66667%
        }
        .col-md-offset-6 {
            margin-left: 50%
        }
        .col-md-offset-7 {
            margin-left: 58.33333%
        }
        .col-md-offset-8 {
            margin-left: 66.66667%
        }
        .col-md-offset-9 {
            margin-left: 75%
        }
        .col-md-offset-10 {
            margin-left: 83.33333%
        }
        .col-md-offset-11 {
            margin-left: 91.66667%
        }
        .col-md-offset-12 {
            margin-left: 100%
        }
    }
    @media (min-width: 1200px) {
        .col-lg-1,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12 {
            float: left
        }
        .col-lg-1 {
            width: 8.33333%
        }
        .col-lg-2 {
            width: 16.66667%
        }
        .col-lg-3 {
            width: 25%
        }
        .col-lg-4 {
            width: 33.33333%
        }
        .col-lg-5 {
            width: 41.66667%
        }
        .col-lg-6 {
            width: 50%
        }
        .col-lg-7 {
            width: 58.33333%
        }
        .col-lg-8 {
            width: 66.66667%
        }
        .col-lg-9 {
            width: 75%
        }
        .col-lg-10 {
            width: 83.33333%
        }
        .col-lg-11 {
            width: 91.66667%
        }
        .col-lg-12 {
            width: 100%
        }
        .col-lg-pull-0 {
            right: auto
        }
        .col-lg-pull-1 {
            right: 8.33333%
        }
        .col-lg-pull-2 {
            right: 16.66667%
        }
        .col-lg-pull-3 {
            right: 25%
        }
        .col-lg-pull-4 {
            right: 33.33333%
        }
        .col-lg-pull-5 {
            right: 41.66667%
        }
        .col-lg-pull-6 {
            right: 50%
        }
        .col-lg-pull-7 {
            right: 58.33333%
        }
        .col-lg-pull-8 {
            right: 66.66667%
        }
        .col-lg-pull-9 {
            right: 75%
        }
        .col-lg-pull-10 {
            right: 83.33333%
        }
        .col-lg-pull-11 {
            right: 91.66667%
        }
        .col-lg-pull-12 {
            right: 100%
        }
        .col-lg-push-0 {
            left: auto
        }
        .col-lg-push-1 {
            left: 8.33333%
        }
        .col-lg-push-2 {
            left: 16.66667%
        }
        .col-lg-push-3 {
            left: 25%
        }
        .col-lg-push-4 {
            left: 33.33333%
        }
        .col-lg-push-5 {
            left: 41.66667%
        }
        .col-lg-push-6 {
            left: 50%
        }
        .col-lg-push-7 {
            left: 58.33333%
        }
        .col-lg-push-8 {
            left: 66.66667%
        }
        .col-lg-push-9 {
            left: 75%
        }
        .col-lg-push-10 {
            left: 83.33333%
        }
        .col-lg-push-11 {
            left: 91.66667%
        }
        .col-lg-push-12 {
            left: 100%
        }
        .col-lg-offset-0 {
            margin-left: 0
        }
        .col-lg-offset-1 {
            margin-left: 8.33333%
        }
        .col-lg-offset-2 {
            margin-left: 16.66667%
        }
        .col-lg-offset-3 {
            margin-left: 25%
        }
        .col-lg-offset-4 {
            margin-left: 33.33333%
        }
        .col-lg-offset-5 {
            margin-left: 41.66667%
        }
        .col-lg-offset-6 {
            margin-left: 50%
        }
        .col-lg-offset-7 {
            margin-left: 58.33333%
        }
        .col-lg-offset-8 {
            margin-left: 66.66667%
        }
        .col-lg-offset-9 {
            margin-left: 75%
        }
        .col-lg-offset-10 {
            margin-left: 83.33333%
        }
        .col-lg-offset-11 {
            margin-left: 91.66667%
        }
        .col-lg-offset-12 {
            margin-left: 100%
        }
    }
    .clearfix:after,
    .clearfix:before {
        content: " ";
        display: table
    }
    .clearfix:after {
        clear: both
    }
    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .pull-right {
        float: right!important
    }
    .pull-left {
        float: left!important
    }
    .hide {
        display: none!important
    }
    .show {
        display: block!important
    }
    .invisible {
        visibility: hidden
    }
    .text-hide {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0
    }
    .hidden {
        display: none!important
    }
    .affix {
        position: fixed
    }
    @-ms-viewport {
        width: device-width
    }
    .visible-lg,
    .visible-lg-block,
    .visible-lg-inline,
    .visible-lg-inline-block,
    .visible-md,
    .visible-md-block,
    .visible-md-inline,
    .visible-md-inline-block,
    .visible-sm,
    .visible-sm-block,
    .visible-sm-inline,
    .visible-sm-inline-block,
    .visible-xs,
    .visible-xs-block,
    .visible-xs-inline,
    .visible-xs-inline-block {
        display: none!important
    }
    @media (max-width: 479px) {
        .visible-xs {
            display: block!important
        }
        table.visible-xs {
            display: table!important
        }
        tr.visible-xs {
            display: table-row!important
        }
        td.visible-xs,
        th.visible-xs {
            display: table-cell!important
        }
    }
    @media (max-width: 479px) {
        .visible-xs-block {
            display: block!important
        }
    }
    @media (max-width: 479px) {
        .visible-xs-inline {
            display: inline!important
        }
    }
    @media (max-width: 479px) {
        .visible-xs-inline-block {
            display: inline-block!important
        }
    }
    @media (min-width: 480px) and (max-width: 991px) {
        .visible-sm {
            display: block!important
        }
        table.visible-sm {
            display: table!important
        }
        tr.visible-sm {
            display: table-row!important
        }
        td.visible-sm,
        th.visible-sm {
            display: table-cell!important
        }
    }
    @media (min-width: 480px) and (max-width: 991px) {
        .visible-sm-block {
            display: block!important
        }
    }
    @media (min-width: 480px) and (max-width: 991px) {
        .visible-sm-inline {
            display: inline!important
        }
    }
    @media (min-width: 480px) and (max-width: 991px) {
        .visible-sm-inline-block {
            display: inline-block!important
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .visible-md {
            display: block!important
        }
        table.visible-md {
            display: table!important
        }
        tr.visible-md {
            display: table-row!important
        }
        td.visible-md,
        th.visible-md {
            display: table-cell!important
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .visible-md-block {
            display: block!important
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .visible-md-inline {
            display: inline!important
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .visible-md-inline-block {
            display: inline-block!important
        }
    }
    @media (min-width: 1200px) {
        .visible-lg {
            display: block!important
        }
        table.visible-lg {
            display: table!important
        }
        tr.visible-lg {
            display: table-row!important
        }
        td.visible-lg,
        th.visible-lg {
            display: table-cell!important
        }
    }
    @media (min-width: 1200px) {
        .visible-lg-block {
            display: block!important
        }
    }
    @media (min-width: 1200px) {
        .visible-lg-inline {
            display: inline!important
        }
    }
    @media (min-width: 1200px) {
        .visible-lg-inline-block {
            display: inline-block!important
        }
    }
    @media (max-width: 479px) {
        .hidden-xs {
            display: none!important
        }
    }
    @media (min-width: 480px) and (max-width: 991px) {
        .hidden-sm {
            display: none!important
        }
    }
    @media (min-width: 992px) and (max-width: 1199px) {
        .hidden-md {
            display: none!important
        }
    }
    @media (min-width: 1200px) {
        .hidden-lg {
            display: none!important
        }
    }
    .visible-print {
        display: none!important
    }
    @media print {
        .visible-print {
            display: block!important
        }
        table.visible-print {
            display: table!important
        }
        tr.visible-print {
            display: table-row!important
        }
        td.visible-print,
        th.visible-print {
            display: table-cell!important
        }
    }
    .visible-print-block {
        display: none!important
    }
    @media print {
        .visible-print-block {
            display: block!important
        }
    }
    .visible-print-inline {
        display: none!important
    }
    @media print {
        .visible-print-inline {
            display: inline!important
        }
    }
    .visible-print-inline-block {
        display: none!important
    }
    @media print {
        .visible-print-inline-block {
            display: inline-block!important
        }
    }
    @media print {
        .hidden-print {
            display: none!important
        }
    }



    * {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none
    }
    input {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text
    }
    body {
        font-size: 20px;
        font-family: OpenSansRegular, sans-serif;
        background-color: #fff;
        color: #000;
        min-width: 320px
    }
    p,
    ul {
        padding: 0;
        margin: 0
    }
    ul {
        list-style-type: none
    }
    h1 {
        font-size: 2.6em
    }
    h1,
    h2 {
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-family: OpenSansBold, sans-serif;
        text-align: center
    }
    h2 {
        font-size: 2.4em;
        line-height: 56px
    }
    .bold {
        font-family: OpenSansBold, sans-serif
    }
    .or {
        color: #ff9000
    }
    .red {
        color: #ff0b00
    }
    .ttu {
        text-transform: uppercase
    }
    header {
        background-image: url(../img/bg-header.jpg);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        color: #fff;
        overflow: hidden
    }
    .top-line {
        height: 99px;
        background-color: rgba(0, 0, 0, .51);
        -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .13);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .13)
    }
    .top-block {
        padding: 40px 0 0
    }
    .logo {
        display: inline-block;
        width: 167px
    }
    .logo a {
        display: block
    }
    .logo img {
        width: 100%
    }
    .slogan-block {
        margin: 0 0 0 15px
    }
    .slogan-block,
    .slogan-item {
        display: inline-block;
        vertical-align: top
    }
    .slogan-item {
        width: 240px;
        position: relative;
        padding: 0 0 0 43px;
        font-size: .8em;
        line-height: 16px;
        margin: 0 0 0 45px
    }
    .slogan-item:before {
        content: '';
        position: absolute;
        background-image: url(../img/icons-pack.png);
        background-repeat: no-repeat;
        top: 0;
        left: 0
    }
    .slogan-item.item1:before {
        width: 38px;
        height: 46px;
        background-position: 0 0
    }
    .slogan-item.item2:before {
        width: 34px;
        height: 35px;
        background-position: -81px 0
    }
    .top-timer {
        display: inline-block;
        width: 190px;
        vertical-align: top;
        font-size: .55em;
        line-height: 16px;
        position: relative;
        top: -17px;
        margin: 0 0 0 20px
    }
    .timer-header {
        text-align: center
    }
    .timer .flip-clock-wrapper {
        margin: 0;
        font-family: OpenSansBold, sans-serif;
        font-size: 9px
    }
    .timer .flip-clock-wrapper .flip {
        -webkit-box-shadow: none;
        box-shadow: none
    }
    .timer .flip-clock-wrapper ul {
        background-color: #ffca11;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        font-weight: 400;
        width: 26px;
        height: 35px;
        font-size: 24px;
        margin: 1px;
        line-height: 35px
    }
    .timer .flip-clock-wrapper ul li {
        line-height: 35px
    }
    .timer .flip-clock-wrapper ul li a {
        color: #000
    }
    .timer .flip-clock-wrapper ul li a div {
        font-size: 24px
    }
    .timer .flip-clock-wrapper ul li a div.down {
        -webkit-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px
    }
    .timer .flip-clock-wrapper ul li a div div.inn {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #ffca11;
        font-size: 24px;
        color: #000;
        text-shadow: none
    }
    .timer .flip-clock-divider {
        height: 37px;
        width: 10px
    }
    .timer .flip-clock-divider:first-child {
        width: 0
    }
    .timer .flip-clock-divider.minutes .flip-clock-label,
    .timer .flip-clock-divider.seconds .flip-clock-label {
        right: -40px
    }
    .timer .flip-clock-divider .flip-clock-label {
        color: #ffca11;
        top: auto;
        bottom: -1.3em;
        font-family: OpenSansRegular, sans-serif;
        right: -40px
    }
    .timer .flip-clock-dot {
        width: 4px;
        height: 4px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color: #fff;
        left: 3px
    }
    .timer .flip-clock-dot.top {
        top: 12px
    }
    .timer .flip-clock-dot.bottom {
        bottom: 10px
    }
    .top-btn {
        display: inline-block;
        vertical-align: top;
        width: 142px;
        margin: 0 0 0 12px;
        position: relative
    }
    .top-btn .btn {
        line-height: 32px;
        height: 36px
    }
    .btn {
        border: 2px solid #ff9000;
        background-color: #ff9000;
        padding: 0;
        font-size: .7em;
        display: block;
        width: 100%;
        color: #fff;
        text-align: center;
        -webkit-transition: color .5s ease, background-color .5s ease;
        transition: color .5s ease, background-color .5s ease
    }
    .btn:hover {
        background-color: #fff;
        color: #ff9000;
        text-decoration: none
    }
    .btn:active,
    .btn:focus {
        color: #fff;
        text-decoration: none
    }
    .subh {
        text-align: center;
        font-size: 1.5em
    }
    .first-screen {
        position: relative
    }
    .first-screen .pack {
        position: absolute;
        top: -112px;
        left: 296px
    }
    .bulet-block {
        width: 440px;
        margin: 55px 0 0
    }
    .bulet-list {
        line-height: 26px;
        text-align: left
    }
    .bulet-list li {
        margin: 0 0 5px;
        padding: 18px 35px 18px 83px;
        background-color: #10acb6;
        position: relative
    }
    .bulet-list li:before {
        content: '';
        position: absolute;
        width: 42px;
        height: 40px;
        background-image: url(../img/icons-pack.png);
        background-repeat: no-repeat;
        left: 25px;
        top: 50%;
        margin: -20px 0 0;
        background-position: -158px 0
    }
    .bulet-list li:last-child {
        margin: 0
    }
    .form-block {
        width: 458px;
        float: right;
        margin: 55px 0 0
    }
    .form-sale {
        background-color: #fff;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        position: relative
    }
    .form-sale .sale {
        position: absolute;
        top: -8px;
        left: -111px
    }
    .form-sale .speed {
        position: absolute;
        left: 15px;
        top: -28px;
        font-size: .8em;
        line-height: 23px;
        color: #ffca11
    }
    .sale-circs {
        padding: 6px 0 10px 74px
    }
    .sale-terr {
        line-height: 22px;
        font-size: .75em
    }
    .sale-price {
        margin: 5px 0 0
    }
    .sale-price .price {
        display: inline-block;
        vertical-align: top
    }
    .sale-price .price.old {
        color: #555;
        margin: 0 50px 0 0
    }
    .sale-price .price.old .descr {
        font-size: .65em
    }
    .sale-price .price.old .digit {
        line-height: 32px;
        position: relative;
        font-size: 1.45em
    }
    .sale-price .price.new .descr {
        font-size: .95em
    }
    .sale-price .price.new .digit {
        font-size: 1.9em;
        line-height: 37px
    }
    .sale-input {
        background-color: #efefef;
        padding: 9px 19px 19px 14px;
        color: #000;
        font-size: .7em
    }
    .sale-input label {
        line-height: 36px;
        float: left
    }
    .sale-input input {
        height: 38px;
        width: 250px;
        float: right;
        line-height: 36px;
        background-color: #fff;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #f99411;
        text-indent: 15px
    }
    .sale-input input:placeholder {
        color: #7e7e7e
    }
    .sale-input .input-block:first-child {
        margin: 0 0 10px
    }
    .sale-btn {
        padding: 18px 129px 13px 15px;
        position: relative
    }
    .sale-btn .arrow {
        position: absolute;
        top: -4px;
        right: 57px
    }
    .sale-btn-block .btn {
        font-size: 1.5em;
        height: 68px;
        line-height: 64px
    }
    .sale-total {
        color: #000;
        line-height: 24px;
        font-size: .7em;
        margin: 6px 0 0
    }
    .sale-total .big {
        font-size: 15px
    }
    .security-data {
        float: right;
        margin: 5px 0 0
    }
    .security-descr {
        font-size: .6em;
        display: inline-block;
        line-height: 17px;
        margin: 0 60px 0 0;
        position: relative;
        width: 340px
    }
    .security-descr:before {
        background-image: url(../img/icons-pack.png);
        background-repeat: no-repeat;
        background-position: -243px 0;
        content: '';
        position: absolute;
        left: -20px;
        top: 0;
        width: 12px;
        height: 16px
    }
    .medal-block {
        text-align: center;
        margin: 0 0 30px
    }
    .medal {
        display: inline-block;
        background-image: url(../img/icons-pack.png);
        background-repeat: no-repeat;
        vertical-align: middle;
        margin: 0 30px 0 0
    }
    .medal.item1 {
        width: 164px;
        height: 144px;
        background-position: 0 -62px
    }
    .medal.item2 {
        width: 152px;
        height: 151px;
        background-position: -188px -59px
    }
    .medal.item3 {
        width: 143px;
        height: 143px;
        background-position: -368px -62px
    }
    .medal.item4 {
        width: 143px;
        height: 143px;
        background-position: -537px -62px;
        margin: 0
    }
    @media only screen and (max-width: 1199px) {
        body {
            font-size: 18px
        }
        h1 {
            font-size: 2.5em
        }
        h2 {
            font-size: 2em
        }
        .slogan-item {
            font-size: .85em
        }
        .top-btn {
            margin: 0 0 0 30px
        }
        .btn {
            font-size: .85em
        }
        .first-screen .pack {
            width: 550px;
            left: 221px;
            top: -68px
        }
        .first-screen .sale {
            width: 235px;
            left: -86px;
            top: -55px
        }
        .bulet-block {
            width: 360px
        }
        .bulet-list {
            font-size: 1em
        }
        .bulet-list li {
            padding: 18px 10px 18px 60px
        }
        .bulet-list li:before {
            left: 10px
        }
        .form-block {
            width: 410px
        }
        .form-timer {
            padding: 3px 30px 0 175px
        }
        .timer-header {
            color: #000;
            font-size: .75em;
            text-align: left;
            margin: 0 0 0 1px
        }
        .timer .flip-clock-divider .flip-clock-label {
            color: #000
        }
        .timer .flip-clock-dot {
            background-color: #000
        }
        .sale-terr {
            position: absolute;
            top: -50px;
            left: 142px
        }
        .sale-circs {
            padding: 15px 26px 0;
            -webkit-border-radius: 0;
            border-radius: 0
        }
        .sale-price {
            text-align: center
        }
        .sale-price .price {
            text-align: left
        }
        .sale-input {
            padding: 10px 13px
        }
        .sale-input input {
            width: 240px
        }
        .sale-btn {
            padding: 10px 129px 10px 15px
        }
        .security-descr {
            margin: 0 10px 0 0
        }
    }
    @media only screen and (max-width: 991px) {
        body {
            font-size: 16px
        }
        h2 {
            line-height: 38px
        }
        .top-block {
            padding: 25px 0 0
        }
        .logo,
        .top-btn {
            width: 200px
        }
        .top-btn {
            margin: 0 0 0 20px;
            float: right
        }
        .top-btn .btn {
            font-size: 1.2em;
            line-height: 40px;
            height: 44px
        }
        h1 {
            line-height: 50px
        }
        .bulet-block {
            width: 100%;
            margin: 25px 0 0
        }
        .bulet-list {
            font-size: 1.3em
        }
        .bulet-list li {
            padding: 20px 30px 20px 68px
        }
        .bulet-list li:before {
            left: 19px
        }
        .form-block {
            width: 100%
        }
        .sale-terr {
            position: relative;
            left: auto;
            top: auto
        }
        .first-screen .sale {
            left: 0
        }
        .form-timer {
            padding: 10px 0 0 235px
        }
        .sale-circs {
            padding: 24px 36px 10px;
            font-size: 1.3em
        }
        .sale-price {
            text-align: left;
            margin: 15px 0 0
        }
        .sale-input {
            font-size: 1em
        }
        .sale-input input {
            width: 100%
        }
        .security-data {
            float: none
        }
        .security-descr {
            font-size: 1em;
            width: 100%;
            margin: 0 0 0 30px
        }
        .medal.item1,
        .medal.item2,
        .medal.item3 {
            margin: 15px
        }
        .medal.item4 {
            margin: 15px 15px 15px 30px
        }
    }
    @media only screen and (max-width: 479px) {
        body {
            font-size: 14px
        }
        .container {
            width: 320px
        }
        .top-block {
            text-align: center
        }
        .bulet-list li {
            padding: 10px 10px 10px 65px
        }
        .first-screen .sale {
            left: 0;
            top: -52px
        }
        .form-timer {
            padding: 93px 0 0 52px
        }
        .timer-header {
            font-size: 1em
        }
        .sale-circs {
            padding: 24px 10px 0
        }
        .sale-terr {
            font-size: .75em
        }
        .sale-price .descr {
            font-size: 1.2em
        }
        .sale-price .price.old {
            margin: 0 20px 0 0
        }
        .sale-price .price.old .digit {
            font-size: 1.3em
        }
        .sale-price .price.new .digit {
            font-size: 1.5em
        }
        .sale-input {
            padding: 0 10px 10px
        }
        .sale-btn {
            padding: 10px
        }
        .medal.item1,
        .medal.item2,
        .medal.item3 {
            margin: 5px
        }
        .medal.item4 {
            margin: 5px 5px 5px 15px
        }
    }
