@media only screen and (max-width:992px) {
    #logo img {
        height: 54px
    }
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}

@media (min-width:768px) {

    .col-sm-1,
    .col-sm-10 {
        float: left
    }

    .col-sm-10 {
        width: 83.33333333%
    }

    .col-sm-1 {
        width: 8.33333333%
    }
}

@media (min-width:992px) {

    .col-md-1,
    .col-md-10,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }

    .col-md-12 {
        width: 100%
    }

    .col-md-10 {
        width: 83.33333333%
    }

    .col-md-9 {}

    .col-md-9 p {
        font-size: 16px;
        font-family: Roboto, sans-serif;
        font-weight: 300;
    }

    .col-md-8 {
        width: 66.66666667%
    }

    .col-md-7 {
        width: 58.33333333%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-2 {
        width: 16.66666667%
    }

    .col-md-1 {
        width: 8.33333333%
    }
}

@media (max-width:767px) {
    .hidden-xs {
        display: none !important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none !important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none !important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none !important
    }
}



@media (max-width:992px) {
    .block-form {
        width: 345px;
    }

    .countbox .countbox-num {
        width: 80px;
    }

    .countbox-hours1,
    .countbox-mins1,
    .countbox-secs1,
    .countbox-hours2,
    .countbox-mins2,
    .countbox-secs2 {
        width: 34px;
    }

    .countbox-hours-text,
    .countbox-mins-text,
    .countbox-secs-text {
        width: 80px;
    }

    .title {
        font-size: 170%;
    }

    .block-2 {
        background: url(../images/wrong_methods_bg.jpeg) no-repeat center right;
    }

    .block-3 {
        padding: 10px;
    }

    .block-4 .ittem-1 {
        width: 50%;
        background: url(../images/product_image_new.png) no-repeat top -50px center;
        padding: 280px 40px 20px 20px;
    }

    .block-4 .ittem-2 {
        padding-top: 80px;
        width: 50%;
    }

    .block-4 .ittem-1 p {
        font-size: 130%;
    }

    .title-2 {
        padding: 10px;
    }

    .block-7 .ittem-1 {
        width: calc(55% - 20px);
    }

    .block-7 .ittem-2 {
        width: calc(45% - 20px);
    }

    .content img {
        max-width: 100%;
    }

    .ul-block-8 {
        padding: 30px 10px 10px 30px;
    }

    .ul-block-8 li {
        padding: 5px 5px 5px 80px;
        font-size: 100%;
        line-height: 1.2;
    }

    .block-10 .ittem-1 {
        background-size: 90% auto;
        padding: 110px 10px 10px 10px;
    }

    .advantages_list li {
        padding: 5px 5px 5px 40px;
        margin-left: 0;
    }

    .advantages_list {
        padding: 5px 5px 5px 20px;
    }

    .tovar-block-13 {
        margin-top: 25px;
    }
}

@media (max-width:810px) {
    .container {
        width: 600px;
    }

    .block-1 .ittem {
        display: inline-block;
        width: 100%;
    }

    .block-2 .ugroza {
        width: 100%;
        padding: 0;
    }

    .block-2 {
        background: url(../images/wrong_methods_bg.jpeg) no-repeat top 80px right;
        background-size: 70%;
    }

    .gippokrat {
        width: 100%;
    }

    .block-4 .ittem-1 {
        width: 100%;
        background: url(../images/product_image_new.png) no-repeat top -80px center;
        padding: 260px 40px 20px 20px;
    }

    .block-4 .ittem-2 {
        padding-top: 0px;
        width: 100%;
    }

    .block-4 .ittem-2 img {
        display: block;
        margin: 0 auto;
    }

    .block-5 .ul-3 li {
        width: calc(50% - 5px);
    }

    .block-5 .ul-3 {
        margin-top: 1px;
    }

    .block-5 .ul-3 li:nth-child(4),
    .block-5 .ul-3 li:nth-child(3) {
        margin-top: 50px;

    }

    .block-7 .ittem-1 {
        width: 100%;
    }

    .block-7 .ittem-2 {
        width: 100%;
        margin-top: 30px;
    }

    .block-10 .ittem-1 {
        width: 100%;
        background-size: 60% auto;
        padding: 120px 100px 0px 100px
    }

    .block-10 .ittem-2 {
        width: 100%;
    }

    .block-10 .ittem {
        width: 100%;
    }

    .block-11 .ittem {
        width: calc(50% - 10px);
    }

    .block-12 .after:after {
        right: -45px;
    }

    .tovar-block-13 {
        margin-top: 85px;
    }

    .li-1 {
        margin-bottom: 15px;
    }
}

@media (max-width:605px) {
    .container {
        width: 450px;
    }

    #top-header {
        padding: 5px 0 0;
        margin-bottom: 0px;
    }

    .gippokrat p {
        font-size: 150%;
    }

    .block-4 .ittem-1 {
        text-align: center;
    }

    .content-block-6 .ittem {
        display: inline-block;
        width: 100%;
        padding: 0px 10px 0px 10px;
    }

    .block-8 .ittem {
        width: 100%;
    }

    .ul-block-8 li {
        padding: 5px 5px 5px 80px;
        margin: 10px auto;
    }

    .block-9 .ittem-1 {
        width: 100%;
    }

    .block-9 .ittem-2 {
        width: 100%;
    }

    .block-10 .ittem-1 {
        width: 100%;
        padding: 80px 10px 0px 10px;
    }

    .block-12 .ittem {
        width: 100%;
        padding: 210px 25px 10px 25px;
        margin-bottom: 50px
    }

    .block-12 .ittem:nth-child(5) {
        margin-bottom: 0px;
    }

    .block-12 .after:after {
        right: calc(50% - 10px);
        top: auto;
        bottom: -40px;
        width: 28px;
        height: 57px;
        background: url(../images/right.png) no-repeat;
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .block-13 .ittem-2 {
        width: 100%;
    }

    .block-13 .ittem-1 {
        width: 100%;
    }

    .tovar-block-13 {
        margin-top: 5px;
    }

    .block-5 .ul-3 {
        padding: 0;
    }
}

@media (max-width:460px) {
    .container {
        width: 320px;
    }

    .block-form {
        width: 100%;
    }

    .countbox .countbox-num {
        width: 60px;
    }

    .countbox-hours1,
    .countbox-mins1,
    .countbox-secs1,
    .countbox-hours2,
    .countbox-mins2,
    .countbox-secs2 {
        width: 24px;
    }

    .countbox-hours-text,
    .countbox-mins-text,
    .countbox-secs-text {
        width: 60px;
    }

    .title-top {
        font-size: 200%;
        line-height: 1.2;
    }

    .li-1 li {
        display: inline-block;
        width: calc(50% - 10px);
        font-size: 105%;
        line-height: 1.2;
    }

    .block-2 .ugroza h3 {
        font-size: 120%;
    }

    .block-2 {
        background: url(../images/wrong_methods_bg.jpeg) no-repeat top 170px right;
        background-size: 70%;
    }

    .vosklicanie {
        background-position: left 15px center;
        padding: 10px 10px 10px 60px;
        font-size: 110%;
    }

    .block-3 {
        padding: 5px;
    }

    .gippokrat p {
        padding: 10px 10px 180px 10px;
        font-size: 140%;
    }

    .block-2 .ugroza p {
        text-align: center;
    }

    .block-5 .ul-3 li {
        width: 100%;
    }

    .ehffektivnost .title {
        text-align: center;
    }

    .block-7 .white-line {
        display: none;
    }

    .ul-block-8 {
        padding: 10px 10px 10px 10px;
    }

    .block-recomented::before {
        width: 220px;
        height: 120px;
    }

    .block-recomented {
        padding: 5px 5px 115px 5px;
    }
.block-11 .ittem {
    width: 100%;
}
    html, body{
        min-width: 320px;
    }
}
