.miniHeader {
	display: none
}
@media screen and (max-width:960px) {
	#wrapper {
		width: auto !important
	}
	.footer-text {
		width: 100% !important
	}
	.miniHeader {
		display: block;
		width: 100% !important
	}
	#header {
		background: none;
		width: auto !important;
		height: auto !important;
		height: auto;
		padding: 0
	}
	.devushka-block img, .malahov-block img {
		width: 100%
	}
	img {
		width: 100% !important;
		height: auto !important
	}
	iframe {
		width: 100% !important
	}
	.area {
		float: none !important;
		width: auto !important
	}
	.photo img {
		width: 74px !important;
		margin: 10px
	}
}
/**/

* {
	margin: 0px;
	padding: 0px
}
body {
	background-color: whitesmoke;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 23px;
	width: 100%
}
a {
	color: rgb(10, 120, 194);
	outline: medium none;
	text-decoration: underline
}
a:hover {
	text-decoration: none
}
p {
	margin: 0px 0px 11px;
	padding: 3px
}
img {
	border: medium none
}
h2 {
	margin: 10px 0px;
	font-size: 19px
}
h4 {
	margin: 10px 0px 25px;
	font-size: 19px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	display: inline-block
}
#wrapper {
	background-color: white;
	width: 960px;
	margin: 0px auto
}
#header {
	background: transparent url('style.css') no-repeat scroll 0% 0%;
	width: 960px;
	height: 460px;
	position: relative
}
.header-date {
	position: absolute;
	left: 484px;
	top: 11px;
	font-size: 13px;
	color: white
}
#middle {
	padding: 20px;
	/**/
	0% */height: 1%;
	position: relative
}
#middle::after {
	content: "";
	clear: both;
	display: table
}
#container {
	width: 100%;
	float: left;
	overflow: hidden
}
#content {
	/**/
}
#sideRight {
	float: left;
	width: 250px;
	margin-left: -250px;
	position: relative;
	margin-top: 20px
}
#footer {
	height: 15px;
	background: rgb(250, 246, 221) none repeat scroll 0% 0%;
	margin-top: 25px;
	padding: 20px;
	font-size: 12px
}
.footer-text {
	margin: 0px auto;
	text-align: left;
	width: 960px
}
.vk_name {
	font: bold 11px/140% Tahoma, Arial;
	color: rgb(16, 99, 154)
}
.vk_text {
	font: 11px/130% Tahoma, Arial;
	color: rgb(0, 0, 0)
}
.vk_info {
	font: 9px Tahoma, Arial;
	color: rgb(119, 119, 119);
	margin-top: 3px
}
.comment-container {
	/**/
}
.item {
	overflow: hidden;
	height: 1%;
	margin-bottom: 15px
}
.photo {
	float: left
}
.photo img {
	display: block;
	border-radius: 15px;
	width: 74px
}
.area {
	float: right;
	width: 829px
}
.name {
	border: 1px solid rgb(231, 229, 222);
	background: rgb(250, 250, 250) none repeat scroll 0% 0%;
	padding: 0pt 11px
}
.name span.old-span {
	color: rgb(218, 31, 31);
	line-height: 27px;
	font-family: roboto condensed;
	font-size: 17px
}
.item .time {
	float: right;
	color: rgb(170, 170, 170);
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	background: transparent url('style.css') no-repeat scroll 0pt 50%;
	padding: 0pt 0pt 0pt 20px
}
.name span em {
	color: rgb(158, 148, 148);
	font-size: 12px
}
.comment {
	border-style: solid;
	border-color: rgb(231, 229, 222);
	padding: 5px 0pt 6px 11px;
	border-width: 0pt 1px 1px;
	background: white none repeat scroll 0% 0%
}
.comment p {
	margin: 0pt;
	font-size: 15px;
	padding: 5px
}
.comment img {
	display: block;
	margin-top: 15px
}
.date {
	margin: 7px 0px;
	font-style: italic
}
.malahov-block {
    background: url(malahov_ava.jpg) 0px 8px no-repeat;
    padding-left: 80px;
    min-height: 60px;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
    border-top: 1px solid #d4d4d4;
    padding-top: 17px;
}
.devushka-block {
    background: url(pegova_ava.jpg) no-repeat;
    padding-left: 80px;
    min-height: 60px;
    margin: 20px 0px 20px 10px;
}
.devushka-block img, .malahov-block img {
	height: auto
}
.project {
	background: transparent url('style.css') no-repeat scroll 0% 0%;
	width: 250px;
	height: 1056px
}
.ui-helper-clearfix::before, .ui-helper-clearfix::after {
	content: "";
	display: table;
	border-collapse: collapse
}
.ui-helper-clearfix::after {
	clear: both
}
.ui-helper-clearfix {
	min-height: 0px
}
.ui-state-disabled {
	cursor: default ! important
}
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat
}
.ui-datepicker {
	padding: 0.2em 0.2em 0px;
	display: none
}
.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: 0.2em 0px
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px
}
.ui-datepicker .ui-datepicker-next {
	right: 2px
}
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px
}
.ui-datepicker .ui-datepicker-title {
	margin: 0px 2.3em;
	line-height: 1.8em;
	text-align: center
}
.ui-datepicker table {
	width: 100%;
	font-size: 0.9em;
	border-collapse: collapse;
	margin: 0px 0px 0.4em
}
.ui-datepicker th {
	padding: 0.7em 0.3em;
	text-align: center;
	font-weight: bold;
	border: 0px none
}
.ui-datepicker td {
	border: 0px none;
	padding: 1px
}
.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: 0.2em;
	text-align: right;
	text-decoration: none
}
.ui-widget {
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
	font-size: 1.1em
}
.ui-widget-content {
	border: 1px solid rgb(221, 221, 221);
	background: rgb(238, 238, 238) url('ui-bg_highlight-soft_100_eeeeee_1x100.png') repeat-x scroll 50% top;
	color: rgb(51, 51, 51)
}
.ui-widget-content a {
	color: rgb(51, 51, 51)
}
.ui-widget-header {
	border: 1px solid rgb(204, 204, 204);
	background: rgb(246, 168, 40) url('ui-bg_gloss-wave_35_f6a828_500x100.png') repeat-x scroll 50% 50%;
	color: rgb(255, 255, 255);
	font-weight: bold
}
.ui-widget-header a {
	color: rgb(255, 255, 255)
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border: 1px solid rgb(204, 204, 204);
	background: rgb(246, 246, 246) url('ui-bg_glass_100_f6f6f6_1x400.png') repeat-x scroll 50% 50%;
	font-weight: bold;
	color: rgb(28, 148, 196)
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
	opacity: 0.35;
	background-image: none
}
.ui-icon {
	width: 16px;
	height: 16px
}
.ui-icon, .ui-widget-content .ui-icon {
	background-image: url('ui-icons_222222_256x240.png')
}
.ui-widget-header .ui-icon {
	background-image: url('ui-icons_ffffff_256x240.png')
}
.ui-icon-circle-triangle-e {
	background-position: -48px -192px
}
.ui-icon-circle-triangle-w {
	background-position: -80px -192px
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	border-top-left-radius: 4px
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	border-top-right-radius: 4px
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	border-bottom-left-radius: 4px
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	border-bottom-right-radius: 4px
}
.nolink {
	cursor: pointer
}
.nolink {
	cursor: pointer
}
.mini {
	font-size: 80%
}
#headerFeedback {
	margin-top: 0px;
	height: 10px;
	width: 100%;
	position: fixed;
	z-index: 102;
	background: red;
	/* filter:progid:DXImageTransform.Microsoft.Alpha(opacity=00);-moz-opacity:0.00;/**/
	-khtml-opacity: 0.00;
	/**/
	opacity: 0.00;
	
}
.screenLock {
	position: fixed;
	width: 100%;
	background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%;
	top: 0px;
	left: 0px;
	z-index: 99999;
	display: none
}

/* popup */
.msg {
    position: absolute;
    width: 550px;
    height: 360px;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    background: rgba(250,184,18,1);
background: -moz-linear-gradient(left, rgba(250,184,18,1) 0%, rgba(250,91,18,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,184,18,1)), color-stop(100%, rgba(250,91,18,1)));
background: -webkit-linear-gradient(left, rgba(250,184,18,1) 0%, rgba(250,91,18,1) 100%);
background: -o-linear-gradient(left, rgba(250,184,18,1) 0%, rgba(250,91,18,1) 100%);
background: -ms-linear-gradient(left, rgba(250,184,18,1) 0%, rgba(250,91,18,1) 100%);
background: linear-gradient(to right, rgba(250,184,18,1) 0%, rgba(250,91,18,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fab812', endColorstr='#fa5b12', GradientType=1 );
    box-shadow: 0px 28px 50px -20px;
border-bottom: 4px solid #fff;
}
.msg>h1 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0;
    background: #dc3131;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.msg>h2 {
	color: rgb(255, 255, 255);
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
	margin-top: 30px
}
.close {
	position: absolute;
	top: 1px;
	right: 5px;
	font-size: 40px;
	cursor: pointer
}
.submit {
	margin-top: 10px;
	height: 50px;
	width: 400px;
	background-color: firebrick;
	color: rgb(255, 255, 255);
	font-size: 30px;
	border-radius: 3px
}
.fig {
	text-align: center
}
.close {
    position: absolute;
    top: -40px;
    right: -40px;
}
.close img {
    width: 30px;
}
.popupdesc {
    color: #fff;
    text-align: left;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}
img.pic_rounded.align-left {
    border-radius: 100%;
    width: 160px !important;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
.popuplink {
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid;
    clear: both;
    text-align: center;
    margin: 0 20px;
    padding: 20px 10px;
    font-size: 30px;
    color: #fff;
    border-radius: 5px;
}
.popuplink:hover {
    color: #6e0b94;
    transition: all 0.5s;
}
a.submit-popup {
    text-decoration: none;
}
/* end popup */

/* new */
.history {
    background: #ecf2ff;
    padding: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.history p {
    text-align: left;
}
.history-label {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 24px;
    color: #2f50a0;
}
.pegova-order {
    background: url(pegova_order.png) center 0px no-repeat;
    width: 100%;
    height: 326px;
    text-align: left;
    font-size: 14px;
    color: #159f7b;
    position: relative;
}
.pegova-order span {
    position: absolute;
    bottom: 4px;
    left: 40%;
    background: #d9ff24;
    padding: 2px 8px;
    color: #000;
}
.left-pic {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 170px;
    font-size: 14px;
    line-height: 1.2em;
}
.left-pic img {
    margin-bottom: 7px;
}
.medblock {
    background: #ecf2ff;
    padding: 20px;
    margin: 0;
}
span.small {
    font-size: 0.75em;
    color: black;
    text-shadow: none;
    text-transform: none;
    border-top: 1px solid;
    padding: 10px 0 10px 0;
    margin: 20px 0 20px 0;
    display: block;
    border-bottom: 1px solid;
}
#content {
	font-size: 16px;
}
.label-program {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin: 40px 0;
    font-size: 28px;
    line-height: 1.2em;
}
span.red {
	color: #db080e;
}
span.green {
    color: green;
}
.photo-desc {
	font-size: 14px;
	margin: 4px 0 10px;
	font-style: italic;
}

.greenlink {
    background: green;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 80%;
    margin: 0px 0 20px;
    border-radius: 5px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1), 0px 18px 23px rgba(0,0,0,0.1);
    font-size: 26px;
    line-height: 1.4em;
    box-shadow: 0px 30px 30px -30px #00000070;
}

a.n-underline {
    text-decoration: none;
}

.gradient {
    background-color: #7ac44d;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2YzZWYxNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDA5ODg1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    /* Android 2.3- hack (needed for the actual radial gradient) */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxyYWRpYWxHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIGN4PSIwJSIgY3k9IjEwMCUiIHI9IjE0MS40MjEzNTYyMzczMDk1JSI+PHN0b3Agc3RvcC1jb2xvcj0iI2YzZWYxNSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDA5ODg1IiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMSIvPjwvcmFkaWFsR3JhZGllbnQ+PHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==),
        -webkit-gradient(radial, left bottom, 0, left bottom, 723,color-stop(0, rgb(243, 239, 21)),color-stop(1, rgb(0, 152, 133)));
    /* Android 2.3 */
    background-image: -webkit-repeating-radial-gradient(left bottom, ellipse farthest-corner,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 100%);
    /* IE10+ */
    background-image: repeating-radial-gradient(ellipse farthest-corner at left bottom,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 100%);
    background-image: -ms-repeating-radial-gradient(left bottom, ellipse farthest-corner,rgb(243, 239, 21) 0%,rgb(0, 152, 133) 100%);
}

.gradient:hover {
    background: #27f713;
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff3ef15",endColorstr="#ff009885",GradientType=0);
    }
}


