/* ::::: http://laburlone.net/mh_prostatit/index.css ::::: */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
html { font-size: 100%; }
html, button, input, select, textarea { font-family: Tahoma,Helvetica,sans-serif; }
html{overflow-x:hidden;}
body { margin: 0px; }
a:active, a:hover, a:focus { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
h3 { font-size: 1.17em; margin: 1em 0px; }
b, strong { font-weight: bold; }
p, pre { margin: 1em 0px; }
q::before, q::after { content: none; }
dl, menu, ol, ul { margin: 1em 0px; }
menu, ol, ul { padding: 0px 0px 0px 40px; }
nav ul, nav ol { list-style: outside none none; }
img { border: 0px none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
@font-face {
	font-family: "mhrg";
	font-style: normal;
	font-weight: normal;
	src: url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/mhrgrotesqueregular-webfont.eot*/ format("embedded-opentype"), url("mhrgrotesqueregular-webfont.woff")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/mhrgrotesqueregular-webfont.woff*/ format("woff"), url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/mhrgrotesqueregular-webfont.ttf*/ format("truetype"), url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/mhrgrotesqueregular-webfont.svg*/ format("svg");
}
@font-face {
	font-family: "mhrglight";
	font-style: normal;
	font-weight: normal;
	src: url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/mhrg-light-webfont.eot*/ format("embedded-opentype"), url("mhrg-light-webfont.woff")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/mhrg-light-webfont.woff*/ format("woff"), url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/mhrg-light-webfont.ttf*/ format("truetype"), url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/mhrg-light-webfont.svg*/ format("svg");
}
.fadepopup{display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	z-index: 33333;
}
html, button, input, select, textarea { color: rgb(77, 77, 77); }
html { font-size: 1em; line-height: 1.4; background: none repeat scroll 0% 0% rgb(255, 255, 255); }
body { background-position: 50% 0%; background-repeat: no-repeat; }
*::-moz-selection { background: none repeat scroll 0% 0% rgb(179, 212, 252); text-shadow: none; }
audio, canvas, img, video { vertical-align: middle; }
a { color: rgb(0, 191, 230); text-decoration: none; }
a:hover { text-decoration: underline; }
.layout { margin: 0px auto; max-width:100%; position: relative; z-index: 100;  background: none repeat scroll 0% 0% rgb(255, 255, 255); }
.wrapper { padding: 0px; background: none repeat scroll 0% 0% rgb(255, 255, 255); width: 100%; }
.wrapper.gray { }
.container{
	min-width:320px;
	max-width:1000px;
	margin:0 auto;
}
.fullnav {max-width: 100%; margin: 0px auto; }
.subnav {  }
.fullnav.subnav-fixed, .subnav.subnav-fixed { width: 100%; }
.wallpaper .fullwidth_banner, .wallpaper .layout, .wallpaper .fullnav { width: 100%;padding:5px 5px 5px 5px; }
header { height: 86px; margin: 0px auto; position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); padding: 5px 0px 0px; }
header h1, header #top_logo { margin: 10px auto 15px; display: block; width: 300px; height: 61px; color: rgb(38, 38, 38); }
header h1.left, header #top_logo.left { }
header #top_logo img { width: 300px; height: 61px; }
nav.main_menu { min-width:320px;max-width: 100%; margin: 0px auto; position: relative; background: none repeat scroll 0% 0% rgb(255, 255, 255); height: 45px; border-top: 1px solid rgb(235, 235, 235); border-bottom: 1px solid rgb(235, 235, 235); }
.main_menu_btn { display: block; width: 45px; height: 45px; text-decoration: none; background: url("main_menu_sprite4@2x.png")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/main_menu_sprite4@2x.png*/ no-repeat scroll 0px 2px / 200px auto transparent; }
#left_menu_btn { float: left; border-right: 1px solid rgb(235, 235, 235); background-position: 2px 2px; }
#left_menu_btn:hover { background-position: 2px -48px; }
#login_btn { float: right; border-left: 1px solid rgb(235, 235, 235); background-position: -47px 2px; }
#login_btn:hover { background-position: -47px -48px; }
#search_btn { float: right; border-left: 1px solid rgb(235, 235, 235); background-position: -97px 2px; }
#search_btn:hover { background-position: -97px -48px; }
#login_box { width: 450px; display: none; }
.main_menu > ul { display: block; height: 45px; text-align: center; margin: 0px 100px; padding: 0px; font-size: 0px; }
.main_menu > ul > li { display: inline-block; position: relative; vertical-align: top; top: -1px; }
.main_menu > ul > li > a { display: block; padding: 11px 18px; font: 21px/25px "mhrg"; text-transform: uppercase; color: rgb(38, 38, 38); text-decoration: none; background: url("shim_1x25_ebebeb.png")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/shim_1x25_ebebeb.png*/ no-repeat scroll left 11px transparent; }
.main_menu > ul > li:first-child > a { background: none repeat scroll 0% 0% transparent; }
.main_menu > ul > li:hover { background: none repeat scroll 0% 0% rgb(230, 57, 23); }
.main_menu > ul > li:hover > a { color: rgb(255, 255, 255); background: none repeat scroll 0% 0% transparent; }
nav.left_menu { display: block; position: fixed; top: 0px; left: -250px; background: none repeat scroll 0% 0% rgb(37, 37, 37); width: 190px; height: 100%; padding: 24px 30px; z-index: 9999; transition: all 150ms ease-in-out 0s; }
.left_menu_head { width: 190px; margin: 6px 0px 20px; }
.left_menu_head img { display: block; float: left; width: 150px; }
.left_menu_head .left_menu_close, .left_menu_head .left_menu_close:visited { display: block; float: right; text-align: center; width: 28px; height: 28px; border: 1px solid rgb(64, 64, 64); margin: 1px 0px; font: 36px/28px Arial; color: rgb(153, 153, 153); }
.left_menu_head .left_menu_close:hover { color: rgb(255, 255, 255); }
.left_menu_holder { width: 190px; overflow: hidden; height: 90%; }
.left_menu_scroller { height: 100%; width: 210px; padding-bottom: 24px; overflow-y: scroll; overflow-x: hidden; }
nav.left_menu a { text-decoration: none; color: rgb(235, 235, 235); }
nav.left_menu a:hover { color: rgb(230, 57, 23); }
#left_main { display: none; margin: 0px; padding: 0px 0px 12px; border-bottom: 1px solid rgb(64, 64, 64); }
#left_main li, #left_addition li { margin: 0px; padding: 0px; }
#left_main > li > a:hover, #left_addition li a:hover, #left_main > li.active > a, #left_addition li.special a:hover { color: rgb(230, 57, 23); }
#left_main > li > a { font: 21px/30px "mhrg"; color: rgb(255, 255, 255); text-transform: uppercase; }
footer { position: relative; margin-right: auto; margin-left: auto; color: rgb(153, 153, 153); font: 16px/20px "mhrglight"; }
footer .wrapper { background: none repeat scroll 0% 0% rgb(38, 38, 38); padding: 60px 0px 40px; }
.promo { float: left; max-width: 630px; }
.promo #logo_mh_bottom { width: 150px; height: auto ! important; margin: 0px 0px 15px;padding-left:5px; border: 0px none; }
.bottom_block { float: right; }
.bottom_block.menu_list { width: 135px; margin: 0px 30px 0px 0px; }
.bottom_block .title { color: rgb(204, 204, 204); font: 16px/30px "mhrg"; text-transform: uppercase; border-bottom: 1px solid rgb(64, 64, 64); margin: 0px 0px 10px; }
.bottom_block.menu_list ul { display: block; list-style: outside none none; padding: 0px; margin: 0px; }
.bottom_block.menu_list ul li { display: block; list-style: outside none none; margin: 0px; padding: 0px; }
.bottom_block.menu_list ul li a { color: rgb(153, 153, 153); font: 16px/30px "mhrglight"; text-decoration: none; }
.bottom_block.menu_list ul li a:hover { color: rgb(255, 255, 255); }
article .text .social-inline-cont li::before { content: ""; }
.wrapper.comments { padding: 50px 0px; }
.mainsection { float: left; max-width: 960px; margin-bottom: 30px; }
h1, .page-header { font: 32px/32px "mhrg"; margin: 0px 0px 24px; text-transform: uppercase; color: rgb(38, 38, 38); }
h3 { font: 24px/30px "mhrg"; color: rgb(38, 38, 38); margin: 0px 0px 10px; }
.form_content .list li::before { content: "-"; font-size: 16px; display: block; position: absolute; margin-left: -10px; }
.main_announce_list ul li.video > .img::after { content: ""; display: block; position: absolute; width: 40px; height: 30px; bottom: 10px; left: 10px; background: url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/play_btn_new@2x.png*/ no-repeat scroll 0px 0px / 40px 60px transparent; }
.main_announce_list ul li.video > .img:hover::after { background-position: 0px -30px; }
#video_slider .swiper-slide .img::after { content: ""; display: block; position: absolute; width: 46px; height: 46px; top: 74px; left: 112px; background: url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/play_btn@2x.png*/ no-repeat scroll 0px 0px / 46px 46px transparent; }
.lt-ie9 #video_slider .swiper-slide .img::after { background: url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/play_btn.png*/ no-repeat scroll 0px 0px transparent; }
#video_slider .swiper-slide .img:hover::after { opacity: 0.7; }
.section_title, section header { border-bottom: 1px solid rgb(37, 37, 37); padding: 0px 0px 10px; margin: 0px 0px 29px; width: 100%; height: auto ! important; background: none repeat scroll 0% 0% transparent; }
.section_title .title, section header h3 { float: left; color: rgb(38, 38, 38); font: 32px/30px "mhrg"; text-transform: uppercase; margin: 0px; }
.comment_tip::after { border-width: 7px 0px 0px 9px; border-style: solid none none solid; border-color: rgb(255, 219, 37) -moz-use-text-color -moz-use-text-color transparent; content: ""; display: block; height: 0px; width: 0px; line-height: 0; position: absolute; right: 6px; top: 20px; }
.wrapper.breadcrumbs { padding-left: 5px; background: none repeat scroll 0% 0% rgb(247, 247, 247); margin-bottom: 30px; }
.breadcrumbs ol { list-style: outside none none; padding: 9px 0px 7px; margin: 0px auto; font-size: 0px; max-width: 100%; }
.breadcrumbs ol li { display: inline-block; font: 16px/24px "mhrglight"; }
.breadcrumbs ol > li + li::before { padding: 0px 12px; color: rgb(175, 175, 175); content: "/ "; font-size: 16px; }
.breadcrumbs ol li a { color: rgb(66, 66, 66); text-decoration: none; }
article { margin-bottom: 20px; }
article .lead { margin: 0px 0px 30px; }
article header { position: relative; margin: 0px 0px 40px; width: auto; height: auto; text-align: center; }
article header h1 { text-transform: none; font: 45px/45px "mhrg"; margin: 0px 0px 20px; width: auto; height: auto; }
article .tags { text-align: left; padding: 0px 0px 7px; margin: 0px; line-height: 25px; display: block; }
article .tags li { display: inline-block; margin: 0px 10px 0px 0px; }
article .tags li a { color: rgb(38, 38, 38); font: 14px/20px Tahoma,Helvetica,sans-serif; text-decoration: none; }
article .tags li a:hover { text-decoration: underline; }
article footer {  position: relative; margin: 30px auto; width: auto; }
article .article_info { border-top: 1px solid rgb(51, 51, 51); display: table; width: 100%; padding: 0px; margin: 0px; font: 14px/32px Tahoma,Helvetica,sans-serif; color: rgb(38, 38, 38); }
article .article_info > li { display: table-row; }
article .article_info > li > div { border-top: 1px solid rgb(224, 224, 224); padding: 1px 20px 1px 0px; }
article .article_info > li:first-child > div { border-top: 0px none; }
article .article_info > li .info_label { display: table-cell; white-space: nowrap; text-transform: uppercase; font-weight: bold; }
article .article_info > li .info_description { display: table-cell; width: 100%; }
article .social, .auction .social { height: 44px; border: 1px solid rgb(230, 230, 230); margin: 30px 0px 0px; border-radius: 3px; }
.social-likes { list-style: outside none none; display: table; border-collapse: collapse; border: 0px none; width: 100%; margin: 0px ! important; padding: 0px ! important; font: 16px/20px "mhrglight"; }
.social-likes li { display: table-cell; width: 33%; border-left: 1px solid rgb(230, 230, 230); }
.social-likes li:first-child { border-left: 0px none; }
.social-likes li::before, .text ul.social-likes li::before { content: "" ! important; }
.social-likes li a.share-button { display: block; height: 30px; line-height: 30px; padding: 7px 0px; text-align: center; color: rgb(140, 140, 140); text-decoration: none; }
.social-likes li a.share-button:hover { text-decoration: none; }
.social-likes li a.share-button .l-count { font: 14px "mhrglight"; }
.social-likes li .l-ico { display: inline-block; width: 30px; height: 30px; color: transparent; background-image: url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/social_like.png*/; background-repeat: no-repeat; }
.social-likes li a.fb-share .l-ico { background-position: center -8px; }
.social-likes li a.vk-share .l-ico { background-position: center -98px; }
.social-likes li a.tw-share .l-ico { background-position: center -53px; }
.social-likes li a.fb-share:hover .l-ico { background-position: center -143px; }
.social-likes li a.fb-share:hover .l-count { color: rgb(59, 85, 140); }
.social-likes li a.vk-share:hover .l-ico { background-position: center -233px; }
.social-likes li a.vk-share:hover .l-count { color: rgb(82, 116, 152); }
.social-likes li a.tw-share:hover .l-ico { background-position: center -188px; }
.social-likes li a.tw-share:hover .l-count { color: rgb(85, 172, 238); }
article .text-lead { font: 27px/30px "mhrglight"; margin: 20px 0px 25px; color: rgb(38, 38, 38); }
.text { position: relative; font: 16px/25px Tahoma,Helvetica,sans-serif; }
.text p { margin: 0px 0px 20px; }
article .text {  margin: 0px auto; }
.text img { max-width: 100%; height: auto ! important; }
article .text .img_detail { width: 100%; margin: 0px 0px 25px -70px; position: relative; overflow: hidden; }
article .text .img_detail img { display: block; width:100%; margin: 0px auto; position: relative; }
article .text .clamp { width: 100%; padding: 0px; margin: 30px 0px; }
.text .clamp::before, .text .clamp::after, .text .test::before, .text .test::after, .text .blue-note-free::before, .text .blue-note-free::after, .text .blue-note::before, .text .blue-note::after, .text .red-note::before, .text .red-note::after { content: " "; display: table; }
.text .test::after, .text .clamp::after, .text .blue-note-free::after, .text .blue-note::after, .text .red-note::after { clear: both; }
article .text .incut { width: 300px; float: left; position: absolute; bottom: 0px; margin: 5px 0px 20px 0px; padding-top: 500px; }
article .text .incut img { }
article .text .title { font: 21px/31px "mhrg"; color: rgb(38, 38, 38); text-transform: uppercase; }
article .text .details { font: 14px/31px Tahoma,Helvetica,sans-serif; color: rgb(77, 77, 77); border-top: 1px solid rgb(235, 235, 235); }
article .text .details .label { color: rgb(230, 57, 23); font-weight: bold; text-transform: uppercase; }
article .text .incut_interesting::before, article .text .incut_interesting::after { content: " "; display: table; }
article .text .incut_interesting::after { clear: both; }
article .text .incut_readmore ol li::before { display: inline-block; width: auto; position: relative; left: 0px; margin: 0px 5px 0px 0px; text-align: left; font: 18px/20px "mhrg"; color: rgb(233, 55, 0); }
.text ul li::before { content: "•"; color: rgb(233, 55, 0); position: absolute; display: block; left: -20px; font-weight: bold; font-size: 12px; }
.text ol li::before { content: counter(item, decimal) "."; counter-increment: item; color: rgb(233, 55, 0); font-weight: bold; font-size: 12px; position: absolute; display: block; left: -30px; width: 20px; text-align: right; }
.comments section { max-width: 630px; float: left; margin: 0px 0px 0px 20px; }
.comments aside { width: 300px; float: left; margin: 39px 0px 0px 30px; }
.comments .comments_num { float: left; font: 32px/30px "mhrg"; color: rgb(140, 140, 140); margin: 0px 0px 0px 10px; }
.comments .comments_sign { display: block; height: 30px; width: 20px; float: right; background: url("icon_comments_write.png")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/icon_comments_write.png*/ no-repeat scroll 0px 0px transparent; }
.b-comments { padding: 0px 0px 10px; }
.b-comments .b-cmtItem { position: relative; max-width:100%; min-height: 0px; }
.b-comments .b-cmtItem .holder { padding: 0px; margin: 0px 0px 20px; position: relative; }
.b-cmtItem .cmtHeader { height: 20px; margin: 0px 0px 10px; }
.b-cmtItem .cmtHeader .title { float: left; font: 16px/20px "mhrg"; text-transform: uppercase; color: rgb(51, 51, 51); }
.b-cmtItem .cmtHeader .date { float: left; font: 16px/20px "mhrglight"; color: rgb(140, 140, 140); margin: 0px 0px 0px 10px; }
.b-cmtItem .avatar, .b-cmtForm .avatar { width: 60px; height: 80px; float: left; }
.b-cmtItem .avatar img, .b-cmtForm .avatar img { display: block; border-radius: 30px; }
.b-cmtItem .comment_content { margin: 0px 34px 0px 80px; position: relative; }
.b-cmtItem .comment_content::after { content: ""; display: block; position: absolute; width: 11px; height: 20px; background: url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/comment_tip.png*/ no-repeat scroll 0px 0px transparent; top: 20px; left: -10px; }
.b-cmtItem .comment_content p { position: relative; margin: 0px; min-height: 20px; font: 14px/18px Tahoma,Helvetica,sans-serif; border: 1px solid rgb(230, 234, 235); background: none repeat scroll 0% 0% rgb(255, 255, 255); border-radius: 3px; padding: 20px; }
.b-cmtItem .b-moreset { height: 20px; margin: 10px 36px 0px 80px; line-height: 20px; }
.profile_box .answers_list li .comment_tip::after { display: none; }
.status_box .status::before, .status_box .status::after { content: ""; float: left; width: 5px; height: 20px; position: absolute; }
.status_box .status::before { left: -5px; background: url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/auction_status.png*/ repeat scroll 0% 0% transparent; }
.status_box .status::after { right: -5px; float: right; background: url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/auction_status.png*/ repeat scroll right top transparent; }
.chzn-container-single .chzn-single abbr::before { display: block; content: "×"; position: absolute; top: 0px; height: 13px; }
.ir::before { content: ""; display: block; width: 0px; height: 150%; }
.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }
.clearfix {  }
article .text ul.test-options li::before { display: none; }
article .text .test-item::before { content: ""; }
.rub-related span + span::before { content: "/"; font: 16px/16px "mhrglight"; color: rgb(181, 181, 181); padding-right: 5px; }
.block-main-comments .b-cmtItem .comment_content::after { background: url("")/*tpa=http://blogs.ru.mcdir.ru/mh_prostatit/comment_tip__grey.png*/ no-repeat scroll 0px 0px transparent; }
.headlines ul li .comment_tip::after { border-top-color: rgb(233, 55, 0); }
.text-lead { font: 27px/30px "mhrglight"; margin: 20px 0px 29px; color: rgb(38, 38, 38); }
.more_comm { margin-left: 40%; }
.more_comm a { padding: 10px 20px; border: 1px solid rgb(136, 136, 136); color: rgb(0, 0, 0); text-decoration: none; font: 18px/22px "mhrg"; text-transform: uppercase; }
.more_comm a:hover { background-color: rgb(230, 57, 23); border-color: rgb(230, 57, 23); color: rgb(255, 255, 255); }
.main_menu > ul > li.active > a{
	color:#E63917;
}
.main_menu > ul > li.active > a:hover{
	color:#fff;
}
.text .pic {
  /* text-align: center; */
  width: 100%;
  margin: 0 0 20px 0px;
    /* background: #ededed;

    float: left; */ }

.text .pic img {
  display: block; }

.text .pic.left {
  float: left;
  margin: 5px 20px 15px 0; }
.vk-container {
    font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.vk-header {
    background: rgb(218, 226, 232) none repeat scroll 0% 0%;
    padding: 4px 4px 4px 6px;
    margin-bottom: 10px;
}

.vk-logo {
    background: transparent /*url('http://reserches.com/minzdrav/css/vk-logo.gif')*/ no-repeat scroll 0% 0%;
    width: 16px;
    height: 16px;
    float: right;
    margin-top: -1px;
}

.vk-header-text {
    padding: 2px 3px 1px;
    line-height: 100%;
    color: rgb(69, 104, 142);
    font-weight: bold;
}

.vk-avatar img {
    float: left;
    margin-right: 10px;
}

.vk-comment, .vk-comment-load {
    margin-bottom: 15px;
    position: relative;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(218, 225, 232);
}
.vk-comment-load { border-bottom: 0px }

.vk-comment:last-child {
    border-bottom: 0px none;
}

.vk-comment-name {
    color: rgb(43, 88, 122);
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.vk-comment-text {
    text-align: justify;
}

.vk-comment-date {
    color: rgb(153, 153, 153);
}
.respond input,
.respond textarea {
  color: #333;
  box-sizing: border-box;
  background-color: #f8f8f8;
  font-size: 14px;
  line-height: normal;
  border: none;
}
.respond input::-webkit-input-placeholder {
  color: #8a8a8a;
}
.respond input::-moz-placeholder {
  color: #8a8a8a;
}
.respond input:-moz-placeholder {
  color: #8a8a8a;
}
.respond input:-ms-input-placeholder {
  color: #8a8a8a;
}
.respond textarea::-webkit-input-placeholder {
  color: #8a8a8a;
}
.respond textarea::-moz-placeholder {
  color: #8a8a8a;
}
.respond textarea:-moz-placeholder {
  color: #8a8a8a;
}
.respond textarea:-ms-input-placeholder {
  color: #8a8a8a;
}
.respond-form .respond-form__site {
  margin-right: 0;
}
.respond-form__field {
  padding: 11px;
  box-sizing: border-box;
  float: left;
  margin: 0 3% 15px 0;
}
.respond-form__textarea {
  width: 100%;
  padding: 11px;
  margin-bottom: 15px;
}
.respond-form .respond-form__button {
  display: inline-block;
  padding: 10px 40px;
  background: none;
  text-align: center;
  color: #fff;
  font-size: 16px;
  line-height: normal;
  transition: easy;
  background-color: #E63917;
}
.respond-form .respond-form__button:hover {
  text-decoration: none;
  background: #fa6a4d;
  color: #fff;
}
.comment-title {
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-bottom: 25px;
  padding-left: 45px;
  position: relative;
}
.comment-title:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 36px;
  height: 32px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAgCAMAAABNTyq8AAAAflBMVEUAAABOUJttbcVtbcVOUJtNT5poaL5fYLJtbcVOUJttbcVOUJttbcVKTJdtbcZgYbNiYrVeX7BmZrxra8JxcMlyccpOUJtOUJttbcVtbcVtbcVHSZJRU6BnZ75tbcVOUJtxcMrx8fppacD///+Xl9ZLTZfw8PlsbMR2dc9oaL8TNoLjAAAAHnRSTlMA8/FJ8fjzB+s/venb6+McA/r28+vXv720nFA/PQ7ToYUIAAAAnklEQVQ4y+XSSQ+CMBCG4XFFiyzue6HSiv7/P6iYGUOADjThxsvhO/CkcChg8XFk7UDIS5j+yLebqROCgEVeUXwPTOWV+T6ExOLXLn8/Ksm1ISSxtNZrOyM0lrbS+YCQVkrT4NaRyjJFg+uM6HNPTYPr/OMJhzZ4C3wGyfB2XRZFDMr3gHEnrXpDoftJYtLUJSojAUyITtAansN37mA+VZdg6/szcy8AAAAASUVORK5CYII=") no-repeat;
}
.commentlist .comment {
  font-size: 14px;
  margin-bottom: 15px;
  color: #000;
  padding: 25px 21px;
  border-bottom: 1px solid #6969b3;
}
.commentlist .comment .gravatar {
  float: left;
  margin-right: 24px;
}
.commentlist .comment .gravatar img {
  border-radius: 50%;
}
.commentlist .comment p {
  margin-bottom: 15px;
}
.commentlist .comment .cauthor {
  margin-bottom: 10px;
}
.commentlist .comment .fn,
.commentlist .comment .fn a {
  font-size: 16px;
  line-height: 19px;
  color: #000;
  font-weight: bold;
}
.commentlist .comment .comment_date {
  font-size: 14px;
  line-height: 18px;
  color: #666666;
}
.commentlist .comment .reply a {
  text-decoration: none;
  color: #6969b3;
  border: 1px solid #6969b3;
  display: inline-block;
  padding: 3px 17px;
  border-radius: 3px;
}
.commentlist .comment .reply a:hover {
  text-decoration: none;
  background: #6969b3;
  color: #fff;
}
.commentlist .children {
  margin-left: 20px;
}
.commentlist .comment_content {
  padding-left: 75px;
}