

/* Code tidied up by ScrapBook */
@font-face {
    font-family: "PFDinTextCondPro-Regular";
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url("PFDinTextCondPro-Regular-8973a113b4500ae5564401f3d0c0a2bc7c24bfbf27f3dc4e0c55748186ce1b55.eot") format("embedded-opentype"), url("PFDinTextCondPro-Regular-6a8bcaed5c52f2f9907e72e71da7ec69ea8753071b0048a563596a284a6efe39.woff") format("woff"), url("PFDinTextCondPro-Regular-525bfde9e02cf2edc357eec35d0e1fd6e548f085408463aa46db12e1ac3f92ed.ttf") format("truetype"), url("urn:scrapbook:download:error:https://stp.svelteblogs.com//mnrn/pervyi-kanal/files/fonts/PFDinTextCondPro-Regular-12cb6ad19e5f4c751c7ac2dcb28f6a314a114f0c8fdf64fc5e5a7a7ce57edced.otf") format("opentype"), url("PFDinTextCondPro-Regular-e23807560c259e1d8065e9fb6ec5c23dc82e8ee993a4b87dab79a36dbd100d33.svg") format("svg");
    unicode-range: U+20-E0FF;
}
html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
b, strong { font-weight: bold; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
table { border-collapse: collapse; border-spacing: 0px; }
td, th { padding: 0px; }
@media print {
    *, *::before, *::after { background: transparent none repeat scroll 0% 0% !important; color: rgb(0, 0, 0) !important; box-shadow: none !important; text-shadow: none !important; }
    a, a:visited { text-decoration: underline; }
    a[href]::after { content: " (" attr(href) ")"; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    img { max-width: 100% !important; }
    p, h2, h3 {  }
    h2, h3 { page-break-after: avoid; }
}
@font-face {
    font-family: "Glyphicons Halflings";
    src: url("glyphicons-halflings-regular.eot") format("embedded-opentype"),  url("glyphicons-halflings-regular.woff") format("woff"), url("glyphicons-halflings-regular.ttf") format("truetype"), url("glyphicons-halflings-regular.svg") format("svg");
}
.glyphicon { position: relative; top: 1px; display: inline-block; font-family: "Glyphicons Halflings"; font-style: normal; font-weight: normal; line-height: 1; }
.glyphicon-thumbs-up::before { content: ""; }
.glyphicon-thumbs-down::before { content: ""; }
* { box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 12px; line-height: 1.42857; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:hover, a:focus { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 17px; margin-bottom: 8.5px; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 8.5px; margin-bottom: 8.5px; }
h1, .h1 { font-size: 31px; }
h3, .h3 { font-size: 21px; }
h4, .h4 { font-size: 15px; }
p { margin: 0px 0px 8.5px; }
@media (min-width: 768px) {
}
.text-muted { color: rgb(119, 119, 119); }
ul, ol { margin-top: 0px; margin-bottom: 8.5px; }
@media (min-width: 768px) {
}
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container::before, .container::after { content: " "; display: table; }
.container::after { clear: both; }
@media (min-width: 768px) {
    .container { width: 750px; }
}
@media (min-width: 992px) {
    .container { width: 970px; }
}
@media (min-width: 1000px) {
    .container { width: 950px; }
}
.container-fluid { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.container-fluid::before, .container-fluid::after { content: " "; display: table; }
.container-fluid::after { clear: both; }
.row { margin-left: -15px; margin-right: -15px; }
.row::before, .row::after { content: " "; display: table; }
.row::after { clear: both; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
@media (min-width: 768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
    .col-sm-5 { width: 41.6667%; }
}
@media (min-width: 992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; }
    .col-md-3 { width: 25%; }
    .col-md-9 { width: 75%; }
}
@media (min-width: 1000px) {
}
table { background-color: transparent; }
th { text-align: left; }
@media screen and (max-width: 767px) {
}
@media not all {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
.btn { display: inline-block; margin-bottom: 0px; font-weight: normal; text-align: center; vertical-align: middle; touch-action: manipulation; cursor: pointer; background-image: none; border: 1px solid transparent; white-space: nowrap; padding: 6px 12px; font-size: 12px; line-height: 1.42857; border-radius: 4px; -moz-user-select: none; }
.btn:focus, .btn.focus, .btn:active:focus, .btn.focus:active, .btn.active:focus, .btn.active.focus { outline: thin dotted; outline-offset: -2px; }
.btn:hover, .btn:focus, .btn.focus { color: rgb(51, 51, 51); text-decoration: none; }
.btn:active, .btn.active { outline: 0px none; background-image: none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-success { color: rgb(255, 255, 255); background-color: rgb(92, 184, 92); border-color: rgb(76, 174, 76); }
.btn-success:focus, .btn-success.focus { color: rgb(255, 255, 255); background-color: rgb(68, 157, 68); border-color: rgb(37, 86, 37); }
.btn-success:hover { color: rgb(255, 255, 255); background-color: rgb(68, 157, 68); border-color: rgb(57, 132, 57); }
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { color: rgb(255, 255, 255); background-color: rgb(68, 157, 68); border-color: rgb(57, 132, 57); }
.btn-success:active:hover, .btn-success:active:focus, .btn-success.focus:active, .btn-success.active:hover, .btn-success.active:focus, .btn-success.active.focus, .open > .btn-success.dropdown-toggle:hover, .open > .btn-success.dropdown-toggle:focus, .open > .btn-success.dropdown-toggle.focus { color: rgb(255, 255, 255); background-color: rgb(57, 132, 57); border-color: rgb(37, 86, 37); }
.btn-success:active, .btn-success.active, .open > .btn-success.dropdown-toggle { background-image: none; }
.btn-success .badge { color: rgb(92, 184, 92); background-color: rgb(255, 255, 255); }
//.btn-danger { color: rgb(255, 255, 255); background-color: rgb(217, 83, 79); border-color: rgb(212, 63, 58); }
//.btn-danger:focus, .btn-danger.focus { color: rgb(255, 255, 255); background-color: rgb(201, 48, 44); border-color: rgb(118, 28, 25); }
//.btn-danger:hover { color: rgb(255, 255, 255); background-color: rgb(201, 48, 44); border-color: rgb(172, 41, 37); }
//.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { color: rgb(255, 255, 255); background-color: rgb(201, 48, 44); border-color: rgb(172, 41, 37); }
//.btn-danger:active:hover, .btn-danger:active:focus, .btn-danger.focus:active, .btn-danger.active:hover, .btn-danger.active:focus, .btn-danger.active.focus, .open > .btn-danger.dropdown-toggle:hover, .open > .btn-danger.dropdown-toggle:focus, .open > .btn-danger.dropdown-toggle.focus { color: rgb(255, 255, 255); background-color: rgb(172, 41, 37); border-color: rgb(118, 28, 25); }
//.btn-danger:active, .btn-danger.active, .open > .btn-danger.dropdown-toggle { background-image: none; }
//.btn-danger .badge { color: rgb(217, 83, 79); background-color: rgb(255, 255, 255); }
.btn-sm, .btn-group-sm > .btn { padding: 5px 10px; font-size: 11px; line-height: 1.5; border-radius: 3px; }
.fade { opacity: 0; transition: opacity 0.15s linear 0s; }
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-device-width: 480px) and (orientation: landscape) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (min-width: 768px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
.breadcrumb { padding: 8px 15px; margin-bottom: 17px; list-style: outside none none; background-color: rgb(245, 245, 245); border-radius: 4px; }
.breadcrumb > li { display: inline-block; }
.breadcrumb > li + li::before { content: "/ "; padding: 0px 5px; color: rgb(204, 204, 204); }
.breadcrumb > .active { color: rgb(119, 119, 119); }
.badge { display: inline-block; min-width: 10px; padding: 3px 7px; font-size: 11px; font-weight: bold; color: rgb(255, 255, 255); line-height: 1; vertical-align: middle; white-space: nowrap; text-align: center; background-color: rgb(119, 119, 119); border-radius: 10px; }
.badge:empty { display: none; }
.btn .badge { position: relative; top: -1px; }
@media screen and (min-width: 768px) {
}
@keyframes progress-bar-stripes {
    0% { background-position: 40px 0px; }
    100% { background-position: 0px 0px; }
}
@keyframes progress-bar-stripes {
    0% { background-position: 40px 0px; }
    100% { background-position: 0px 0px; }
}
.close { float: right; font-size: 18px; font-weight: bold; line-height: 1; color: rgb(0, 0, 0); text-shadow: 0px 1px 0px rgb(255, 255, 255); opacity: 0.2; }
.close:hover, .close:focus { color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.5; }
button.close { padding: 0px; cursor: pointer; background: transparent none repeat scroll 0% 0%; border: 0px none; }
.modal { display: none; overflow: hidden; position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1050; outline: 0px none; }
.modal.fade .modal-dialog { transform: translate(0px, -25%); transition: transform 0.3s ease-out 0s; }
.modal-dialog { position: relative; width: auto; margin: 10px; }
.modal-content { position: relative; background-color: rgb(255, 255, 255); border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5); background-clip: padding-box; outline: 0px none; }
.modal-header { padding: 15px; border-bottom: 1px solid rgb(229, 229, 229); min-height: 16.4286px; }
.modal-header .close { margin-top: -2px; }
.modal-title { margin: 0px; line-height: 1.42857; }
.modal-body { position: relative; padding: 15px; }
@media (min-width: 768px) {
    .modal-dialog { width: 600px; margin: 30px auto; }
    .modal-content { box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); }
}
@media (min-width: 992px) {
}
@media not all, (-webkit-transform-3d) {
}
@media screen and (min-width: 768px) {
}
.clearfix::before, .clearfix::after { content: " "; display: table; }
.clearfix::after { clear: both; }
.pull-right { float: right !important; }
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 999px) {
}
@media (min-width: 992px) and (max-width: 999px) {
}
@media (min-width: 992px) and (max-width: 999px) {
}
@media (min-width: 992px) and (max-width: 999px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 1000px) {
}
@media (min-width: 1000px) {
}
@media (max-width: 767px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media (min-width: 992px) and (max-width: 999px) {
}
@media (min-width: 1000px) {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@media print {
}
@font-face {
    font-family: "FontAwesome";
    font-style: normal;
    font-weight: normal;
    src: url("fontawesome-webfont-d4f5a99224154f2a808e42a441ddc9248ffe78b7a4083684ce159270b30b912a.eot") format("embedded-opentype"), url("urn:scrapbook:download:error:https://stp.svelteblogs.com//mnrn/pervyi-kanal/files/fonts/fontawesome-webfont-3c4a1bb7ce3234407184f0d80cc4dec075e4ad616b44dcc5778e1cfb1bc24019.woff2") format("woff2"), url("fontawesome-webfont-a7c7e4930090e038a280fd61d88f0dc03dad4aeaedbd8c9be3dd9aa4c3b6f8d1.woff") format("woff"), url("fontawesome-webfont-1b7f3de49d68b01f415574ebb82e6110a1d09cda2071ad8451bdb5124131a292.ttf") format("truetype"), url("fontawesome-webfont-7414288c272f6cc10304aa18e89bf24fb30f40afd644623f425c2c3d71fbe06a.svg") format("svg");
}
.pull-right { float: right; }
@keyframes fa-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}
@keyframes fa-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}
h1#site-title { margin: 0px; }
h3 { margin-top: 4px; }
article { font-size: 14px; hyphens: none; }
article p { text-align: justify; }
p.timestamps { font-size: 12px; }
@media (min-width: 1000px) {
    .container { max-width:100%; }
}
@media (min-width: 992px) {
}
@media (min-width: 768px) {
    .container { padding-left: 15px; padding-right: 15px; }
}
@media (min-width: 768px) and (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
    #main-container, .footer .container { padding-left: 0px; padding-right: 0px; }
    #main-container > .row, .footer .container > .row { margin-left: 0px; margin-right: 0px; }
    .footer .box { margin-bottom: 0px; }
}
@media (max-width: 992px) {
}
.box { margin: 5px 0px; color: white; padding: 10px 20px; }
.box > .row { margin: 10px 0px 0px; }
.box-blue-light { background-color: rgb(223, 235, 236); color: rgb(68, 68, 68); }
.box-gray { color: rgb(68, 68, 68); background-color: rgb(231, 231, 231); }
#main-container { z-index: 500; }
.footer ul { list-style: outside none none; margin: 0px; padding: 0px; }
h3 { hyphens: none; }
.voting-panel > a, .voting-panel > span, .voting-panel > a .badge { margin-left: 0.5em; }
@keyframes buffering-stripes {
    0% { background-position: 0px 0px; }
    100% { background-position: 30px 0px; }
}
@keyframes buffering-stripes {
    0% { background-position: 0px 0px; }
    100% { background-position: 30px 0px; }
}
.blueimp-gallery, .blueimp-gallery > .slides > .slide > .slide-content { position: absolute; top: 0px; right: 0px; bottom: 0px; left: 0px; backface-visibility: hidden; }
.blueimp-gallery { position: fixed; z-index: 999999; overflow: hidden; background: rgba(0, 0, 0, 0.9) none repeat scroll 0% 0%; opacity: 0; display: none; direction: ltr; touch-action: none; }
.blueimp-gallery > .slides { position: relative; height: 100%; overflow: hidden; }
.blueimp-gallery, .blueimp-gallery > .slides > .slide > .slide-content { transition: opacity 0.5s linear 0s; }
.blueimp-gallery > .prev, .blueimp-gallery > .next { position: absolute; top: 50%; left: 15px; width: 40px; height: 40px; margin-top: -23px; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 60px; font-weight: 100; line-height: 30px; color: rgb(255, 255, 255); text-decoration: none; text-shadow: 0px 0px 2px rgb(0, 0, 0); text-align: center; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; box-sizing: content-box; border: 3px solid rgb(255, 255, 255); border-radius: 23px; opacity: 0.5; cursor: pointer; display: none; }
.blueimp-gallery > .next { left: auto; right: 15px; }
.blueimp-gallery > .close, .blueimp-gallery > .title { position: absolute; top: 15px; left: 15px; margin: 0px 40px 0px 0px; font-size: 20px; line-height: 30px; color: rgb(255, 255, 255); text-shadow: 0px 0px 2px rgb(0, 0, 0); opacity: 0.8; display: none; }
.blueimp-gallery > .close { padding: 15px; right: 15px; left: auto; margin: -15px; font-size: 30px; text-decoration: none; cursor: pointer; }
.blueimp-gallery > .play-pause { position: absolute; right: 15px; bottom: 15px; width: 15px; height: 15px; background: rgba(0, 0, 0, 0) url("play-pause.png") no-repeat scroll 0px 0px; cursor: pointer; opacity: 0.5; display: none; }
.blueimp-gallery > .prev:hover, .blueimp-gallery > .next:hover, .blueimp-gallery > .close:hover, .blueimp-gallery > .title:hover, .blueimp-gallery > .play-pause:hover { color: rgb(255, 255, 255); opacity: 1; }
.blueimp-gallery-controls > .prev, .blueimp-gallery-controls > .next, .blueimp-gallery-controls > .close, .blueimp-gallery-controls > .title, .blueimp-gallery-controls > .play-pause { display: block; transform: translateZ(0px); }
.blueimp-gallery > .slides > .slide > .slide-content, .blueimp-gallery > .prev, .blueimp-gallery > .next, .blueimp-gallery > .close, .blueimp-gallery > .play-pause { -moz-user-select: none; }
body:last-child .blueimp-gallery > .play-pause { width: 20px; height: 20px; background-size: 40px 20px; background-image: url("play-pause.svg"); }
.blueimp-gallery > .indicator { position: absolute; top: auto; right: 15px; bottom: 15px; left: 15px; margin: 0px 40px; padding: 0px; list-style: outside none none; text-align: center; line-height: 10px; display: none; }
.blueimp-gallery-controls > .indicator { display: block; transform: translateZ(0px); }
.blueimp-gallery > .indicator { -moz-user-select: none; }
@keyframes slit {
    50% { transform: translateZ(-250px) rotateY(89deg); opacity: 0.5; animation-timing-function: ease-out; }
    100% { transform: translateZ(0px) rotateY(0deg); opacity: 1; }
}
@keyframes slit {
    50% { transform: translateZ(-250px) rotateY(89deg); opacity: 1; animation-timing-function: ease-out; }
    100% { transform: translateZ(0px) rotateY(0deg); opacity: 1; }
}
@keyframes rotateRightSideFirst {
    50% { transform: translateZ(-50px) rotateY(5deg); animation-timing-function: ease-out; }
    100% { transform: translateZ(-200px); }
}
@keyframes rotateRightSideFirst {
    50% { transform: translateZ(-50px) rotateY(5deg); animation-timing-function: ease-out; }
    100% { transform: translateZ(-200px); }
}
@keyframes OpenTop {
    50% { transform: rotateX(10deg); animation-timing-function: ease-out; }
}
@keyframes OpenTop {
    50% { transform: rotateX(10deg); animation-timing-function: ease-out; }
}
@media not all, not all, only screen and (min-resolution: 2dppx) {
}
.close { position: absolute; top: 1px; right: 5px; font-size: 40px; cursor: pointer; }
.submit { margin-top: 10px; height: 50px; width: 400px; background-color: rgba(147, 205, 1, 1);
    color: rgb(255, 255, 255); font-size: 30px; border-radius: 3px; }
.content { display: block !important; margin-bottom: 6px; text-align: center; }
.spoil { background: rgb(238, 238, 238) none repeat scroll 0% 0%; width: 100%; font-size: 16px; color: rgb(0, 0, 0); padding: 10px; font-weight: 600; cursor: pointer; }
header { margin-bottom: 10px; }
tr td:nth-child(6) { background: rgb(184, 216, 237) none repeat scroll 0% 0%; }
tr td:nth-child(7) { background: rgb(184, 216, 237) none repeat scroll 0% 0%; }
tbody td { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
td { border: 2px solid rgb(255, 255, 255); }
tr td:nth-child(6) { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
tr td:nth-child(7) { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
tbody td { background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.glyphicon { margin-right: 4px; }
.footer { margin-bottom: 10px; }
.footer .row { margin-top: 2px; }
#main-container img { display: table; width: auto; margin: 0px auto; max-width: 100%; }
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
    article p { text-align: left !important; }
    .submit { width: 270px; font-size: 19px; }
}
.ui-helper-clearfix::before, .ui-helper-clearfix::after { content: ""; display: table; border-collapse: collapse; }
.ui-helper-clearfix::after { clear: both; }
.ui-helper-clearfix { min-height: 0px; }
.ui-state-disabled { cursor: default !important; }
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }
.ui-datepicker { padding: 0.2em 0.2em 0px; display: none; }
.ui-datepicker .ui-datepicker-header { position: relative; padding: 0.2em 0px; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position: absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev { left: 2px; }
.ui-datepicker .ui-datepicker-next { right: 2px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px; }
.ui-datepicker .ui-datepicker-title { margin: 0px 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker table { width: 100%; font-size: 0.9em; border-collapse: collapse; margin: 0px 0px 0.4em; }
.ui-datepicker th { padding: 0.7em 0.3em; text-align: center; font-weight: bold; border: 0px none; }
.ui-datepicker td { border: 0px none; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: 0.2em; text-align: right; text-decoration: none; }
.ui-widget { font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif; font-size: 1.1em; }
.ui-widget-content { border: 1px solid rgb(221, 221, 221); background: rgb(238, 238, 238) url("ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top; color: rgb(51, 51, 51); }
.ui-widget-content a { color: rgb(51, 51, 51); }
.ui-widget-header { border: 1px solid rgb(204, 204, 204); background: rgb(246, 168, 40) url("ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50%; color: rgb(255, 255, 255); font-weight: bold; }
.ui-widget-header a { color: rgb(255, 255, 255); }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid rgb(204, 204, 204); background: rgb(246, 246, 246) url("index-1.css") repeat-x scroll 50% 50%; font-weight: bold; color: rgb(28, 148, 196); }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: 0.35; background-image: none; }
.ui-icon { width: 16px; height: 16px; }
.ui-icon, .ui-widget-content .ui-icon { background-image: url("ui-icons_222222_256x240.png"); }
.ui-widget-header .ui-icon { background-image: url("ui-icons_ffffff_256x240.png"); }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 4px; }
.ui-state-active { border: 1px solid rgb(121, 121, 121) !important; border-radius: 3px; background: rgba(255, 255, 255, 0.93) none repeat scroll 0% 0% !important; color: rgb(14, 107, 144) !important; font-weight: bold !important; }
#product-block { background: rgba(0, 0, 0, 0) url("order_tube.png") no-repeat scroll center center / contain ; height: 355px; width: 100% !important; display: block; margin: 0px 0px 0px -10% !important; text-align: center; }
#product-block .plashka2-t { color: rgb(255, 249, 21); font-size: 20px; line-height: 25px; }
#product-block .plashka2 b { text-shadow: 1px 1px 2px rgb(55, 56, 56); }
#product-block .plashka2 { position: absolute; background: rgba(0, 0, 0, 0) url("sale-bg-2.png") no-repeat scroll center center / 190px 262px; width: 190px !important; height: 138px; padding: 144px 30px 0px 0px; line-height: 22px; text-align: center; font-size: 17px; color: rgb(255, 255, 255); margin: 55px 0px 0px -10px !important; font-family: "Roboto",sans-serif; box-sizing: content-box; z-index: 5; }
@media screen and (max-width: 767px) {
    #product-block { width: 100% !important; height: 224px !important; margin: 0px 0px 0px -10% !important; }
    #product-block .plashka2 { background-size: 135px 188px; width: 110px !important; height: 98px; padding: 95px 25px 0px 0px; line-height: 16px; font-size: 13px; margin: 22px 0px 0px -2px !important; }
    #product-block .plashka2-t { font-size: 15px; }
}
.myhead {
    width: 100%;
}
.yellow-back {
    background-color: #FFF07E;
    padding: 20px;
    color: rgba(147, 205, 1, 1);
    text-transform: uppercase;
    text-align: center;
}
.button {
    font-size: 20px;
    text-align: center;
    color: #fff !important;
    background-color: rgba(147, 205, 1, 1);
    display: block;
    width: 100%;
    max-width: 320px;
    border-radius: 30px;
    text-decoration: none;
    padding: 15px;
}
@media screen and (max-width: 720px) {
}
@media screen and (max-width: 200px) {
    #product-block .plashka2 { display: none; }
}
@media screen and (max-width: 1021px) {
    .myhead {
        width: auto;
        max-width: 100%;
        display: block;
    }
}
@media screen and (max-width: 448px) {
    .myh3, .timestamps { padding-left: 15px; padding-right: 15px; }
}
.exitblock { display: none; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 100000; }
.exitblock .fon { background: rgb(246, 252, 255) none repeat scroll 0% 0%; opacity: 0.8; position: fixed; width: 100%; height: 100%; }
.exitblock .modaltext { box-sizing: border-box; padding: 20px 40px; border: 2px solid rgb(174, 174, 174); background: rgb(246, 252, 255) none repeat scroll 0% 0%; position: fixed; top: 80px; left: 50%; margin-left: -30%; width: 60%; box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5); }
.closeblock { cursor: pointer; position: fixed; line-height: 60px; font-size: 82px; transform: rotate(45deg); text-align: center; top: 20px; right: 30px; color: rgb(51, 122, 183); }
.closeblock:hover { color: rgb(0, 0, 0); }


.title1{
    background: #c2d5cd; /* Фоновый цвет блока */
    width:387px; /* Ширина блока */
    height: 39px; /* Высота блока */
    border:4px solid #777; /* Ширина вид и цвет рамки */
    border-radius:3px; /* Радиус скругления углов*/
    -webkit-border-radius:3px; /* Safari, Chrome */
    -moz-border-radius:3px; /* Firefox */
    box-shadow: 0 0 10px 1px #1A3457; /* Тень*/
    -webkit-box-shadow: 0 0 10px 1px #1A3457; /* Safari, Chrome */
    -moz-box-shadow: 0 0 10px 1px #1A3457; /* Firefox */
    cursor: pointer;
    margin: auto;
    margin-bottom: 10px;
}

.attenrion {border: 4px double #4b6598;
    padding: 20px;
    margin-bottom: 10px;}




/**==========================================================================**/
/******************************* ADDED SPECIAL ********************************/
/**==========================================================================**/
html {
    min-width: 320px;
}
@media (min-width:1920px){
    *{
        background-size: cover;
    }
}

#created-button-1, #created-button-2 {
    line-height: 1.7em !important;
}
.my-com-date {
    color: rgb(91, 95, 101);
    text-shadow: 0 0 0px #000000;
    font-weight: 600;
    line-height: 34px;
    padding: 1px 4px 1px 4px;
    background: #fdfdfd;
    border-radius: 3px;
    font-size: 20px;
}
.out-comebacker-content-btn:hover {
    text-decoration: none !important;
    transition: 0.3s !important;
}
.out-comebacker-content-btn:focus {
    text-decoration: none;
    color: #fff;
}
.out-comebacker-content-btn:active {
    border: 1px solid #fff;
}
a:active, a:focus {
    outline: none;
}
input, textarea {
    outline: none;
}
input:active, textarea:active {
    outline: none;
}
:focus {
    outline: none;
}
textarea {
    resize: none;
}
textarea {
    resize: vertical;
}
textarea {
    resize: horizontal;
}
button:active, button:focus {
    outline: none !important;
}
button::-moz-focus-inner {
    border: 0 !important;
}
.cityg {
    text-transform: lowercase !important;
}
.mycity {
    background: #6b6b6b;
    color: #fff;
    text-transform: uppercase;
    font-size: 8pt;
    padding: 0.5pt 4px 0.7pt 4px;
    margin-left: 2px;
    font-weight: 700;
    font-family: open sans condensed;
    border-radius: 3px;
}
#product-block {
    background: url("order_tube.png") center center no-repeat;
    height: 374px;
    width: 100% !important;
    display: block;
    margin: 0px 0px 0px 0px !important;
    margin: 0 !important;
    background-size: contain;
    text-align: center;
}
#product-block .plashka2-t {
    color: #fff915;
    font-size: 20px;
    line-height: 25px;
}
#product-block .plashka2 b {
    text-shadow: 1px 1px 2px #373838;
}
#product-block .plashka2 {
    position: absolute;
    background: url("urn:scrapbook:download:error:https://stp.svelteblogs.com//mnrn/pervyi-kanal/files/css/files/img/sale-bg-2.png") center center no-repeat;
    background-size: 190px 262px;
    width: 190px !important;
    height: 166px;
    padding: 144px 30px 0 0;
    line-height: 22px;
    text-align: center;
    font-size: 17px;
    color: #fff;
    margin: 47px 0 0 -10px !important;
    font-family: 'Roboto', sans-serif;
    box-sizing: content-box;
    z-index: 5;
}
@media screen and (max-width: 767px) {
    #product-block {
        width: 100% !important;
        height: 232px !important;
        margin: 0 !important;
    }
    #product-block .plashka2 {
        background-size: 135px 188px;
        width: 110px !important;
        height: 98px;
        padding: 95px 25px 0 0;
        line-height: 16px;
        font-size: 13px;
        margin: 30px 0 0 0px !important;
    }
    #product-block .plashka2-t {
        font-size: 15px;
    }
}
@media screen and (max-width: 720px) {
    .renul_seDwyoGn57 .gelat_Bb6MhOHv {
        text-align: center
    }
}
@media screen and (max-width: 200px) {
    #product-block .plashka2 {
        display: none;
    }
}