@media only screen and (max-width:1200px) {
	.block_left {
	width: 150px;
}
}

@media only screen and (max-width:992px) {
	.block_left {
	   display: none;
	}
    
    .block_main, .block_comm, .footer {
	margin-left: 0;
	padding: 15px;
}
.logo-mob{
	display: block;
}
}

@media only screen and (max-width:768px) {
	.search {
	display: none;
}



.menu2 {
	padding: 0;
	margin-top: 20px;
    display: none;
}

.text1 {
	font: 23px LatoBold, sans-serif;
	color: #1f1f26;
	line-height: 1.2;
	margin-top: 20px;
}

.block_date_news {
    text-align: center;
}

.text {
	font: 17px PTSansRegular, sans-serif;
	color: #1f1f26;
}
ul{
	padding-left: 10px;
}
ul li{
	font: 16px PTSansRegular, sans-serif;
	color: #1f1f26;
}
.t2 {
	font-size: 17px;
}

.link {
	font: 18px PTSansBold, sans-serif;
	color: #1f1f26;
}

.doc {
	margin: 0 30px 20px 0;
	display: block;
	float: none;
	margin: 0 auto;
}

.text2 {
	font: 18px PTSansBoldItalic, sans-serif;
	color: #1f1f26;
}

}

@media only screen and (max-width:500px) {
	.main_top li {
	float: left;
	margin-right: 18px;
	list-style-type: none;
}
.text1 {
	font: 21px LatoBold, sans-serif;
	color: #1f1f26;
	line-height: 1.2;
	margin-top: 20px;
}

.ava {
	margin-right: 14px;
}
}

@media only screen and (max-width:384px) {
.logo-mob{
	margin-top: 15px;
}
}