/*============ CSS BEGIN ============*/
/* Geniral style */
* {padding: 0; margin: 0;}
header, nav, section, article, aside, footer {display: block;}
html, body {height: auto; max-height: 100%;}
body {background: #fff; font-size: 16px; font-family: 'Open Sans', sans-serif; color: #000d20;}
fieldset {border: none; margin: 0; padding: 0;}

/* Link Style */
a {text-decoration: none;}

.px10 {font-size: 10px;}
.px12 {font-size: 12px;}
.px13 {font-size: 13px;}
.px14 {font-size: 14px;}
.px15 {font-size: 15px;}
.px16 {font-size: 16px;}
.px18 {font-size: 18px;}
.px20 {font-size: 20px;}
.px21 {font-size: 21px;}
.px22 {font-size: 22px;}
.px23 {font-size: 23px;}
.px24 {font-size: 24px;}
.px25 {font-size: 25px;}
.px26 {font-size: 26px;}
.px28 {font-size: 28px;}
.px30 {font-size: 30px;}
.px32 {font-size: 32px;}
.px34 {font-size: 34px;}
.px35 {font-size: 35px;}
.px36 {font-size: 36px;}
.px38 {font-size: 38px;}
.px40 {font-size: 40px;}
.px42 {font-size: 42px;}
.px43 {font-size: 43px;}
.px44 {font-size: 44px;}
.px45 {font-size: 45px;}
.px48 {font-size: 48px;}
.px50 {font-size: 50px;}
.px53 {font-size: 53px;}
.px60 {font-size: 60px;}
.px72 {font-size: 72px;}
.px74 {font-size: 74px;}
.px80 {font-size: 80px;}
.px87 {font-size: 87px;}
.px92 {font-size: 92px;}
.px132 {font-size: 132px;}

.normal {font-weight: normal;}
.bold {font-weight: bold;}
.w800 {font-weight: 800;}
.w300 {font-weight: 300;}
.italic {font-style: italic;}
.center {text-align: center;}
.alleft {text-align: left;}
.alright {text-align: right;}
.upp {text-transform: uppercase;}
.under {text-decoration: underline;}
.no-padding {padding: 0;}
.lh160 {line-height: 160%;}
.lh140 {line-height: 140%;}
.lh120 {line-height: 120%;}
.vmid {vertical-align: middle;}
.left {float: left;}
.right {float: right;}

.abs {position: absolute;}
.rel {position: relative;}
/* Flex */
.flex {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-content: stretch; -ms-flex-line-pack: stretch; align-content: stretch;}
.flex-between {justify-content:space-between; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify;}
.flex-around {justify-content:space-around; -webkit-align-content: space-around;  -ms-flex-line-pack: distribute;}
.flex-center {justify-content:center; -webkit-box-pack: center; -moz-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center;}
.flex-left {justify-content: flex-start; -webkit-justify-content: flex-start;  -ms-flex-pack: start;}
.flex-right {justify-content: flex-end; -webkit-justify-content: flex-end; -ms-flex-pack: end;}

.flex-top {align-items:flex-start; -webkit-align-items: flex-start; -ms-flex-align: start; }
.flex-mid {align-items:center; -webkit-box-align: center;  -webkit-align-items: center;  -ms-flex-align: center;}
.flex-bot {align-items:flex-end; -webkit-align-items: flex-end; -ms-flex-align: end;}

.flex-wrap {flex-wrap: wrap; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; -o-flex-wrap: wrap;}

.flex-column {flex-direction: column; -webkit-box-orient: vertical; -webkit-box-direction: normal;  -webkit-flex-direction: column;  -ms-flex-direction: column;}
.flex-column-rev {flex-flow: column-reverse; -webkit-flex-direction: column-reverse;  -ms-flex-direction: column-reverse; -moz-box-direction: reverse; -webkit-box-direction: reverse;}
.flex-row {flex-direction: row; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row;}
.flex-row-rev {flex-flow: row-reverse;  -webkit-flex-direction: row-reverse; -ms-flex-direction: row-reverse; -moz-box-direction: reverse; -webkit-box-direction: reverse;}


.nopoint {pointer-events: none;-o-pointer-events: none;-webkit-pointer-events: none;}

/* Display style */
.inline-b {display: inline-block; zoom: 1; *display: inline;}
/* Clear */
.clearfix:after {content: ""; display: table; clear: both; *zoom: 1;}
/* Preloader */
#preloader {position: absolute; top: 5px; left: 5px;}
/* To top */
#to-top {position: fixed; bottom: 15px; right: 15px; display: none; cursor: pointer; color: #bbcf15; font-size: 40px; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.53);}

/*============ FORM ============*/
input {
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 15px;
  border: 1px solid #c6c6c6;
  font-size: 24px;
  background: #fff; 
  color: #8e8e8e; 
  border-radius: 25px;
  outline: none;
  text-indent: 60px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
select{
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin: 0 auto 15px;
  border: 1px solid #c6c6c6;
  font-size: 16px;
  background: #fff; 
  color: #8e8e8e; 
  border-radius: 25px;
  -webkit-appearance: none;
  outline: none;
  text-indent: 60px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

select#global{
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAWCAMAAAAYXScKAAAA1VBMVEUAAADBwcGOjo6Ojo6Ojo6Ojo6rq6v///+Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo7v7+////+Ojo76+vqqqqrp6emOjo6amprMzMzMzMzh4eHExMTMzMyOjo6rq6vh4eGOjo7Dw8P19fX////p6enr6+uOjo719fXLy8vr6+uOjo6Ojo7///+Ojo7///////+Ojo7////39/eXl5fp6ent7e2ysrLf39+jo6Oampr5+fn09PTLy8vc3Nypqanl5eXY2NjPz8/FxcXCwsKUlJSSkpLk5OTOb9amAAAAMHRSTlMABRQ57/z29NvAqOPMyI1aWTovE/z389vY0sS8uq6tqpWTkpGQhYV3bFFMSCYiHg164szCAAAA/UlEQVQY023Qx5bCMAwFUKUnMAwwTO+9lxe3VDrM/38SceKckwVayPZdyJLIxLdFT2SNLerGx13UD8Lo8qVjdu/kGIiBmbj5adFxM4Zawbj7ZdCDmhqdKnifGkc+UK6MrkrAfxyTdS1YIss028TgaSkTJi4mZANcVV7kcV7If6Y4cERD1J+YClmhn4fUg4Y2bXJ9O6DQQDe5FMR7ggZ76rr0qg+ZGk1lU9dBPZJRlTQ9WCG4mkvBqnJMynnTL72LPFmIlEPPJhZJLs7/iCa3QGdngP/2q7cbAWJm9gt4Trt0rJe1Ltc4NUhkDc/YttIty+5tDa2PHgZB/+rZ2A69EkDAphqbWwAAAABJRU5ErkJggg==);
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 25px 50%;
}
input#name {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAWBAMAAADdrcoLAAAAMFBMVEUAAACOjo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo5rFt+XAAAAD3RSTlMA3RHuzKqIdzNVu5lmRCL9eeufAAAAh0lEQVQY02MAAc2ZCgxQoPr//1coh8P+////FhC24n8g+AiRyP8PAglgtj+Y7QBm/weDDxhsezDbAMyOB7MDwOx+MLsBzGYHMb9D3VD8///nAghTR6lKqugNyF6mlP/WFxhu239JYmBQ+Q8FXxQgJkJMhdgEte0/HHxAZkNcDHW1miAUiCkAAEf3g4tv7bhKAAAAAElFTkSuQmCC);
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 25px 50%;
}
input#phone {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAWBAMAAADdrcoLAAAALVBMVEUAAACOjo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo6Ojo5ylThpAAAADnRSTlMAzIgR7ndE3VWqMyKZu72f3KwAAACUSURBVBjTY4ACtgQGOOh7VwTn3Xv3zgHK5Hr37t0DKJvnHULcBMgugLLXAdkToGwOv3fvAmDmLHz3bgOMzfnuLdyuvHcvYExmuXcCDAjzwU5IWsDAcO7dIxAz8F0xg+U7sJLwd+8esvq9e2gAZL8DAqBFwiAldSAORJhBD8R8EgD1EBDMhpi8D6ggGmoLk5KGAZQJABe+SIHuaf3hAAAAAElFTkSuQmCC);
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: 25px 50%;
}


::-webkit-input-placeholder {font-size: 16px; color:#8e8e8e;}
::-moz-placeholder          {font-size: 16px; color:#8e8e8e;}/* Firefox 19+ */
:-moz-placeholder           {font-size: 16px; color:#8e8e8e;}/* Firefox 18- */
:-ms-input-placeholder      {font-size: 16px; color:#8e8e8e;}



