@font-face {
    font-family: "HELVETICANEUECYR-BOLD";
    src: url("../fonts/HELVETICANEUECYR-BOLD.woff")/*tpa=http://mega-mix.bllogers.ru/fonts/HELVETICANEUECYR-BOLD.woff*/ format("woff"),
         url("../fonts/HELVETICANEUECYR-BOLD.otf")/*tpa=http://mega-mix.bllogers.ru/fonts/HELVETICANEUECYR-BOLD.otf*/;
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HELVETICANEUECYR-MEDIUM";
    src: url("../fonts/HELVETICANEUECYR-MEDIUM.woff")/*tpa=http://mega-mix.bllogers.ru/fonts/HELVETICANEUECYR-MEDIUM.woff*/ format("woff"),
         url("../fonts/HELVETICANEUECYR-MEDIUM.otf")/*tpa=http://mega-mix.bllogers.ru/fonts/HELVETICANEUECYR-MEDIUM.otf*/;
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HELVETICANEUECYR-ROMAN";
    src: url("../fonts/HELVETICANEUECYR-ROMAN.woff")/*tpa=http://mega-mix.bllogers.ru/fonts/HELVETICANEUECYR-ROMAN.woff*/ format("woff"),
         url("../fonts/HELVETICANEUECYR-ROMAN.otf")/*tpa=http://mega-mix.bllogers.ru/fonts/HELVETICANEUECYR-ROMAN.otf*/;
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "HELVETICANEUECYR-LIGHT";
    src: url("../fonts/HELVETICANEUECYR-LIGHT.woff")/*tpa=http://mega-mix.bllogers.ru/fonts/HELVETICANEUECYR-LIGHT.woff*/ format("woff"),
         url("../fonts/HELVETICANEUECYR-LIGHT.otf")/*tpa=http://mega-mix.bllogers.ru/fonts/HELVETICANEUECYR-LIGHT.otf*/;
    font-style: normal;
    font-weight: normal;
}


*{ margin: 0; padding: 0; outline: none; }
a{ display: block; text-decoration: none; }
ul{ list-style: none; }
img{ border: none; }
div:after{ content: ""; display: table; clear: both; }
body{ background: #ffffff; font-family: "HELVETICANEUECYR-ROMAN"; font-size: 23px; color: #000000; }
h1,h2,h3{ font-weight: normal; }


/********* main_content *********/
.main_content{
    margin: 0 auto;
    max-width: 1920px;
}
.container{
    margin: 0 auto;
    width: 980px;
}

/********* screen_1 *********/
.screen_1{
    text-align: center;
    overflow: hidden;
    height: 1059px;
    background: url("../images/screen_1_bg.jpg")/*tpa=http://mega-mix.bllogers.ru/images/screen_1_bg.jpg*/ center bottom no-repeat;
}
.header{
    text-transform: uppercase;
    line-height: 43px;
    font-size: 40px;
    font-family: "HELVETICANEUECYR-BOLD";
    padding: 31px 0 0 0;
    height: 164px;
    color: #ffffff;
    background: url("../images/header_bg.jpg")/*tpa=http://mega-mix.bllogers.ru/images/header_bg.jpg*/ center center no-repeat;
}
.color{
    color: #ffe514;
}
.title{
    color: #ffffff;
    font-family: "HELVETICANEUECYR-MEDIUM";
    margin: 2px 0 0 0;
    padding: 15px 0 0 0;
    height: 65px;
    background: url("../images/title_bg.png")/*tpa=http://mega-mix.bllogers.ru/images/title_bg.png*/ center center no-repeat;
    position: relative;
    z-index: 1;
}
.title h1{
    font-size: 39px;
}
.screen_1 > .container{
    text-align: left;
    position: relative;
}
.screen_1 > .container * {
    position: relative;
    z-index: 1;
}
.screen_1 > .container > img{
    position: absolute;
    right: -107px;
    bottom: -56px;
    z-index: 0 !important;
}
.screen_1 > .container h2{
    font-size: 30px;
    margin: 36px 0 0 0;
    text-transform: uppercase;
    font-family: "HELVETICANEUECYR-MEDIUM";
}
.screen_1 > .container ul{
    margin: 17px 0 32px 0;
}
.screen_1 > .container ul li{
    margin: 0 0 16px 0;
}
.screen_1 > .container ul li *{
    display: inline-block;
    vertical-align: middle;
}
.screen_1 > .container ul li span{
    border-radius: 50%;
    background-color: rgb( 194, 0, 27 );
    width: 33px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    margin: 0 10px 0 0;
}
.screen_1 > .container p{
    line-height: 27px;
}
.bg{
    background: url("../images/p_bg.png")/*tpa=http://mega-mix.bllogers.ru/images/p_bg.png*/ center left no-repeat;
    color: #c2001b;
    padding: 13px 0 0 20px;
    height: 106px;
    font-family: "HELVETICANEUECYR-MEDIUM";
    margin: 12px 0 17px 0;
}
.price h3{
    font-size: 29px;
}
.price span{
    display: block;
    margin: -5px 0 -2px 0;
    font-size: 60px;
    font-family: "HELVETICANEUECYR-BOLD";
}
.price p{
    line-height: 32px !important;
}
.button{
    height: 70px;
    width: 338px;
    border-radius: 35px;
    font-size: 35px;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    margin: 29px 0 0 0;
    font-family: "HELVETICANEUECYR-BOLD";
    color: #ffe600;
    background: rgba(255,0,0,1);
    background: -webkit-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(241,0,0,1) 50%, rgba(233,0,0,1) 50%, rgba(213,0,0,1) 100%);
    background:    -moz-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(241,0,0,1) 50%, rgba(233,0,0,1) 50%, rgba(213,0,0,1) 100%);
    background:     -ms-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(241,0,0,1) 50%, rgba(233,0,0,1) 50%, rgba(213,0,0,1) 100%);
    background:      -o-linear-gradient(top, rgba(255,0,0,1) 0%, rgba(241,0,0,1) 50%, rgba(233,0,0,1) 50%, rgba(213,0,0,1) 100%);
    background:        -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,0,0,1)), color-stop(50%, rgba(241,0,0,1)), color-stop(50%, rgba(233,0,0,1)), color-stop(100%, rgba(213,0,0,1)));
    background: linear-gradient(to bottom, rgba(255,0,0,1) 0%, rgba(241,0,0,1) 50%, rgba(233,0,0,1) 50%, rgba(213,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#d50000', GradientType=0 );
    -webkit-box-shadow: 0px -4px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #ffffff,
                        0px 36px 20px -29px #785e24;
       -moz-box-shadow: 0px -4px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #ffffff,
                        0px 36px 20px -29px #785e24;
        -ms-box-shadow: 0px -4px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #ffffff,
                        0px 36px 20px -29px #785e24;
         -o-box-shadow: 0px -4px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #ffffff,
                        0px 36px 20px -29px #785e24;
            box-shadow: 0px -4px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #ffffff,
                        0px 36px 20px -29px #785e24;
}
.button:hover{
    -webkit-box-shadow: 0px -1px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #ffffff,
                        0px 36px 20px -29px #785e24;
       -moz-box-shadow: 0px -1px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #ffffff,
                        0px 36px 20px -29px #785e24;
        -ms-box-shadow: 0px -1px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #ffffff,
                        0px 36px 20px -29px #785e24;
         -o-box-shadow: 0px -1px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #ffffff,
                        0px 36px 20px -29px #785e24;
            box-shadow: 0px -1px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #ffffff,
                        0px 36px 20px -29px #785e24;
}
.news{
    position: absolute !important;
    top: -36px;
    right: 0;
    z-index: 0 !important;
    background: url("../images/news_bg.png")/*tpa=http://mega-mix.bllogers.ru/images/news_bg.png*/ center center no-repeat;
    width: 56px;
    height: 166px;
    font-size: 16px;
    font-family: "HELVETICANEUECYR-BOLD";
    color: #ffe400;
    text-align: center;
}
.news p{
    -webkit-transform: rotate(-90deg);
    -moz-transform:    rotate(-90deg);
    -o-transform:      rotate(-90deg);
    transform:         rotate(-90deg);
    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=3.061616997868383e-16, M12=1, M21=-1, M22=3.061616997868383e-16, SizingMethod='auto expand')";
    filter: progid:DXImageTransform.Microsoft.Matrix(
            M11=3.061616997868383e-16,
            M12=1,
            M21=-1,
            M22=3.061616997868383e-16,
            SizingMethod='auto expand');
    position: absolute;
    width: 125px;
    top: 60px;
    left: -34px;
}

/********* screen_2 *********/
.screen_2{
    background: #e32525;
    padding: 34px 0 0px 0;
}
.screen_2 .container > *{
    float: left;
}
.autumn{
    width: 665px;
    color: #ffffff;
    line-height: 34px;
    margin: 0px 0 0px 136px;
    font-family: "HELVETICANEUECYR-BOLD";
    font-size: 28px;
}
.autumn span{
    color: #ffe402;
    margin: 0 0 17px 0;
    display: block;
}
.autumn p{
    margin: 0 0 18px 0;
}

/********* screen_3 *********/
.screen_3,
.screen_4{
    background: url("../images/screen_3_bg.png")/*tpa=http://mega-mix.bllogers.ru/images/screen_3_bg.png*/;
    text-align: center;
    font-family: "HELVETICANEUECYR-LIGHT";
    font-size: 22px;
}
.screen_3 h1,
.screen_4 h1,
.screen_6 h1{
    display: inline-block;
    text-align: center;
    background: url("../images/h1_bg.png")/*tpa=http://mega-mix.bllogers.ru/images/h1_bg.png*/ center center no-repeat;
    height: 68px;
    line-height: 68px;
    text-transform: uppercase;
    font-family: "HELVETICANEUECYR-BOLD";
    font-size: 34px;
    color: #ff6408;
    margin: 60px 0 24px 0;
}
.screen_3 .container > p,
.screen_4 .container > p{
    text-align: left;
    line-height: 28px;
    margin: 0 0 28px 0;
    
}

.galery img{
    width: auto;
    height: auto;
    float: left;
    margin: 2px;
}
.galery_3{
    position: relative;
    width: 735px;
    float: right;
}
.fisherman{
    position: absolute;
    left: -445px;
    top: -298px;
}
.right_margin{
    margin-right: 0 !important;
}
.right{
    float: right !important;
}
.doctor{
    background: #ffffff;
    width: 692px;
    border-left: 4px solid #d8d8d8;
    border-right: 4px solid #d8d8d8;
    margin: 72px auto 59px auto;
    position: relative;
    text-align: left;
    padding: 11px 0 20px 0;
    font-size: 17px;
}
.doctor:before{
    content: "";
    position: absolute;
    top: -19px;
    left: -6px;
    width: 704px;
    height: 38px;
    background: url("../images/before.png")/*tpa=http://mega-mix.bllogers.ru/images/before.png*/ center center no-repeat;
}
.doctor:after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: -6px;
    width: 704px;
    height: 25px;
    background: url("../images/after.png")/*tpa=http://mega-mix.bllogers.ru/images/after.png*/ center center no-repeat;
}
.doctor p{
    text-align: center;
    font-family: "HELVETICANEUECYR-MEDIUM";
    color: #c2001b;
    width: 691px;
    height: 60px;
    line-height: 60px;
    margin: 0 0 3px 0;
    background: url("../images/doc_name_bg.png")/*tpa=http://mega-mix.bllogers.ru/images/doc_name_bg.png*/ center center no-repeat;
}
.foto *{
    float: left;
}
.foto img{
    margin: 0 26px 0 33px;
}
.foto span{
    display: block;
    font-family: Georgia;
    line-height: 26px;
    font-style: italic;
    width: 500px;
    margin: -6px 0 0 0;
    font-size: 17px;
}

/********* screen_4 *********/
.screen_4{
    overflow: hidden;
    padding: 0 0 75px 0;
}
.certificate{
    margin: 10px 0 46px 0;
}
.certificate > div{
    display: inline-block;
    background: url("../images/frame.png")/*tpa=http://mega-mix.bllogers.ru/images/frame.png*/ center center no-repeat;
    width: 368px;
    margin: 0 40px 0 40px;
    height: 535px;
}
.certificate > div img{
    margin: 95px 0 0 0px;
}
.screen_4 .button,
.screen_6 .button{
    margin: 0 auto;
    position: relative;
}
.screen_4 .button:before{
    position: absolute;
    top: 33px;
    left: -788px;
    content: "";
    border-bottom: 3px solid #adafa9;
    width: 778px;
}
.screen_4 .button:after{
    position: absolute;
    top: 33px;
    right: -788px;
    content: "";
    border-bottom: 3px solid #adafa9;
    width: 778px;
}
.in_package{
    background: url("../images/in_package_bg.png")/*tpa=http://mega-mix.bllogers.ru/images/in_package_bg.png*/ center center no-repeat;
    width: 423px;
    padding: 14px 0 0 40px;
    height: 70px;
    font-family: "HELVETICANEUECYR-BOLD";
    color: #c2001b;
}

/********* screen_5 *********/
.screen_5{
    height: 656px;
    background: url("../images/screen_5_bg.jpg")/*tpa=http://mega-mix.bllogers.ru/images/screen_5_bg.jpg*/ center center no-repeat;
}
.screen_5 .container{
    position: relative;
}
.screen_5 .container > img{
    position: absolute;
    top: -54px;
    left: -185px;
}
.important{
    float: right;
    width: 518px;
    font-size: 21px;
    font-family: "HELVETICANEUECYR-LIGHT";
}
.important > div{
    border: 3px solid rgb( 255, 98, 4 );
    background: rgb( 255, 255, 255 );
    padding: 20px 35px 21px 35px;
    margin: 44px 0 33px 0;
    position: relative;
    font-family: "HELVETICANEUECYR-BOLD";
}
.important > div img{
    position: absolute;
    top: 28px;
    left: -147px;
}
.important  ul li{
    background: url("../images/list_style.png")/*tpa=http://mega-mix.bllogers.ru/images/list_style.png*/ left 5px no-repeat;
    padding: 0 0 0 51px;
    line-height: 25px;
    margin: 0 0 11px 0;
}
.important  ul li p{
    border-bottom: 1px solid #bbb593;
    padding: 0 0 13px 0;
}

/********* screen_6 *********/
.screen_6{
    background: url("../images/screen_3_bg.png")/*tpa=http://mega-mix.bllogers.ru/images/screen_3_bg.png*/;
    text-align: center;
    position: relative;
    z-index: 1;
}
.guarantee{
    background: url("../images/guarantee_bg.png")/*tpa=http://mega-mix.bllogers.ru/images/guarantee_bg.png*/ center center no-repeat;
    height: 222px;
    font-size: 22px;
    padding: 36px 0 0 0;
}
.guarantee p{
    margin: 0 0 29px 0;
}
.guarantee span{
    font-size: 21px;
    font-family: "HELVETICANEUECYR-BOLD";
    color: #ff0600;
    text-transform: uppercase;
    padding: 0 150px 0 150px;
    display: block;
}
.blocks{
    margin: 55px 0 56px 0;
}
.blocks > div{
    display: inline-block;
    vertical-align: top;
    width: 284px;
    font-size: 20px;
    font-family: "HELVETICANEUECYR-LIGHT";
    color: rgb( 23, 23, 23 );
}
.two{
    margin: 0 52px 0 52px;
}
.blocks > div img{
    -webkit-border-image: url("../images/border_img.png")/*tpa=http://mega-mix.bllogers.ru/images/border_img.png*/ 0 0 3 0 round;
    -moz-border-image:    url("../images/border_img.png")/*tpa=http://mega-mix.bllogers.ru/images/border_img.png*/ 0 0 3 0 round;
    -o-border-image:      url("../images/border_img.png")/*tpa=http://mega-mix.bllogers.ru/images/border_img.png*/ 0 0 3 0 round;
    border-image:         url("../images/border_img.png")/*tpa=http://mega-mix.bllogers.ru/images/border_img.png*/ 0 0 3 0 round;
    padding: 0 0 35px 0;
    margin: 0 0 22px 0;
    width: 100%;    
}
.reviews{
    margin: 15px 0 0 0;
    text-align: left;
}
.review{
    width: 449px;
    margin: 0 75px 60px 0;
    display: inline-block;
    vertical-align: top;   
}
.text{
    font-family: Georgia;
    font-size: 17px;
    line-height: 29px;
    font-style: italic;
    position: relative;
    width: 406px;
    text-align: left;
    padding: 25px 10px 25px 25px;
    background: rgb( 255, 255, 255 );
    border: 1px solid #eaefe6;
    -webkit-box-shadow: 2px 2px 0px -1px #ffffff, 
                        2px 2px 0px 0px #eaefe6,
                        5px 5px 0px -2px #ffffff, 
                        5px 5px 0px -1px #eaefe6, 
                        8px 8px 0px -3px #ffffff, 
                        8px 8px 0px -2px #eaefe6;
       -moz-box-shadow: 2px 2px 0px -1px #ffffff, 
                        2px 2px 0px 0px #eaefe6,
                        5px 5px 0px -2px #ffffff, 
                        5px 5px 0px -1px #eaefe6, 
                        8px 8px 0px -3px #ffffff, 
                        8px 8px 0px -2px #eaefe6;
        -ms-box-shadow: 2px 2px 0px -1px #ffffff, 
                        2px 2px 0px 0px #eaefe6,
                        5px 5px 0px -2px #ffffff, 
                        5px 5px 0px -1px #eaefe6, 
                        8px 8px 0px -3px #ffffff, 
                        8px 8px 0px -2px #eaefe6;
         -o-box-shadow: 2px 2px 0px -1px #ffffff, 
                        2px 2px 0px 0px #eaefe6,
                        5px 5px 0px -2px #ffffff, 
                        5px 5px 0px -1px #eaefe6, 
                        8px 8px 0px -3px #ffffff, 
                        8px 8px 0px -2px #eaefe6;
            box-shadow: 2px 2px 0px -1px #ffffff, 
                        2px 2px 0px 0px #eaefe6,
                        5px 5px 0px -2px #ffffff, 
                        5px 5px 0px -1px #eaefe6, 
                        8px 8px 0px -3px #ffffff, 
                        8px 8px 0px -2px #eaefe6;
}
.text:before{
    content: "";
    width: 49px;
    height: 45px;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url("../images/reviews_before.png")/*tpa=http://mega-mix.bllogers.ru/images/reviews_before.png*/ center center no-repeat;
}
.text:after{
    content: "";
    width: 38px;
    height: 40px;
    position: absolute;
    left: 113px;
    bottom: -46px;
    background: url("../images/reviews_after.png")/*tpa=http://mega-mix.bllogers.ru/images/reviews_after.png*/ center center no-repeat;
}
.name{
    font-size: 20px;
    font-family: "HELVETICANEUECYR-LIGHT";
    color: rgb( 74, 74, 74 );
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    margin: 26px 0 0 0;
}
.name img{
    margin: 0 20px 0 0;
    border: 3px solid #bd1515;
}
.name *{
    display: inline-block;
    vertical-align: bottom;
}

/********* screen_7 *********/
.screen_7{
    height: 848px;
    background: url("../images/screen_7_bg.jpg")/*tpa=http://mega-mix.bllogers.ru/images/screen_7_bg.jpg*/ center center no-repeat;
}
.forma{
    width: 565px;
    float: right;
    margin: 60px 0 0 0;
}
.form_title{
    height: 85px;
    background: url("../images/form_title_bg.png")/*tpa=http://mega-mix.bllogers.ru/images/form_title_bg.png*/ center center no-repeat;
    font-family: "HELVETICANEUECYR-BOLD";
    font-size: 20px;
    color: rgb( 255, 255, 255 );
    text-transform: uppercase;
    padding: 11px 82px 0 82px;
    line-height: 1.25;
    text-align: center;
}
.forma form{
    width: 480px;
    margin: 0 auto;
    background: #ffffff;
    padding: 30px 0 0 0;
    text-align: center;
}
.forma form ul{
    margin: 0 0 33px 0;
}
.forma form ul li{
    font-size: 18px;
    margin: 0 0 21px 0;
}
.forma form ul li *{
    display: inline-block;
    vertical-align: middle;
}
.forma form ul li span{
    border: 2px solid rgb( 194, 0, 27 );
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 28px;
    margin: 0 10px 0 42px;
}
.forma form ul li p{
    width: 390px;
    text-align: left;
}
.forma input[type=text]{
    height: 72px;
    width: 298px;
    border-top: 2px solid #d1d1d1;
    border-left: 2px solid #d1d1d1;
    border-right: 2px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    background: url("../images/icon_1.png")/*tpa=http://mega-mix.bllogers.ru/images/icon_1.png*/ 37px center no-repeat, #f6f6f6;
    font-size: 19px;
    padding: 0 0 0 90px;
    font-family: "HELVETICANEUECYR-MEDIUM";
    color: rgb( 78, 78, 78 );
    text-align: left;
    -webkit-box-shadow: 0px -1px 0px 0px #ffffff inset;
       -moz-box-shadow: 0px -1px 0px 0px #ffffff inset;
        -ms-box-shadow: 0px -1px 0px 0px #ffffff inset;
         -o-box-shadow: 0px -1px 0px 0px #ffffff inset;
            box-shadow: 0px -1px 0px 0px #ffffff inset;
}
.forma input[name=phone]{
    background: url("../images/icon_2.png")/*tpa=http://mega-mix.bllogers.ru/images/icon_2.png*/ 37px center no-repeat, #f6f6f6;
    border-top: 1px solid #d1d1d1;
    border-bottom: 2px solid #d1d1d1;
    -webkit-box-shadow: 0px 1px 0px 0px #ffffff inset;
       -moz-box-shadow: 0px 1px 0px 0px #ffffff inset;
        -ms-box-shadow: 0px 1px 0px 0px #ffffff inset;
         -o-box-shadow: 0px 1px 0px 0px #ffffff inset;
            box-shadow: 0px 1px 0px 0px #ffffff inset;
}
.forma .button{
    width: 384px;
    border: none;
    margin: 29px 0 29px 0;
    -webkit-box-shadow: 0px -4px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #f3f3f3,
                        0px 0px 0px 0px #785e24;
       -moz-box-shadow: 0px -4px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #f3f3f3,
                        0px 0px 0px 0px #785e24;
        -ms-box-shadow: 0px -4px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #f3f3f3,
                        0px 0px 0px 0px #785e24;
         -o-box-shadow: 0px -4px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #f3f3f3,
                        0px 0px 0px 0px #785e24;
            box-shadow: 0px -4px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #f3f3f3,
                        0px 0px 0px 0px #785e24;
}
.forma .button:hover{
    -webkit-box-shadow: 0px -1px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #f3f3f3,
                        0px 0px 0px 0px #785e24;
       -moz-box-shadow: 0px -1px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #f3f3f3,
                        0px 0px 0px 0px #785e24;
        -ms-box-shadow: 0px -1px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #f3f3f3,
                        0px 0px 0px 0px #785e24;
         -o-box-shadow: 0px -1px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #f3f3f3,
                        0px 0px 0px 0px #785e24;
            box-shadow: 0px -1px 0px 0px #970000 inset,
                        0px 2px 0px 0px #ff0000 inset,
                        0px 3px 0px 0 #fe7373 inset, 
                        0px 0px 3px 1px #e39292,
                        0px 0px 0px 5px #f3f3f3,
                        0px 0px 0px 0px #785e24;
}

/********* footer *********/
.footer{
    background: #e2e2e2;
    font-size: 20px;
    font-family: "HELVETICANEUECYR-LIGHT";
    color: #7c7c7c;
    text-align: center;
    padding: 25px 0 25px 0;
}

.delivery-notify {
    font-size:16px;
}