body {
    font-family: "OpenSans-Regular" !important;
}

header {
    background: url("../img/header_fon.jpg") no-repeat center;
    background-size: cover;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 3px 4px gray;
    font-weight: bold;
}

h2 {
    color: white;
    text-align: center;
    margin: 4px 0 12px;
}

button {
    cursor: pointer;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
}

.header_top {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.top_block_two {
    display: inline-block;
    vertical-align: top;
    margin: 13px 127px 16px 20px;
}

.top_block_one {
    display: inline-block;
    vertical-align: top;
    margin: 13px 0 16px 0;
}

.tb_text {
    display: inline-block;
    vertical-align: top;
    color: white;
    text-align: left;
    margin: 6px 19px 6px 17px;
    font-size: 18px;
}

.header_btn {
    display: inline-block;
    border-radius: 5px;
    border: solid 2px white;
    color: white;
    vertical-align: top;
    padding: 1px 10px 3px;
    margin: 27px 0 27px 0;
    position: relative;
    right: 28px;
    font-size: 22px;
}

.header_block {
}

.dn_clear {
    padding: 0 0 15px;
}

.zamok {
    margin-left: 4px;
}

.hb_left {
    float: left;
    margin-top: 68px;
}

.dn_chek {
    position: relative;
    top: 13px;
}

.hb_spisok img {
    display: inline-block;
    vertical-align: top;
}

.hb_text {
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-left: 5px;
}

.hb_spisok {
    background: url("../img/spisok_line.png") no-repeat bottom right;
    padding: 12px 12px 11px 0;
}

.hb_center {
    position: relative;
    float: left;
}

.hb_akciy {
    position: absolute;
    right: 54px;
    top: 16px;
}

.hb_right {
    float: right;
    width: 276px;
    margin: 79px 0 0;
    position: relative;
    right: 63px;
}

.hfb_title {

}

.col_title {
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-right: 10px;
}

.lastpack {
    display: inline-block;
    color: #FFF22D;
    vertical-align: bottom;
    font-size: 27px;
    margin-top: 0;
    font-weight: bold;
}

.l_sht {
    display: inline-block;
    color: #FFF22D;
    vertical-align: bottom;
    font-size: 22px;
    position: relative;
    bottom: 2px;
    font-weight: bold;
}

.hfb_cont {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 15px;
    margin: 2px 0 0 0;
}

.submit-form {
    background-color: #FFF22D;
    border: 0;
    font-size: 23px;
    text-align: center;
    padding: 19px 0;
    width: 245px;
}

.hfb_old_cina {
    display: inline-block;
    color: white;
    text-align: left;
    vertical-align: top;
    line-height: 23px;
    margin-right: 10px;
}

.cfl_footer div {
    display: inline-block;
    vertical-align: top;
}

.cflf_title {
    color: white;
}

.hfb_new_cina {
    display: inline-block;
    color: #FFF22D;
    text-align: left;
    vertical-align: top;
    line-height: 23px;
}

input[type="text"]:focus {
    outline: none;
}

.form_name {
    border: solid 1px black;
    font-size: 14px;
    padding: 9px 14px;
    margin: 22px auto 0;
    width: 216px;
}

.form_phone {
    border: solid 1px black;
    font-size: 14px;
    padding: 9px 14px;
    margin: 15px auto;
    width: 215px;
}

.hfb_block_cina {
    text-align: left;
}

.hfb_old_cina div {
    font-size: 16px;
}

.hfb_old_cina span {
    font-size: 21px;
}

.hfb_new_cina div {
    font-size: 16px;
}

.hfb_new_cina span {
    font-size: 27px;
    font-weight: bold;
}

.dannie {
    font-size: 14px;
    margin: 13px 0 0;
    text-align: center;
}

.dannie span {
    color: white;
    /* margin-left: 10px; */
}

.title {
    color: black;
    font-size: 33px;
    text-align: center;
}

.s1_block {
    display: inline-block;
    vertical-align: top;
    margin: 0 22px 48px;
}

.s1_block img {
    margin: 0 0 15px;
}

.s1_text {
    font-size: 18px;
}

.section1 > .wrapper {
    text-align: center;
}

.s1_title {
    padding: 29px 0 30px;
}

.section2 {
    background: url("../img/s2_back.jpg") no-repeat center;
    height: 794px;
    background-size: cover;
}

.s2_title {
    background-color: #F2E2E3;
    border-radius: 10px;
}

.section2 > .wrapper {
    padding: 34px 0;
}

.s2b_spisok img {
    display: inline-block;
    vertical-align: top;
}

.s2bs_text {
    display: inline-block;
    vertical-align: top;
    font-size: 21px;
    line-height: 29px;
    margin-left: 14px;
    margin-top: -4px;
}

.s2b_spisok {
    padding: 16px 0;
}

.s2_block {
    margin: 52px;
}

.dn_s2bs {
    margin-top: 8px;
}

.s2b_footer {
    color: red;
    font-size: 30px;
    font-weight: bold;
    padding-top: 25px;
}

.section3 {
    background: url("../img/s3_back.jpg") no-repeat;
    background-size: cover;
}

.s3_subtitle {
    border: solid 6px #FFDABF;
    color: white;
    width: 537px;
    margin: 0 auto 48px;
    border-radius: 5px;
    text-align: center;
    padding: 6px 50px 18px;
    font-size: 24px;
    line-height: 34px;
}

.s3_title {
    color: white;
    padding: 36px 0 30px;
}

.s3_block {
    text-align: center;
}

.s3_simptoms {
    display: inline-block;
    width: 275px;
    vertical-align: top;
    font-size: 16px;
    color: white;
    margin: 0 23px 23px;
}

.s3s_text {
    margin-top: 13px;
}

.section4 {
    background: url("../img/s4_doctor.jpg") no-repeat center;
    background-size: cover;
}

.s4_text {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+54,0+100 */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
    border-radius: 10px;
    font-size: 18px;
    padding: 19px 15px;
    margin: 10px 0 8px;
}

.s4_title {
    padding: 32px 0 7px;
}

.section4 > .wrapper {
    padding-bottom: 40px;

}

.section5 {
    background: url("../img/s5_fon.jpg") no-repeat center;
    position: relative;
    padding: 113px 0 72px;
    background-size: cover;
}

.cf50_block {
    padding: 11px 0;
}

.content_form {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 15px;
    position: relative;
    width: 902px;
    margin: 17px auto;
}

.cf_old_cina span {
    font-size: 22px;
}

.cf_left {
    float: left;
}

.cf_title {
    color: white;
    font-size: 20px;
}

.cf_new_cina span {
    font-size: 32px;
    font-weight: bold;
    line-height: 27px;
}

.cfl_footer {

    padding: 10px 0 0 0;
}

.cfl_footer > .lastpack {
    margin-top: 8px;
    font-size: 28px;
}

.cfl_footer > .l_sht {

    font-size: 25px;
}

.cf_old_cina {
    color: white;
    font-size: 17px;
    padding: 0 0 15px 0;
    line-height: 20px;
}

.cf_center {
    float: left;
    position: relative;
}

.cf_new_cina {
    color: #FFF22D;
    font-size: 17px;
}

.cf_right {
    float: right;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    margin: 2px 0 0 0;
    position: relative;
    left: 4px;
}

.cf_50 {
    display: inline-block;
}

.cf_cina_block {
    display: inline-block;
    vertical-align: top;
    padding: 12px 0 12px 6px;
}

.cf_center img {
    position: absolute;
    width: 395px;
    top: -126px;
    left: 15px;
}

.center_form_name {
    border: solid 1px black;
    font-size: 14px;
    padding: 11px 10px 12px 14px;
    margin: 39px auto 0;
    width: 253px;
}

.center_form_phone {
    border: solid 1px black;
    font-size: 14px;
    padding: 11px 10px 12px 14px;
    margin: 18px auto 22px;
    width: 253px;
}

.center_submit-form {
    background-color: #FFF22D;
    border: 0;
    font-size: 25px;
    text-align: center;
    padding: 22px 0;
    width: 279px;
    line-height: 33px;
}

.s6_title {
    padding: 34px 0 20px;
}

.s6_container {
    text-align: center;
    position: relative;
    margin: 0 0 30px 0;
}

.s6_left_cont {
    display: inline-block;
    vertical-align: top;
    width: 465px;
    text-align: left;
}

.s6lc_one {
    background: url("../img/f_left.png") no-repeat;
    margin: 60px 0 25px;
    padding: 20px;
    background-size: contain;
}

.s6lc_two {
    background: url("../img/f_left.png") no-repeat;
    margin: 25px 0 60px;
    padding: 0 20px 31px 20px;
    background-size: contain;
}

.w1_block_one {
    display: inline-block;
}

.w1_block_two {
    display: inline-block;
    margin-left: 11px;
}

.w2_block_one {
    display: inline-block;
}

.w1_block_two div {
    font-weight: bold;
}

.w2_block_two {
    display: inline-block;
    margin: 18px 0 0 11px;
}

.w2_block_two div {
    font-weight: bold;
}

.w3_block_two div {
    font-weight: bold;
    margin-top: 0;
}

.w4_block_two div {
    font-weight: bold;
}

.s6_right_cont {
    display: inline-block;
    vertical-align: top;
    width: 465px;
    text-align: right;
}

.w1_block_two ul li:before, .w2_block_two ul li:before {
    background: url("../img/li_before.png") no-repeat;
    content: " ";
    padding: 5px 4px 0 5px;
    margin: 0 0 0;
    position: relative;
    top: 12px;
    left: -9px;
}

.w1_block_two ul, .w2_block_two ul {
    padding: 0 0 0 10px;
    margin: 10px 0;
}

.w3_block_two ul li:after, .w4_block_two ul li:after {
    background: url("../img/li_before.png") no-repeat;
    content: " ";
    padding: 5px 4px 0 5px;
    margin: 0 0 0;
    position: relative;
    top: 12px;
    right: -9px;
}

.w3_block_two ul, .w4_block_two ul {
    padding: 0 10px 0 0;
    margin: 10px 0;
}

.s6rc_one {
    background: url("../img/f_right.png") no-repeat right;
    margin: 60px 0 25px;
    padding: 20px;
    background-size: contain;
    min-height: 152px;
}

.s6rc_two {
    background: url("../img/f_right.png") no-repeat;
    margin: 25px 0 60px;
    padding: 20px;
    background-size: cover;
    min-height: 152px;
    border-radius: 7px;
}

.w3_block_one {
    display: inline-block;
}

.w3_block_two {
    display: inline-block;
}

.w4_block_one {
    display: inline-block;
}

.w4_block_two {
    display: inline-block;
    width: 161px;
}

.s6_center_cont {
    display: inline-block;
    position: absolute;
    left: 364px;
    top: 24px;
}

.section7 {
    background: url("../img/exp_fon.png") no-repeat center;
    background-size: cover;
}

.s7_doctor {
    background: url("../img/doc.png") no-repeat 10% bottom;
    min-height: 336px;
    text-align: right;
    background-size: 30%;
}

.s7_title {
    padding: 37px 0 9px;
}

.s7d_right {
    text-align: right;
    width: 450px;
    float: right;
}

.s7dr_text {
    margin: 37px 0 0 0;
    position: relative;
    right: 120px;
    line-height: 25px;
}

.name-slide {
    margin-top: 10px;
}

.s7d_right span {
    width: 520px;
    display: block;
    text-align: left;
    font-size: 18px;
}

.s7d_right div {
    text-align: right;
    width: 474px;
    position: relative;
    right: 120px;
    font-weight: bold;
}

.dn_slide3 {
    padding: 0 20px 0;
}

.dn_slide3 > .slide-img {
    top: 22px;
}

.name_doctor span {
    display: inline-block;
    text-align: right;
}

.section8 {
    background: url("../img/otzif_fon.jpg") no-repeat;
    background-size: cover;
}

.s8_title {
    color: white;
    padding: 32px 0;
}

.section8 > .wrapper {
    padding-bottom: 50px;
}

.s9_cont {
    text-align: center;
    margin-bottom: 17px;
}

.s9_title {
    padding: 31px 0 41px;
}

.s9_block {
    background: url("../img/s9_block_fon.png") no-repeat;
    display: inline-block;
    width: 217px;
    vertical-align: top;
    min-height: 370px;
    margin: 0 6px;
    font-size: 18px;
    line-height: 25px;
}

.s9_block img {
    margin: 8px 0 21px;
}

.s9b_text span {
    display: block;
    font-weight: bold;
}

.dn_s9b_text {
    margin-top: 10px;
}


.section10 {
    background: url("../img/s10_fon.jpg") no-repeat center;
    background-size: cover;
}

.s10_title {
    padding: 26px 0 19px;
}

.s10_cont {
    text-align: center;
}

.girl_text, .man_text {
    text-align: center;
    font-size: 26px;
    margin: 10px 0 55px;
}

.s10c_left, .s10c_right {
    display: inline-block;
    width: 480px;
    vertical-align: top;
    text-align: center;
}

.s11_title {
    text-align: left;
    margin-bottom: 13px;
}

.s11_cont {
    -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.41);
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.41);
    padding: 9px 20px;
    background: url("../img/fake_produckt.png") no-repeat 103% -5%;
    min-height: 354px;
    margin: 51px auto 46px;
    border-radius: 10px;
    width: 887px;
}

.s11c_text {
    width: 580px;
}

.s11ct_subtitle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 22px;
    line-height: 28px;
}

.fake_form {
    width: 445px;
    text-align: center;
}

.fake_input {
    display: block;
    border: solid 1px;
    padding: 13px 25px;
    width: 227px;
    font-size: 16px;
    margin: 0 0 9px;
    text-align: center;
}

.fake_button {
    display: block;
    background-color: #ED1B23;
    color: white;
    border: 0;
    font-size: 26px;
    padding: 8px 40px;
    width: 279px;
    margin: 19px 0 7px;
}

.s11ct_content {
    font-size: 18px;
    line-height: 28px;
}

.js-message {
    text-align: left;
}

.section12 {
    background: url("../img/s12_fon.png") no-repeat;
    background-size: cover;
}

.s12_title {

    padding: 24px 0 58px;
}

.s12c_block {
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
}

.s12_name {

    margin: 17px 0 0 0;
}

.s12_cont {
    text-align: center;
    padding-bottom: 40px;
}

.s13_title {

    padding: 42px 0 0;
}

.s13_subtitle {
    color: black;
    font-size: 36px;
    text-align: center;
}

.s12_text {
    font-size: 18px;
    line-height: 23px;
}

.section13 > .wrapper img {
    margin-bottom: 34px;
}

.section14 {
    background: url("../img/footer_fon.jpg") no-repeat;
    background-size: cover;
}

.s14_text {
    padding: 117px 0 35px;
}

.footer_left {
    float: left;
}

.flt_addres {
    width: 545px;
}

.logo {
    float: left;
    margin: 0 35px 0 26px;
}

.footer_right {
    float: right;
    text-align: right;
    margin-right: 24px;
}

.ruka {
    position: relative;
    top: -4px;
}

.footer {
    padding: 10px 0 7px 0;
    color: #4B3325;
    font-size: 14px;
}

.footer a {
    color: #4B3325;
}

.dn_popup, .phone_popup, .modal_mouse_out {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal_pop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    cursor: pointer;
}

.mod, .phone_mod, .mous_mod {
    border-radius: 15px;
    position: absolute;
    top: 26%;
    left: 50%;
    z-index: 205;
    width: 980px;
    margin-left: -489px;
    margin-bottom: 20px;
}

.popup_form {
    background-color: #AB7B6D;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    width: 902px;
    margin: 17px auto;
    min-height: 282px;
    z-index: 200;
}

.close, .mous_close, .phone_close {
    position: absolute;
    right: 14px;
    top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 201;
}

.close img, .mous_close img, .phone_close img {
    width: 100%;
}

.w4_block_one_767, .w3_block_one_767 {
    display: none;
}

.name-slide {
    font-weight: bold;
}

.br_767 {
    display: none;
}

.footer_mobile {
    display: none;
}

.br_480 {
    display: none;
}

.s3_desk {
    display: block;
    margin: 0 auto;
}

.s3_mob {
    display: none;
}

.left_mobile {
    display: none;
}

#cina_mobile, #cina_mobile_s5, #cina_mobile_s14 {
    display: none;
}

.w_mob {
    display: none;
}

.s7_mob {
    display: none;
}

.header_mob {
    display: none;
}

.s6lc_mob {
    display: none;
}

.br_320 {
    display: none;
}

.man_text div, .girl_text div {
    display: none;
}

.fake_img {
    display: none;
}

@media screen and (max-width: 999px) {
    .wrapper {
        width: 747px;
    }
    .phone-call {
        display: none;
    }
    .s7_desktop {
        display: none;
    }

    .s7_mob {
        display: block;
        width: 450px;
        margin-left: 128px;
    }

    .s11_cont {
        width: 700px;
        background: url("../img/fake_produckt.png") no-repeat 110% -19%;
        min-height: 415px;
    }

    .center_form_name {
        margin: 15px auto 0;
    }

    .hfb_cont > .dannie {
        top: 0;
    }

    .dannie {
        position: relative;
        top: 10px;
    }

    .s11c_text {
        width: 489px;
    }

    .cf_center {
        display: none;
    }

    .content_form {
        width: 568px;
    }

    .s2_title {
        margin: 0 0 0;
    }

    .section2 > .wrapper {
        padding: 15px 0 36px;
    }

    .section13 > .wrapper img {
        width: 100%;
    }

    .hb_left {
        float: none;
        width: 348px;
        margin: 0 auto 25px;
    }

    .hb_spisok {
        padding: 12px 25px 12px 33px;
        text-align: left;
    }

    .top_block_one, .top_block_two {
        display: none;
    }

    .header_block {
        text-align: center;
    }

    .hb_center {
        display: inline-block;
        float: none;
        vertical-align: top;
        left: 20px;
    }

    .hb_right {
        float: none;
        display: inline-block;
        margin: 98px 0 0;
        vertical-align: top;
        right: 20px;
    }

    .hb_text {
        font-size: 18px;
    }

    .section2 {
        background-size: cover;
        height: auto;
    }

    .s2b_footer {
        position: relative;
        top: 21px;
        font-size: 25px;
        padding-bottom: 15px;
    }

    .content_form {
        text-align: center;
    }

    .cf_left {
        float: none;
        display: inline-block;
        text-align: left;
    }

    .cf_right {
        float: none;
        display: inline-block;
    }

    .section5 {
        padding: 35px 0 35px;
    }

    .s6_left_cont {
        width: 350px;
        position: relative;
        left: 3px;
    }

    .s6_center_cont {
        width: 250px;
        left: 234px;
        top: 126px;
        z-index: 1;
    }

    .s6_center_cont img {
        width: 100%;
    }

    .s6_right_cont {
        width: 350px;
        position: relative;
        right: 3px;
    }

    .s6lc_one, .s6lc_two, .s6rc_one, .s6rc_two {
        background-size: cover;
        padding: 20px;
        margin: 25px 0 20px;
    }

    .s6rc_two {
        background-position: right;
        border-radius: 0;
        margin: 25px 0 20px;
    }

    .w1_block_two {
        display: block;
    }

    .w2_block_two {
        display: block;
        margin: 0 0 0 11px;
    }
    .modal_mouse_out{
        display: none !important;
    }

    .w3_block_two {
        display: block;
        margin-right: 11px;
    }

    .w4_block_two {
        display: block;
        width: auto;
        margin-right: 11px;
    }

    .w4_block_one, .w3_block_one {
        display: none;
    }

    .w4_block_one_767, .w3_block_one_767 {
        display: block;
    }

    .s9_block {
        margin: 0 30px 15px;
    }

    .s7d_right span {
        width: 363px;
        right: 0;
        margin: 0;
    }

    .s7d_right div {
        margin-bottom: 30px;
    }

    .s7_doctor {
        min-height: 400px;
    }

    .section10 {
        background: url("../img/s10_fon_767.png") no-repeat center;
        background-size: cover;
    }

    .fake_form {
        width: 279px;
    }

    .s14_text {
        padding: 25px 0 0;
    }

    .br_desk {
        display: none;
    }

    .br_767 {
        display: block;
    }

    .s2_block {
        margin: 33px 0 0;
    }

    .header_btn {
        right: 0;
        margin: 11px 0;
    }

    .mod, .phone_mod, .mous_mod {
        width: 747px;
        border-radius: 15px;
        position: absolute;
        top: 212px;
        left: 64%;
        z-index: 205;
        margin-left: -498px;
        margin-bottom: 20px;
    }

    .popup_form {

width: 567px;

}

    .close, .mous_close , .phone_close {
        right: 67px;
    }

    .section14 {
        background: url("../img/s14_mob.jpg") no-repeat;
        background-size: cover;
    }

    .s7_title {
        padding: 37px 0 9px 168px;
    }

    .section12 {
        background: url("../img/s12_mob.png") no-repeat;
        background-size: cover;
    }

}

@media screen and (max-width: 767px) {
    .wrapper {
        width: 460px;
        position: relative;
    }
    .hb_spisok img {
        margin-top: 6px;
    }

    .s3_subtitle {
        width: 448px;
        font-size: 20px;
        padding: 12px 0;
        margin: 0 auto 17px;
        line-height: 28px;
    }

    .cf_left {
        display: none;
    }

    .content_form {
        padding: 30px 15px 15px 15px;
        margin: 2px 0 25px 0;
        width: 340px;
    }

    .s11_cont {
        width: 418px;
        background: url("../img/fake_produckt.png") no-repeat 119% -71%;
        background-size: 312px;
        min-height: 378px;
    }

    .s7_title {
        padding: 28px 10px 10px 10px !important;
    }

    .s6_left_cont {
        width: 238px;
    }

    .s6_right_cont {
        width: 237px;
    }

    .s6_center_cont {
        width: 172px;
        left: 158px;
        top: 73px;
    }

    .title {
        font-size: 24px;
        padding: 28px 28px 25px;
    }

    .s6lc_one, .s6lc_two, .s6rc_one, .s6rc_two {
        margin: 15px 0 0;
        padding: 10px;
    }

    .w1_block_two, .w2_block_two {
        margin-left: 0;
        font-size: 14px;
        line-height: 17px;
    }

    .w3_block_two, .w4_block_two {
        margin-right: 0;
        font-size: 14px;
        line-height: 17px;
    }

    .s9_block {
        margin: 0 5px;
    }

    .footer {
        display: none;
    }

    .footer_mobile {
        display: block;
        background: white;
        font-size: 12px;
        color: #4B3325;
        padding: 10px 0;
        line-height: 16px;
    }

    .br_480 {
        display: block;
    }

    .flt_addres {
        color: #4B3325;
        width: 260px;
    }

    .logo {
        margin: 5px 12px 0 8px;
    }

    .footer_mobile a {
        color: #4B3325;
    }

    .s11c_text {
        width: 308px;
    }

    .s10c_left, .s10c_right {
        width: 460px;
        display: block;
    }

    .vhidden {
        visibility: hidden;
    }

    h1 {
        font-size: 40px;
        padding: 15px 8px 0;
        line-height: 45px;
    }

    h2 {
        font-size: 20px;
        margin: 17px 0 17px;
    }

    .hb_center {
        position: absolute;
        width: 224px;
        right: -9px;
        z-index: 1;
        left: auto;
        bottom: 426px;
    }

    .hb_center img:first-child {
        width: 100%;
    }

    .hfb_cont {
        padding: 30px 15px 15px 15px;
        margin: 2px 0 25px 0;
    }

    .hb_right {
        margin: 140px 0 0;
        width: 370px;
        right: 0;
    }

    .hfb_title {
        width: 207px;
        font-size: 16px;
        text-align: left;
    }

    .lastpack {
        font-size: 18px;
        margin: 0 0 0 1px;
    }

    .l_sht {
        font-size: 16px;
        bottom: 0;
    }

    .form_name {
        width: 295px;
        padding: 15px 14px;
        margin: 35px auto 0;
    }

    .form_phone {
        width: 295px;
        padding: 15px 14px;
        margin: 19px auto 25px;
    }

    .submit-form {
        width: 325px;
        padding: 27px 0 26px;
        font-size: 30px;
        line-height: 42px;
    }

    .hb_spisok {
        padding: 10px 20px 9px 33px;
    }

    .hfb_old_cina div {
        font-size: 21px;
    }

    .hfb_old_cina {
        margin: 5px 10px 0;
    }

    .hfb_old_cina span {
        font-size: 33px;
        line-height: 30px;
    }

    .hfb_new_cina {
        margin: 3px 4px 0;
    }

    .hfb_new_cina div {
        font-size: 20px;
    }

    .hfb_new_cina span {
        font-size: 35px;
        line-height: 37px;
    }

    .dannie {
        font-size: 18px;
        text-align: left;
        padding-left: 7px;
        margin: 15px 0 4px;
        top: 0;
    }

    .zamok {
        margin-left: 20px !important;
        width: 20px;
        position: relative;
        top: -4px;
    }

    .zamok img {
        width: 21px;
    }

    .s1_block {
        margin: 0 41px 39px;
    }

    .s2_title {
        width: 377px;
        margin: 0 auto;
        line-height: 26px;
        padding: 6px 0 6px 0;
    }

    .section2 {
        background: url("../img/s2_fon_767.jpg") no-repeat center bottom;
        background-size: cover;
        margin-top: 0;
    }

    .section2 > .wrapper {
        padding: 21px 0 0 0;
    }

    .section4 {
        background: url("../img/s4_doctor.jpg") no-repeat 59% 100%;
        background-size: cover;
    }

    .s7d_right span {
        position: relative;
        display: block;
        margin-left: 124px;
        font-size: 16px;
        width: 332px;
        line-height: 24px;
        margin-right: 23px;
    }

    .s7_doctor {
        background: url("../img/doc.png") no-repeat -3% bottom;
        background-size: 37%;
        min-height: 354px;
    }

    .s7d_right div {
        width: 200px;
        right: 0;
        margin-bottom: 0;
        margin-top: 5px;
    }

    .s2_block {
        margin: 8px 0 0;
        padding: 0 0 0 11px;
    }

    .s2bs_text {
        font-size: 20px;
        margin-left: 6px;
    }

    .s2b_spisok {
        padding: 20px 0;
    }

    .s3_desk {
        display: none;
    }

    .s3_mob {
        display: block;
        margin: 0 auto;
    }

    .s3_simptoms {
        font-size: 19px;
        width: 315px;
        line-height: 24px;
        margin: 0 23px 27px;
    }

    .s11_title {
        padding: 3px 0;
        font-size: 28px;
        margin-bottom: 0;
    }

    .s11ct_subtitle {
        line-height: 24px;
        margin-bottom: 14px;
    }

    .fake_input {
        width: 150px;
        font-size: 13px;
        padding: 6px 12px;
        margin: 0;
    }

    .fake_button {
        width: 177px;
        font-size: 18px;
        padding: 6px 0;
        margin: 12px 0 0;
    }

    .s11ct_content {
        font-size: 16px;
        line-height: 24px;
    }

    .s4_title {
        line-height: 32px;
    }

    .br_767 {
        display: none;
    }

    .s4_text {
        padding: 17px 0 17px 31px;
        margin: 7px 21px 8px;
        line-height: 25px;
    }

    .section3 > .wrapper {
        padding-bottom: 5px;
    }

    .s2b_footer {
        padding-bottom: 33px;
        padding-top: 10px;
        top: 11px;
    }

    .left_mobile {

    }

    .s5_left_mobile {
        position: absolute;
        width: 224px;
        right: -5px;
        z-index: 1;
        left: auto;
        bottom: 386px;
    }

    .s5_text {
        margin: 195px auto 0;
        width: 370px;
    }

    .s5lm_product {
        width: 100%;

    }

    .center_form_name {
        width: 295px;
        padding: 15px 14px;
        margin: 35px auto 0;
    }

    .center_form_phone {
        width: 295px;
        padding: 15px 14px;
        margin: 19px auto 25px;
    }

    .center_submit-form {
        width: 325px;
        padding: 27px 0 26px;
        font-size: 30px;
        line-height: 42px;
    }

    .cf_right {
        width: auto;
        display: block;
        left: 0;
    }

    .center_title {
        width: 207px;
        font-size: 16px;
        text-align: left;
        position: absolute;
        top: 177px;
        left: 48px;
    }

    .s14_text {
        padding: 195px 0 0 0;
        width: 370px;
        margin: 0 auto;
    }

    .left_mobile {
        display: block;
    }

    #cina_mobile, #cina_mobile_s5, #cina_mobile_s14 {
        display: block;
    }

    #s6_wrapper {
        width: 480px;
    }

    .w_desk {
        display: none;
    }

    .w_mob {
        display: inline-block;
        margin: 0 1px 0 3px;
    }

    .w1_block_two ul, .w2_block_two ul {
        margin: 5px 0;
    }

    .w3_block_two ul, .w4_block_two ul {
        margin: 5px 0;
    }

    .s6_container {
        margin: 0 0 42px 0;
    }

    .s9_title {
        width: 450px;
        margin: 0 auto;
        padding: 19px 10px 19px;
        line-height: 27px;
    }

    .s10_title {
        font-size: 36px;
    }

    .section10 > .wrapper {
        padding-bottom: 30px;
    }

    .man_text {
        margin: 10px 0 0;

    }

    .popup_form {
        width: 370px;
        padding: 0;
    }

    .popup_form > .s5_text {
        margin: 30px auto 0;
        width: 370px;
    }

    .popup_form > .s5_text > #cina_mobile {
        padding: 25px 0 0 17px;
    }
    .js-message {
        width: 169px;
        margin-top: 5px;
    }

    .hb_akciy {
        position: absolute;
        right: 302px;
        top: 20px;
    }

    .s6_title {
        padding: 28px 10px 10px;
        line-height: 29px;
    }

    .name_doctor span {
        line-height: 19px;
    }

    .s10c_left img {
        width: 64%;
    }

    .s10c_right img {
        width: 90%;
    }

    .s12c_block img {
        margin: 25px 0 0;
    }

    .s12_title {
        padding: 28px 10px 10px;
        font-size: 26px;
    }

    .s12_name {

        font-size: 20px;
    }

    .popup_form > .left_mobile > .s5_left_mobile {
        position: absolute;
        width: 224px;
        right: 7px;
        z-index: 1;
        left: auto;
        bottom: 388px;
    }

    .popup_form > .left_mobile > .s5_left_mobile > .hb_akciy {
        position: absolute;
        right: 244px;
        top: 124px;
    }

    .close , .mous_close, .phone_close {
        right: 36px;
        top: 18px;
    }

    .popup_form > .s5_text > .cf_right > .dannie {
        padding: 0 0 0 23px;
        margin: 16px 0 17px;
    }

    .s5_left_mobile > .hb_akciy {
        top: 17px;
    }

    .s7_mob {
        width: 319px;
        margin-left: 128px;
    }

    .name_doctor span {

margin-left: 115px;

line-height: 20px;

}

    .section13 {
        display: none;
    }
    .mod, .phone_mod, .mous_mod {
        width: 460px;
        border-radius: 15px;
        position: absolute;
        top: 212px;
        left: 65%;
        z-index: 205;
        margin-left: -308px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 479px) {

    .wrapper {
        width: 300px;
    }

    .header_btn {
        display: none;
    }

    .header_mob {
        color: white;
        display: block;
        font-size: 25px;
        padding: 15px 0;
    }

    .hb_left {
        width: 300px;
    }

    .hb_center img:first-child {
        display: none;
    }

    .s3_subtitle {
        width: 250px;
        padding: 12px 18px;
        font-size: 18px;
        margin: 0 auto 30px;

    }

    .s3_simptoms {
        margin: 0 0 27px;
        width: 300px;
    }

    #s6_wrapper {
        width: 300px;
    }

    .s6_left_cont {
        display: block;
        margin: 0 auto;
    }

    .s6_center_cont {
        position: relative;
        left: 0;
        top: 0;
    }

    .s6_left_cont, .s6_right_cont {
        display: none;
    }

    .s6lc_mob {
        display: block;
    }

    .s6lc_one, .s6lc_two {
        text-align: left;
        width: 163px;
        margin: 15px auto 15px;
        padding: 10px 30px;
    }

    .s6rc_one, .s6rc_two {
        text-align: right;
        width: 163px;
        margin: 15px auto 15px;
        padding: 10px 30px;
    }

    .s9_title {
        width: 300px;
        padding: 19px 0;
    }

    .s10c_left, .s10c_right {
        width: 300px;
    }

    .s7_mob {
        width: 300px;
        margin-left: 0;
    }

    .s7_title {
        padding: 28px 0 25px 0 !important;
    }

    .s7d_right span {
        display: block;
        margin: 0 auto;
        font-size: 16px;
        width: 300px;
        line-height: 24px;
        text-align: center;
    }

    .s7d_right {
        text-align: center;
        width: 300px;
        float: none;
    }

    .s7d_right div {
        width: auto;
        line-height: 13px;
    }

    .s2_title {
        width: auto;
    }

    .s11_cont {
        width: 300px;
        padding: 9px 0 0;
        text-align: center;
        min-height: 515px;
        background: none;
        background-size: 312px;
    }

    .s11_title {
        text-align: center;
        line-height: 30px;
    }

    .s11c_text {
        width: 280px;
        margin: 0 auto;
    }

    .s14_text {
        width: 300px;
        padding: 0;
    }

    .s5lm_product {
        display: none;
    }

    .content_form {
        width: 270px;
        padding: 15px;
    }

    .center_form_name {
        width: 250px;
        padding: 15px 8px;
        margin: 20px auto 0;
    }

    .center_form_phone {
        width: 250px;
        padding: 15px 8px;
    }

    .center_submit-form {
        width: 267px;
        padding: 15px 0;
        font-size: 24px;
        line-height: 42px;
    }

    .hb_right {
        width: 300px;
        margin: 7px 0 0;
    }

    .form_name {
        width: 250px;
        padding: 15px 8px 15px;
        margin: 20px auto 0;
    }

    .form_phone {
        width: 250px;
        padding: 15px 8px;
    }

    .submit-form {
        width: 267px;
        padding: 15px 0 15px;
        font-size: 24px;
        line-height: 42px;
    }

    .s5_text {

        width: 300px;

        margin: 0 auto;
    }

    .hb_akciy {
        position: absolute;
        right: 186px;
    }

    .hfb_title {
        width: 111px;
        font-size: 16px;
        text-align: right;
        float: right;
    }

    .hfb_old_cina {

    }

    .hfb_old_cina div {
        font-size: 18px;
    }

    .hfb_old_cina span {
        font-size: 27px;
        line-height: 30px;
    }

    .hfb_new_cina div {
        font-size: 15px;
    }

    .hfb_new_cina span {
        font-size: 33px;
        line-height: 37px;
    }

    .hb_center {
        position: absolute;
        width: 200px;
        right: 0;
        z-index: 1;
        left: auto;
        bottom: 612px;
    }

    .hb_spisok {
        padding: 10px 5px 9px 5px;
    }

    h1 {
        font-size: 25px;
        padding: 5px 8px 0;
        /*line-height: 45px;*/
        line-height: 30px;
    }

    .br_mob {
        display: none;
    }

    .br_320 {
        display: block;
    }

    h2 {
        font-size: 18px;
        margin: 10px 0 5px;
        font-weight: 400;
        padding: 0 10px;
    }

    .dannie {
        font-size: 14px;
        text-align: left;
        padding-left: 2px;
        margin: 15px 0 3px;
        top: 0;
    }

    .zamok img {
        width: 16px;
    }

    .zamok {
        margin-left: 10px !important;
        top: -3px;
    }

    .s2_block {
        margin: 8px 0 0;
        padding: 0;
    }

    .s2b_spisok {
        padding: 10px 0 10px 10px;
    }

    .s2bs_text {
        font-size: 15px;
        width: 228px;
        margin-top: 0;
        line-height: 21px;
    }

    .section2 {
        background: url("../img/s2_fon_320.png") no-repeat center bottom;
        background-size: cover;
    }

    .s3_title {
        padding: 20px 0 15px;
    }

    .s2b_footer {
        text-align: center;
        font-size: 20px;
        padding: 17px 33px;
        top: 0;
    }

    .s3_simptoms {
        font-size: 16px;
    }

    .s2b_white_block {
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 0) 100%);
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 0) 100%);
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 54%, rgba(255, 255, 255, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
        border-radius: 10px;
    }

    .s7_doctor {
        background: url("../img/doc.png") no-repeat center bottom;
        background-size: 75%;
        min-height: 625px;
    }

    .fake_input, .fake_button {
        margin: 15px auto;
    }

    .js-message {
        margin: 0 auto 20px;
        text-align: center;
    }

    .w1_block_two, .w2_block_two, .w3_block_two, .w4_block_two {
        margin-left: 0;
        font-size: 16px;
        line-height: 23px;
    }

    .w_mob, .w2_block_one {
        display: block;
        margin: 0 auto;
        width: 91px;
    }

    .center_title {
        width: 111px;
        font-size: 14px;
        text-align: right;
        float: right;
        position: inherit;
    }

    .col_title {
        display: block;
        margin-right: 0;
        line-height: 20px;
    }

    .s5_left_mobile {
        position: absolute;
        width: 224px;
        right: -5px;
        z-index: 1;
        left: auto;
        bottom: auto;
    }

    .dn_title {
        display: none;
    }

    .s5_left_mobile > .hb_akciy {
        top: 0;
    }

    .footer_right {
        display: none;
    }

    .footer_left, .logo {
        float: none;
        display: block;
        margin: 0 auto 15px;
        font-size: 14px;
        line-height: 19px;
    }

    .flt_addres {
        margin: 0 auto;
        text-align: center;
    }

    .footer_mobile a {
        display: block;
        text-align: center;
    }

    .s12_title {
        padding: 27px 10px 0;
        font-size: 26px;
    }

    .girl_text, .man_text {
        font-size: 19px;
        margin: 10px 0 20px;
    }

    .man_text p, .girl_text p {
        display: none;
    }

    .man_text div, .girl_text div {
        display: block;
    }

    .s2b_spisok img {
        margin-top: -1px;
    }

    .br_480 {
        display: none;
    }

    .s2bs_320 img {
        margin-top: 9px;
    }

    .s6lc_one, .s6lc_two {
        background: url("../img/f_left_mob.png") no-repeat;
    }

    .s6rc_one, .s6rc_two {
        background: url("../img/f_right_mob.png") no-repeat;
    }

    .s6_container {
        margin: 0 0 20px 0;
    }

    .s4_title {
        padding: 28px 23px 25px;
    }

    .fake_img {
        width: 100%;
        border-bottom-right-radius: 10px;

    }

    .hfb_cont {
        padding: 15px;
        margin: 2px 0 25px 0;
    }

    .s4_text {
        padding: 17px 0 17px 17px;
        margin: 7px 21px 8px;
        line-height: 24px;
    }

    .section5 {
        padding: 25px 0 20px;
    }

    .s10_title {
    /*=: 36 px padding: 28 px 28 px 25 px;*/
    padding: 28px 28px 10px;
    line-height: 33px;
    }

    .section10 > .wrapper {
        padding-bottom: 10px;
    }

    .s11ct_content {
        font-size: 16px;
        line-height: 21px;
    }

    .s11ct_subtitle {
        line-height: 21px;
        margin-bottom: 14px;
    }

    .hb_akciy {
        position: absolute;
        right: 173px;
        top: 100px;
    }

    .fake_img {
        display: block;
    }
    .popup_form {
        width: 300px;
        padding: 0;
    }
    .dn_popup, .phone_popup, .modal_mouse_out{
        display: none !important;
    }
    .s1_block {
        margin: 0 41px 15px;
    }
    .w1_block_one {
        display: block;
    }
    .hb_spisok img{
        margin-top: 6px;
    }
    .w1_block_two div{
        margin: 5px 0;
    }
    .w2_block_two div{
        margin: 5px 0;
    }
    .w3_block_two div{
        margin: 5px 0;
    }
    .w4_block_two div{
        margin: 5px 0;
    }
    .name_doctor span {
        line-height: 19px !important;
    }



}

@media screen and (max-width: 320px) {
}