html {
      -webkit-text-size-adjust: none;
}
body{
	margin: 0;
	color: #3b3b3b;
	font: 14px/18px 'Roboto Condensed', Verdana, Tahoma, Arial, sans-serif;
	min-width: 320px;
	background: #efefcb;
}
img{
	border-style: none;
}
img.flex_img{
	max-width: 100%;
}
a{
	color: #0077cc;
}
a:hover{text-decoration: none;}
p{
	margin: 0 0 10px;
}
h1, h2, h3, h4, h5, h6{
	font-size: 36px;
	line-height: 38px;
	margin: 0 0 20px;
	font-weight: normal;
}
h2{
	font-size: 30px;
	line-height: 32px;
	margin: 0 0 15px;
}
h3{
	font-size: 25px;
	line-height: 27px;
	margin: 0 0 15px;
}
h4{
	font-size: 20px;
	line-height: 22px;
	margin: 0 0 10px;
}
h5, h6{
	font-size: 18px;
	line-height: 20px;
	margin: 0 0 10px;
}
hr{
	border: 1px solid #ccc;
	margin: 0 0 10px;
}
header, footer, article, section, hgroup, nav, figure, aside { display: block; }
figure { margin:0; padding:0; }
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
input,
textarea,
select{
	vertical-align:middle;
}
input[type="text"], input[type="email"], input[type="password"], textarea, select{
	width: 100%;
	border: 1px solid #D0D0D0;
	background: #f8f8f8;
	border-radius: 6px;
	height: 35px;
	color: inherit;
	padding: 0 5px;
	line-height: 35px;
	outline: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
textarea{
	resize: vertical;
	padding: 5px;
	line-height: 20px;
	border-radius: 6px;
	min-height: 185px;
	overflow: auto;
}
input[type="checkbox"]{
	margin: -2px 4px 0 0;
}
input[type="radio"]{
	margin: -3px 4px 0 0;
}
select{
	padding: 3px;
	color: #000;
}
.delivery:after,
.row:after{
	content: "";
	display: table;
	width: 100%;
}
ul,ol,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
input[type="submit"]:hover{cursor:pointer;}
input[type="image"]{padding:0;border:none;}
input[type="text"], input[type="password"], input[type="file"], input[type="submit"], textarea{
	-webkit-appearance:none;
}
input[type="submit"]::-moz-focus-inner { 
	border: 0;
	padding: 0;
}
table{
	border-collapse: collapse;
	width: 100%;
	margin: 0 0 20px;
}
table thead td:first-child{
	border-left: none;
}
table td{
	border-bottom: 1px solid #e5e9ee;
	border-left: 1px solid #e5e9ee;
	padding: 14px 18px;
}
table tbody td:first-child{
	border-left: none;
}
.button, button, .submit{
	display: inline-block;
	vertical-align: middle;
	padding: 5px 20px;
	outline: none;
	border: 1px solid #ba3b0f;
	background: #f4782d; /* Old browsers */
	background: -moz-linear-gradient(top,  #f4782d 0%, #c24617 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4782d), color-stop(100%,#c24617)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f4782d 0%,#c24617 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f4782d 0%,#c24617 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f4782d 0%,#c24617 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f4782d 0%,#c24617 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4782d', endColorstr='#c24617',GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-size: 25px;
	line-height: 25px;
	text-transform: uppercase;
	box-shadow: 0px 1px 5px #333;
	border-radius: 25px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition:0.1s;
	   -moz-transition:0.1s;
	    -ms-transition:0.1s;
	     -o-transition:0.1s;
	        transition:0.1s;
}
.button:hover, button:hover, .submit:hover{
	background: #c24617; /* Old browsers */
	background: -moz-linear-gradient(top,  #c24617 0%, #f4782d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c24617), color-stop(100%,#f4782d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c24617 0%,#f4782d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c24617 0%,#f4782d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c24617 0%,#f4782d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c24617 0%,#f4782d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c24617', endColorstr='#f4782d',GradientType=0 ); /* IE6-9 */

}
.cms_content ul, .cms_content ol{
	margin: 0 0 0 20px;
}
.cms_content ul li, .cms_content ol li{
	margin: 0 0 10px;
	list-style: disc;
}
.cms_content ol li{
	list-style: decimal;
}
.container{
	width: 1000px;
	margin: auto;
	position: relative;
}
.delivery {
	position: absolute;
	top: 27px;
	right: 0;

}
.delivery li{
	float: left;
}
.delivery p{
	display: none;
	position: absolute;
	top: 27px;
	left: 0;
	width: 100%;
	border:2px solid #CBDC45;
	border-radius: 8px;
	padding: 7px;
	background: #F8F8E7;
}
.plank {
	position: fixed;
	bottom: 0;
	z-index: 100;
	left: 50%;
	width: 1000px;
	margin-left: -500px;
}
.header{
	background: url(../images/header.png) no-repeat 50% 0;
}
.header .container{
	position: relative;
	height: 784px;
}
.green{
	background: url(../images/green.png) no-repeat 50% 100%;
	margin: 0 0 -126px;
	position: relative;
}
.green-top{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 123px;
	background: url(../images/green-head.png) no-repeat 50% 0;

}
.green .container{
	/*height: 1120px;*/
	padding: 0 0 327px;
}
.header-label{
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/label.png) no-repeat;
	width: 123px;
	height: 102px;
	text-align: center;
}
.header-label .newprice{
	font-size: 25px;
	line-height: 25px;
	color: #ffe42d;
	text-transform: uppercase;
	padding: 35px 0 0;
}
.header-label .oldprice{
	font-size: 15px;
	line-height: 15px;
	color: #fff;
	text-transform: uppercase;
	padding: 0;
}
.header-rst{
	position: absolute;
	top: 17px;
	left: 133px;
	background: url(../images/rst.png) no-repeat 0 50%;
	padding: 10px 0 10px 50px;
	text-transform: uppercase;
	font-size: 18px;
}
.delivery a{
	text-decoration: none;
	text-transform: uppercase;
	color: #0f8195;
	font-size: 18px;
	line-height: 18px;
	padding: 0 0 0 20px;
}
.timer-info{
	position: absolute;
	top: 114px;
	left: 0;
	text-transform: uppercase;
	font-size: 25px;
	line-height: 25px;
}
.text-red{
	color: #ba3b0f;
}
.timer{
	position: absolute;
	top: 171px;
	padding: 0 0 0 1px;
	left: 0;
	overflow: hidden;
	background: url(../images/timer.png) no-repeat;
}
.timebox{
	float: left;
	width: 52px;
	margin: 0 15px 0 0;
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 15px;
	padding: 5px 0 10px;
	font-weight: bold;
}
.header .button{
	position: absolute;
	top: 171px;
	left: 196px;
}
.header-head{
	font-size: 32px;
	line-height: 35px;
	color: #a25319;
	position: absolute;
	font-style: italic;
	top: 245px;
	left: 0;
	height: 105px;
	font-family: 'PT Serif', serif;
}
.header-list{
	font-family: 'PT Serif', serif;
	font-size: 25px;
	line-height: 25px;
	font-style: italic;
	position: absolute;
	top: 400px;
	left: 200px;
}
.header-list li{
	padding: 7px 0 7px 40px;
	background: url(../images/list.png) no-repeat 0 50%;
}
.header-foot{
	font-size: 19px;
	line-height: 24px;
	text-transform: uppercase;
	color: #646f0b;
	position: absolute;
	top: 563px;
	left: 211px;
}
.green-list{
	position: absolute;
	top: -120px;
	left: 0;
	width: 100%;
	font-size: 20px;
	line-height: 25px;
	color: #fff;
	text-align: center;
}
.green-list li{
	float: left;
	width: 33%;
}
.green-head{
	text-transform: uppercase;
	font-size: 36px;
	line-height: 36px;
	text-align: center;
	color: #fff;
	padding: 147px 0 0;
	height: 36px;

}
.green-info{
	font-style: italic;
	color: #fff071;
	font-family: 'PT Serif', serif;
	font-size: 23px;
	line-height: 25px;
	text-align: center;
	padding: 25px 0;
	height: 50px;
}
.green-table td{
	border:none;
	text-align: center;
	padding: 0;
	width: 180px;
	padding: 0 1%;
	vertical-align: top;
}
.green-table-list ul{
	width: 180px;
}
.green-table-action {
	font-family: 'PT Serif', serif;
	color: #fff;
	font-style: italic;
	font-size: 16px;
	text-decoration: none;
}
.green-table-head td{
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	padding: 0 0 23px;
	line-height: 25px;
}
.green-table li{
	background: url(../images/table-list.png) no-repeat 50% 0;
	padding: 13px 0px 7px;
	font-size: 18px;
	line-height: 20px;
	color: #fff071;
	font-family: 'PT Serif', serif;
	font-style: italic;

}
.green-foot{
	position: absolute;
	bottom: 145px;
	left: 0;
	width: 420px;
	height: 160px;
	padding: 17px 28px;
	background: url(../images/green-info.png) no-repeat;
}
.green-foot-head{
	text-transform: uppercase;
	font-size: 23px;
	line-height: 25px;
	font-weight: bold;
	padding: 0 0 20px;
}
.comments-head{
	font-size: 34px;
	line-height: 38px;
	text-transform: uppercase;
	color: #d75214;
	text-align: center;
}
.comments-info{
	font-style: italic;
	font-family: 'PT Serif', serif;
	font-size: 23px;
	line-height: 25px;
	text-align: center;
	padding: 25px 0;
}
.comments-list{
	overflow: hidden;
}
.comments-list img {
 border: 1px solid #FFF;
}
.comments-list > div{
	float: left;
	width: 333px;
	height: 669px;
	font-size: 17px;
	font-family: 'PT Serif', serif;
	line-height: 23px;
	font-style: italic;
	color: #fff;
	text-align: center;
}
.comments-list > div > div{
	padding: 160px 30px 0;
	height: 275px;
}
.comments-list-1{
	background: url(../images/comm-1.png) no-repeat 50% 0;
}
.comments-list-2{
	background: url(../images/comm-2.png) no-repeat 50% 0;
}
.comments-list-3{
	background: url(../images/comm-3.png) no-repeat 50% 0;
}
.comments-list em{
	color: #fff071;
}
.crem-head{
	font-size: 34px;
	line-height: 38px;
	text-transform: uppercase;
	color: #d75214;
	text-align: center;
	padding: 42px 0 0;
}
.crem{
	padding: 68px 0 0;
	margin: -68px 0 0;
	background: url(../images/foot.png) no-repeat 50% 0;
}
.crem-info{
	font-style: italic;
	font-family: 'PT Serif', serif;
	font-size: 23px;
	line-height: 25px;
	text-align: center;
	padding: 25px 0 44px;
}
.crem-block{
	text-align: center;
	background: #cadc45;
	border-radius: 12px;
	font-size: 19px;
	line-height: 25px;
	font-family: 'PT Serif', serif;
	font-style: italic;
}
.crem-block-left{
	float: left;
	text-align: left;
	width: 300px;
	padding: 15px 0 0 20px;
}
.crem-block-right{
	float: right;
	text-align: right;
	padding: 15px 20px 0 0;
	width: 300px;
}
.crem-block img{
	margin: -22px 0 -20px;
}
.crem-order{
	text-align: center;
	padding: 18px 0 20px;
	color: #b74009;
	font-size: 19px;
	line-height: 25px;
	font-family: 'PT Serif', serif;
	font-style: italic;
}
.crem-order .button{
	font-family: 'Roboto Condensed', sans-serif;
	font-style: normal;
	margin: 24px 0 0 0;
}
.crem-order-left{
	float: left;
	width: 270px;
	padding: 0 0 0 91px;
	text-align: left;
	background: url(../images/ico-1.png) no-repeat 0 50%;
}
.crem-order-right{
	float: right;
	width: 300px;
	padding: 0 61px 0 0;
	text-align: right;
	background: url(../images/ico-2.png) no-repeat 100% 50%;
}
.warning{
	background: url(../images/warning.png) no-repeat 50% 0;
}
.warning .container{
	height: 234px;
	position: relative;
}
.warning-head{
	font-size: 30px;
	color: #d75214;
	line-height: 34px;
	text-transform: uppercase;
	position: absolute;
	top: 75px;
	text-align: center;
	left: 0;
}
.warning-info{
	font-size: 19px;
	line-height: 25px;
	font-family: 'PT Serif', serif;
	font-style: italic;
	position: absolute;
	top: 62px;
	left: 661px;
}
.warning .button{
	position: absolute;
	top: 90px;
	left: 209px;
	padding: 8px 12px;
}
.doctor{
	height: 300px;
	padding: 24px 254px 0 19px;
	background: url(../images/doctor.png) no-repeat 50% 0;
}
.doctor-head{
	font-size: 34px;
	line-height: 38px;
	color: #d75214;
	text-transform: uppercase;
	padding: 0 0 23px;
}
.doctor-content{
	font-size: 19px;
	line-height: 25px;
	font-family: 'PT Serif', serif;
	font-style: italic;
}
.info-list{
	overflow: hidden;
	padding: 5px 0 0;
}
.info-list li{
	float: left;
	text-align: center;
	width: 300px;
	padding: 0 16px;
}
.info-list-head{
	font-size: 27px;
	line-height: 31px;
	padding: 4px 0 26px;
	margin: 0 -20px;
	color: #d75214;
	text-transform: uppercase;
}
.info-list-text{
	font-size: 19px;
	line-height: 25px;
	font-family: 'PT Serif', serif;
	font-style: italic;
}
.info-delivery{
	font-size: 19px;
	line-height: 25px;
	font-family: 'PT Serif', serif;
	font-style: italic;
	border:3px dotted #90b336;
	border-radius: 100px;
	margin: 32px 0 0;
	padding: 13px 25px 22px 117px;
	background: url(../images/car.png) no-repeat 28px 50%;
}
.info-delivery-head{
	font-style: normal;
	font-family: 'Roboto Condensed', sans-serif;
	color: #d75214;
	font-size: 27px;
	line-height: 31px;
	text-transform: uppercase;
}
.info-foot{
	color: #d75214;
	font-size: 34px;
	line-height: 38px;
	padding: 40px 0 29px;
	text-align: center;
	text-transform: uppercase;
}
.greendelivery{
	position: relative;
	z-index: 3;
	background: url(../images/delivery.png) no-repeat 50% 0;
}
.greendelivery .container{
	height: 180px;
}
.greendelivery-list{
	text-align: center;
	padding: 106px 0 0;
}
.greendelivery-list li{
	margin: 0 70px;
	font-size: 19px;
	line-height: 25px;
	font-family: 'PT Serif', serif;
	font-style: italic;
	color: #fff;
	text-align: center;
	display: inline-block;
}
.footer{
	text-align: center;
}
.footer-head{
	text-align: center;
	text-transform: uppercase;
	color: #d75214;
	font-size: 34px;
	line-height: 38px;
	padding: 30px 0 10px;
}
.footer-info{
	font-size: 16px;
	line-height: 20px;
	font-family: 'PT Serif', serif;
	color: #9b9b6a;
	font-style: italic;
	padding: 0 0 30px;
}

.form{
	background: #d75214;
	border-radius: 0 0  12px 12px;
	margin: -10px 0 0;
	height: 290px;
}
.form-clock{
	background: url(../images/clock.png) no-repeat;
	width: 135px;
	height: 135px;
	position: absolute;
	top: -15px;
	z-index: 4;
	left: 18px;
}
.form-percent{
	border-radius: 50%;
	background: #fff;
	font-size: 29px;
	text-align: center;
	line-height: 72px;
	color: #d75214;
	position: absolute;
	top: 87px;
	left: 49px;
	z-index: 5;
	width: 72px;
	height: 72px;
}
.form .order_form{
	font-family: 'PT Serif', serif;
	position: absolute;
	top: 0px;
	left: 533px;
	width: 402px;
	background: #fefefa;
	border-radius: 0 0 10px 10px;
	padding: 27px 21px 0 21px;
}
.title_form{
	width: 104px;
	display: inline-block;
	font-style: italic;
	font-size: 18px;
}
.form-content{
	color: #ffd117;
	font-size: 29px;
	line-height: 32px;
	text-transform: uppercase;
	position: absolute;
	top: -5px;
	left: 197px;
}
.form-head{
	color: #fff;
	font-size: 34px;
}
.form .newprice{
	background: url(../images/form-label.png) no-repeat;
	width: 154px;
	height: 56px;
	text-align: center;
	position: absolute;
	top: 216px;
	left: 184px;
	text-transform: uppercase;
	font-size: 34px;
	line-height: 54px;
	color: #d75214;
}
.old-price{
	position: absolute;
	top: 220px;
	left: 350px;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	text-transform: uppercase;
}
.old-price .oldprice{
}
.row_inner{
	display: inline-block;
	width: 290px;
}
.form .order_form .row{
	margin: 0 0 20px;
}
.yel_text{
	font-size: 18px;
	color: #d75214;
}
.form-crem{
	position: absolute;
	top: 64px;
	left: 245px;
	z-index: 12;
	width: 181px;
}
.form-crem img{
	width: 100%;
	height: auto;
}
.form-test{
	position: absolute;
	top: 20px;
	left: 20px;
}
.warning-ex{
	position: absolute;
	font-size: 20px;
	line-height: 20px;
	padding: 4px;
	top: 148px;
	left: 371px;
	background: #fff;
	box-shadow: 1px 1px 3px #333;
}